openapi: 3.2.0
info:
  title: Patsnap Open Platform AI Translation Patent Data Search API
  version: 1.0.0
  description: OpenAPI specification for Patsnap Open Platform APIs, including patent search, analytics, and Eureka AI capabilities.
servers:
- url: https://connect.patsnap.com
  description: Patsnap Open Platform API gateway
tags:
- name: Patent Data Search
  description: Patent Data Search APIs.
paths:
  /search/patent/image-search/single-batch-result:
    post:
      operationId: p062ImageSearchSingleBatchResult
      summary: P062 Receive Image Batch Search Result
      description: Retrieve the search results by querying the job_i returned by the interface for generating image batch retrieval tasks based on [P062].
      tags:
      - Patent Data Search
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p062 receive image batch search result response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P062ImageSearchSingleBatchResultResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/patent/image-search/single-batch-result
      parameters:
      - name: task_id
        in: query
        required: true
        description: Task ID
        schema:
          type: string
          example: 264de8bf7e294505a9a000597e25d615
          description: Task ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P062ImageSearchSingleBatchResultRequest'
  /search/patent/classification/helper-search:
    get:
      operationId: p072ClassificationHelperSearch
      summary: P072 Classification number search assistant interface
      description: Based on the retrieval content and the type of classification number assistant, obtain the classification level information related to the retrieval content
      tags:
      - Patent Data Search
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p072 classification number search assistant interface response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P072ClassificationHelperSearchResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/patent/classification/helper-search
      parameters:
      - name: keyword
        in: query
        required: true
        description: Classified retrieval content
        schema:
          type: string
          example: 手机
          description: Classified retrieval content
      - name: type
        in: query
        required: true
        description: The classification number assistant category includes ipc, cpc, and loc
        schema:
          type: string
          example: ipc
          description: The classification number assistant category includes ipc, cpc, and loc
  /search/patent/classification/helper-section-subclass:
    get:
      operationId: p071ClassificationHelperSectionSubclass
      summary: P071 Classification Number Assistant Query
      description: This interface supports querying the list of all subcategories of each type of classification (supporting IPC, CPC, LOC).
      tags:
      - Patent Data Search
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p071 classification number assistant query response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P071ClassificationHelperSectionSubclassResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/patent/classification/helper-section-subclass
      parameters:
      - name: code
        in: query
        required: false
        description: Classification Number
        schema:
          type: string
          example: A
          description: Classification Number
      - name: type
        in: query
        required: true
        description: The classification number assistant category includes ipc, cpc, and loc
        schema:
          type: string
          example: ipc
          description: The classification number assistant category includes ipc, cpc, and loc
  /search/patent/nested-search-patent:
    post:
      operationId: p075PatentNestedSearch
      summary: P075 Search the patent nested version with a search formula
      description: Search PatSnap's global patent database using standard text queries. Read about the search syntax supported in PatSnap here - https://analytics.patsnap.com/search_helper. This includes patent count, patent number, and patent ID.
      tags:
      - Patent Data Search
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p075 search the patent nested version with a search formula response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P075PatentNestedSearchResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/patent/nested-search-patent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P075PatentNestedSearchRequest'
  /search/patent/query-search-count:
    post:
      operationId: p001PatentQuerySearchCount
      summary: P001 Analytics Query Search Count
      description: Search PatSnap's global patent database using standard text queries, to get total search patent count of different queries. Read about the search syntax supported in PatSnap here - https://analytics.patsnap.com/search_helper.
      tags:
      - Patent Data Search
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p001 analytics query search count response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P001PatentQuerySearchCountResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/patent/query-search-count
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P001PatentQuerySearchCountRequest'
  /search/patent/query-search-patent:
    post:
      operationId: p002PatentQuerySearch
      summary: P002 Analytics Query Search
      description: Search PatSnap's global patent database using standard text queries. Read about the search syntax supported in PatSnap here - https://analytics.patsnap.com/search_helper. This includes patent count, patent number, and patent ID.
      tags:
      - Patent Data Search
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p002 analytics query search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P002PatentQuerySearchResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/patent/query-search-patent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P002PatentQuerySearchRequest'
  /search/patent/company-search-patent:
    post:
      operationId: p004PatentCompanySearch
      summary: P004 Original Applicant Search
      description: Receive original assignee (applicant) patent data. This includes patent count, patent number and patent ID.
      tags:
      - Patent Data Search
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p004 original applicant search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P004PatentCompanySearchResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/patent/company-search-patent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P004PatentCompanySearchRequest'
  /search/patent/current-search-patent:
    post:
      operationId: p005PatentCurrentSearch
      summary: P005 Current Assignee Search
      description: Receive current assignee patent data. This includes patent count, patent number and patent ID.
      tags:
      - Patent Data Search
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p005 current assignee search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P005PatentCurrentSearchResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/patent/current-search-patent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P005PatentCurrentSearchRequest'
  /search/patent/similar-search-patent:
    post:
      operationId: p007PatentSimilarSearch
      summary: P007 Patent Number Search Similar Patent
      description: Receive similar patent list by patent id or patent number search, patent id is preferred when both are requested, the maximum number of patents returned is 1000. Sort by default from high to low similarity score.
      tags:
      - Patent Data Search
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p007 patent number search similar patent response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P007PatentSimilarSearchResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/patent/similar-search-patent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P007PatentSimilarSearchRequest'
  /search/patent/semantic-search-patent:
    post:
      operationId: p008PatentSemanticSearch
      summary: P008 Semantic Search Similar Patent
      description: Receive patent list by semantic search ,the maximum number of patents returned is 1000. Sort by default from high to low similarity .Try entering a technical piece of text e.g. an abstract (we recommend entering >200 words for best results).
      tags:
      - Patent Data Search
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p008 semantic search similar patent response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P008PatentSemanticSearchResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/patent/semantic-search-patent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P008PatentSemanticSearchRequest'
  /image-search/image-upload:
    post:
      operationId: p010ImageSearchImageUpload
      summary: P010 Image Search Get Image Url
      description: Obtain the url accessible to the public network by uploading an image.
      tags:
      - Patent Data Search
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p010 image search get image url response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P010ImageSearchImageUploadResponse'
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/image-search/image-upload
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/P010ImageSearchImageUploadRequest'
  /search/patent/company-search-defense-patent:
    post:
      operationId: p006PatentCompanySearchDefense
      summary: P006 Current Assignee Search Defense Patent
      description: Receive applicant defense patent data. This includes patent count, patent number, and patent ID.
      tags:
      - Patent Data Search
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p006 current assignee search defense patent response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P006PatentCompanySearchDefenseResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/patent/company-search-defense-patent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P006PatentCompanySearchDefenseRequest'
  /search/patent/image-multiple:
    post:
      operationId: p061PatentImageMultiple
      summary: P061 Image Search Similar Patent - Multiple images
      description: Image Search helps you search for design patents or utility patents using multiple images (up to four). By default, the similarity is sorted from high to low, and one call can return up to 100 similar patents.
      tags:
      - Patent Data Search
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p061 image search similar patent - multiple images response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P061PatentImageMultipleResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/patent/image-multiple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P061PatentImageMultipleRequest'
  /search/patent/image-single:
    post:
      operationId: p060PatentImageSingle
      summary: P060 Image Search Similar Patent - Single image
      description: Image Search helps you search for design patents or utility patents using images. By default, the similarity is sorted from high to low, and one call can return up to 100 similar patents.
      tags:
      - Patent Data Search
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p060 image search similar patent - single image response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P060PatentImageSingleResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/patent/image-single
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P060PatentImageSingleRequest'
  /search/patent/patent-search-pn:
    post:
      operationId: p069PatentPatentSearchPn
      summary: P069 Patsnap Standard Patent Number Search
      description: 'Retrieve the Patsnap Patent Number by entering the patent application number. This API supports inputting a numeric number and specifying the receiving jurisdiction to obtain the Patsnap Standard Patent Number. The returned information includes: Current Applicant, Original Applicant, Inventor, Application Date, Publication Date. Country code refer to https://analytics.zhihuiya.com/status.'
      tags:
      - Patent Data Search
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p069 patsnap standard patent number search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P069PatentPatentSearchPnResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/patent/patent-search-pn
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P069PatentPatentSearchPnRequest'
  /patent-field/query:
    post:
      operationId: p003PatentFieldQuery
      summary: P003 Analytics Query Search and Filter
      description: According to the search query, the corresponding filtering results are obtained, and the filtering results are optional.
      tags:
      - Patent Data Search
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p003 analytics query search and filter response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P003PatentFieldQueryResponse'
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/patent-field/query
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P003PatentFieldQueryRequest'
  /search/patent/keyword-suggest:
    post:
      operationId: p070PatentKeywordSuggest
      summary: P070 Keyword Assistant
      description: 'The Keyword Helper helps expand your search by recommending synonyms of the words entered.

        Add content to the Type field in the interface documentation：

        Synonyms refer to words with the same or very similar meaning.

        Hyponyms are words that represent more specific terms.

        Similar keywords are words that share a similar concept or theme.'
      tags:
      - Patent Data Search
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p070 keyword assistant response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P070PatentKeywordSuggestResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/patent/keyword-suggest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P070PatentKeywordSuggestRequest'
  /search/patent/image-search/single-batch-create:
    post:
      operationId: p062ImageSearchSingleBatchCreate
      summary: P062 Create Image Batch Search Task
      description: Support batch uploading of multiple product images (up to 10 images) to create image batch retrieval tasks (retrieval results are the same as [P060] Patent Image Retrieval - Single Image), and return job_id. Batch image retrieval tasks are performed daily from 22:00 to 08:00. After 8:00 the day after requesting job_i, the [P062] interface is called based on job_i to obtain the batch image retrieval results (link to the corresponding interface page URL) and retrieve the retrieval results.
      tags:
      - Patent Data Search
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p062 create image batch search task response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P062ImageSearchSingleBatchCreateResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/patent/image-search/single-batch-create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P062ImageSearchSingleBatchCreateRequest'
  /search/patent/image-single/beta:
    post:
      operationId: p060ImageSingleBeta
      summary: P060 Image Search Similar Patent - Single image Enhanced Shape Search version
      description: This interface supports searching for similar design patents via an image URL. By default, the results are sorted by similarity from highest to lowest, and a single request can return up to 100 similar patents. The search side has incorporated a step that converts the user's image into a patent-style line drawing, which better supports the recall effectiveness of images based on contour and shape. This can better support overseas e-commerce in conducting infringement searches against European and American patents.
      tags:
      - Patent Data Search
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p060 image search similar patent - single image enhanced shape search version response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P060ImageSingleBetaResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/patent/image-single/beta
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P060ImageSingleBetaRequest'
components:
  schemas:
    P062ImageSearchSingleBatchResult_MoreImageSearchResponse:
      type: object
      properties:
        status:
          type: string
          example: success
          description: Node status, such as success indicating successful generation
        search_result:
          type: array
          example: 'Please check the form: MoreImageSearchResult'
          description: search results
          items:
            $ref: '#/components/schemas/P062ImageSearchSingleBatchResult_MoreImageSearchResult'
        total_search_result_count:
          type: integer
          format: int64
          example: 100
          description: number of search results
    P062ImageSearchSingleBatchCreate_MoreImageSearchTaskResponse:
      type: object
      properties:
        job_id:
          type: string
          example: 1
          description: task id
    P060PatentImageSingle_ImageSearchExtendResponse:
      type: object
      properties:
        patent_messages:
          type: array
          example: 'Please check the form: PatentExtendMessage'
          description: similar patent information
          items:
            $ref: '#/components/schemas/P060PatentImageSingle_PatentExtendMessage'
        total_search_result_count:
          type: integer
          format: int32
          example: 100
          description: number of search results
    P001PatentQuerySearchCount_SearchPatentCountResponse:
      type: object
      properties:
        total_search_result_count:
          type: integer
          format: int64
          example: 1000
          description: Total search result count
    P070PatentKeywordSuggestRequest:
      type: object
      properties:
        keyword:
          type: array
          example:
          - car
          description: keyword
        lang:
          type: array
          example:
          - cn
          - en
          description: language(cn/en)
        type:
          type: array
          example:
          - synonym
          - related
          description: 'language:<p>synonym : synonym</p><p>related : related words</p><p>hypernym : hypernym</p>'
      required:
      - keyword
      - lang
      - type
    P004PatentCompanySearch_SearchPatentResponse:
      type: object
      properties:
        results:
          type: array
          example: 'Please check the form: PatentBaseResponse'
          description: result
          items:
            $ref: '#/components/schemas/P004PatentCompanySearch_PatentBaseResponse'
        result_count:
          type: integer
          format: int32
          example: 10
          description: Received result count
        total_search_result_count:
          type: integer
          format: int64
          example: 1000
          description: Total search result count
    P071ClassificationHelperSectionSubclass_ClassificationHelperResponse:
      type: object
      properties:
        id:
          type: string
          example: A
          description: Classification code
        has_children:
          type: boolean
          example: true
          description: has children nodes
        lang_desc_map:
          $ref: '#/components/schemas/P071ClassificationHelperSectionSubclass_LangDescMap'
    P075PatentNestedSearch_Facet:
      type: object
      properties:
        end:
          type: integer
          format: int32
          example: 2018
          description: Range end value (not included) (when type is range)
        expr:
          type: string
          example: avg(PV)
          description: 'aggregate expressions support nesting. aggregate function currently supports five types: avg/min/max/sum/unique (when type is query)'
        facet:
          type: array
          example:
          - end: 2018
            gap: 1
            tag: apd_year
            type: range
            field: APD_YEAR
            start: 2000
          description: Nested statistical configuration
        field:
          type: string
          example: ANCS
          description: 'The name of the field to be counted (when type is field and range). Refer to : https://analytics.patsnap.com/search_helper'
        gap:
          type: integer
          format: int32
          example: 1
          description: Range step value, default is 1 (when type is range)
        limit:
          type: integer
          format: int32
          example: 10
          description: How many statistical results need to be returned (when type is field)
        mincount:
          type: integer
          format: int32
          example: 1
          description: The minimum value that can be returned for statistics is set to 1 by default (when type is field)
        num_buckets:
          type: boolean
          example: false
          description: Count number of buckets for the facet, which defaults to false. The returned format is tag_num_buckets (when type is field)
        offset:
          type: integer
          format: int32
          example: 10
          description: The offset of the statistics, used for pagination, is set to 0 by default (when type is field)
        query:
          type: string
          example: PV:[0 TO 100000]
          description: Queries that need to be statistically analyzed (when type is query)
        start:
          type: integer
          format: int32
          example: 2000
          description: Range starting value (when type is range)
        tag:
          type: string
          example: ancs
          description: The current statistics of custom aliases (alias names cannot be name or count)
        type:
          type: string
          example: field
          description: <p>Retrieval statistical type:</p><p> field - Statistics of field values, equivalent to the traditional facet field</p><p> range - range statistics for numerical fields will be automatically completed, equivalent to the traditional range facet</p><p> query - Statistics on query, equivalent to the traditional facet query</p><p> aggregate - Perform statistics such as min/max/sum on fields</p>
      required:
      - tag
      - type
    P001PatentQuerySearchCountResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/P001PatentQuerySearchCount_SearchPatentCountResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P062ImageSearchSingleBatchResultRequest:
      type: object
    P007PatentSimilarSearchRequest:
      type: object
      properties:
        country:
          type: array
          example:
          - CNA
          - CNB
          description: 'Authority and kind code.

            For the Authority code, refer to https://analytics.patsnap.com/status;

            Kind code is: A (Application), B (Granted Patent), U (Utility Model), D (Design).

            Multiple items can be searched, separated by comma.'
        patent_id:
          type: string
          example: b053642f-3108-4ea9-b629-420b0ab959e3
          description: Patent id
        pbd_from:
          type: string
          example: 20200101
          description: Start year of publication date
        offset:
          type: integer
          format: int32
          example: 0
          description: offset value; limit + offset <= 20000 (the max number of Semantic Search is 1000)
        apd_from:
          type: string
          example: 20200101
          description: Start year of application date
        patent_number:
          type: string
          example: CN106185468A
          description: Patent number
        limit:
          type: integer
          format: int32
          example: 10
          description: limit of returned response; must be <= 1,000
        apd_to:
          type: string
          example: 20220101
          description: End year of application date
        pbd_to:
          type: string
          example: 20220101
          description: End year of publication date
        relevancy:
          type: string
          example: 50%
          description: 'relevancy

            (the relevancy calculated logic can refer to: https://help.zhihuiya.com/help/360007811592/article/360040181092?categoryId=360002609831&showTabs=false)'
    P005PatentCurrentSearch_SearchPatentResponse:
      type: object
      properties:
        results:
          type: array
          example: 'Please check the form: PatentBaseResponse'
          description: result
          items:
            $ref: '#/components/schemas/P005PatentCurrentSearch_PatentBaseResponse'
        result_count:
          type: integer
          format: int32
          example: 10
          description: Received result count
        total_search_result_count:
          type: integer
          format: int64
          example: 1000
          description: Total search result count
    P004PatentCompanySearchRequest:
      type: object
      properties:
        offset:
          type: integer
          format: int32
          example: 0
          description: offset value; limit + offset <= 20000 (the max number of Semantic Search is 1000)
        application:
          type: string
          example: Apple, Inc.
          description: Standardized Original Assignee (Applicant) name, the search logic is the same as Analytics query [ANS:(Apple, Inc.)], up to 100 companies can be searched; multiple companies are separated by " OR ", e.g. "Apple OR Huawei"
        limit:
          type: integer
          format: int32
          example: 10
          description: limit of returned response; must be <= 1,000
      required:
      - application
    P007PatentSimilarSearchResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/P007PatentSimilarSearch_SearchComputeResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P007PatentSimilarSearch_SemanticResult:
      type: object
      properties:
        pn:
          type: string
          example: JP1999068462A
          description: patent number
        apdt:
          type: integer
          format: int32
          example: 20211108
          description: Application Date
        apno:
          type: string
          example: US17/521392
          description: Application Number
        pbdt:
          type: integer
          format: int32
          example: 20230815
          description: Publication Date
        title:
          type: string
          example: Techniques for using multiple symbols to provide feedback for a sidelink transmission
          description: Title
        inventor:
          type: string
          example: ELSHAFIE, AHMED | YANG, WEI | HOSSEINI, SEYEDKIANOUSH
          description: Inventor
        patent_id:
          type: string
          example: 1a47a70d-6b54-4709-a72a-ed552781fcac
          description: patent id
        relevancy:
          type: string
          example: 99%
          description: relevancy between the result patent and the input content
        current_assignee:
          type: string
          example: QUALCOMM INCORPORATED
          description: Current Assignee
        original_assignee:
          type: string
          example: QUALCOMM INCORPORATED
          description: Original Assignee (Applicant)
    P003PatentFieldQuery_PatentFieldResponse:
      type: object
      properties:
        name:
          type: string
          example: APPLE INC.
          description: field value
        count:
          type: integer
          format: int32
          example: 2509
          description: count
    P072ClassificationHelperSearch_QueryResults:
      type: object
      properties:
        cls_tree:
          $ref: '#/components/schemas/P072ClassificationHelperSearch_ClassificationTree'
    P004PatentCompanySearchResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/P004PatentCompanySearch_SearchPatentResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P005PatentCurrentSearchRequest:
      type: object
      properties:
        offset:
          type: integer
          format: int32
          example: 0
          description: offset value; limit + offset <= 20000 (the max number of Semantic Search is 1000)
        limit:
          type: integer
          format: int32
          example: 10
          description: limit of returned response; must be <= 1,000
        assignee:
          type: string
          example: Apple, Inc.
          description: Standardized Current Assignee name, the search logic is the same as Analytics query [ANCS:(Apple, Inc.)], up to 100 companies can be searched; multiple companies are separated by " OR ", e.g. "Apple OR Huawei"
      required:
      - assignee
    P007PatentSimilarSearch_SearchComputeResponse:
      type: object
      properties:
        results:
          type: array
          example: 'Please check the form: SemanticResult'
          description: result
          items:
            $ref: '#/components/schemas/P007PatentSimilarSearch_SemanticResult'
        result_count:
          type: integer
          format: int32
          example: 10
          description: Received result count
        total_search_result_count:
          type: integer
          format: int64
          example: 1000
          description: Total search result count
    P071ClassificationHelperSectionSubclass_LangDescMap:
      type: object
      properties:
        cn:
          type: string
          example: 人类生活必需
          description: Chinese description
        en:
          type: string
          example: HUMAN NECESSITIES
          description: English description
    P075PatentNestedSearchResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/P075PatentNestedSearch_PatentNestedSearchResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P072ClassificationHelperSearch_ClassificationTree:
      type: object
      properties:
        id:
          type: string
          example: A
          description: Classification code
        children:
          type: array
          example: 'Please check the form: ClassificationTree'
          description: sub Classification number hierarchy tree
        lang_desc_map:
          $ref: '#/components/schemas/P072ClassificationHelperSearch_LangDescMap'
    P069PatentPatentSearchPnResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/P069PatentPatentSearchPn_SearchPatentV2Response'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P060ImageSingleBeta_PatentMessage:
      type: object
      properties:
        url:
          type: string
          example: http://patsnap-imagefulltext240.cdn.zhihuiya.com/EU/S/00/47/44/21/70/00/9/004744217_0009_0002.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20240311T111032Z&X-Amz-SignedHeaders=host&X-Amz-Expires=604800&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20240311%2Fcn-northwest-1%2Fs3%2Faws4_request&X-Amz-Signature=017c433982a4c397014bb96c92f320c7da2248a9d6b2ce6352f6adbffc4b0d99
          description: similar image url
        apdt:
          type: integer
          format: int64
          example: 20190528
          description: Application Date
        apno:
          type: string
          example: EU006535076
          description: Application Number
        pbdt:
          type: integer
          format: int64
          example: 20190528
          description: Publication Date
        score:
          type: number
          example: 0.8884816
          description: similar score (Valid only when sorted by similarity, that is, the request parameter field is SCORE)
        title:
          type: string
          example: Mobile phones
          description: patent title
        img_id:
          type: string
          example: HDA0001130916580000011
          description: similar image id
        inventor:
          type: string
          example: ELSHAFIE, AHMED|YANG, WEI|HOSSEINI, SEYEDKIANOUSH
          description: Inventor
        loc_match:
          type: integer
          format: int32
          example: 1
          description: 'Whether a similar patent hits a high-weight LOC (Valid only when request parameter model is 1 and field is SCORE)

            1: hits

            0: misses'
        patent_id:
          type: string
          example: 6e433449-143b-41d9-9abf-6c6519b07779
          description: similar patent ID
        patent_pn:
          type: string
          example: EU0065350760001S
          description: similar patent number
        current_assignee:
          type: string
          example: HUAWEI TECHNOLOGIES CO., LTD.
          description: Current Assignee
        original_assignee:
          type: string
          example: HUAWEI TECHNOLOGIES CO., LTD.
          description: Original Assignee (Applicant)
      required:
      - url
      - title
      - img_id
      - patent_id
      - patent_pn
    P060ImageSingleBetaRequest:
      type: object
      properties:
        apply_end_time:
          type: string
          example: '20200101'
          description: Patent apply date to, format:yyyyMMdd
        apply_start_time:
          type: string
          example: '20100101'
          description: Patent apply date from, format:yyyyMMdd
        assignees:
          type: string
          example: huawei
          description: all assignees
        country:
          type: array
          example:
          - US
          - EU
          - CN
          description: 'patent authority code

            For the authority code, refer to https://analytics.patsnap.com/status, Multiple items can be searched, separated by comma.'
        field:
          type: string
          example: SCORE
          description: <p>field sort(only Chinese).field support SCORE,APD,PBD,ISD. The default SCORE</p>
        include_machine_translation:
          type: boolean
          example: true
          description: Includes Machine Translations
        is_https:
          type: integer
          format: int32
          example: 0
          description: '<p>Select whether to return https domain image, default is 0, that is, return http domain image</p><p> 1: Return https</p><p> 0: Return http</p>'
        lang:
          type: string
          example: original
          description: 'Set the language preference of the title, you can choose cn, en or original, the default is original:

            original: Original title

            cn: Chinese translation title

            en: English translation Title'
        legal_status:
          type: string
          example: 3,2
          description: <p>patent legal status</p><p>1:Published 2:Examining 3:Granted 8:Double 11:Withdrawn 12:Withdrawn-Undetermined 17:Withdrawn-Deemed 18:Withdrawn-Voluntarily 13:Rejected 14:Revoked 15:Expired 16:Non-payment 21:Restoration 22:Ceased 23:P-Revoked 24:Discontinuation 30:Abandoned 19:Abandoned-Deemed 20:Abandoned-Voluntarily 25:Abandoned-Undetermined 222:Non-Entry PCT-NP (In time limit)） 223:PCT-NP (In time limit) 224:PCT-NP (Past time limit) 225:Non-Entry PCT-NP (Past time limit)</p>
        limit:
          type: integer
          format: int32
          example: 10
          description: Returns the number of patents, 1 <= limit <= 100，default is 10
        loc:
          type: string
          example: (14-03 OR 14-02)
          description: <p>LOC is the classification for Industrial Designs.</p><p>Enter LOC code, use AND/OR/NOT to connect multiple codes.</p>
        main_field:
          type: string
          example: (phones or 手机)
          description: '<p>patent main field</p><p>The main field includes: title, abstract, claims, description, publication number, application number, applicant, inventor and IPC/UPC/LOC classification numbers.</p>'
        model:
          type: integer
          format: int32
          example: 1
          description: '<p>Select the image search model (there are different models for design patent and utility model)</p><p>Designs:</p><p>   1: Smart Recommendation [recommended]</p><p>   2: Image Search</p><p>Utility models:</p><p>   3: Search by shape only</p><p>   4: Search by shape & color [recommended]</p>'
        offset:
          type: integer
          format: int32
          example: 0
          description: '0 <= offset <= 1000, default is 0

            If you want to get patents that are ranked lower than 100, you can set offset=100'
        order:
          type: string
          example: desc
          description: order supports desc,asc. The default desc
        patent_type:
          type: string
          example: D
          description: <p>选择检索外观专利或实用新型专利：</p><p> D：外观专利</p><p> U：实用新型专利</p>
        public_end_time:
          type: string
          example: '20200101'
          description: Patent publication date to, format:yyyyMMdd
        public_start_time:
          type: string
          example: '20100101'
          description: Patent publication date from, format:yyyyMMdd
        return_img_id:
          type: boolean
          example: false
          description: Whether to return img_id
        score_expansion:
          type: boolean
          example: true
          description: Score expansion
        simple_legal_status:
          type: string
          example: 1,2
          description: <p>patent simple legal status</p><p>0:Inactive 1:Active 2:Pending 220:PCT designated stage expired 221:PCT designated stage 999:Undetermined, Multiple items can be searched, separated by comma.</p>
        url:
          type: string
          example: https://static-open.zhihuiya.com/sample/common_demo.png
          description: image url
        query_text:
          type: string
          example: 'TACD: virtual reality'
          description: Analytics query
        stemming:
          type: integer
          format: int32
          example: 0
          description: '<p>Whether to turn on the stemming function, 1: turn on; 0: turn off. Off by default</p><p>Note: </p><p>Stemming ON will search for the original word and expand the search to consider singular, plural, and tense variations e.g. a search for "come" will expand to "comes", "came", "coming" and so on.</p><p>Stemming OFF will only search for exact matches of the keywords entered.</p><p>The use of wildcards in keywords within a search query will impact the effect of stemming.</p><p>Stemming ON only supports English words. Stemming does not apply to Assignees, Inventors, or any other person-related fields.</p>'
        pre_filter:
          type: integer
          format: int32
          example: 1
          description: 'Whether to turn on the pre_filter function, 1: turn on; 0: turn off. on by default'
      required:
      - model
      - patent_type
      - url
    P008PatentSemanticSearch_SearchComputeResponse:
      type: object
      properties:
        results:
          type: array
          example: 'Please check the form: SemanticResult'
          description: result
          items:
            $ref: '#/components/schemas/P008PatentSemanticSearch_SemanticResult'
        result_count:
          type: integer
          format: int32
          example: 10
          description: Received result count
        total_search_result_count:
          type: integer
          format: int64
          example: 1000
          description: Total search result count
    P072ClassificationHelperSearch_LangDescMap:
      type: object
      properties:
        cn:
          type: string
          example: 人类生活必需
          description: Chinese description
        en:
          type: string
          example: HUMAN NECESSITIES
          description: English description
    P006PatentCompanySearchDefenseResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/P006PatentCompanySearchDefense_SearchPatentResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P006PatentCompanySearchDefense_SearchPatentResponse:
      type: object
      properties:
        results:
          type: array
          example: 'Please check the form: PatentBaseResponse'
          description: result
          items:
            $ref: '#/components/schemas/P006PatentCompanySearchDefense_PatentBaseResponse'
        result_count:
          type: integer
          format: int32
          example: 10
          description: Received result count
        total_search_result_count:
          type: integer
          format: int64
          example: 1000
          description: Total search result count
    P060ImageSingleBeta_ImageSearchResponse:
      type: object
      properties:
        patent_messages:
          type: array
          example: 'Please check the form: PatentMessage'
          description: similar patent information
          items:
            $ref: '#/components/schemas/P060ImageSingleBeta_PatentMessage'
        total_search_result_count:
          type: integer
          format: int32
          example: 100
          description: number of search results
    P072ClassificationHelperSearchResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/P072ClassificationHelperSearch_ClassificationSearchHelperResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P062ImageSearchSingleBatchResult_MoreImageSearchResult:
      type: object
      properties:
        status:
          type: string
          example: success
          description: action status
        search_url:
          type: string
          example: https://static-open.zhihuiya.com/sample/common_demo.png
          description: url
        result_count:
          type: integer
          format: int32
          example: 100
          description: number of search results
        patent_messages:
          type: array
          example: 'Please check the form: PatentMessage'
          description: similar patent information
          items:
            $ref: '#/components/schemas/P062ImageSearchSingleBatchResult_PatentMessage'
    P070PatentKeywordSuggest_Keyword:
      type: object
      properties:
        keyword:
          type: string
          example: automobile
          description: keyword
    P002PatentQuerySearch_SearchPatentResponse:
      type: object
      properties:
        results:
          type: array
          example: 'Please check the form: PatentBaseResponse'
          description: result
          items:
            $ref: '#/components/schemas/P002PatentQuerySearch_PatentBaseResponse'
        result_count:
          type: integer
          format: int32
          example: 10
          description: Received result count
        total_search_result_count:
          type: integer
          format: int64
          example: 1000
          description: Total search result count
    P062ImageSearchSingleBatchResultResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/P062ImageSearchSingleBatchResult_MoreImageSearchResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P069PatentPatentSearchPnRequest:
      type: object
      properties:
        pn:
          type: string
          example: US11205304B2
          description: Patent number
        apno:
          type: string
          example: US16/123456
          description: Application number
        authority:
          type: array
          example:
          - US
          - CN
          - EP
          description: Authorities
        offset:
          type: integer
          format: int32
          example: 0
          description: Offset, default is 0
        limit:
          type: integer
          format: int32
          example: 10
          description: Result limit, default is 10, maximum is 1000
    P001PatentQuerySearchCountRequest:
      type: object
      properties:
        collapse_order:
          type: string
          example: LATEST
          description: When collapse_type="APNO", and collapse_by="APD" or "PBD", the collapse_order can be set as "OLDEST" or "LATEST", means keep the patent date of oldest or latest one
        collapse_by:
          type: string
          example: PBD
          description: <p>"APD" means order according to application date;</p><p>"PBD" means order according to publication date;</p><p>"AUTHORITY" means order according to authority;</p><p>"SCORE" means order according to the relevance score</p>
        collapse_type:
          type: string
          example: DOCDB
          description: <p>"ALL" or Null value means no collapse;</p><p>"APNO" means collapse according to application number;</p><p>"DOCDB" means collapse according to simple family;</p><p>"INPADOC" means collapse according to inpadoc family;</p><p>"EXTEND" means collapse according to patsnap family</p>
        query_text:
          type: string
          example: 'TACD: virtual reality'
          description: Analytics query, maximum length 1,500 characters
      required:
      - query_text
    P003PatentFieldQueryResponse:
      type: object
      properties:
        data:
          type: array
          example: no sample
          description: response data
          items:
            $ref: '#/components/schemas/P003PatentFieldQuery_DataFieldResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P072ClassificationHelperSearch_ClassificationSearchHelperResponse:
      type: object
      properties:
        h_words:
          type: array
          example:
          - 手机
          - 电脑
          description: Key word hit
        has_children:
          type: string
          example: true
          description: has children nodes
        query_results:
          type: array
          example: 'Please check the form: QueryResults'
          description: search results
          items:
            $ref: '#/components/schemas/P072ClassificationHelperSearch_QueryResults'
    P061PatentImageMultiple_ImageSearchExtendResponse:
      type: object
      properties:
        patent_messages:
          type: array
          example: 'Please check the form: PatentExtendMessage'
          description: similar patent information
          items:
            $ref: '#/components/schemas/P061PatentImageMultiple_PatentExtendMessage'
        total_search_result_count:
          type: integer
          format: int32
          example: 100
          description: number of search results
    P075PatentNestedSearch_PatentNestedSearchResponse:
      type: object
      properties:
        facets:
          type: object
          example:
            PUM_PROP_ID_CN:
            - name: af1d2b97-6078-514c-a2f1-9d930de64767
              count: 158
            - name: 6979882c-f05c-516e-9bab-723396999f87
              count: 80
            PUM_PROP_ID_CN_num_buckets: 131
          description: statistical result（Dynamic key, defined based on the tag in the input parameter）
        num_found:
          type: integer
          format: int32
          example: 1000
          description: Total search result count
        id_mapping:
          type: object
          example: AnsEntity
          description: When ANS is triggered, ANS information will be returned.
    P069PatentPatentSearchPn_SearchPatentV2Response:
      type: object
      properties:
        results:
          type: array
          example: 'Please check the form: PatentBaseV2Response'
          description: result
          items:
            $ref: '#/components/schemas/P069PatentPatentSearchPn_PatentBaseV2Response'
        result_count:
          type: integer
          format: int32
          example: 10
          description: Received result count
        total_search_result_count:
          type: integer
          format: int64
          example: 1000
          description: Total search result count
    P005PatentCurrentSearch_PatentBaseResponse:
      type: object
      properties:
        pn:
          type: string
          example: US11205304B2
          description: patent number
        patent_id:
          type: string
          example: 718ead9c-4f3c-4674-8f5a-24e126827269
          description: patent id
    P008PatentSemanticSearchResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/P008PatentSemanticSearch_SearchComputeResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P062ImageSearchSingleBatchResult_PatentMessage:
      type: object
      properties:
        url:
          type: string
          example: http://patsnap-imagefulltext240.cdn.zhihuiya.com/EU/S/00/47/44/21/70/00/9/004744217_0009_0002.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20240311T111032Z&X-Amz-SignedHeaders=host&X-Amz-Expires=604800&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20240311%2Fcn-northwest-1%2Fs3%2Faws4_request&X-Amz-Signature=017c433982a4c397014bb96c92f320c7da2248a9d6b2ce6352f6adbffc4b0d99
          description: similar image url
        apdt:
          type: integer
          format: int64
          example: 20190528
          description: Application Date
        apno:
          type: string
          example: EU006535076
          description: Application Number
        pbdt:
          type: integer
          format: int64
          example: 20190528
          description: Publication Date
        score:
          type: number
          example: 0.8884816
          description: similar score (Valid only when sorted by similarity, that is, the request parameter field is SCORE)
        title:
          type: string
          example: Mobile phones
          description: patent title
        img_id:
          type: string
          example: HDA0001130916580000011
          description: similar image id
        inventor:
          type: string
          example: ELSHAFIE, AHMED|YANG, WEI|HOSSEINI, SEYEDKIANOUSH
          description: Inventor
        loc_match:
          type: integer
          format: int32
          example: 1
          description: 'Whether a similar patent hits a high-weight LOC (Valid only when request parameter model is 1 and field is SCORE)

            1: hits

            0: misses'
        patent_id:
          type: string
          example: 6e433449-143b-41d9-9abf-6c6519b07779
          description: similar patent ID
        patent_pn:
          type: string
          example: EU0065350760001S
          description: similar patent number
        current_assignee:
          type: string
          example: HUAWEI TECHNOLOGIES CO., LTD.
          description: Current Assignee
        original_assignee:
          type: string
          example: HUAWEI TECHNOLOGIES CO., LTD.
          description: Original Assignee (Applicant)
      required:
      - url
      - title
      - img_id
      - patent_id
      - patent_pn
    P005PatentCurrentSearchResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/P005PatentCurrentSearch_SearchPatentResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P002PatentQuerySearchRequest:
      type: object
      properties:
        collapse_by:
          type: string
          example: PBD
          description: <p>"APD" means order according to application date;</p><p>"PBD" means order according to publication date;</p><p>"AUTHORITY" means order according to authority;</p><p>"SCORE" means order according to the relevance score</p>
        collapse_order:
          type: string
          example: LATEST
          description: When collapse_type="APNO", and collapse_by="APD" or "PBD", the collapse_order can be set as "OLDEST" or "LATEST", means keep the patent date of oldest or latest one
        collapse_type:
          type: string
          example: DOCDB
          description: <p>"ALL" or Null value means no collapse;</p><p>"APNO" means collapse according to application number;</p><p>"DOCDB" means collapse according to simple family;</p><p>"INPADOC" means collapse according to inpadoc family;</p><p>"EXTEND" means collapse according to patsnap family</p>
        query_text:
          type: string
          example: 'TACD: virtual reality'
          description: Analytics query, maximum length 12,000 characters
        sort:
          type: array
          example:
          - field: PBDT_YEARMONTHDAY
            order: DESC
          description: 'Field order, field can support: PBDT_YEARMONTHDAY, APD_YEARMONTHDAY, ISD,SCORE; order can support: desc, asc.'
        offset:
          type: integer
          format: int32
          example: 0
          description: offset value; limit + offset <= 20000 (the max number of Semantic Search is 1000)
        limit:
          type: integer
          format: int32
          example: 10
          description: limit of returned response; must be <= 1,000
      required:
      - query_text
    P061PatentImageMultipleRequest:
      type: object
      properties:
        apply_end_time:
          type: string
          example: '20200101'
          description: Patent apply date to, format:yyyyMMdd
        apply_start_time:
          type: string
          example: '20100101'
          description: Patent apply date from, format:yyyyMMdd
        assignees:
          type: string
          example: huawei
          description: all assignees
        country:
          type: array
          example:
          - US
          - EU
          - CN
          description: 'patent authority code

            For the authority code, refer to https://analytics.patsnap.com/status, Multiple items can be searched, separated by comma.'
        field:
          type: string
          example: SCORE
          description: <p>field sort(only Chinese).field support SCORE,APD,PBD,ISD. The default SCORE</p>
        include_machine_translation:
          type: boolean
          example: true
          description: Includes Machine Translations
        is_https:
          type: integer
          format: int32
          example: 0
          description: '<p>Select whether to return https domain image, default is 0, that is, return http domain image</p><p> 1: Return https</p><p> 0: Return http</p>'
        lang:
          type: string
          example: original
          description: 'Set the language preference of the title, you can choose cn, en or original, the default is original:

            original: Original title

            cn: Chinese translation title

            en: English translation Title'
        legal_status:
          type: string
          example: 3,2
          description: <p>patent legal status</p><p>1:Published 2:Examining 3:Granted 8:Double 11:Withdrawn 12:Withdrawn-Undetermined 17:Withdrawn-Deemed 18:Withdrawn-Voluntarily 13:Rejected 14:Revoked 15:Expired 16:Non-payment 21:Restoration 22:Ceased 23:P-Revoked 24:Discontinuation 30:Abandoned 19:Abandoned-Deemed 20:Abandoned-Voluntarily 25:Abandoned-Undetermined 222:Non-Entry PCT-NP (In time limit)） 223:PCT-NP (In time limit) 224:PCT-NP (Past time limit) 225:Non-Entry PCT-NP (Past time limit)</p>
        limit:
          type: integer
          format: int32
          example: 10
          description: Returns the number of patents, 1 <= limit <= 100，default is 10
        loc:
          type: string
          example: (14-03 OR 14-02)
          description: <p>LOC is the classification for Industrial Designs.</p><p>Enter LOC code, use AND/OR/NOT to connect multiple codes.</p>
        main_field:
          type: string
          example: (phones or 手机)
          description: '<p>patent main field</p><p>The main field includes: title, abstract, claims, description, publication number, application number, applicant, inventor and IPC/UPC/LOC classification numbers.</p>'
        model:
          type: integer
          format: int32
          example: 1
          description: '<p>Select the image search model (there are different models for design patent and utility model)</p><p>Designs:</p><p>   1: Smart Recommendation [recommended]</p><p>   2: Image Search</p><p>Utility models:</p><p>   3: Search by shape only</p><p>   4: Search by shape & color [recommended]</p>'
        offset:
          type: integer
          format: int32
          example: 0
          description: '0 <= offset <= 1000, default is 0

            If you want to get patents that are ranked lower than 100, you can set offset=100'
        order:
          type: string
          example: desc
          description: order supports desc,asc. The default desc
        patent_type:
          type: string
          example: D
          description: <p>选择检索外观专利或实用新型专利：</p><p> D：外观专利</p><p> U：实用新型专利</p>
        public_end_time:
          type: string
          example: '20200101'
          description: Patent publication date to, format:yyyyMMdd
        public_start_time:
          type: string
          example: '20100101'
          description: Patent publication date from, format:yyyyMMdd
        return_img_id:
          type: boolean
          example: false
          description: Whether to return img_id
        score_expansion:
          type: boolean
          example: true
          description: Score expansion
        simple_legal_status:
          type: string
          example: 1,2
          description: <p>patent simple legal status</p><p>0:Inactive 1:Active 2:Pending 220:PCT designated stage expired 221:PCT designated stage 999:Undetermined, Multiple items can be searched, separated by comma.</p>
        urls:
          type: array
          example:
          - https://static-open.zhihuiya.com/sample/common_demo.png
          - https://static-open.zhihuiya.com/sample/common_demo_2.png
          description: image url list
        query_text:
          type: string
          example: 'TACD: virtual reality'
          description: Analytics query
        stemming:
          type: integer
          format: int32
          example: 0
          description: '<p>Whether to turn on the stemming function, 1: turn on; 0: turn off. Off by default</p><p>Note: </p><p>Stemming ON will search for the original word and expand the search to consider singular, plural, and tense variations e.g. a search for "come" will expand to "comes", "came", "coming" and so on.</p><p>Stemming OFF will only search for exact matches of the keywords entered.</p><p>The use of wildcards in keywords within a search query will impact the effect of stemming.</p><p>Stemming ON only supports English words. Stemming does not apply to Assignees, Inventors, or any other person-related fields.</p>'
        pre_filter:
          type: integer
          format: int32
          example: 1
          description: 'Whether to turn on the pre_filter function, 1: turn on; 0: turn off. on by default'
      required:
      - model
      - patent_type
      - urls
    P008PatentSemanticSearch_SemanticResult:
      type: object
      properties:
        pn:
          type: string
          example: JP1999068462A
          description: patent number
        patent_id:
          type: string
          example: 1a47a70d-6b54-4709-a72a-ed552781fcac
          description: patent id
        relevancy:
          type: string
          example: 99%
          description: relevancy between the result patent and the input content
    P006PatentCompanySearchDefenseRequest:
      type: object
      properties:
        offset:
          type: integer
          format: int32
          example: 0
          description: offset value; limit + offset <= 20000 (the max number of Semantic Search is 1000)
        application:
          type: string
          example: 上海宇航系统工程研究所
          description: Applicant name, the search logic is the same as Analytics query [AN:(上海宇航系统工程研究所)], up to 100 companies can be searched; multiple companies are separated by " OR ", e.g. "上海宇航系统工程研究所 OR 北京理工大学""
        limit:
          type: integer
          format: int32
          example: 10
          description: limit of returned response; must be <= 1,000
      required:
      - application
    P061PatentImageMultiple_PatentExtendMessage:
      type: object
      properties:
        loc:
          type: array
          example:
          - 13-04
          - 22-01
          description: LOC classfication
        url:
          type: string
          example: http://patsnap-imagefulltext240.cdn.zhihuiya.com/EU/S/00/47/44/21/70/00/9/004744217_0009_0002.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20240311T111032Z&X-Amz-SignedHeaders=host&X-Amz-Expires=604800&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20240311%2Fcn-northwest-1%2Fs3%2Faws4_request&X-Amz-Signature=017c433982a4c397014bb96c92f320c7da2248a9d6b2ce6352f6adbffc4b0d99
          description: similar image url
        apdt:
          type: integer
          format: int64
          example: 20190528
          description: Application Date
        apno:
          type: string
          example: EU006535076
          description: Application Number
        pbdt:
          type: integer
          format: int64
          example: 20190528
          description: Publication Date
        score:
          type: number
          example: 0.8884816
          description: similar score (Valid only when sorted by similarity, that is, the request parameter field is SCORE)
        title:
          type: string
          example: Mobile phones
          description: patent title
        img_id:
          type: string
          example: HDA0001130916580000011
          description: similar image id
        inventor:
          type: string
          example: ELSHAFIE, AHMED|YANG, WEI|HOSSEINI, SEYEDKIANOUSH
          description: Inventor
        authority:
          type: string
          example: CN
          description: Intellectual Property Office
        loc_match:
          type: integer
          format: int32
          example: 1
          description: 'Whether a similar patent hits a high-weight LOC (Valid only when request parameter model is 1 and field is SCORE)

            1: hits

            0: misses'
        patent_id:
          type: string
          example: 6e433449-143b-41d9-9abf-6c6519b07779
          description: similar patent ID
        patent_pn:
          type: string
          example: EU0065350760001S
          description: similar patent number
        current_assignee:
          type: string
          example: HUAWEI TECHNOLOGIES CO., LTD.
          description: Current Assignee
        original_assignee:
          type: string
          example: HUAWEI TECHNOLOGIES CO., LTD.
          description: Original Assignee (Applicant)
      required:
      - url
      - title
      - img_id
      - patent_id
      - patent_pn
    P002PatentQuerySearchResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/P002PatentQuerySearch_SearchPatentResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P010ImageSearchImageUploadResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/P010ImageSearchImageUpload_FileUrlResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P002PatentQuerySearch_PatentBaseResponse:
      type: object
      properties:
        pn:
          type: string
          example: US11205304B2
          description: patent number
        patent_id:
          type: string
          example: 718ead9c-4f3c-4674-8f5a-24e126827269
          description: patent id
    P062ImageSearchSingleBatchCreateResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/P062ImageSearchSingleBatchCreate_MoreImageSearchTaskResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P070PatentKeywordSuggest_Item:
      type: object
      properties:
        input:
          type: string
          example: car
          description: Input
        keyword_list:
          type: array
          example:
          - keyword: car
          - keyword: automobile
          - keyword: motor vehicle
          - keyword: sedan
          - keyword: SUV
          - keyword: truck
          - keyword: van
          - keyword: driving
          - keyword: road trip
          - keyword: vehicle registration
          - keyword: car maintenance
          - keyword: 汽车
          - keyword: 车辆
          - keyword: 机动车
          - keyword: 交通工具
          - keyword: 轿车
          - keyword: 跑车
          - keyword: 越野车
          - keyword: 货车
          - keyword: 客车
          - keyword: 驾驶
          - keyword: 油门
          - keyword: 刹车
          - keyword: 轮胎
          - keyword: 发动机
          description: Keyword list
          items:
            $ref: '#/components/schemas/P070PatentKeywordSuggest_Keyword'
    P070PatentKeywordSuggest_KeywordSuggestResponse:
      type: object
      properties:
        items:
          type: array
          example:
          - input: car
            keyword_list:
            - keyword: car
            - keyword: automobile
            - keyword: motor vehicle
            - keyword: sedan
            - keyword: SUV
            - keyword: truck
            - keyword: van
            - keyword: driving
            - keyword: road trip
            - keyword: vehicle registration
            - keyword: car maintenance
            - keyword: 汽车
            - keyword: 车辆
            - keyword: 机动车
            - keyword: 交通工具
            - keyword: 轿车
            - keyword: 跑车
            - keyword: 越野车
            - keyword: 货车
            - keyword: 客车
            - keyword: 驾驶
            - keyword: 油门
            - keyword: 刹车
            - keyword: 轮胎
            - keyword: 发动机
          description: Return data
          items:
            $ref: '#/components/schemas/P070PatentKeywordSuggest_Item'
    P003PatentFieldQueryRequest:
      type: object
      properties:
        offset:
          type: integer
          format: int32
          example: 0
          description: 0 <= offset+limit <= 200
        query:
          type: string
          example: TTL:汽车
          description: query
        field:
          type: string
          example: ASSIGNEE
          description: 'Filter item result set, please enter the field code, up to 5 fields are supported, separated by comma.<p>ASSIGNEE: standard - the current applicant (patent)</p><p>ANCS_TYPE: indicates the type of the applicant（ACADEMY COMPANY GOVERNMENT PERSON HOSPITAL BANK OTHER）</p><p>INVENTOR: the inventor</p><p>SIMPLE_LEGAL_STATUS: simple legal status (0: invalid 1: valid 2: under review 220: PCT specified period 221: PCT specified period 999: unconfirmed)  </p><p>LEGAL_STATUS:  Legal status (1: disclosure 2: substantive review 3: authorization 8: avoidance of reauthorization 11: withdrawal 13: rejection 14: full cancellation 15: expiration 16: unpaid annual fee 21: restoration of rights 22: Termination of rights 23: Partial invalidation 24: application for termination 30:  Abandonment 222: PCT International Announcement 223: PCT enters designated country (specified period) 224: PCT enters designated country (specified period) 225: PCT does not enter designated country)  </p><p>LEGAL_EVENT:  Legal events (61: transfer of rights 62: License 63: pledge 64: trust 65: objection 66: review 69: Customs record 70: litigation 71: preservation 72: Invalid procedure 73: oral hearing 74: Declassification of National Defense 75: Double Application in one Case)  </p><p>APPLICATION_YEAR: application year</p><p>PUBLICATION_YEAR: public year</p><p>ISSUE_YEAR: entitlement year</p><p>AGENCY: the agency</p><p>PATENT_TYPE: patent type（A: Applications B: Patents U: Utility models D: Designs AB: Applications+Patents）</p><p>AUTHORITY: (https://analytics.patsnap.com/status)</p>'
        limit:
          type: integer
          format: int32
          example: 50
          description: Returns the number of statistical results, 1 <= limit <= 100，default is 50
        lang:
          type: string
          example: cn
          description: Select the language, the default language is cn, you can choose cn、en or jp.
      required:
      - offset
      - query
      - field
      - limit
    P004PatentCompanySearch_PatentBaseResponse:
      type: object
      properties:
        pn:
          type: string
          example: US11205304B2
          description: patent number
        patent_id:
          type: string
          example: 718ead9c-4f3c-4674-8f5a-24e126827269
          description: patent id
    P070PatentKeywordSuggestResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/P070PatentKeywordSuggest_KeywordSuggestResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P061PatentImageMultipleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/P061PatentImageMultiple_ImageSearchExtendResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P062ImageSearchSingleBatchCreateRequest:
      type: object
      properties:
        apply_end_time:
          type: string
          example: '20200101'
          description: Patent apply date to, format:yyyyMMdd
        apply_start_time:
          type: string
          example: '20100101'
          description: Patent apply date from, format:yyyyMMdd
        assignees:
          type: string
          example: huawei
          description: all assignees
        country:
          type: array
          example:
          - US
          - EU
          - CN
          description: 'patent authority code

            For the authority code, refer to https://analytics.patsnap.com/status, Multiple items can be searched, separated by comma.'
        field:
          type: string
          example: SCORE
          description: <p>field sort(only Chinese).field support SCORE,APD,PBD,ISD. The default SCORE</p>
        include_machine_translation:
          type: boolean
          example: true
          description: Includes Machine Translations
        is_https:
          type: integer
          format: int32
          example: 0
          description: '<p>Select whether to return https domain image, default is 0, that is, return http domain image</p><p> 1: Return https</p><p> 0: Return http</p>'
        lang:
          type: string
          example: original
          description: 'Set the language preference of the title, you can choose cn, en or original, the default is original:

            original: Original title

            cn: Chinese translation title

            en: English translation Title'
        legal_status:
          type: string
          example: 3,2
          description: <p>patent legal status</p><p>1:Published 2:Examining 3:Granted 8:Double 11:Withdrawn 12:Withdrawn-Undetermined 17:Withdrawn-Deemed 18:Withdrawn-Voluntarily 13:Rejected 14:Revoked 15:Expired 16:Non-payment 21:Restoration 22:Ceased 23:P-Revoked 24:Discontinuation 30:Abandoned 19:Abandoned-Deemed 20:Abandoned-Voluntarily 25:Abandoned-Undetermined 222:Non-Entry PCT-NP (In time limit)） 223:PCT-NP (In time limit) 224:PCT-NP (Past time limit) 225:Non-Entry PCT-NP (Past time limit)</p>
        limit:
          type: integer
          format: int32
          example: 10
          description: Returns the number of patents, 1 <= limit <= 100，default is 10
        loc:
          type: string
          example: (14-03 OR 14-02)
          description: <p>LOC is the classification for Industrial Designs.</p><p>Enter LOC code, use AND/OR/NOT to connect multiple codes.</p>
        main_field:
          type: string
          example: (phones or 手机)
          description: '<p>patent main field</p><p>The main field includes: title, abstract, claims, description, publication number, application number, applicant, inventor and IPC/UPC/LOC classification numbers.</p>'
        model:
          type: integer
          format: int32
          example: 1
          description: '<p>Select the image search model (there are different models for design patent and utility model)</p><p>Designs:</p><p>   1: Smart Recommendation [recommended]</p><p>   2: Image Search</p><p>Utility models:</p><p>   3: Search by shape only</p><p>   4: Search by shape & color [recommended]</p>'
        offset:
          type: integer
          format: int32
          example: 0
          description: '0 <= offset <= 1000, default is 0

            If you want to get patents that are ranked lower than 100, you can set offset=100'
        order:
          type: string
          example: desc
          description: order supports desc,asc. The default desc
        patent_type:
          type: string
          example: D
          description: <p>选择检索外观专利或实用新型专利：</p><p> D：外观专利</p><p> U：实用新型专利</p>
        public_end_time:
          type: string
          example: '20200101'
          description: Patent publication date to, format:yyyyMMdd
        public_start_time:
          type: string
          example: '20100101'
          description: Patent publication date from, format:yyyyMMdd
        return_img_id:
          type: boolean
          example: false
          description: Whether to return img_id
        score_expansion:
          type: boolean
          example: true
          description: Score expansion
        simple_legal_status:
          type: string
          example: 1,2
          description: <p>patent simple legal status</p><p>0:Inactive 1:Active 2:Pending 220:PCT designated stage expired 221:PCT designated stage 999:Undetermined, Multiple items can be searched, separated by comma.</p>
        urls:
          type: array
          example:
          - https://static-open.zhihuiya.com/sample/common_demo.png
          description: image url
        query_text:
          type: string
          example: 'TACD: virtual reality'
          description: Analytics query
        stemming:
          type: integer
          format: int32
          example: 0
          description: '<p>Whether to turn on the stemming function, 1: turn on; 0: turn off. Off by default</p><p>Note: </p><p>Stemming ON will search for the original word and expand the search to consider singular, plural, and tense variations e.g. a search for "come" will expand to "comes", "came", "coming" and so on.</p><p>Stemming OFF will only search for exact matches of the keywords entered.</p><p>The use of wildcards in keywords within a search query will impact the effect of stemming.</p><p>Stemming ON only supports English words. Stemming does not apply to Assignees, Inventors, or any other person-related fields.</p>'
        pre_filter:
          type: integer
          format: int32
          example: 1
          description: 'Whether to turn on the pre_filter function, 1: turn on; 0: turn off. on by default'
      required:
      - model
      - patent_type
      - urls
    P010ImageSearchImageUpload_FileUrlResponse:
      type: object
      properties:
        url:
          type: string
          example: https://img1.baidu.com/it/u=3787347995,722716643&fm=26&fmt=auto
          description: url
        expire:
          type: integer
          format: int32
          example: 32400
          description: period of validity,Unit:second
    P075PatentNestedSearch_Sort:
      type: object
      properties:
        field:
          type: string
          example: SCORE
          description: sort field
        order:
          type: string
          example: DESC
          description: sort order
    P060PatentImageSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/P060PatentImageSingle_ImageSearchExtendResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P071ClassificationHelperSectionSubclassResponse:
      type: object
      properties:
        data:
          type: array
          example: no sample
          description: response data
          items:
            $ref: '#/components/schemas/P071ClassificationHelperSectionSubclass_ClassificationHelperResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P060PatentImageSingle_PatentExtendMessage:
      type: object
      properties:
        loc:
          type: array
          example:
          - 13-04
          - 22-01
          description: LOC classfication
        url:
          type: string
          example: http://patsnap-imagefulltext240.cdn.zhihuiya.com/EU/S/00/47/44/21/70/00/9/004744217_0009_0002.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20240311T111032Z&X-Amz-SignedHeaders=host&X-Amz-Expires=604800&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20240311%2Fcn-northwest-1%2Fs3%2Faws4_request&X-Amz-Signature=017c433982a4c397014bb96c92f320c7da2248a9d6b2ce6352f6adbffc4b0d99
          description: similar image url
        apdt:
          type: integer
          format: int64
          example: 20190528
          description: Application Date
        apno:
          type: string
          example: EU006535076
          description: Application Number
        pbdt:
          type: integer
          format: int64
          example: 20190528
          description: Publication Date
        score:
          type: number
          example: 0.8884816
          description: similar score (Valid only when sorted by similarity, that is, the request parameter field is SCORE)
        title:
          type: string
          example: Mobile phones
          description: patent title
        img_id:
          type: string
          example: HDA0001130916580000011
          description: similar image id
        inventor:
          type: string
          example: ELSHAFIE, AHMED|YANG, WEI|HOSSEINI, SEYEDKIANOUSH
          description: Inventor
        authority:
          type: string
          example: CN
          description: Intellectual Property Office
        loc_match:
          type: integer
          format: int32
          example: 1
          description: 'Whether a similar patent hits a high-weight LOC (Valid only when request parameter model is 1 and field is SCORE)

            1: hits

            0: misses'
        patent_id:
          type: string
          example: 6e433449-143b-41d9-9abf-6c6519b07779
          description: similar patent ID
        patent_pn:
          type: string
          example: EU0065350760001S
          description: similar patent number
        current_assignee:
          type: string
          example: HUAWEI TECHNOLOGIES CO., LTD.
          description: Current Assignee
        original_assignee:
          type: string
          example: HUAWEI TECHNOLOGIES CO., LTD.
          description: Original Assignee (Applicant)
      required:
      - url
      - title
      - img_id
      - patent_id
      - patent_pn
    P003PatentFieldQuery_DataFieldResponse:
      type: object
      properties:
        assignee:
          type: array
          example: 'Please check the form: PatentFieldResponse'
          description: Fields that support statistics
          items:
            $ref: '#/components/schemas/P003PatentFieldQuery_PatentFieldResponse'
    P060PatentImageSingleRequest:
      type: object
      properties:
        apply_end_time:
          type: string
          example: '20200101'
          description: Patent apply date to, format:yyyyMMdd
        apply_start_time:
          type: string
          example: '20100101'
          description: Patent apply date from, format:yyyyMMdd
        assignees:
          type: string
          example: huawei
          description: all assignees
        country:
          type: array
          example:
          - US
          - EU
          - CN
          description: 'patent authority code

            For the authority code, refer to https://analytics.patsnap.com/status, Multiple items can be searched, separated by comma.'
        field:
          type: string
          example: SCORE
          description: <p>field sort(only Chinese).field support SCORE,APD,PBD,ISD. The default SCORE</p>
        include_machine_translation:
          type: boolean
          example: true
          description: Includes Machine Translations
        is_https:
          type: integer
          format: int32
          example: 0
          description: '<p>Select whether to return https domain image, default is 0, that is, return http domain image</p><p> 1: Return https</p><p> 0: Return http</p>'
        lang:
          type: string
          example: original
          description: 'Set the language preference of the title, you can choose cn, en or original, the default is original:

            original: Original title

            cn: Chinese translation title

            en: English translation Title'
        legal_status:
          type: string
          example: 3,2
          description: <p>patent legal status</p><p>1:Published 2:Examining 3:Granted 8:Double 11:Withdrawn 12:Withdrawn-Undetermined 17:Withdrawn-Deemed 18:Withdrawn-Voluntarily 13:Rejected 14:Revoked 15:Expired 16:Non-payment 21:Restoration 22:Ceased 23:P-Revoked 24:Discontinuation 30:Abandoned 19:Abandoned-Deemed 20:Abandoned-Voluntarily 25:Abandoned-Undetermined 222:Non-Entry PCT-NP (In time limit)） 223:PCT-NP (In time limit) 224:PCT-NP (Past time limit) 225:Non-Entry PCT-NP (Past time limit)</p>
        limit:
          type: integer
          format: int32
          example: 10
          description: Returns the number of patents, 1 <= limit <= 100，default is 10
        loc:
          type: string
          example: (14-03 OR 14-02)
          description: <p>LOC is the classification for Industrial Designs.</p><p>Enter LOC code, use AND/OR/NOT to connect multiple codes.</p>
        main_field:
          type: string
          example: (phones or 手机)
          description: '<p>patent main field</p><p>The main field includes: title, abstract, claims, description, publication number, application number, applicant, inventor and IPC/UPC/LOC classification numbers.</p>'
        model:
          type: integer
          format: int32
          example: 1
          description: '<p>Select the image search model (there are different models for design patent and utility model)</p><p>Designs:</p><p>   1: Smart Recommendation [recommended]</p><p>   2: Image Search</p><p>Utility models:</p><p>   3: Search by shape only</p><p>   4: Search by shape & color [recommended]</p>'
        offset:
          type: integer
          format: int32
          example: 0
          description: '0 <= offset <= 1000, default is 0

            If you want to get patents that are ranked lower than 100, you can set offset=100'
        order:
          type: string
          example: desc
          description: order supports desc,asc. The default desc
        patent_type:
          type: string
          example: D
          description: <p>选择检索外观专利或实用新型专利：</p><p> D：外观专利</p><p> U：实用新型专利</p>
        public_end_time:
          type: string
          example: '20200101'
          description: Patent publication date to, format:yyyyMMdd
        public_start_time:
          type: string
          example: '20100101'
          description: Patent publication date from, format:yyyyMMdd
        return_img_id:
          type: boolean
          example: false
          description: Whether to return img_id
        score_expansion:
          type: boolean
          example: true
          description: Score expansion
        simple_legal_status:
          type: string
          example: 1,2
          description: <p>patent simple legal status</p><p>0:Inactive 1:Active 2:Pending 220:PCT designated stage expired 221:PCT designated stage 999:Undetermined, Multiple items can be searched, separated by comma.</p>
        url:
          type: string
          example: https://static-open.zhihuiya.com/sample/common_demo.png
          description: image url
        query_text:
          type: string
          example: 'TACD: virtual reality'
          description: Analytics query
        stemming:
          type: integer
          format: int32
          example: 0
          description: '<p>Whether to turn on the stemming function, 1: turn on; 0: turn off. Off by default</p><p>Note: </p><p>Stemming ON will search for the original word and expand the search to consider singular, plural, and tense variations e.g. a search for "come" will expand to "comes", "came", "coming" and so on.</p><p>Stemming OFF will only search for exact matches of the keywords entered.</p><p>The use of wildcards in keywords within a search query will impact the effect of stemming.</p><p>Stemming ON only supports English words. Stemming does not apply to Assignees, Inventors, or any other person-related fields.</p>'
[...]
