openapi: 3.1.0
info:
  title: Patsnap Open Platform AI Translation Design Infringement 1v1 API
  version: 1.0.0
  description: OpenAPI specification for Patsnap Open Platform APIs, including patent search, analytics, and Eureka AI capabilities.
servers:
- url: https://connect.patsnap.com
  description: Patsnap Open Platform API gateway
tags:
- name: Design Infringement 1v1
  description: Design Infringement 1v1 APIs.
paths:
  /ai/infringement-detection-1v1-creation:
    post:
      operationId: ai67-1AiInfringementDetection1v1Creation
      summary: AI67-1 Infringement Detection 1V1 - Search Creation
      description: Based on the provided product drawings and patent pn numbers, conduct an infringement search for design patents. Generate task_id with a validity period of 8 hours. It becomes invalid upon expiration.
      tags:
      - Design Infringement 1v1
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful ai67-1 infringement detection 1v1 - search creation response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AI67-1AiInfringementDetection1v1CreationResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/ai/infringement-detection-1v1-creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AI67-1AiInfringementDetection1v1CreationRequest'
  /ai/infringement-detection-1v1-query:
    post:
      operationId: ai67-2AiInfringementDetection1v1Query
      summary: AI67-2 Infringement Detection 1V1 - Search Query
      description: According to the task_id generated by [AI67-1] Appearance Infringement Prevention Search - Task creation, query and export the appearance infringement prevention search results
      tags:
      - Design Infringement 1v1
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful ai67-2 infringement detection 1v1 - search query response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AI67-2AiInfringementDetection1v1QueryResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/ai/infringement-detection-1v1-query
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AI67-2AiInfringementDetection1v1QueryRequest'
components:
  schemas:
    AI67-2AiInfringementDetection1v1Query_图像特征对比响应:
      type: object
      properties:
        loc:
          type: array
          example:
          - 14-03
          description: loc code
        country:
          type: array
          example:
          - US
          description: country list
        task_id:
          type: string
          example: 7ef1a01c-2134-433d-8273-a79b58194251
          description: Task id
        user_image:
          type: string
          example: https://www.patsnap.com/images/user_image.jpg
          description: user image
        comparisons:
          type: array
          example:
          - score: 80
            title: Floats
            status: 1
            country: EU
            similar: 两款产品均为白色充气独角兽造型游泳圈，具有相似的整体轮廓和结构。两者都有突出的独角兽头部造型，带有金色尖角，黑色眼睛，以及彩虹色的鬃毛和尾部。两款产品都采用了白色为主体色调，并在鬃毛和尾部使用了彩虹渐变色彩。
            confusion: 普通消费者很可能会因两款产品在整体外观、色彩搭配和独特的独角兽造型上的高度相似性而产生混淆。尤其是白色主体与彩虹色鬃毛和尾部的组合，以及金色角和黑色眼睛的设计，使两款产品在视觉上几乎难以区分。
            patent_id: f1bc4b3c-8a7f-45a4-b0cb-56014c548719
            patent_pn: EU0040356240003S
            risk_desc: 相似性评分高达85%，根据《专利法》第23条和《专利法实施细则》第65条，从普通消费者的角度看，两款产品在整体视觉效果上高度相似，极易导致混淆。依据最高人民法院关于审理专利纠纷案件适用法律若干问题的解释，这种程度的相似已构成外观设计专利侵权的实质条件。
            difference: 用户产品的独角兽头部略微向下倾斜，而专利产品的头部更为直立。用户产品的彩虹色鬃毛和尾部色彩排列略有不同，且用户产品的游泳圈中心孔形状更为圆形，而专利产品的中心孔形状更为椭圆。
            risk_level: High
            suggestion: 1. 改变独角兽头部的造型和角度，如设计成更加卡通或夸张的形象；2. 使用完全不同的色彩方案，如将主体改为粉色、蓝色等非白色；3. 调整彩虹色部分的位置和形状，如将彩虹色设计成星星或其他图案；4. 改变游泳圈的整体形状，如设计成更不规则或创新的形状；5. 添加独特的装饰元素，如在独角兽身体上增加图案或标志。
          description: comparisons list
          items:
            $ref: '#/components/schemas/AI67-2AiInfringementDetection1v1Query_图像对比项'
        task_status:
          type: integer
          format: int32
          example: 2
          description: 'Task Status (1: running, 2: success, 3: failed)'
        high_risk_country:
          type: array
          example:
          - US
          description: high risk country list
        middle_risk_country:
          type: array
          example:
          - US
          description: middle risk country list
        suspected_infringement_count:
          type: integer
          format: int32
          example: 1
          description: suspected infringement patent count
        suspected_infringement_country:
          type: array
          example:
          - US
          description: suspected infringement country list
    AI67-2AiInfringementDetection1v1QueryResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/AI67-2AiInfringementDetection1v1Query_图像特征对比响应'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    AI67-1AiInfringementDetection1v1CreationRequest:
      type: object
      properties:
        patent_number:
          type: string
          example: EU0065350760001S
          description: patent number
        report_lang:
          type: string
          example: cn
          description: The language for generating reports(cn/en)
        url:
          type: string
          example: https://static-open.zhihuiya.com/sample/common_demo.png
          description: image url
      required:
      - patent_number
      - url
    AI67-2AiInfringementDetection1v1Query_图像对比项:
      type: object
      properties:
        score:
          type: number
          format: double
          example: 0.93
          description: similar score
        title:
          type: string
          example: Floats
          description: title
        status:
          type: integer
          format: int32
          example: 1
          description: status
        country:
          type: string
          example: EU
          description: country
        similar:
          type: string
          example: 两款产品均为白色充气独角兽造型游泳圈，具有相似的整体轮廓和结构。两者都有突出的独角兽头部造型，带有金色尖角，黑色眼睛，以及彩虹色的鬃毛和尾部。两款产品都采用了白色为主体色调，并在鬃毛和尾部使用了彩虹渐变色彩。
          description: similar
        confusion:
          type: string
          example: 普通消费者很可能会因两款产品在整体外观、色彩搭配和独特的独角兽造型上的高度相似性而产生混淆。尤其是白色主体与彩虹色鬃毛和尾部的组合，以及金色角和黑色眼睛的设计，使两款产品在视觉上几乎难以区分。
          description: confusion
        patent_id:
          type: string
          example: f1bc4b3c-8a7f-45a4-b0cb-56014c548719
          description: patent ID
        patent_pn:
          type: string
          example: EU0040356240003S
          description: patent number
        risk_desc:
          type: string
          example: 相似性评分高达85%，根据《专利法》第23条和《专利法实施细则》第65条，从普通消费者的角度看，两款产品在整体视觉效果上高度相似，极易导致混淆。依据最高人民法院关于审理专利纠纷案件适用法律若干问题的解释，这种程度的相似已构成外观设计专利侵权的实质条件。
          description: risk description
        difference:
          type: string
          example: 用户产品的独角兽头部略微向下倾斜，而专利产品的头部更为直立。用户产品的彩虹色鬃毛和尾部色彩排列略有不同，且用户产品的游泳圈中心孔形状更为圆形，而专利产品的中心孔形状更为椭圆。
          description: difference
        risk_level:
          type: string
          example: High
          description: risk level
        suggestion:
          type: string
          example: 1. 改变独角兽头部的造型和角度，如设计成更加卡通或夸张的形象；2. 使用完全不同的色彩方案，如将主体改为粉色、蓝色等非白色；3. 调整彩虹色部分的位置和形状，如将彩虹色设计成星星或其他图案；4. 改变游泳圈的整体形状，如设计成更不规则或创新的形状；5. 添加独特的装饰元素，如在独角兽身体上增加图案或标志。
          description: suggestion
        patent_image_url:
          type: string
          example: https://data-abstract-image.zhihuiya.com/EU/S/00/40/35/62/40/00/3/00000001_0001.png
          description: patent image url
    AI67-1AiInfringementDetection1v1Creation_AsyncTaskIdResponse:
      type: object
      properties:
        task_id:
          type: string
          example: 80d440b7-80a5-4233-a75f-ab72b0885c88
          description: Task id
    AI67-1AiInfringementDetection1v1CreationResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/AI67-1AiInfringementDetection1v1Creation_AsyncTaskIdResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    AI67-2AiInfringementDetection1v1QueryRequest:
      type: object
      properties:
        task_id:
          type: string
          example: 80d440b7-80a5-4233-a75f-ab72b0885c88
          description: Task id
      required:
      - task_id
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
