openapi: 3.1.0
info:
  title: Patsnap Open Platform AI Translation Feasibility Analysis Assistant API
  version: 1.0.0
  description: OpenAPI specification for Patsnap Open Platform APIs, including patent search, analytics, and Eureka AI capabilities.
servers:
- url: https://connect.patsnap.com
  description: Patsnap Open Platform API gateway
tags:
- name: Feasibility Analysis Assistant
  description: Feasibility Analysis Assistant APIs.
paths:
  /ai/feasibility-analysis-creation:
    post:
      operationId: ai40-1AiFeasibilityAnalysisCreation
      summary: AI40-1 Solution feasibility analysis creation
      description: Based on the input of a technical solution, generate an assistant assessment report for the feasibility analysis of that technical solution
      tags:
      - Feasibility Analysis Assistant
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful ai40-1 solution feasibility analysis creation response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AI40-1AiFeasibilityAnalysisCreationResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/ai/feasibility-analysis-creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AI40-1AiFeasibilityAnalysisCreationRequest'
  /ai/feasibility-analysis-query:
    post:
      operationId: ai40-2AiFeasibilityAnalysisQuery
      summary: AI40-2 Solution feasibility analysis query
      description: Obtain the task results of the Feasibility Analysis Assistant through the task_id generated by [AI40-1]
      tags:
      - Feasibility Analysis Assistant
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful ai40-2 solution feasibility analysis query response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AI40-2AiFeasibilityAnalysisQueryResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/ai/feasibility-analysis-query
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AI40-2AiFeasibilityAnalysisQueryRequest'
components:
  schemas:
    AI40-2AiFeasibilityAnalysisQueryRequest:
      type: object
      properties:
        task_id:
          type: string
          example: 80d440b7-80a5-4233-a75f-ab72b0885c88
          description: Task id
      required:
      - task_id
    AI40-1AiFeasibilityAnalysisCreationResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/AI40-1AiFeasibilityAnalysisCreation_AsyncTaskIdResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    AI40-2AiFeasibilityAnalysisQueryResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/AI40-2AiFeasibilityAnalysisQuery_FeasibilityAnalysisQueryResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    AI40-1AiFeasibilityAnalysisCreationRequest:
      type: object
      properties:
        lang:
          type: string
          example: cn
          description: text language, support cn and en
        need_logo:
          type: boolean
          example: true
          description: Does PDF need to have a logo generated?
        text:
          type: string
          example: 在鸡蛋外面包裹一层柔软的保护材料，来吸收冲击力。材料可以是： • 泡沫塑料（比如保丽龙） • 海绵 • 棉花 • 塑料气泡袋（气泡膜） • 毛巾或布料
          description: Input
      required:
      - lang
      - text
    AI40-1AiFeasibilityAnalysisCreation_AsyncTaskIdResponse:
      type: object
      properties:
        task_id:
          type: string
          example: 80d440b7-80a5-4233-a75f-ab72b0885c88
          description: Unique task identifier for subsequent polling to get task results
      required:
      - task_id
    AI40-2AiFeasibilityAnalysisQuery_FeasibilityAnalysisQueryResponse:
      type: object
      properties:
        url:
          type: string
          example: https://stage-patsnap-export.cdn.zhihuiya.com/7/20250603/eureka/3da39850de1f5fbd366795d62d05fcd7/content_20250603015019.pdf
          description: Report download link (returned when export status is successful).
        status:
          type: integer
          format: int32
          example: 2
          description: 'Task status (1: running, 2: successful, 3: generation exception).'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
