openapi: 3.2.0
info:
  title: Patsnap Open Platform AI Translation Technology Key Report API
  version: 1.0.0
  description: OpenAPI specification for Patsnap Open Platform APIs, including patent search, analytics, and Eureka AI capabilities.
servers:
- url: https://connect.patsnap.com
  description: Patsnap Open Platform API gateway
tags:
- name: Technology Key Report
  description: Technology Key Report APIs.
paths:
  /insights/patent-type-trend:
    post:
      operationId: a011InsightsPatentTypeTrend
      summary: A011 Patent Type Trend Analysis
      description: Analyze the application trend of different patent types (invention patents, utility models, design patents) within a specified time range.
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a011 patent type trend analysis response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A011InsightsPatentTypeTrendResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/insights/patent-type-trend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/A011InsightsPatentTypeTrendRequest'
  /insights-company/most-cited-latest:
    get:
      operationId: a106InsightsCompanyMostCitedLatest
      summary: A106 Company Most Cited Patents
      description: Identify the records in this company's portfolio that have been cited most frequently by other records. These represent more referenced patents that have had their technology built by others. These patents are likely to be more valuable and may represent the more relevant technology to the industry. Returns at most Top 10 patent information.
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a106 company most cited patents response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A106InsightsCompanyMostCitedLatestResponse'
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/insights-company/most-cited-latest
      parameters:
      - name: company_name
        in: query
        required: false
        description: Query the name of a single enterprise
        schema:
          type: string
          example: 华为技术有限公司
          description: Query the name of a single enterprise
      - name: org_number
        in: query
        required: false
        description: This field is not supported in the current version , please search by company name
        schema:
          type: string
          example: '192203821'
          description: This field is not supported in the current version , please search by company name
      - name: credit_code
        in: query
        required: false
        description: This field is not supported in the current version , please search by company name
        schema:
          type: string
          example: '914403001922038216'
          description: This field is not supported in the current version , please search by company name
      - name: apply_start_time
        in: query
        required: false
        description: Patent apply date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent apply date from, format:yyyy
      - name: apply_end_time
        in: query
        required: false
        description: Patent apply date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent apply date to, format:yyyy
      - name: public_start_time
        in: query
        required: false
        description: Patent publication date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent publication date from, format:yyyy
      - name: public_end_time
        in: query
        required: false
        description: Patent publication date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent publication date to, format:yyyy
      - name: simple_legal_status
        in: query
        required: false
        description: Patent simple legal status<p>0-Inactive</p><p>1-Active</p><p>2-Pending</p><p>220-PCT designated stage expired</p>n<p>221-PCT designated stage</p><p>999-Undetermined</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>
        schema:
          type: string
          example: 1 OR 2
          description: Patent simple legal status<p>0-Inactive</p><p>1-Active</p><p>2-Pending</p><p>220-PCT designated stage expired</p>n<p>221-PCT designated stage</p><p>999-Undetermined</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>
      - name: patent_type
        in: query
        required: false
        description: 'Patent application type<p>A:Applications</p><p>B: Patents</p><p>U: Utility models</p><p>D: Designs</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>'
        schema:
          type: string
          example: A OR B
          description: 'Patent application type<p>A:Applications</p><p>B: Patents</p><p>U: Utility models</p><p>D: Designs</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>'
      - name: authority
        in: query
        required: false
        description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.<p>Example: US OR EP</p>'
        schema:
          type: string
          example: CN OR EP
          description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.<p>Example: US OR EP</p>'
      - name: lang
        in: query
        required: true
        description: Select the language , the default language is en, you can choose cn or en.
        schema:
          type: string
          example: en
          description: Select the language , the default language is en, you can choose cn or en.
  /insights-company/patent-trends:
    get:
      operationId: a104InsightsCompanyPatentTrends
      summary: A104 Company Patent Application and Issued Trend
      description: Analyze the annual application trend of the company. This chart shows the number of grants or issued patents resulting from applications filed in the same year, indicating the company's filing success rate over time. The most recent 20 years of application and issued data are returned.
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a104 company patent application and issued trend response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A104InsightsCompanyPatentTrendsResponse'
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/insights-company/patent-trends
      parameters:
      - name: company_name
        in: query
        required: false
        description: Query the name of a single enterprise
        schema:
          type: string
          example: 华为技术有限公司
          description: Query the name of a single enterprise
      - name: org_number
        in: query
        required: false
        description: This field is not supported in the current version , please search by company name
        schema:
          type: string
          example: '192203821'
          description: This field is not supported in the current version , please search by company name
      - name: credit_code
        in: query
        required: false
        description: This field is not supported in the current version , please search by company name
        schema:
          type: string
          example: '914403001922038216'
          description: This field is not supported in the current version , please search by company name
      - name: apply_start_time
        in: query
        required: false
        description: Patent apply date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent apply date from, format:yyyy
      - name: apply_end_time
        in: query
        required: false
        description: Patent apply date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent apply date to, format:yyyy
      - name: public_start_time
        in: query
        required: false
        description: Patent publication date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent publication date from, format:yyyy
      - name: public_end_time
        in: query
        required: false
        description: Patent publication date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent publication date to, format:yyyy
      - name: simple_legal_status
        in: query
        required: false
        description: Patent simple legal status<p>0-Inactive</p><p>1-Active</p><p>2-Pending</p><p>220-PCT designated stage expired</p>n<p>221-PCT designated stage</p><p>999-Undetermined</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>
        schema:
          type: string
          example: 1 OR 2
          description: Patent simple legal status<p>0-Inactive</p><p>1-Active</p><p>2-Pending</p><p>220-PCT designated stage expired</p>n<p>221-PCT designated stage</p><p>999-Undetermined</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>
      - name: patent_type
        in: query
        required: false
        description: 'Patent application type<p>A:Applications</p><p>B: Patents</p><p>U: Utility models</p><p>D: Designs</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>'
        schema:
          type: string
          example: A OR B
          description: 'Patent application type<p>A:Applications</p><p>B: Patents</p><p>U: Utility models</p><p>D: Designs</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>'
      - name: authority
        in: query
        required: false
        description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.<p>Example: US OR EP</p>'
        schema:
          type: string
          example: CN OR EP
          description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.<p>Example: US OR EP</p>'
  /insights-company/simple-legal-status:
    get:
      operationId: a109InsightsCompanySimpleLegalStatus
      summary: A109 Company Patent Simple Legal Status
      description: Simple legal status breakdown of the company's portfolio. This tells you the proportion of patents in the portfolio that are in effect, or no longer active, which you can then use to filter by.
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a109 company patent simple legal status response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A109InsightsCompanySimpleLegalStatusResponse'
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/insights-company/simple-legal-status
      parameters:
      - name: company_name
        in: query
        required: false
        description: Query the name of a single enterprise
        schema:
          type: string
          example: 华为技术有限公司
          description: Query the name of a single enterprise
      - name: org_number
        in: query
        required: false
        description: This field is not supported in the current version , please search by company name
        schema:
          type: string
          example: '192203821'
          description: This field is not supported in the current version , please search by company name
      - name: credit_code
        in: query
        required: false
        description: This field is not supported in the current version , please search by company name
        schema:
          type: string
          example: '914403001922038216'
          description: This field is not supported in the current version , please search by company name
      - name: apply_start_time
        in: query
        required: false
        description: Patent apply date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent apply date from, format:yyyy
      - name: apply_end_time
        in: query
        required: false
        description: Patent apply date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent apply date to, format:yyyy
      - name: public_start_time
        in: query
        required: false
        description: Patent publication date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent publication date from, format:yyyy
      - name: public_end_time
        in: query
        required: false
        description: Patent publication date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent publication date to, format:yyyy
      - name: simple_legal_status
        in: query
        required: false
        description: Patent simple legal status<p>0-Inactive</p><p>1-Active</p><p>2-Pending</p><p>220-PCT designated stage expired</p>n<p>221-PCT designated stage</p><p>999-Undetermined</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>
        schema:
          type: string
          example: 1 OR 2
          description: Patent simple legal status<p>0-Inactive</p><p>1-Active</p><p>2-Pending</p><p>220-PCT designated stage expired</p>n<p>221-PCT designated stage</p><p>999-Undetermined</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>
      - name: patent_type
        in: query
        required: false
        description: 'Patent application type<p>A:Applications</p><p>B: Patents</p><p>U: Utility models</p><p>D: Designs</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>'
        schema:
          type: string
          example: A OR B
          description: 'Patent application type<p>A:Applications</p><p>B: Patents</p><p>U: Utility models</p><p>D: Designs</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>'
      - name: authority
        in: query
        required: false
        description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.<p>Example: US OR EP</p>'
        schema:
          type: string
          example: CN OR EP
          description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.<p>Example: US OR EP</p>'
  /insights/portfolio-value:
    get:
      operationId: a010InsightsPortfolioValue
      summary: A010 Portfolio Value Distribution
      description: 'Assess the lucrativeness of a technology space based on the spread of estimated patent valuation, with lucrative technologies having a greater proportion of their patent simple families in the higher value buckets.Our valuation method has been developed and implemented by integrating external research published by academics and patent lawyers with our own internal research. We use an underlying set of 80+ different patent indicators (e.g. forward citations, family sizes, patent age, legal status etc.) to compute the valuation, which is adjusted based on the distributions of patent values traded in the past.

        Design patents are not valued with this methodology.'
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a010 portfolio value distribution response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A010InsightsPortfolioValueResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/insights/portfolio-value
      parameters:
      - name: apply_end_time
        in: query
        required: false
        description: Patent apply date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent apply date to, format:yyyy
      - name: apply_start_time
        in: query
        required: false
        description: Patent apply date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent apply date from, format:yyyy
      - name: authority
        in: query
        required: false
        description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.

          Example: US OR EP'
        schema:
          type: string
          example: CN
          description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.

            Example: US OR EP'
      - name: ipc
        in: query
        required: false
        description: Patent IPC classification
        schema:
          type: string
          example: B66B11
          description: Patent IPC classification
      - name: keywords
        in: query
        required: false
        description: Searches for keywords within patent title and summary. Supports AND, OR, NOT search logic, for example "mobile phone AND (screen OR battery)".
        schema:
          type: string
          example: car
          description: Searches for keywords within patent title and summary. Supports AND, OR, NOT search logic, for example "mobile phone AND (screen OR battery)".
      - name: public_end_time
        in: query
        required: false
        description: Patent publication date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent publication date to, format:yyyy
      - name: public_start_time
        in: query
        required: false
        description: Patent publication date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent publication date from, format:yyyy
      - name: query_text
        in: query
        required: false
        description: Enter the Analytics Query, with a maximum length of 800 characters and cannot contain complex wildcards such as  $W  $PRE   $WS  $SEN  $PARA  $FREQ .etc
        schema:
          type: string
          example: 'TACD: virtual reality'
          description: Enter the Analytics Query, with a maximum length of 800 characters and cannot contain complex wildcards such as  $W  $PRE   $WS  $SEN  $PARA  $FREQ .etc
  /insights/applicant-ranking:
    get:
      operationId: a007InsightsApplicantRanking
      summary: A007 Top Assignees
      description: The top companies with the largest patent portfolios in the technology field. Understand who are the largest players and the competitive threats in the technology space. Returns up to the top 10 assignees.
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a007 top assignees response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A007InsightsApplicantRankingResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/insights/applicant-ranking
      parameters:
      - name: apply_end_time
        in: query
        required: false
        description: Patent apply date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent apply date to, format:yyyy
      - name: apply_start_time
        in: query
        required: false
        description: Patent apply date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent apply date from, format:yyyy
      - name: authority
        in: query
        required: false
        description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.

          Example: US OR EP'
        schema:
          type: string
          example: CN
          description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.

            Example: US OR EP'
      - name: ipc
        in: query
        required: false
        description: Patent IPC classification
        schema:
          type: string
          example: B66B11
          description: Patent IPC classification
      - name: keywords
        in: query
        required: false
        description: Searches for keywords within patent title and summary. Supports AND, OR, NOT search logic, for example "mobile phone AND (screen OR battery)".
        schema:
          type: string
          example: car
          description: Searches for keywords within patent title and summary. Supports AND, OR, NOT search logic, for example "mobile phone AND (screen OR battery)".
      - name: lang
        in: query
        required: true
        description: Select the language , the default language is en, you can choose cn or en.
        schema:
          type: string
          example: en
          description: Select the language , the default language is en, you can choose cn or en.
      - name: public_end_time
        in: query
        required: false
        description: Patent publication date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent publication date to, format:yyyy
      - name: public_start_time
        in: query
        required: false
        description: Patent publication date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent publication date from, format:yyyy
      - name: query_text
        in: query
        required: false
        description: Enter the Analytics Query, with a maximum length of 800 characters and cannot contain complex wildcards such as  $W  $PRE   $WS  $SEN  $PARA  $FREQ .etc
        schema:
          type: string
          example: 'TACD: virtual reality'
          description: Enter the Analytics Query, with a maximum length of 800 characters and cannot contain complex wildcards such as  $W  $PRE   $WS  $SEN  $PARA  $FREQ .etc
  /insights/most-asserted:
    get:
      operationId: a009InsightsMostAsserted
      summary: A009 Most Litigated Patents
      description: Identify the patents involved in the most number of litigation cases. This indicates litigation risk associated to patenting in a similar technology space. Returns the Top 10 patents by litigation count.
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a009 most litigated patents response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A009InsightsMostAssertedResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/insights/most-asserted
      parameters:
      - name: apply_end_time
        in: query
        required: false
        description: Patent apply date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent apply date to, format:yyyy
      - name: apply_start_time
        in: query
        required: false
        description: Patent apply date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent apply date from, format:yyyy
      - name: authority
        in: query
        required: false
        description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.

          Example: US OR EP'
        schema:
          type: string
          example: CN
          description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.

            Example: US OR EP'
      - name: ipc
        in: query
        required: false
        description: Patent IPC classification
        schema:
          type: string
          example: B66B11
          description: Patent IPC classification
      - name: keywords
        in: query
        required: false
        description: Searches for keywords within patent title and summary. Supports AND, OR, NOT search logic, for example "mobile phone AND (screen OR battery)".
        schema:
          type: string
          example: car
          description: Searches for keywords within patent title and summary. Supports AND, OR, NOT search logic, for example "mobile phone AND (screen OR battery)".
      - name: public_end_time
        in: query
        required: false
        description: Patent publication date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent publication date to, format:yyyy
      - name: public_start_time
        in: query
        required: false
        description: Patent publication date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent publication date from, format:yyyy
      - name: query_text
        in: query
        required: false
        description: Enter the Analytics Query, with a maximum length of 800 characters and cannot contain complex wildcards such as  $W  $PRE   $WS  $SEN  $PARA  $FREQ .etc
        schema:
          type: string
          example: 'TACD: virtual reality'
          description: Enter the Analytics Query, with a maximum length of 800 characters and cannot contain complex wildcards such as  $W  $PRE   $WS  $SEN  $PARA  $FREQ .etc
  /insights/wheel-of-innovation:
    get:
      operationId: a003InsightsWheelOfInnovation
      summary: A003 Wheel of Innovation
      description: A two-tiered view of the keywords and phrases found within records in the technology space. This can be used to influence subsequent patent searches by making you aware of the more common terms used in this technology space. It is also useful to identify terms that are commonly associated with other similar terms. The Circle Chart categorizes the most frequently occurring keywords of the most recent 5,000 publications in the technology field into a 2-tier hierarchy.
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a003 wheel of innovation response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A003InsightsWheelOfInnovationResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/insights/wheel-of-innovation
      parameters:
      - name: apply_end_time
        in: query
        required: false
        description: Patent apply date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent apply date to, format:yyyy
      - name: apply_start_time
        in: query
        required: false
        description: Patent apply date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent apply date from, format:yyyy
      - name: authority
        in: query
        required: false
        description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.

          Example: US OR EP'
        schema:
          type: string
          example: CN
          description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.

            Example: US OR EP'
      - name: ipc
        in: query
        required: false
        description: Patent IPC classification
        schema:
          type: string
          example: B66B11
          description: Patent IPC classification
      - name: keywords
        in: query
        required: false
        description: Searches for keywords within patent title and summary. Supports AND, OR, NOT search logic, for example "mobile phone AND (screen OR battery)".
        schema:
          type: string
          example: car
          description: Searches for keywords within patent title and summary. Supports AND, OR, NOT search logic, for example "mobile phone AND (screen OR battery)".
      - name: lang
        in: query
        required: true
        description: Select the language , the default language is en, you can choose cn or en.
        schema:
          type: string
          example: en
          description: Select the language , the default language is en, you can choose cn or en.
      - name: public_end_time
        in: query
        required: false
        description: Patent publication date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent publication date to, format:yyyy
      - name: public_start_time
        in: query
        required: false
        description: Patent publication date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent publication date from, format:yyyy
      - name: query_text
        in: query
        required: false
        description: Enter the Analytics Query, with a maximum length of 800 characters and cannot contain complex wildcards such as  $W  $PRE   $WS  $SEN  $PARA  $FREQ .etc
        schema:
          type: string
          example: 'TACD: virtual reality'
          description: Enter the Analytics Query, with a maximum length of 800 characters and cannot contain complex wildcards such as  $W  $PRE   $WS  $SEN  $PARA  $FREQ .etc
  /insights-company/most-cited:
    get:
      operationId: a107InsightsCompanyMostCited
      summary: A107 Most Citing Companies
      description: Understand the top organisations that are citing this company's top 10 most cited patents. This is helpful to identify the organizations that are operating closest to the company and how they have utilised the technology. A deeper dive in to the patent records can reveal how the technology has potentially been built upon and how it has evolved or been used for alternative applications. From an alternative perspective, these organizations may represent potential licensees or pose a potential litigation threat.
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a107 most citing companies response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A107InsightsCompanyMostCitedResponse'
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/insights-company/most-cited
      parameters:
      - name: company_name
        in: query
        required: false
        description: Query the name of a single enterprise
        schema:
          type: string
          example: 华为技术有限公司
          description: Query the name of a single enterprise
      - name: org_number
        in: query
        required: false
        description: This field is not supported in the current version , please search by company name
        schema:
          type: string
          example: '192203821'
          description: This field is not supported in the current version , please search by company name
      - name: credit_code
        in: query
        required: false
        description: This field is not supported in the current version , please search by company name
        schema:
          type: string
          example: '914403001922038216'
          description: This field is not supported in the current version , please search by company name
      - name: apply_start_time
        in: query
        required: false
        description: Patent apply date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent apply date from, format:yyyy
      - name: apply_end_time
        in: query
        required: false
        description: Patent apply date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent apply date to, format:yyyy
      - name: public_start_time
        in: query
        required: false
        description: Patent publication date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent publication date from, format:yyyy
      - name: public_end_time
        in: query
        required: false
        description: Patent publication date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent publication date to, format:yyyy
      - name: simple_legal_status
        in: query
        required: false
        description: Patent simple legal status<p>0-Inactive</p><p>1-Active</p><p>2-Pending</p><p>220-PCT designated stage expired</p>n<p>221-PCT designated stage</p><p>999-Undetermined</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>
        schema:
          type: string
          example: 1 OR 2
          description: Patent simple legal status<p>0-Inactive</p><p>1-Active</p><p>2-Pending</p><p>220-PCT designated stage expired</p>n<p>221-PCT designated stage</p><p>999-Undetermined</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>
      - name: patent_type
        in: query
        required: false
        description: 'Patent application type<p>A:Applications</p><p>B: Patents</p><p>U: Utility models</p><p>D: Designs</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>'
        schema:
          type: string
          example: A OR B
          description: 'Patent application type<p>A:Applications</p><p>B: Patents</p><p>U: Utility models</p><p>D: Designs</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>'
      - name: authority
        in: query
        required: false
        description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.<p>Example: US OR EP</p>'
        schema:
          type: string
          example: CN OR EP
          description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.<p>Example: US OR EP</p>'
      - name: lang
        in: query
        required: true
        description: Select the language , the default language is en, you can choose cn or en.
        schema:
          type: string
          example: en
          description: Select the language , the default language is en, you can choose cn or en.
  /insights/priority-country:
    get:
      operationId: a004InsightsPriorityCountry
      summary: A004 Top authorities of Origin
      description: This shows the authorities in which the earliest application was filed to show the geographic source of the technology. This helps users assess the innovation capability of the authority and can either indicate where a majority of organizations are based, or which authorities company want to first capitalize in. At most, the Top 200 authorities are returned. Other is the sum of all authorities outside the Top 10.
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a004 top authorities of origin response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A004InsightsPriorityCountryResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/insights/priority-country
      parameters:
      - name: apply_end_time
        in: query
        required: false
        description: Patent apply date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent apply date to, format:yyyy
      - name: apply_start_time
        in: query
        required: false
        description: Patent apply date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent apply date from, format:yyyy
      - name: authority
        in: query
        required: false
        description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.

          Example: US OR EP'
        schema:
          type: string
          example: CN
          description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.

            Example: US OR EP'
      - name: ipc
        in: query
        required: false
        description: Patent IPC classification
        schema:
          type: string
          example: B66B11
          description: Patent IPC classification
      - name: keywords
        in: query
        required: false
        description: Searches for keywords within patent title and summary. Supports AND, OR, NOT search logic, for example "mobile phone AND (screen OR battery)".
        schema:
          type: string
          example: car
          description: Searches for keywords within patent title and summary. Supports AND, OR, NOT search logic, for example "mobile phone AND (screen OR battery)".
      - name: public_end_time
        in: query
        required: false
        description: Patent publication date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent publication date to, format:yyyy
      - name: public_start_time
        in: query
        required: false
        description: Patent publication date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent publication date from, format:yyyy
      - name: query_text
        in: query
        required: false
        description: Enter the Analytics Query, with a maximum length of 800 characters and cannot contain complex wildcards such as  $W  $PRE   $WS  $SEN  $PARA  $FREQ .etc
        schema:
          type: string
          example: 'TACD: virtual reality'
          description: Enter the Analytics Query, with a maximum length of 800 characters and cannot contain complex wildcards such as  $W  $PRE   $WS  $SEN  $PARA  $FREQ .etc
  /insights-company/patent-portfolio-overview:
    get:
      operationId: a105InsightsCompanyPatentPortfolioOverview
      summary: A105 Company Patent Portfolio Overview
      description: Understand the total number of applications, and how they're broken down into simple families, PCTs and active patents (applications and issued patents).
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a105 company patent portfolio overview response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A105InsightsCompanyPatentPortfolioOverviewResponse'
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/insights-company/patent-portfolio-overview
      parameters:
      - name: company_name
        in: query
        required: false
        description: Query the name of a single enterprise
        schema:
          type: string
          example: 华为技术有限公司
          description: Query the name of a single enterprise
      - name: org_number
        in: query
        required: false
        description: This field is not supported in the current version , please search by company name
        schema:
          type: string
          example: '192203821'
          description: This field is not supported in the current version , please search by company name
      - name: credit_code
        in: query
        required: false
        description: This field is not supported in the current version , please search by company name
        schema:
          type: string
          example: '914403001922038216'
          description: This field is not supported in the current version , please search by company name
      - name: apply_start_time
        in: query
        required: false
        description: Patent apply date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent apply date from, format:yyyy
      - name: apply_end_time
        in: query
        required: false
        description: Patent apply date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent apply date to, format:yyyy
      - name: public_start_time
        in: query
        required: false
        description: Patent publication date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent publication date from, format:yyyy
      - name: public_end_time
        in: query
        required: false
        description: Patent publication date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent publication date to, format:yyyy
      - name: simple_legal_status
        in: query
        required: false
        description: Patent simple legal status<p>0-Inactive</p><p>1-Active</p><p>2-Pending</p><p>220-PCT designated stage expired</p>n<p>221-PCT designated stage</p><p>999-Undetermined</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>
        schema:
          type: string
          example: 1 OR 2
          description: Patent simple legal status<p>0-Inactive</p><p>1-Active</p><p>2-Pending</p><p>220-PCT designated stage expired</p>n<p>221-PCT designated stage</p><p>999-Undetermined</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>
      - name: patent_type
        in: query
        required: false
        description: 'Patent application type<p>A:Applications</p><p>B: Patents</p><p>U: Utility models</p><p>D: Designs</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>'
        schema:
          type: string
          example: A OR B
          description: 'Patent application type<p>A:Applications</p><p>B: Patents</p><p>U: Utility models</p><p>D: Designs</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>'
      - name: authority
        in: query
        required: false
        description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.<p>Example: US OR EP</p>'
        schema:
          type: string
          example: CN OR EP
          description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.<p>Example: US OR EP</p>'
  /insights/patent-trends:
    get:
      operationId: a001InsightsPatentTrends
      summary: A001 Application and Issued Trend (keywords & ipc Search & Query Search)
      description: Analyze the annual application trend of the technology. The results include the number of patent applications in the unit of application year, and the number & proportion of patents finally issued in the patents applied for that year. The most recent 20 years of application and issued data are returned.
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a001 application and issued trend (keywords & ipc search & query search) response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A001InsightsPatentTrendsResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/insights/patent-trends
      parameters:
      - name: apply_end_time
        in: query
        required: false
        description: Patent apply date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent apply date to, format:yyyy
      - name: apply_start_time
        in: query
        required: false
        description: Patent apply date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent apply date from, format:yyyy
      - name: authority
        in: query
        required: false
        description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.

          Example: US OR EP'
        schema:
          type: string
          example: CN
          description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.

            Example: US OR EP'
      - name: ipc
        in: query
        required: false
        description: Patent IPC classification
        schema:
          type: string
          example: B66B11
          description: Patent IPC classification
      - name: keywords
        in: query
        required: false
        description: Searches for keywords within patent title and summary. Supports AND, OR, NOT search logic, for example "mobile phone AND (screen OR battery)".
        schema:
          type: string
          example: car
          description: Searches for keywords within patent title and summary. Supports AND, OR, NOT search logic, for example "mobile phone AND (screen OR battery)".
      - name: public_end_time
        in: query
        required: false
        description: Patent publication date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent publication date to, format:yyyy
      - name: public_start_time
        in: query
        required: false
        description: Patent publication date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent publication date from, format:yyyy
      - name: query_text
        in: query
        required: false
        description: Enter the Analytics Query, with a maximum length of 800 characters and cannot contain complex wildcards such as  $W  $PRE   $WS  $SEN  $PARA  $FREQ .etc
        schema:
          type: string
          example: 'TACD: virtual reality'
          description: Enter the Analytics Query, with a maximum length of 800 characters and cannot contain complex wildcards such as  $W  $PRE   $WS  $SEN  $PARA  $FREQ .etc
  /insights-company/strategy-map:
    get:
      operationId: a102InsightsCompanyStrategyMap
      summary: A102 Company Portfolio Strategy Radar Map
      description: The Radar Map uses patent information as an indicator of portfolio strategy. The report compares various metrics of the portfolio to highlight the characteristics and the strengths. The algorithm for the Radar Map was developed in collaboration with the Entrepreneurship Centre, National University of Singapore.
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a102 company portfolio strategy radar map response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A102InsightsCompanyStrategyMapResponse'
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/insights-company/strategy-map
      parameters:
      - name: company_name
        in: query
        required: false
        description: Query the name of a single enterprise
        schema:
          type: string
          example: 华为技术有限公司
          description: Query the name of a single enterprise
      - name: org_number
        in: query
        required: false
        description: This field is not supported in the current version , please search by company name
        schema:
          type: string
          example: '192203821'
          description: This field is not supported in the current version , please search by company name
      - name: credit_code
        in: query
        required: false
        description: This field is not supported in the current version , please search by company name
        schema:
          type: string
          example: '914403001922038216'
          description: This field is not supported in the current version , please search by company name
      - name: apply_start_time
        in: query
        required: false
        description: Patent apply date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent apply date from, format:yyyy
      - name: apply_end_time
        in: query
        required: false
        description: Patent apply date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent apply date to, format:yyyy
      - name: public_start_time
        in: query
        required: false
        description: Patent publication date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent publication date from, format:yyyy
      - name: public_end_time
        in: query
        required: false
        description: Patent publication date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent publication date to, format:yyyy
      - name: simple_legal_status
        in: query
        required: false
        description: Patent simple legal status<p>0-Inactive</p><p>1-Active</p><p>2-Pending</p><p>220-PCT designated stage expired</p>n<p>221-PCT designated stage</p><p>999-Undetermined</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>
        schema:
          type: string
          example: 1 OR 2
          description: Patent simple legal status<p>0-Inactive</p><p>1-Active</p><p>2-Pending</p><p>220-PCT designated stage expired</p>n<p>221-PCT designated stage</p><p>999-Undetermined</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>
      - name: patent_type
        in: query
        required: false
        description: 'Patent application type<p>A:Applications</p><p>B: Patents</p><p>U: Utility models</p><p>D: Designs</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>'
        schema:
          type: string
          example: A OR B
          description: 'Patent application type<p>A:Applications</p><p>B: Patents</p><p>U: Utility models</p><p>D: Designs</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>'
      - name: authority
        in: query
        required: false
        description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.<p>Example: US OR EP</p>'
        schema:
          type: string
          example: CN OR EP
          description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.<p>Example: US OR EP</p>'
      - name: lang
        in: query
        required: true
        description: Select the language , the default language is en, you can choose cn or en.
        schema:
          type: string
          example: en
          description: Select the language , the default language is en, you can choose cn or en.
  /insights-company/acquisition-divestiture:
    get:
      operationId: a110InsightsCompanyAcquisitionDivestiture
      summary: A110 Company Patent Transfer In or Transfer Out
      description: Understand which organizations have most frequently transferred patent ownership to this company and which patents have been transferred.<p>Understand which organisations the company has most frequently transferred patent ownership to and which patents have been involved. This may indicate technology areas this company is no longer targeting or investing research and development resources towards.</p>
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a110 company patent transfer in or transfer out response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A110InsightsCompanyAcquisitionDivestitureResponse'
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/insights-company/acquisition-divestiture
      parameters:
      - name: company_name
        in: query
        required: false
        description: Query the name of a single enterprise
        schema:
          type: string
          example: 华为技术有限公司
          description: Query the name of a single enterprise
      - name: org_number
        in: query
        required: false
        description: This field is not supported in the current version , please search by company name
        schema:
          type: string
          example: '192203821'
          description: This field is not supported in the current version , please search by company name
      - name: credit_code
        in: query
        required: false
        description: This field is not supported in the current version , please search by company name
        schema:
          type: string
          example: '914403001922038216'
          description: This field is not supported in the current version , please search by company name
      - name: apply_start_time
        in: query
        required: false
        description: Patent apply date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent apply date from, format:yyyy
      - name: apply_end_time
        in: query
        required: false
        description: Patent apply date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent apply date to, format:yyyy
      - name: public_start_time
        in: query
        required: false
        description: Patent publication date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent publication date from, format:yyyy
      - name: public_end_time
        in: query
        required: false
        description: Patent publication date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent publication date to, format:yyyy
      - name: simple_legal_status
        in: query
        required: false
        description: Patent simple legal status<p>0-Inactive</p><p>1-Active</p><p>2-Pending</p><p>220-PCT designated stage expired</p>n<p>221-PCT designated stage</p><p>999-Undetermined</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>
        schema:
          type: string
          example: 1 OR 2
          description: Patent simple legal status<p>0-Inactive</p><p>1-Active</p><p>2-Pending</p><p>220-PCT designated stage expired</p>n<p>221-PCT designated stage</p><p>999-Undetermined</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>
      - name: patent_type
        in: query
        required: false
        description: 'Patent application type<p>A:Applications</p><p>B: Patents</p><p>U: Utility models</p><p>D: Designs</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>'
        schema:
          type: string
          example: A OR B
          description: 'Patent application type<p>A:Applications</p><p>B: Patents</p><p>U: Utility models</p><p>D: Designs</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>'
      - name: authority
        in: query
        required: false
        description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.<p>Example: US OR EP</p>'
        schema:
          type: string
          example: CN OR EP
          description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.<p>Example: US OR EP</p>'
      - name: lang
        in: query
        required: true
        description: Select the language , the default language is en, you can choose cn or en.
        schema:
          type: string
          example: en
          description: Select the language , the default language is en, you can choose cn or en.
  /insights-company/word-cloud:
    get:
      operationId: a101InsightsCompanyWordCloud
      summary: A101 Company Innovation Word Cloud
      description: Understand the top keywords and phrases found in the latest 5000 publications in the company's portfolio.This is helpful to provide a snapshot view of the language used by the company in their filings. Returns up to the top 100 keywords.
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a101 company innovation word cloud response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A101InsightsCompanyWordCloudResponse'
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/insights-company/word-cloud
      parameters:
      - name: company_name
        in: query
        required: false
        description: Query the name of a single enterprise
        schema:
          type: string
          example: 华为技术有限公司
          description: Query the name of a single enterprise
      - name: org_number
        in: query
        required: false
        description: This field is not supported in the current version , please search by company name
        schema:
          type: string
          example: '192203821'
          description: This field is not supported in the current version , please search by company name
      - name: credit_code
        in: query
        required: false
        description: This field is not supported in the current version , please search by company name
        schema:
          type: string
          example: '914403001922038216'
          description: This field is not supported in the current version , please search by company name
      - name: apply_start_time
        in: query
        required: false
        description: Patent apply date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent apply date from, format:yyyy
      - name: apply_end_time
        in: query
        required: false
        description: Patent apply date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent apply date to, format:yyyy
      - name: public_start_time
        in: query
        required: false
        description: Patent publication date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent publication date from, format:yyyy
      - name: public_end_time
        in: query
        required: false
        description: Patent publication date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent publication date to, format:yyyy
      - name: simple_legal_status
        in: query
        required: false
        description: Patent simple legal status<p>0-Inactive</p><p>1-Active</p><p>2-Pending</p><p>220-PCT designated stage expired</p>n<p>221-PCT designated stage</p><p>999-Undetermined</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>
        schema:
          type: string
          example: 1 OR 2
          description: Patent simple legal status<p>0-Inactive</p><p>1-Active</p><p>2-Pending</p><p>220-PCT designated stage expired</p>n<p>221-PCT designated stage</p><p>999-Undetermined</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>
      - name: patent_type
        in: query
        required: false
        description: 'Patent application type<p>A:Applications</p><p>B: Patents</p><p>U: Utility models</p><p>D: Designs</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>'
        schema:
          type: string
          example: A OR B
          description: 'Patent application type<p>A:Applications</p><p>B: Patents</p><p>U: Utility models</p><p>D: Designs</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>'
      - name: authority
        in: query
        required: false
        description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.<p>Example: US OR EP</p>'
        schema:
          type: string
          example: CN OR EP
          description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.<p>Example: US OR EP</p>'
      - name: lang
        in: query
        required: true
        description: Select the language , the default language is en, you can choose cn or en.
        schema:
          type: string
          example: en
          description: Select the language , the default language is en, you can choose cn or en.
  /insights/inventor-ranking:
    get:
      operationId: a006InsightsInventorRanking
      summary: A006 Top Inventors
      description: The graph shows the top inventors in the technology field. This information is useful for evaluating the work of top performers in a specific technology field or for recruiting inventors. Returns up to the top 10 inventors.
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a006 top inventors response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A006InsightsInventorRankingResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/insights/inventor-ranking
      parameters:
      - name: apply_end_time
        in: query
        required: false
        description: Patent apply date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent apply date to, format:yyyy
      - name: apply_start_time
        in: query
        required: false
        description: Patent apply date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent apply date from, format:yyyy
      - name: authority
        in: query
        required: false
        description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.

          Example: US OR EP'
        schema:
          type: string
          example: CN
          description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.

            Example: US OR EP'
      - name: ipc
        in: query
        required: false
        description: Patent IPC classification
        schema:
          type: string
          example: B66B11
          description: Patent IPC classification
      - name: keywords
        in: query
        required: false
        description: Searches for keywords within patent title and summary. Supports AND, OR, NOT search logic, for example "mobile phone AND (screen OR battery)".
        schema:
          type: string
          example: car
          description: Searches for keywords within patent title and summary. Supports AND, OR, NOT search logic, for example "mobile phone AND (screen OR battery)".
      - name: public_end_time
        in: query
        required: false
        description: Patent publication date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent publication date to, format:yyyy
      - name: public_start_time
        in: query
        required: false
        description: Patent publication date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent publication date from, format:yyyy
      - name: query_text
        in: query
        required: false
        description: Enter the Analytics Query, with a maximum length of 800 characters and cannot contain complex wildcards such as  $W  $PRE   $WS  $SEN  $PARA  $FREQ .etc
        schema:
          type: string
          example: 'TACD: virtual reality'
          description: Enter the Analytics Query, with a maximum length of 800 characters and cannot contain complex wildcards such as  $W  $PRE   $WS  $SEN  $PARA  $FREQ .etc
  /insights/simple-legal-status:
    get:
      operationId: a008InsightsSimpleLegalStatus
      summary: A008 Simple Legal Status
      description: Simple legal status breakdown of the technology field. This tells you the proportion of patents in the technology space that are in effect, or no longer active, which you can then use to filter by.
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a008 simple legal status response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A008InsightsSimpleLegalStatusResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/insights/simple-legal-status
      parameters:
      - name: apply_end_time
        in: query
        required: false
        description: Patent apply date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent apply date to, format:yyyy
      - name: apply_start_time
        in: query
        required: false
        description: Patent apply date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent apply date from, format:yyyy
      - name: authority
        in: query
        required: false
        description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.

          Example: US OR EP'
        schema:
          type: string
          example: CN
          description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.

            Example: US OR EP'
      - name: ipc
        in: query
        required: false
        description: Patent IPC classification
        schema:
          type: string
          example: B66B11
          description: Patent IPC classification
      - name: keywords
        in: query
        required: false
        description: Searches for keywords within patent title and summary. Supports AND, OR, NOT search logic, for example "mobile phone AND (screen OR battery)".
        schema:
          type: string
          example: car
          description: Searches for keywords within patent title and summary. Supports AND, OR, NOT search logic, for example "mobile phone AND (screen OR battery)".
      - name: public_end_time
        in: query
        required: false
        description: Patent publication date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent publication date to, format:yyyy
      - name: public_start_time
        in: query
        required: false
        description: Patent publication date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent publication date from, format:yyyy
      - name: query_text
        in: query
        required: false
        description: Enter the Analytics Query, with a maximum length of 800 characters and cannot contain complex wildcards such as  $W  $PRE   $WS  $SEN  $PARA  $FREQ .etc
        schema:
          type: string
          example: 'TACD: virtual reality'
          description: Enter the Analytics Query, with a maximum length of 800 characters and cannot contain complex wildcards such as  $W  $PRE   $WS  $SEN  $PARA  $FREQ .etc
  /insights/word-cloud:
    get:
      operationId: a002InsightsWordCloud
      summary: A002 Innovation Word Cloud （keywords & ipc Search）
      description: A snapshot view of the keywords and phrases found within records in the technology space. This can be used to influence subsequent patent searches by making you aware of the more common terms used in this technology space.The Word Cloud displays the most frequently occurring keywords of the most recent 5,000 publications in the technology field. Returns up to the top 100 keywords.
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a002 innovation word cloud （keywords & ipc search） response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A002InsightsWordCloudResponse'
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/insights/word-cloud
      parameters:
      - name: keywords
        in: query
        required: false
        description: Searches for keywords within patent title and summary. Supports AND, OR, NOT search logic, for example "mobile phone AND (screen OR battery)".
        schema:
          type: string
          example: car
          description: Searches for keywords within patent title and summary. Supports AND, OR, NOT search logic, for example "mobile phone AND (screen OR battery)".
      - name: ipc
        in: query
        required: false
        description: Patent IPC classification
        schema:
          type: string
          example: B66B11
          description: Patent IPC classification
      - name: apply_start_time
        in: query
        required: false
        description: Patent apply date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent apply date from, format:yyyy
      - name: apply_end_time
        in: query
        required: false
        description: Patent apply date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent apply date to, format:yyyy
      - name: public_start_time
        in: query
        required: false
        description: Patent publication date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent publication date from, format:yyyy
      - name: public_end_time
        in: query
        required: false
        description: Patent publication date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent publication date to, format:yyyy
      - name: authority
        in: query
        required: false
        description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.

          Example: US OR EP'
        schema:
          type: string
          example: CN
          description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.

            Example: US OR EP'
      - name: lang
        in: query
        required: true
        description: Select the language , the default language is en, you can choose cn or en.
        schema:
          type: string
          example: en
          description: Select the language , the default language is en, you can choose cn or en.
  /insights/most-cited:
    get:
      operationId: a005InsightsMostCited
      summary: A005 Most Cited Patents
      description: View the top records that have been cited most frequently by other records to understand which records are more prolific and have had their technology built upon by others. These patents are likely to be more influential and may represent the core, innovative technology of the organization it represents. Returns at most Top 10 patent information.
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a005 most cited patents response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A005InsightsMostCitedResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/insights/most-cited
      parameters:
      - name: apply_end_time
        in: query
        required: false
        description: Patent apply date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent apply date to, format:yyyy
      - name: apply_start_time
        in: query
        required: false
        description: Patent apply date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent apply date from, format:yyyy
      - name: authority
        in: query
        required: false
        description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.

          Example: US OR EP'
        schema:
          type: string
          example: CN
          description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.

            Example: US OR EP'
      - name: ipc
        in: query
        required: false
        description: Patent IPC classification
        schema:
          type: string
          example: B66B11
          description: Patent IPC classification
      - name: keywords
        in: query
        required: false
        description: Searches for keywords within patent title and summary. Supports AND, OR, NOT search logic, for example "mobile phone AND (screen OR battery)".
        schema:
          type: string
          example: car
          description: Searches for keywords within patent title and summary. Supports AND, OR, NOT search logic, for example "mobile phone AND (screen OR battery)".
      - name: public_end_time
        in: query
        required: false
        description: Patent publication date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent publication date to, format:yyyy
      - name: public_start_time
        in: query
        required: false
        description: Patent publication date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent publication date from, format:yyyy
      - name: query_text
        in: query
        required: false
        description: Enter the Analytics Query, with a maximum length of 800 characters and cannot contain complex wildcards such as  $W  $PRE   $WS  $SEN  $PARA  $FREQ .etc
        schema:
          type: string
          example: 'TACD: virtual reality'
          description: Enter the Analytics Query, with a maximum length of 800 characters and cannot contain complex wildcards such as  $W  $PRE   $WS  $SEN  $PARA  $FREQ .etc
  /insights-company/largest-patent-family:
    get:
      operationId: a108InsightsCompanyLargestPatentFamily
      summary: A108 Company Largest Invention Families
      description: Identify the patent families in the company's portfolio that have the furthest reach of either global coverage, divisional counterparts, and continuations. Pinpoint the most successful inventions that have received a large amount of resources for increased level of coverage (either by expanding the technical coverage or geographical reach).Returns the top 20 patents by default.
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a108 company largest invention families response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A108InsightsCompanyLargestPatentFamilyResponse'
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/insights-company/largest-patent-family
      parameters:
      - name: company_name
        in: query
        required: false
        description: Query the name of a single enterprise
        schema:
          type: string
          example: 华为技术有限公司
          description: Query the name of a single enterprise
      - name: org_number
        in: query
        required: false
        description: This field is not supported in the current version , please search by company name
        schema:
          type: string
          example: '192203821'
          description: This field is not supported in the current version , please search by company name
      - name: credit_code
        in: query
        required: false
        description: This field is not supported in the current version , please search by company name
        schema:
          type: string
          example: '914403001922038216'
          description: This field is not supported in the current version , please search by company name
      - name: apply_start_time
        in: query
        required: false
        description: Patent apply date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent apply date from, format:yyyy
      - name: apply_end_time
        in: query
        required: false
        description: Patent apply date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent apply date to, format:yyyy
      - name: public_start_time
        in: query
        required: false
        description: Patent publication date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent publication date from, format:yyyy
      - name: public_end_time
        in: query
        required: false
        description: Patent publication date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent publication date to, format:yyyy
      - name: simple_legal_status
        in: query
        required: false
        description: Patent simple legal status<p>0-Inactive</p><p>1-Active</p><p>2-Pending</p><p>220-PCT designated stage expired</p>n<p>221-PCT designated stage</p><p>999-Undetermined</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>
        schema:
          type: string
          example: 1 OR 2
          description: Patent simple legal status<p>0-Inactive</p><p>1-Active</p><p>2-Pending</p><p>220-PCT designated stage expired</p>n<p>221-PCT designated stage</p><p>999-Undetermined</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>
      - name: patent_type
        in: query
        required: false
        description: 'Patent application type<p>A:Applications</p><p>B: Patents</p><p>U: Utility models</p><p>D: Designs</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>'
        schema:
          type: string
          example: A OR B
          description: 'Patent application type<p>A:Applications</p><p>B: Patents</p><p>U: Utility models</p><p>D: Designs</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>'
      - name: authority
        in: query
        required: false
        description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.<p>Example: US OR EP</p>'
        schema:
          type: string
          example: CN OR EP
          description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.<p>Example: US OR EP</p>'
      - name: lang
        in: query
        required: true
        description: Select the language , the default language is en, you can choose cn or en.
        schema:
          type: string
          example: en
          description: Select the language , the default language is en, you can choose cn or en.
  /insights-company/key-technology-overview:
    get:
      operationId: a103InsightsCompanyKeyTechnologyOverview
      summary: A103 Company Key Technologies
      description: This report is helpful for determining the organisations' top competencies and to understand which technology areas they have invested in. Assess whether the company is focusing on one broad technology or if they have a diverse portfolio across a number of different technologies. Returns up to the top 10 technology areas.
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a103 company key technologies response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A103InsightsCompanyKeyTechnologyOverviewResponse'
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/insights-company/key-technology-overview
      parameters:
      - name: company_name
        in: query
        required: false
        description: Query the name of a single enterprise
        schema:
          type: string
          example: 华为技术有限公司
          description: Query the name of a single enterprise
      - name: org_number
        in: query
        required: false
        description: This field is not supported in the current version , please search by company name
        schema:
          type: string
          example: '192203821'
          description: This field is not supported in the current version , please search by company name
      - name: credit_code
        in: query
        required: false
        description: This field is not supported in the current version , please search by company name
        schema:
          type: string
          example: '914403001922038216'
          description: This field is not supported in the current version , please search by company name
      - name: apply_start_time
        in: query
        required: false
        description: Patent apply date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent apply date from, format:yyyy
      - name: apply_end_time
        in: query
        required: false
        description: Patent apply date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent apply date to, format:yyyy
      - name: public_start_time
        in: query
        required: false
        description: Patent publication date from, format:yyyy
        schema:
          type: string
          example: '2010'
          description: Patent publication date from, format:yyyy
      - name: public_end_time
        in: query
        required: false
        description: Patent publication date to, format:yyyy
        schema:
          type: string
          example: '2020'
          description: Patent publication date to, format:yyyy
      - name: simple_legal_status
        in: query
        required: false
        description: Patent simple legal status<p>0-Inactive</p><p>1-Active</p><p>2-Pending</p><p>220-PCT designated stage expired</p>n<p>221-PCT designated stage</p><p>999-Undetermined</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>
        schema:
          type: string
          example: 1 OR 2
          description: Patent simple legal status<p>0-Inactive</p><p>1-Active</p><p>2-Pending</p><p>220-PCT designated stage expired</p>n<p>221-PCT designated stage</p><p>999-Undetermined</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>
      - name: patent_type
        in: query
        required: false
        description: 'Patent application type<p>A:Applications</p><p>B: Patents</p><p>U: Utility models</p><p>D: Designs</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>'
        schema:
          type: string
          example: A OR B
          description: 'Patent application type<p>A:Applications</p><p>B: Patents</p><p>U: Utility models</p><p>D: Designs</p><p>Multiple options can be selected, and multiple content items can be spliced with OR (there is a space between parameter and OR)</p>'
      - name: authority
        in: query
        required: false
        description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.<p>Example: US OR EP</p>'
        schema:
          type: string
          example: CN OR EP
          description: 'Select the authority of the patent, the default query all databases, eg CN、US、EP、JP. To find more information, refer to https://analytics.zhihuiya.com/status.<p>Example: US OR EP</p>'
      - name: lang
        in: query
        required: true
        description: Select the language , the default language is en, you can choose cn or en.
        schema:
          type: string
          example: en
          description: Select the language , the default language is en, you can choose cn or en.
  /search/company/technology-effect-Distribution:
    post:
      operationId: a201CompanyTechnologyEffectDistribution
      summary: A201 Distribution of Technical Effects
      description: 'This interface allows users to query the technological effects and focused research directions of a company by entering the company''s name. Includes: efficacy phrase, number of patents covered by efficacy phrase, number of patents/year'
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a201 distribution of technical effects response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A201CompanyTechnologyEffectDistributionResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/company/technology-effect-Distribution
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/A201CompanyTechnologyEffectDistributionRequest'
  /search/company/technology-field-word-cloud:
    post:
      operationId: a202CompanyTechnologyFieldWordCloud
      summary: A202 Technology Field Word Cloud
      description: Quickly understand the concentrated technologies and product R&D of the enterprise. The word cloud extracts the technical fields of all patents held by the enterprise as a patent owner, sorted by the number of patents covered in each technical field, returning the top 100 technical field terms at most.
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a202 technology field word cloud response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A202CompanyTechnologyFieldWordCloudResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/company/technology-field-word-cloud
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/A202CompanyTechnologyFieldWordCloudRequest'
  /insights/technology-effect-Distribution:
    post:
      operationId: a012InsightsTechnologyEffectDistribution
      summary: A012 Distribution of technical efficacy phrases
      description: 'By inputting the search formula, query the technical effects of the search formula and the focused technical research directions. It includes: functional phrases, the number of patents covered by the functional phrases, and the number of patents per year (the year of patent application, the number of patents).'
      tags:
      - Technology Key Report
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful a012 distribution of technical efficacy phrases response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A012InsightsTechnologyEffectDistributionResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/insights/technology-effect-Distribution
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/A012InsightsTechnologyEffectDistributionRequest'
components:
  schemas:
    A002InsightsWordCloudResponse:
      type: object
      properties:
        data:
          type: array
          example: no sample
          description: response data
          items:
            $ref: '#/components/schemas/A002InsightsWordCloud_WordCloudResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    A105InsightsCompanyPatentPortfolioOverview_PortfolioOverviewResponse:
      type: object
      properties:
        pct_application:
          type: integer
          format: int32
          example: 32
          description: PCT Application(s)
        total_application:
          type: integer
          format: int32
          example: 1000
          description: Total Application(s)
        currently_active_patents:
          type: integer
          format: int32
          example: 12
          description: Current Active Patent(s)
        multilateral_application:
          type: integer
          format: int32
          example: 100
          description: Multi-Authority application(s)
    A201CompanyTechnologyEffectDistribution_NameCount:
      type: object
      properties:
        count:
          type: integer
          format: int32
          example: 4115
          description: number of patents covered by efficacy phrases
        pbt_year:
          type: integer
          format: int32
          example: 2015
          description: patent application year
    A109InsightsCompanySimpleLegalStatus_SimpleLegalStatusResponse:
      type: object
      properties:
        count:
          type: integer
          format: int32
          example: 20
          description: Patents
        percentage:
          type: number
          format: double
          example: 0.1777
          description: Percentage
        simple_legal_status:
          type: string
          example: 1
          description: 'simple legal status.


            0-Inactive


            1-Active


            2-Pending


            999-Undetermined


[...]
