openapi: 3.2.0
info:
  title: Patsnap Open Platform AI Translation Chemical and Bio Data API
  version: 1.0.0
  description: OpenAPI specification for Patsnap Open Platform APIs, including patent search, analytics, and Eureka AI capabilities.
servers:
- url: https://connect.patsnap.com
  description: Patsnap Open Platform API gateway
tags:
- name: Chemical and Bio Data
  description: Chemical and Bio Data APIs.
paths:
  /eurekals/open/ocsr/task/submit:
    post:
      operationId: b067-1TaskSubmit
      summary: B067-1 Submit OCSR Task
      description: Only supports PDF file upload (max 15MB) and image (jpg,png,jepg) upload, recognize chemical structure in the document
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful b067-1 submit ocsr task response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B067-1TaskSubmitResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/eurekals/open/ocsr/task/submit
      parameters:
      - name: X-PatSnap-From
        in: header
        required: true
        description: 请求来源
        schema:
          type: string
          example: swagger-ui
          description: 请求来源
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/B067-1TaskSubmitRequest'
  /eurekals/open/ocsr/task:
    get:
      operationId: b067-2OcsrTask
      summary: B067-2 Get OCSR Task Status And Results
      description: Query OCSR task execution status and results by task ID
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful b067-2 get ocsr task status and results response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B067-2OcsrTaskResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/eurekals/open/ocsr/task
      parameters:
      - name: task_id
        in: query
        required: true
        description: Task ID
        schema:
          type: string
          example: 4d45db3044545336319d0d4424641d7f
          description: Task ID
      - name: X-PatSnap-From
        in: header
        required: true
        description: 请求来源
        schema:
          type: string
          example: swagger-ui
          description: 请求来源
  /eureka/material/docAnalyzer/getExtractMaterial:
    post:
      operationId: b068-2DocanalyzerGetextractmaterial
      summary: B068-2 Query the triplet task results.
      description: Retrieve extracted triplet results using jobId
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful b068-2 query the triplet task results. response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B068-2DocanalyzerGetextractmaterialResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/eureka/material/docAnalyzer/getExtractMaterial
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/B068-2DocanalyzerGetextractmaterialRequest'
  /eureka/material/docAnalyzer/submitPDF:
    post:
      operationId: b068-1DocanalyzerSubmitpdf
      summary: B068-1 Create a triplet recognition task
      description: After uploading the document, a jobId will be generated. Use the jobId to retrieve the extracted triplet results.
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful b068-1 create a triplet recognition task response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B068-1DocanalyzerSubmitpdfResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/eureka/material/docAnalyzer/submitPDF
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/B068-1DocanalyzerSubmitpdfRequest'
  /chemical-openapi/compound:
    post:
      operationId: b001ChemicalOpenapiCompound
      summary: B001 Chemical Structure Search
      description: Search chemical structures base on key information (structure name, formula, InChIKey, SMILES, search type), return number of structures, InchiKey, similarity, number of patents and literature related to each structure.
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful b001 chemical structure search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B001ChemicalOpenapiCompoundResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/chemical-openapi/compound
      requestBody:
        required: true
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/B001ChemicalOpenapiCompoundRequest'
  /bio-openapi/sequence/job/result:
    post:
      operationId: b0034JobResult
      summary: '[B003/4-1]Get Sequence Search Results'
      description: Get Sequence Search Results By Job ID.
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful [b003/4-1]get sequence search results response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B0034JobResultResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/bio-openapi/sequence/job/result
      requestBody:
        required: true
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/B0034JobResultRequest'
  /bio-openapi/sequence/motif/job:
    post:
      operationId: b003MotifJob
      summary: B003 Motif Sequence Search
      description: Search sequences with motif expression.
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful b003 motif sequence search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B003MotifJobResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/bio-openapi/sequence/motif/job
      requestBody:
        required: true
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/B003MotifJobRequest'
  /chemical-openapi/compound/patents:
    get:
      operationId: b002CompoundPatents
      summary: B002 Patent search for individual chemical structures
      description: Get all patents of single chemical structure by InchiKey.<p> Patent bibliography data can be obtained by calling [P012]Biblio API using the returned patent ID.</p>
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful b002 patent search for individual chemical structures response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B002CompoundPatentsResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/chemical-openapi/compound/patents
      parameters:
      - name: inchi_key
        in: query
        required: true
        description: Structure InchiKey
        schema:
          type: string
          example: BSYNRYMUTXBXSQ-UHFFFAOYSA-N
          description: Structure InchiKey
      - name: page
        in: query
        required: true
        description: Page number. Current page number, start from 1.
        schema:
          type: integer
          format: int32
          example: '1'
          description: Page number. Current page number, start from 1.
      - name: rows
        in: query
        required: true
        description: Page Size. Current page result size, support maximum 100.
        schema:
          type: integer
          format: int32
          example: '10'
          description: Page Size. Current page result size, support maximum 100.
  /bio-openapi/sequence/job:
    post:
      operationId: b004SequenceJob
      summary: B004 Normal Sequence Search
      description: Search sequences with key information.
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful b004 normal sequence search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B004SequenceJobResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/bio-openapi/sequence/job
      requestBody:
        required: true
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/B004SequenceJobRequest'
  /chemical-openapi/compound/detail:
    get:
      operationId: b014CompoundDetail
      summary: B014 Chemical Structure Details
      description: Get chemical structures details by InchiKey
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful b014 chemical structure details response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B014CompoundDetailResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/chemical-openapi/compound/detail
      parameters:
      - name: inchi_key
        in: query
        required: true
        description: Structure InchiKey
        schema:
          type: string
          example: BSYNRYMUTXBXSQ-UHFFFAOYSA-N
          description: Structure InchiKey
  /bio-openapi/sequence/patent:
    post:
      operationId: b005SequencePatent
      summary: B005 Single Sequence All Patent List
      description: Get all patents of single sequence by seq_id.
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful b005 single sequence all patent list response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B005SequencePatentResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/bio-openapi/sequence/patent
      requestBody:
        required: true
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/B005SequencePatentRequest'
  /bio-openapi/sequence/job/status:
    get:
      operationId: b0034JobStatus
      summary: '[B003/4-0]Backend Search Job Status'
      description: Check Backend Search Job Status.
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful [b003/4-0]backend search job status response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B0034JobStatusResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/bio-openapi/sequence/job/status
      parameters:
      - name: job_id
        in: query
        required: true
        description: ID of the search job in backend, use this ID for subsequent API calls
        schema:
          type: string
          example: 953a406a18d84dc8b13f0b923e406a43
          description: ID of the search job in backend, use this ID for subsequent API calls
  /bio-openapi/patent/extract/multi:
    post:
      operationId: b063ExtractMulti
      summary: B063 Extract Multiple Patent Sequence
      description: Extract all sequences from a single patent and provide the total count, sequence numbers, sequence codes, and sequence details. Present the information in a paginated format.
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful b063 extract multiple patent sequence response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B063ExtractMultiResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/bio-openapi/patent/extract/multi
      requestBody:
        required: true
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/B063ExtractMultiRequest'
  /bio-openapi/patent/extract/single:
    post:
      operationId: b062ExtractSingle
      summary: B062 Extract Single Patent Sequence
      description: Extract all sequences from a single patent and provide the total count, sequence numbers, sequence codes, and sequence details. Present the information in a paginated format.
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful b062 extract single patent sequence response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B062ExtractSingleResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/bio-openapi/patent/extract/single
      requestBody:
        required: true
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/B062ExtractSingleRequest'
  /bio/sequence/info:
    post:
      operationId: b016SequenceInfo
      summary: B016 Sequence Infomation
      description: This interface provides Sequence information, including Sequence ID, sequence, sequence length, sequence type (nucleotide or protein), SEQ ID NO, sequence claim position, species
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful b016 sequence infomation response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B016SequenceInfoResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/bio/sequence/info
      parameters:
      - name: sequence_id
        in: query
        required: false
        description: sequence_id
        schema:
          type: integer
          format: int64
          example: '524284411'
          description: sequence_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/B016SequenceInfoRequest'
  /synapse/patent/chemical/getSingleData:
    post:
      operationId: b071ChemicalGetsingledata
      summary: B071 Extract chemical structures from a single patent
      description: Extract chemical structures (compounds) mentioned in a single patent and their related information through patent ID, including compound names, InChI Keys, SMILES, molecular weights, mention counts in different sections, etc.
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful b071 extract chemical structures from a single patent response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B071ChemicalGetsingledataResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/synapse/patent/chemical/getSingleData
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/B071ChemicalGetsingledataRequest'
  /synapse/patent/chemical/submitTask:
    post:
      operationId: b072-1ChemicalSubmittask
      summary: B072-1 Extract chemical structures from multiple patents-create
      description: Submit a chemical structure search task based on patent IDs or patent numbers, source, molecular weight range, etc., and return a task ID for querying results later
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful b072-1 extract chemical structures from multiple patents-create response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B072-1ChemicalSubmittaskResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/synapse/patent/chemical/submitTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/B072-1ChemicalSubmittaskRequest'
  /synapse/patent/chemical/getTaskResult:
    get:
      operationId: b072-2ChemicalGettaskresult
      summary: B072-2 Extract chemical structures from multiple patents-query
      description: Query the execution result of a chemical structure search task by task ID, returning a list of compounds and their detailed information, including InChI, SMILES, molecular weight, synonyms, patent count, paper count, etc.
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful b072-2 extract chemical structures from multiple patents-query response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B072-2ChemicalGettaskresultResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/synapse/patent/chemical/getTaskResult
      parameters:
      - name: task_id
        in: query
        required: true
        description: taskId
        schema:
          type: string
          example: 27d6e66b503549ce92842cfdb3345349
          description: taskId
  /synapse/drug/compound-physicochemical-props:
    get:
      operationId: b015DrugCompoundPhysicochemicalProps
      summary: B015 Compound Physicochemical Properties
      description: Retrieve physicochemical properties of a single chemical structure (such as molecular weight, compound lipophilicity parameter, number of hydrogen bond donors, Topological Polar Surface Area (TPSA), isotopic mass, acidity/basicity, etc.) by inputting Structure ID, InChIKey, or SMILES (returns based on physicochemical properties displayed on the product side)
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful b015 compound physicochemical properties response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B015DrugCompoundPhysicochemicalPropsResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/synapse/drug/compound-physicochemical-props
      parameters:
      - name: inchi_key
        in: query
        required: true
        description: Chemical Structure InChIKey
        schema:
          type: string
          example: BSYNRYMUTXBXSQ-UHFFFAOYSA-N
          description: Chemical Structure InChIKey
  /synapse/chemical/paper/search:
    post:
      operationId: b042PaperSearch
      summary: B042 Single Chemical Structure Literature Search
      description: Search related papers through InChI Key ID, including title, abstract, author, institution, publication, publication date, etc.
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful b042 single chemical structure literature search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B042PaperSearchResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/synapse/chemical/paper/search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/B042PaperSearchRequest'
  /chemical-business/keyword/search:
    post:
      operationId: b073KeywordSearch
      summary: B073 Compound Keyword Search
      description: Search compound info by keyword, returns InChI Key, SMILES, compound name and structure image. Supports CAS number, generic name (Chinese, Japanese, English), synonym, abbreviation, molecular formula, SMILES, InChI Key.
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful b073 compound keyword search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B073KeywordSearchResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/chemical-business/keyword/search
      parameters:
      - name: keyword
        in: query
        required: true
        description: Compound keyword, supports CAS number, generic name (Chinese, Japanese, English), synonym, abbreviation, molecular formula, SMILES, InChI Key
        schema:
          type: string
          example: SIMVASTATIN
          description: Compound keyword, supports CAS number, generic name (Chinese, Japanese, English), synonym, abbreviation, molecular formula, SMILES, InChI Key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/B073KeywordSearchRequest'
  /synapse/chemical/reaction/route:
    post:
      operationId: b075ReactionRoute
      summary: B075 Compound reaction routes
      description: Query patent reaction routes by compound InChI Key, returning reactants, products, and SMILES grouped by patent numbers.
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful b075 compound reaction routes response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B075ReactionRouteResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/synapse/chemical/reaction/route
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/B075ReactionRouteRequest'
  /ocsr_wrapper/v1/ocsr:
    post:
      operationId: b076V1Ocsr
      summary: B076 Hiro-OCSR
      description: Upload one or more images to recognize chemical structures, returning the SMILES and structure classification for each image in input order.
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful b076 hiro-ocsr response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B076V1OcsrResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/ocsr_wrapper/v1/ocsr
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/B076V1OcsrRequest'
  /chat/pcc-molecule-task:
    post:
      operationId: b068-1ChatPccMoleculeTask
      summary: B068-1 PCC Molecule Structure Prediction-Create Task
      description: 'This interface is used to create a PCC molecule structure prediction task. Input a patent number and receive a job ID. Usage flow: first call this interface to get jobId, then use the jobId to call the result interface.'
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful b068-1 pcc molecule structure prediction-create task response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B068-1ChatPccMoleculeTaskResponse'
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/chat/pcc-molecule-task
      requestBody:
        required: true
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/B068-1ChatPccMoleculeTaskRequest'
  /chat/pcc-molecule-result:
    post:
      operationId: b068-2ChatPccMoleculeResult
      summary: B068-2 PCC Molecule Structure Prediction-Get Result
      description: This interface is used to get the result of a PCC molecule structure prediction task. Input a job ID and receive the optimal molecule recommendation list and Markush structure. When the task status is completed, the extracted structured result is returned.
      tags:
      - Chemical and Bio Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful b068-2 pcc molecule structure prediction-get result response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B068-2ChatPccMoleculeResultResponse'
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/chat/pcc-molecule-result
      requestBody:
        required: true
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/B068-2ChatPccMoleculeResultRequest'
components:
  schemas:
    B063ExtractMultiResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/B063ExtractMulti_ExtractMultiResults'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    B004SequenceJob_OpenApiResponseSequenceInfo:
      type: object
      properties:
        label:
          type: string
          example: SEQ1
          description: User provided sequence label
        job_id:
          type: string
          example: 953a406a18d84dc8b13f0b923e406a43
          description: ID of the search job in backend, use this ID for subsequent API calls
        sequence:
          type: string
          example: GGGAGGCTAAGGCAGGAG
          description: User provided sequence
    B075ReactionRoute_ChemicalReactionResponse.AmountUnit:
      type: object
      properties:
        unit:
          type: string
          example: mmol
          description: Unit
        value:
          type: string
          example: 1
          description: Value
    B068-2ChatPccMoleculeResultRequest:
      type: object
      properties:
        job_id:
          type: string
          example: 613845b4-83d0-4ac1-8116-5113736faab0
          description: Job ID, returned by the create task interface
      required:
      - job_id
    B076V1Ocsr_OcsrResponse:
      type: object
      properties:
        count:
          type: integer
          format: int32
          example: 2
          description: Number of results (equals number of input images).
        results:
          type: array
          example:
          - h2o: false
            salt: false
            metal: false
            SMILES: CC(=O)Oc1ccccc1C(=O)O
            charge: false
            isotope: false
            image_type: molecule
          description: Per-image OCSR results, in input order.
          items:
            $ref: '#/components/schemas/B076V1Ocsr_OcsrResult'
    B0034JobResultRequest:
      type: object
      properties:
        job_id:
          type: string
          example: 953a406a18d84dc8b13f0b923e406a43
          description: ID of the search job in backend, use this ID for subsequent API calls
        page:
          type: integer
          format: int32
          example: 1
          description: Current page number, start from 1
        size:
          type: integer
          format: int32
          example: 10
          description: Current page result size, support maximum 100
        sort_field:
          $ref: '#/components/schemas/B0034JobResult_OpenApiSortField'
      required:
      - job_id
      - page
      - size
    B0034JobResult_Patent:
      type: object
      properties:
        total:
          type: integer
          format: int32
          example: 1000
          description: Total patent count of the sequence
        patents:
          type: array
          example: 'Please check the form: OpenApiPatentDetail'
          description: Patent List
          items:
            $ref: '#/components/schemas/B0034JobResult_OpenApiPatentDetail'
    B068-2DocanalyzerGetextractmaterial_DocAnalyzerJobStatusResponseDTO:
      type: object
      properties:
        code:
          type: integer
          format: int32
          example: 0
          description: Response code
        data:
          type: array
          example: '[{"task_id":"task_12345","total":100,"running":5,"success":90,"errors":5,"results":{"pages_processed":10,"languageResults":{"zh":{"spum":[{"substance":"聚乙烯","property":"熔点","measurement":"120-130","unit":"°C","source_sentences":["聚乙烯的熔点通常在120-130°C之间"]}],"processes":{"process_1":{"process_name":"聚合工艺","valid_steps":5,"source_section":"实验部分","steps":[{"step_id":1,"sub_process_name":"加热反应","action":"将反应物加热至120℃"}],"process_domain":"高分子材料","process_sub_domain":"聚合反应","process_type":"溶液聚合"}}}}},"error_detail":{"error_code":"TIMEOUT","error_message":"Task timeout"}}]'
          description: Response data - array of job results
          items:
            $ref: '#/components/schemas/B068-2DocanalyzerGetextractmaterial_JobResult'
        message:
          type: string
          example: success
          description: Response message
      required:
      - code
    B072-1ChemicalSubmittaskResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/B072-1ChemicalSubmittask_ChemicalSearchTaskResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    B016SequenceInfo_BioSequenceInfoCdrs:
      type: object
      properties:
        abm:
          type: array
          example: 'Please check the form: BioSequenceInfoCdr'
          description: abm
          items:
            $ref: '#/components/schemas/B016SequenceInfo_BioSequenceInfoCdr'
        imgt:
          type: array
          example: 'Please check the form: BioSequenceInfoCdr'
          description: imgt
          items:
            $ref: '#/components/schemas/B016SequenceInfo_BioSequenceInfoCdr'
        kabat:
          type: array
          example: 'Please check the form: BioSequenceInfoCdr'
          description: kabat
          items:
            $ref: '#/components/schemas/B016SequenceInfo_BioSequenceInfoCdr'
        chothia:
          type: array
          example: 'Please check the form: BioSequenceInfoCdr'
          description: chothia
          items:
            $ref: '#/components/schemas/B016SequenceInfo_BioSequenceInfoCdr'
        contact:
          type: array
          example: 'Please check the form: BioSequenceInfoCdr'
          description: contact
          items:
            $ref: '#/components/schemas/B016SequenceInfo_BioSequenceInfoCdr'
    B067-1TaskSubmitRequest:
      type: object
      properties:
        document:
          type: file
          example: document.pdf
          description: File
        patent_number:
          type: string
          example: WO2025181219A1
          description: Patent Number
    B042PaperSearchRequest:
      type: object
      properties:
        inchi_key_id:
          type: string
          example: 126213117
          description: InChI Key ID
        lang:
          type: string
          example: CN
          description: 'Language, support: CN, EN'
        page:
          type: integer
          format: int32
          example: 1
          description: Page number, starting from 1, default 1
        rows:
          type: integer
          format: int32
          example: 100
          description: Rows per page, default 10, maximum 100
        sort_order:
          type: string
          example: desc
          description: Sort by published time, sort order, support:desc,asc
      required:
      - inchi_key_id
    B073KeywordSearchResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/B073KeywordSearch_ChemicalKeyWordResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    B016SequenceInfo_BioDrugInfo:
      type: object
      properties:
        drug_id:
          type: string
          example: 2838b95ade834c96b17ac8bcd2b68c27
          description: ID
        display_name:
          type: array
          example:
          - lang: EN
            name: Adalimumab
          - lang: CN
            name: 阿达木单抗
          description: Name
          items:
            $ref: '#/components/schemas/B016SequenceInfo_CommonName'
    B014CompoundDetailResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/B014CompoundDetail_OpenCompoundDetailItem'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    B073KeywordSearch_CompoundStructureResult:
      type: object
      properties:
        smiles:
          type: string
          example: CCC(C)(C)C(=O)OC1CC(C)C=C2C=CC(C)C(CCC1)C12
          description: SMILES molecular formula
        inchi_key:
          type: string
          example: NPDFVGFXQSJBAA-ZBDDBYLNSA-N
          description: InChI Key identifier
        compound_name:
          type: string
          example: Simvastatin
          description: compound name
        structure_image_url:
          type: string
          example: https://xxx.com/uploadsearch/2026-04-23/1776927563885-e23566962a894d088c1cf01637320034-image.png
          description: chemical structure image URL
    B003MotifJob_OpenApiMotifFilterParameter:
      type: object
      properties:
        scov_hsp_perc:
          $ref: '#/components/schemas/B003MotifJob_OpenAPiNumberRangeParameter'
        subject_length:
          $ref: '#/components/schemas/B003MotifJob_OpenAPiNumberRangeParameter'
    B071ChemicalGetsingledata_PatentChemicalMentionPosition:
      type: object
      properties:
        page:
          type: integer
          format: int32
          example: 1
          description: Page
        position:
          type: array
          example:
          - 0.2513
          - 0.6182
          - 0.3493
          - 0.6696
          description: Location
    B076V1OcsrResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/B076V1Ocsr_OcsrResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    B067-2OcsrTask_OCSR_2:
      type: object
      properties:
        sort:
          type: integer
          format: int32
          example: 1
          description: Sort Number
        index:
          type: integer
          format: int32
          example: 0
          description: Index
        names:
          type: array
          example:
          - ALCOHOL
          description: Name
        smiles:
          type: string
          example: CCO
          description: SMILES String
        formula:
          type: string
          example: C25H38O5
          description: Formula
        pdf_page:
          type: string
          example: 1
          description: PDF Page
        position:
          type: array
          example:
          - 100
          - 200
          - 300
          - 400
          description: Structure Position in Page [x1, y1, x2, y2]
        inchi_key:
          type: string
          example: LFQSCWFLJHTTHZ-UHFFFAOYSA-N
          description: InChI Key
        pdf_page_size:
          type: array
          example:
          - 595
          - 842
          description: PDF Page Size [width, height]
        isometric_smiles:
          type: string
          example: CC1CN(CCN1C2=NC(=O)N(C3=NC(=C(C=C32)F)C4=C(C=CC=C4F)O)C5=C(C=CN=C5C(C)C)C)C(=O)C=C
          description: InChI Key
        position_normalized:
          type: array
          example:
          - 0.168
          - 0.238
          - 0.504
          - 0.476
          description: Normalized Position Coordinates [x1, y1, x2, y2] (0-1 range)
    B073KeywordSearch_ChemicalKeyWordResponse:
      type: object
      properties:
        items:
          type: array
          example: 'Please check the form: CompoundStructureResult'
          description: compound structure info list
          items:
            $ref: '#/components/schemas/B073KeywordSearch_CompoundStructureResult'
    B003MotifJob_OpenApiMotifParameter:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/B003MotifJob_OpenApiMotifFilterParameter'
    B004SequenceJob_OpenApiFilterParameter:
      type: object
      properties:
        perc_identity:
          $ref: '#/components/schemas/B004SequenceJob_OpenAPiNumberRangeParameter'
        q_perc_identity:
          $ref: '#/components/schemas/B004SequenceJob_OpenAPiNumberRangeParameter'
        qcov_hsp_perc:
          $ref: '#/components/schemas/B004SequenceJob_OpenAPiNumberRangeParameter'
        s_perc_identity:
          $ref: '#/components/schemas/B004SequenceJob_OpenAPiNumberRangeParameter'
        scov_hsp_perc:
          $ref: '#/components/schemas/B004SequenceJob_OpenAPiNumberRangeParameter'
        subject_length:
          $ref: '#/components/schemas/B004SequenceJob_OpenAPiNumberRangeParameter'
    B002CompoundPatents_OpenPatentsItem:
      type: object
      properties:
        total:
          type: integer
          format: int32
          example: 1000
          description: Total Patent Count
        patents:
          type: array
          example: 'Please check the form: OpenPatentItem'
          description: Patent List
          items:
            $ref: '#/components/schemas/B002CompoundPatents_OpenPatentItem'
    B067-1TaskSubmit_OCSR:
      type: object
      properties:
        status:
          type: string
          example: SUCCESS
          description: 'Task Status: PENDING(Pending), PROCESSING(Processing), SUCCESS(Success), FAILED(Failed)'
        task_id:
          type: string
          example: 8ba05f32a656423fad4876ac7e65ee7a
          description: Task ID
    B076V1OcsrRequest:
      type: object
      properties:
        files:
          type: file
          example: maximum 4096KB
          description: Image file.
      required:
      - files
    B062ExtractSingleRequest:
      type: object
      properties:
        extract_type:
          type: string
          example: EXTRACT_ALL
          description: Extract Type(EXTRACT_ALL、EXTRACT_RANGE、EXTRACT_NUM、EXTRACT_MANUAL)
        page:
          type: integer
          format: int32
          example: 1
          description: Current page number, start from 1
        patent_id:
          type: string
          example: d10f8044-d3b9-4b53-b27f-b0f4fe9092cd
          description: Patent ID
        patent_number:
          type: string
          example: WO2004050828A2
          description: Patent publication number. One of patent_number、patent_id must be filled in, and if they are filled in at the same time, patent_id shall prevail, followed by patent_number
        sequence_length:
          $ref: '#/components/schemas/B062ExtractSingle_OpenAPiNumberRangeParameter'
        sequence_no_range:
          type: string
          example: 1-10
          description: SEQ ID range(Example:1-10,23,24)
        sequence_type:
          type: string
          example: PROTEIN
          description: Sequence Type, PROTEIN or NUCLEOTIDE
        size:
          type: integer
          format: int32
          example: 10
          description: Current page result size, support maximum 100
      required:
      - extract_type
      - page
      - sequence_no_range
      - size
    B005SequencePatentResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/B005SequencePatent_Patent'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    B068-1DocanalyzerSubmitpdfRequest:
      type: object
      properties:
        file:
          type: file
          example: document.pdf
          description: Upload file
      required:
      - file
    B072-2ChemicalGettaskresult_ChemicalResultEarliestPublished:
      type: object
      properties:
        patent_number:
          type: string
          example: US12497460B2
          description: Patent number
        publication_date:
          type: string
          example: 06 Apr 1976
          description: Publication date
    B062ExtractSingle_OpenApiExtractHit:
      type: object
      properties:
        s_len:
          type: integer
          format: int32
          example: 123
          description: Subject sequence length
        seq_id:
          type: string
          example: 834879
          description: Sequence ID
        location:
          type: object
          example:
            APP:
            - '5'
            FIG:
            - 1A
            PAGE:
            - 55/56
            ANNEX:
            - '2'
            TABLE:
            - A-1
            EXAMPLE:
            - '8'
          description: Sequence location in patent
        s_sequence:
          type: string
          example: MQPDLHSRALAAHTLHQFRTLSPLTHCMTNEVVQSFTANTLLALGASPAMVIEPEEASQFAAIASALLVNVGTLTQERATAMRAAVERAYHAKTPWTLDPVAVGALEFRRRFCLDLLSLQPAA
          description: Subject sequence
        sequence_type:
          type: string
          example: PROTEIN
          description: Sequence Type, PROTEIN or NUCLEOTIDE
        sequence_id_number:
          type: array
          example:
          - '1'
          description: Sequence ID number in patent
    B063ExtractMulti_OpenAPiNumberRangeParameter:
      type: object
      properties:
        end:
          type: integer
          format: int32
          example: 100
          description: End value
        start:
          type: integer
          format: int32
          example: 0
          description: Start value
    B063ExtractMultiRequest:
      type: object
      properties:
        db_type:
          type: array
          example:
          - ALLPATENT
          description: Extract Range(Enumeration value：ALLPATENT、CLAIMS)
        limit:
          type: integer
          format: int32
          example: 50000
          description: The maximum number of returned results is supported to be no more than 100,000, with a default value of 50,000
        page:
          type: integer
          format: int32
          example: 1
          description: Current page number, start from 1
        patent_ids:
          type: array
          example:
          - d10f8044-d3b9-4b53-b27f-b0f4fe9092cd
          description: Patent ID Collections, Input up to 100 patent IDs.
        patent_numbers:
          type: array
          example:
          - WO2004050828A2
          description: Patent publication number collections, Input up to 100 patent Numbers.One of patent_numbers、patent_ids must be filled in, and if they are filled in at the same time, patent_ids shall prevail, followed by patent_numbers
        sequence_length:
          $ref: '#/components/schemas/B063ExtractMulti_OpenAPiNumberRangeParameter'
        sequence_type:
          type: string
          example: PROTEIN
          description: Sequence Type, PROTEIN or NUCLEOTIDE
        size:
          type: integer
          format: int32
          example: 10
          description: Current page result size, support maximum 100
      required:
      - db_type
      - page
      - size
    B0034JobResultResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/B0034JobResult_Results'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    B015DrugCompoundPhysicochemicalProps_DrugChemStructPropsResponse:
      type: object
      properties:
        cbu:
          type: integer
          format: int32
          example: 1
          description: Covalently-Bonded Unit Count
        das:
          type: integer
          format: int32
          example: 0
          description: Defined Atom Stereocenter Count
        dbs:
          type: integer
          format: int32
          example: 0
          description: Defined Bond Stereocenter Count
        hba:
          type: integer
          format: int32
          example: 0
          description: Hydrogen Bond Acceptor Count
        hbd:
          type: integer
          format: int32
          example: 0
          description: Hydrogen Bond Donor Count
        psa:
          type: number
          format: double
          example: 0
          description: Topological Polar Surface Area
        ro5:
          type: integer
          format: int32
          example: 0
          description: Ro5 Violations (Lipinski)
        rtb:
          type: integer
          format: int32
          example: 2
          description: Rotatable Bond Count
        uas:
          type: integer
          format: int32
          example: 0
          description: Undefined Atom Stereocenter Count
        ubs:
          type: integer
          format: int32
          example: 0
          description: Undefined Bond Stereocenter Count
        charge:
          type: integer
          format: int32
          example: 0
          description: Formal Charge
        source:
          type: string
          example: pubchem
          description: source
        xlogp3:
          type: number
          format: double
          example: 1.64
          description: LogP
        acd_logd:
          type: number
          format: double
          example: 2.05
          description: ACD LogD pH7.4
        acd_logp:
          type: number
          format: double
          example: 2.05
          description: ACD LogP
        complexity:
          type: number
          format: double
          example: 12.4
          description: Complexity
        exact_mass:
          type: number
          format: double
          example: 111.98
          description: Exact Mass
        heavy_atom:
          type: integer
          format: int32
          example: 5
          description: Heavy Atom Count
        mol_weight:
          type: number
          format: double
          example: 112.98
          description: Molecular Weight
        source_url:
          type: string
          example: https://pubchem.ncbi.nlm.nih.gov/compound/61902106
          description: source url
        mol_species:
          type: string
          example: 'NULL'
          description: Molecular Species
        isotope_atom:
          type: integer
          format: int32
          example: 0
          description: Isotope Atom Count
        chemical_toxnets:
          type: array
          example: Please check the form:ChemicalToxnet
          description: Chemical Toxnet
          items:
            $ref: '#/components/schemas/B015DrugCompoundPhysicochemicalProps_ChemicalToxnet'
        monoisotopic_mass:
          type: number
          format: double
          example: 111.985
          description: Mononisotopic Mass
    B014CompoundDetail_OpenCompoundCrossDTO:
      type: object
      properties:
        zinc:
          $ref: '#/components/schemas/B014CompoundDetail_ValueUrlDTO'
        chebi:
          $ref: '#/components/schemas/B014CompoundDetail_ValueUrlDTO'
        mcule:
          $ref: '#/components/schemas/B014CompoundDetail_ValueUrlDTO'
        comptox:
          $ref: '#/components/schemas/B014CompoundDetail_ValueUrlDTO'
        fda_srs:
          $ref: '#/components/schemas/B014CompoundDetail_ValueUrlDTO'
        nih_cli:
          $ref: '#/components/schemas/B014CompoundDetail_ValueUrlDTO'
        drugbank:
          $ref: '#/components/schemas/B014CompoundDetail_ValueUrlDTO'
        pharmgkb:
          $ref: '#/components/schemas/B014CompoundDetail_ValueUrlDTO'
        pub_chem:
          type: array
          example: 'Please check the form: ValueUrlDTO'
          description: PubChem
          items:
            $ref: '#/components/schemas/B014CompoundDetail_ValueUrlDTO'
        bindingdb:
          $ref: '#/components/schemas/B014CompoundDetail_ValueUrlDTO'
        emolecules:
          $ref: '#/components/schemas/B014CompoundDetail_ValueUrlDTO'
        nmrshiftdb:
          $ref: '#/components/schemas/B014CompoundDetail_ValueUrlDTO'
        phamacology:
          $ref: '#/components/schemas/B014CompoundDetail_ValueUrlDTO'
        human_metabolome:
          $ref: '#/components/schemas/B014CompoundDetail_ValueUrlDTO'
    B005SequencePatentRequest:
      type: object
      properties:
        page:
          type: integer
          format: int32
          example: 1
          description: Current page number, start from 1
        seq_id:
          type: string
          example: 834879
          description: Sequence ID
        size:
          type: integer
          format: int32
          example: 10
          description: Current page result size, support maximum 100
      required:
      - page
      - seq_id
      - size
    B0034JobResult_Results:
      type: object
      properties:
        total:
          type: integer
          format: int32
          example: 1000
          description: Query Results Count
        results:
          type: array
          example: 'Please check the form: OpenApiHit'
          description: Query Results
          items:
            $ref: '#/components/schemas/B0034JobResult_OpenApiHit'
    B003MotifJob_OpenApiResponseSequenceInfo:
      type: object
      properties:
        label:
          type: string
          example: SEQ1
          description: User provided sequence label
        job_id:
          type: string
          example: 953a406a18d84dc8b13f0b923e406a43
          description: ID of the search job in backend, use this ID for subsequent API calls
        sequence:
          type: string
          example: GGGAGGCTAAGGCAGGAG
          description: User provided sequence
    B004SequenceJob_OpenApiRequestSequenceInfo:
      type: object
      properties:
        label:
          type: string
          example: SEQ1
          description: User provided sequence label
        sequence:
          type: string
          example: GGGAGGCTAAGGCAGGAG
          description: User provided sequence
    B001ChemicalOpenapiCompoundResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/B001ChemicalOpenapiCompound_OpenSearchResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    B015DrugCompoundPhysicochemicalPropsResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/B015DrugCompoundPhysicochemicalProps_DrugChemStructPropsResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    B068-1ChatPccMoleculeTask_PccTaskResponse:
      type: object
      properties:
        job_id:
          type: string
          example: 613845b4-83d0-4ac1-8116-5113736faab0
          description: Job ID, used to query task result later
    B076V1Ocsr_OcsrResult:
      type: object
      properties:
        h2o:
          type: boolean
          example: false
          description: Whether a water/hydrate component was detected.
        salt:
          type: boolean
          example: false
          description: Whether a salt component was detected.
        error:
          type: string
          example: failed to recognize structure
          description: Per-image error reported by the model, if any.
        metal:
          type: boolean
          example: false
          description: Whether a metal atom was detected.
        charge:
          type: boolean
          example: false
          description: Whether a net charge was detected.
        smiles:
          type: string
          example: CC(=O)Oc1ccccc1C(=O)O
          description: Recognized SMILES string (empty if unrecognized).
        isotope:
          type: boolean
          example: false
          description: Whether an isotope label was detected.
        image_type:
          type: string
          example: molecule
          description: Model's classification of the depicted structure (e.g. 'molecule').
    B068-2DocanalyzerGetextractmaterialResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/B068-2DocanalyzerGetextractmaterial_DocAnalyzerJobStatusResponseDTO'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    B062ExtractSingle_OpenAPiNumberRangeParameter:
      type: object
      properties:
        end:
          type: integer
          format: int32
          example: 100
          description: End value
        start:
          type: integer
          format: int32
          example: 0
          description: Start value
    B001ChemicalOpenapiCompoundRequest:
      type: object
      properties:
        name:
          type: string
          example: Aspirin
          description: Common names of structure
        formula:
          type: string
          example: C9H8O4
          description: Molecular formula
        inchi:
          type: string
          example: InChI=1S/C9H8O4/c1-6(10)13-8-5-3-2-4-7(8)9(11)12/h2-5H,1H3,(H,11,12)
          description: Structure Inchi
        smiles:
          type: string
          example: CC(=O)OC1=CC=CC=C1C(O)=O
          description: Structure Smiles
        search_type:
          type: string
          example: EXT
          description: Structure search type, the default value is EXT. The option value is EXT, SIM, SUB which means Exact search, Similarity search, Substructure search. Only support inchi, smiles input.
        sim_threshold:
          type: number
          format: float
          example: 0.5
          description: Minimum similar score for similarity search, valid for SIM search type only, 0.5 by default.
        include_stereo:
          type: boolean
          example: true
          description: If include stereo isomers, valid for EXT, SUB search types only, true by default.
        include_tautomer:
          type: boolean
          example: true
          description: If include tautomers, valid for EXT, SUB search types only, true by default.
        include_charge:
          type: boolean
          example: true
          description: If include charge difference, valid for EXT, SUB search types only, true by default.
        include_isotope:
          type: boolean
          example: true
          description: If include isotope difference, valid for EXT, SUB search types only, true by default.
        include_radical:
          type: boolean
          example: true
          description: If include radical difference, valid for EXT, SUB search types only, true by default.
        page:
          type: integer
          format: int32
          example: 1
          description: Page number. Current page number, start from 1.
        rows:
          type: integer
          format: int32
          example: 10
          description: Page Size. Current page result size, not greater than 100.
      required:
      - page
      - rows
    B014CompoundDetail_OpenPatentItem:
      type: object
      properties:
        pn:
          type: string
          example: JP1999068462A
          description: Patent PN
        patent_id:
          type: string
          example: 9050f544-32cf-4809-8036-fc577b69be48
          description: Patent ID
    B016SequenceInfo_BioSequenceInfoCdr:
      type: object
      properties:
        hc_cdr1:
          type: string
          example: GYTFTNYY
          description: hc_cdr1
        hc_cdr2:
          type: string
          example: INPSNGGT
          description: hc_cdr2
        hc_cdr3:
          type: string
          example: ARRDYRFDMGFDY
          description: hc_cdr3
    B016SequenceInfo_BioSequenceInfoClaim:
      type: object
      properties:
        pn:
          type: string
          example: US12084692B2
          description: pn
        pbdt:
          type: integer
          format: int32
          example: 20250805
          description: pbdt
        positions:
          type: array
          example:
          - Claim 17;
          - Claim 28;
          description: positions
    B062ExtractSingle_ExtractResults:
      type: object
      properties:
        total:
          type: integer
          format: int32
          example: 1000
          description: Query Results Count
        results:
          type: array
          example: 'Please check the form: OpenApiExtractHit'
          description: Query Results
          items:
            $ref: '#/components/schemas/B062ExtractSingle_OpenApiExtractHit'
    B068-1ChatPccMoleculeTaskRequest:
      type: object
      properties:
        pn:
          type: string
          example: US20240124450A1
          description: Patent Number
      required:
      - pn
    B014CompoundDetail_ValueUrlDTO:
      type: object
      properties:
        url:
          type: string
          example: http://pubchem.ncbi.nlm.nih.gov/compound/70372773
          description: url
        value:
          type: string
          example: 70372773
          description: value
    B062ExtractSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/B062ExtractSingle_ExtractResults'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    B003MotifJob_OpenAPiNumberRangeParameter:
      type: object
      properties:
        end:
          type: integer
          format: int32
          example: 100
          description: End value
        start:
          type: integer
          format: int32
          example: 0
          description: Start value
    B001ChemicalOpenapiCompound_OpenSearchResponse:
      type: object
      properties:
        total:
          type: integer
          format: int64
          example: 100
          description: Total Structure Count
        results:
          type: array
          example: 'Please check the form: OpenCompoundItem'
          description: Structure records
          items:
            $ref: '#/components/schemas/B001ChemicalOpenapiCompound_OpenCompoundItem'
    B0034JobResult_OpenApiHsps:
      type: object
      properties:
        q_end:
          type: integer
          format: int32
          example: 123
          description: Query sequence hit end index
        s_end:
          type: integer
          format: int32
          example: 123
          description: Subject sequence hit end index
        matched:
          type: string
          example: MQ DL   A +AH LH F   SPL HCMTN+VVQ+FTANTLLALGASPAMVIE EEASQFAAIASALL+NVGTLTQ RA AMRAAVE+A  ++TPWTLDPVAVGAL++RR FC +LLS +PAA
          description: Details of sequence match hit
        q_start:
          type: integer
          format: int32
          example: 1
          description: Query sequence hit start index
        s_start:
          type: integer
          format: int32
          example: 1
          description: Subject sequence hit start index
        q_string:
          type: string
          example: MQVDLLGSAQSAHALH
          description: Query sequence hit region
        s_string:
          type: string
          example: MQVDLLGSAQSAHALH
          description: Subject sequence hit region
    B075ReactionRoute_ChemicalReactionResponse:
      type: object
      properties:
        limit:
          type: integer
          format: int32
          example: 20
          description: limit
        total:
          type: integer
          format: int64
          example: 100
          description: Total count after filtering
        offset:
          type: integer
          format: int32
          example: 0
          description: offset
        results:
          type: array
          example: Please check the form:SmilesReactionWithPn
          description: Reaction data grouped by patent-number list
          items:
            $ref: '#/components/schemas/B075ReactionRoute_ChemicalReactionResponse.SmilesReactionWithPn'
    B072-2ChemicalGettaskresult_ChemicalResultDetail:
      type: object
      properties:
        inchi:
          type: string
          example: InChI=1S/C88H97Cl2N9O33/c1-3-4-5-6-7-8-9-10-60(108)94-68-74(113)71(110)58(32-101)129-87(68)132-78-55-26-40-27-56(78)126-52-18-14-38(24-47(52)90)77(131-86-67(92-34(2)103)73(112)70(109)57(31-100)128-86)69-84(121)98-66(85(122)123)45-29-42(105)30-54(127-88-76(115)75(114)72(111)59(33-102)130-88)61(45)44-23-37(13-15-49(44)106)63(81(118)99-69)96-83(120)65(40)97-82(119)64-39-21-41(104)28-43(22-39)124-53-25-36(12-16-50(53)107)62(91)80(117)93-48(79(116)95-64)20-35-11-17-51(125-55)46(89)19-35/h11-19,21-30,48,57-59,62-77,86-88,100-102,104-107,109-115H,3-10,20,31-33,91H2,1-2H3,(H,92,103)(H,93,117)(H,94,108)(H,95,116)(H,96,120)(H,97,119)(H,98,121)(H,99,118)(H,122,123)/t48-,57-,58-,59-,62-,63-,64+,65-,66+,67-,68-,69+,70-,71-,72-,73-,74-,75+,76+,77-,86+,87+,88+/m1/s1
          description: InChI identifier
        smiles:
          type: string
          example: CCCCCCCCCC(=N[C@@H]1[C@H]([C@@H]([C@H](O[C@H]1OC2=C3C=C4C=C2OC5=C(C=C(C=C5)[C@H]([C@H]6C(=N[C@@H](C7=C(C(=CC(=C7)O)O[C@@H]8[C@H]([C@H]([C@@H]([C@H](O8)CO)O)O)O)C9=C(C=CC(=C9)[C@H](C(=N6)O)N=C([C@@H]4N=C([C@@H]1C2=CC(=CC(=C2)OC2=C(C=CC(=C2)[C@H](C(=N[C@H](CC2=CC(=C(O3)C=C2)Cl)C(=N1)O)O)N)O)O)O)O)C(=O)O)O)O[C@H]1[C@@H]([C@H]([C@@H]([C@H](O1)CO)O)O)N=C(C)O)Cl)CO)O)O)O
          description: SMILES structure
        formula:
          type: string
          example: C88H97Cl2N9O33
          description: Molecular formula
        synonyms:
          type: array
          example:
          - 91032-36-9
          - テイコプラニン
          - teicoplanin
          - teichomycin
          description: Synonyms list
        inchi_key:
          type: string
          example: BJNLLBUOHPVGFT-PKMGYIMSSA-N
          description: InChI Key
        paper_num:
          type: integer
          format: int32
          example: 45
          description: Total paper number
        mol_weight:
          type: number
          format: double
          example: 1879.67
          description: Molecular weight
        patent_ids:
          type: array
          example:
          - 3b583fb3-4edc-45f9-9b8c-2d9a82f5a730
          description: Patent ID list
        patent_num:
          type: integer
          format: int32
          example: 42653
          description: Total patent number
        publication:
          $ref: '#/components/schemas/B072-2ChemicalGettaskresult_ChemicalResultEarliestPublished'
        compound_name:
          type: string
          example: TEICOPLANIN A2-3 / (1S,2R,19R,22R,34S,37R,40R,52S)-22-amino-5,15-dichloro-64-[(2S,3R,4R,5S,6R)-4,5-dihydroxy-3-(1-hydroxydecylideneamino)-6-(hydroxymethyl)oxan-2-yl]oxy-2-[(2R,3R,4R,5S,6R)-4,5-dihydroxy-3-(1-hydroxyethylideneamino)-6-(hydroxymethyl)oxan-2-yl]oxy-21,26,31,35,38,44,49,54,56,59-decahydroxy-47-[(2R,3S,4S,5S,6R)-3,4,5-trihydroxy-6-(hydroxymethyl)oxan-2-yl]oxy-7,13,28-trioxa-20,36,39,53,55,58-hexazaundecacyclo[38.14.2.23,6.214,17.219,34.18,12.123,27.129,33.141,45.010,37.046,51]hexahexaconta-3,5,8,10,12(64),14,16,20,23(61),24,26,29(60),30,32,35,38,41(57),42,44,46(51),47,49,53,55,58,62,65-heptacosaene-52-carboxylic acid
          description: Compound name
    B068-2ChatPccMoleculeResult_PccMoleculeResponse:
      type: object
      properties:
        job_id:
          type: string
          example: 613845b4-83d0-4ac1-8116-5113736faab0
          description: Job ID
        status:
          type: string
          example: completed
          description: 'Task status: initializing/created/started/planning/processing/completed/failed/terminated'
        molecules:
          type: array
          example: See MoleculeRecommendation
          description: Optimal molecule recommendation list, returned after task completion
          items:
            $ref: '#/components/schemas/B068-2ChatPccMoleculeResult_MoleculeRecommendation'
        patent_no:
          type: string
          example: US20240124450A1
          description: Patent Number
        admet_predictions:
          type: array
          example: See AdmetPrediction
          description: ADMET prediction basic molecule information list
          items:
            $ref: '#/components/schemas/B068-2ChatPccMoleculeResult_AdmetPrediction'
        structure_optimization:
          type: string
          example: 立体构型的关键性...
          description: Compound structure optimization strategy
    B016SequenceInfoResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/B016SequenceInfo_BioSequenceInfoResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    B075ReactionRoute_ChemicalReactionResponse.SmilesReactionWithPn:
      type: object
      properties:
        pns:
          type: array
          example:
          - US123A
          description: Patent-number list shared by reactions in the same group
        smiles_reactions:
          type: array
          example: Please check the form:ReactionItem
          description: Reaction list, including reactants and products
          items:
            $ref: '#/components/schemas/B075ReactionRoute_ChemicalReactionResponse.ReactionItem'
    B075ReactionRouteResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/B075ReactionRoute_ChemicalReactionResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    B068-2ChatPccMoleculeResult_AdmetPrediction:
      type: object
      properties:
        hba:
          type: integer
          format: int32
          example: 7
          description: Hydrogen Bond Acceptors
        hbd:
          type: integer
          format: int32
          example: 1
          description: Hydrogen Bond Donors
        logp:
          type: number
          format: double
          example: 4.75
          description: LogP
        tpsa:
          type: number
          format: double
          example: 100.13
          description: Topological Polar Surface Area (Å²)
        compound_id:
          type: string
          example: 6B
          description: Compound ID
        molecular_weight:
          type: number
          format: double
          example: 431.57
          description: Molecular Weight (Da)
    B014CompoundDetail_OpenPatentsItem:
      type: object
      properties:
        total:
          type: integer
          format: int32
          example: 1000
          description: Total Patent Count
        patents:
          type: array
          example: 'Please check the form: OpenPatentItem'
          description: Patent List
          items:
            $ref: '#/components/schemas/B014CompoundDetail_OpenPatentItem'
    B015DrugCompoundPhysicochemicalProps_ChemicalToxnet:
      type: object
      properties:
        bp:
          type: array
          example:
          - '334 deg C at 760 mm Hg[Lide, D.R., G.W.A. Milne (eds.). Handbook of Data on Organic Compounds. Volume I. 3rd ed. CRC Press, Inc. Boca Raton ,FL. 1994., p. V3: 3026] **PEER REVIEWED** '
          description: Boiling Point
        mp:
          type: array
          example:
          - '49.3 deg C[Lide, D.R., G.W.A. Milne (eds.). Handbook of Data on Organic Compounds. Volume I. 3rd ed. CRC Press, Inc. Boca Raton ,FL. 1994., p. V3: 3026] **PEER REVIEWED** '
          description: Melting Point
        ctp:
          type: array
          example:
          - 'Critical temperature = 761 K; Critical pressure = 1.51E+06 Pa[Daubert, T.E., R.P. Danner. Physical and Thermodynamic Properties of Pure Chemicals Data Compilation. Washington, D.C.: Taylor and Francis, 1989.] **PEER REVIEWED** '
          description: Critical Temperature and Pressure
        den:
          type: array
          example:
          - '0.8187 at 50 deg C/4 deg C[Lide, D.R., G.W.A. Milne (eds.). Handbook of Data on Organic Compounds. Volume I. 3rd ed. CRC Press, Inc. Boca Raton ,FL. 1994., p. V3: 3026] **PEER REVIEWED** '
          description: Density/Specific Gravity
        dsc:
          type: array
          example:
          - 'pKa = 16.20[Burkhard LP et al; Chemosphere 14: 1551-60 (1985)] **PEER REVIEWED** '
          description: Dissociation Constants
        htc:
          type: array
          example:
          - '-9.797X10+09 J/kmol[Daubert, T.E., R.P. Danner. Physical and Thermodynamic Properties of Pure Chemicals Data Compilation. Washington, D.C.: Taylor and Francis, 1989.] **PEER REVIEWED** '
          description: Heat of Combustion
        htv:
          type: array
          example:
          - '9.9829X10+07 J/kmol at melting point[Daubert, T.E., R.P. Danner. Physical and Thermodynamic Properties of Pure Chemicals Data Compilation. Washington, D.C.: Taylor and Francis, 1989.] **PEER REVIEWED** '
          description: Heat of Vaporization
        sol:
          type: array
          example:
          - 'Slightly soluble in alcohol; soluble in acetone; very soluble in ether, benzene, chloroform[Lide, D.R., G.W.A. Milne (eds.). Handbook of Data on Organic Compounds. Volume I. 3rd ed. CRC Press, Inc. Boca Raton ,FL. 1994., p. V3: 3026] **PEER REVIEWED** '
          - 'Soluble in alcohol, chloroform, ether[O''Neil, M.J. (ed.). The Merck Index - An Encyclopedia of  Chemicals, Drugs, and Biologicals. 13th Edition, Whitehouse  Station, NJ:  Merck and Co., Inc., 2001., p. 347] **PEER REVIEWED** '
          - 'In water, 4.1X10-2 mg/L at 25 deg C[Yalkowsky, S.H., He, Yan., Handbook of Aqueous Solubility  Data: An Extensive Compilation of Aqueous Solubility Data  for Organic Compounds Extracted from the  AQUASOL dATAbASE.  CRC Press LLC, Boca Raton, FL. 2003., p. 1063] **PEER REVIEWED** '
          description: Solubilities
        vap:
          type: array
          example:
          - '6X10-6 mm Hg at 25 deg C[Daubert, T.E., R.P. Danner. Physical and Thermodynamic Properties of Pure Chemicals Data Compilation. Washington, D.C.: Taylor and Francis, 1989.] **PEER REVIEWED** '
          description: Vapor Pressure
        cofo:
          type: array
          example:
          - 'FLAKES FROM ETHYL ACETATE[Weast, R.C. (ed.). Handbook of Chemistry and Physics. 57th ed. Cleveland: CRC Press Inc., 1976., p. C-332] **PEER REVIEWED** '
          - 'SOLID OR LEAF-LIKE CRYSTALS[Sax, N.I. Dangerous Properties of Industrial Materials. 4th ed. New York: Van Nostrand Reinhold, 1975., p. 532] **PEER REVIEWED** '
          - 'White crystals[O''Neil, M.J. (ed.). The Merck Index - An Encyclopedia of  Chemicals, Drugs, and Biologicals. 13th Edition, Whitehouse  Station, NJ:  Merck and Co., Inc., 2001., p. 347] **PEER REVIEWED** '
          - 'UNCTUOUS, WHITE FLAKES, GRANULES, CUBES, OR CASTINGS[Osol, A. and J.E. Hoover, et al. (eds.). Remington''s Pharmaceutical Sciences. 15th ed. Easton, Pennsylvania: Mack Publishing Co., 1975., p. 1250] **PEER REVIEWED** '
          - 'White, waxy solid[Lewis, R.J., Sr (Ed.). Hawley''s Condensed Chemical Dictionary. 12th ed. New York, NY: Van Nostrand Rheinhold Co., 1993, p. 246] **PEER REVIEWED** '
          description: Color/Form
        fpot:
          type: array
          example:
          - 'Flammable when exposed to heat or flame[Lewis, R.J. Sr. (ed) Sax''s Dangerous Properties of Industrial Materials. 11th Edition. Wiley-Interscience, Wiley & Sons, Inc. Hoboken, NJ. 2004., p. 1923] **PEER REVIEWED** '
          description: Fire Potential
        name:
          type: string
          example: 1-HEXADECANOL
          description: name
        ocpp:
          type: array
          example:
          - 'Congealing point: 46 deg C[Burdock, G.A. (ed.). Fenaroli''s Handbook of Flavor  Ingredients. 3rd Edition, Volumes 1-2. Boca Raton, FL: CRC  Press 1994-1995., p. 326] **PEER REVIEWED** '
          - 'Liquid molar volume = 0.296365 cu m/kmol; Heat of formation = -5.1421X10+08 J/kmol; Heat of fusion = 5.838X10+07 J/kmol[Daubert, T.E., R.P. Danner. Physical and Thermodynamic Properties of Pure Chemicals Data Compilation. Washington, D.C.: Taylor and Francis, 1989.] **PEER REVIEWED** '
          - 'Henry''s Law constant = 4.65X10-5 atm-cu m/mol at 25 deg C (est)[SRC; The Physical Properties Database (PHYSPROP). Syracuse, NY: Syracuse Res Corp. Available from, as of Apr 11, 2006: http://www.syrres.com/esc/physprop.htm] **PEER REVIEWED** '
          - 'Hydroxyl radical reaction rate constant = 2.8X10-11 cu cm/molec-sec at 25 deg C (est)[US EPA; Estimation Program Interface (EPI) Suite. Ver.3.12. Nov 30, 2004. Available from, as of Apr 11, 2006: http://www.epa.gov/oppt/exposure/pubs/episuitedl.htm] **PEER REVIEWED** '
          description: Other Chemical/Physical Properties
        owpc:
          type: array
          example:
          - 'log Kow = 6.83 (est)[US EPA; Estimation Program Interface (EPI) Suite. Ver.3.12. Nov 30, 2004. Available from, as of Apr 11, 2006: http://www.epa.gov/oppt/exposure/pubs/episuitedl.htm] **PEER REVIEWED** '
          description: Octanol/Water Partition Coefficient
        spec:
          type: array
          example:
          - 'Index of refraction = 1.4283 at 79 deg C/D[Lide, D.R., G.W.A. Milne (eds.). Handbook of Data on Organic Compounds. Volume I. 3rd ed. CRC Press, Inc. Boca Raton ,FL. 1994., p. V3: 3026] **PEER REVIEWED** '
          - 'CRYSTALS: SADTLER REFERENCE NUMBER: 222 (IR, PRISM); 5175 (NMR)[Weast, R.C. (ed.). Handbook of Chemistry and Physics. 57th ed. Cleveland: CRC Press Inc., 1976., p. C-332] **PEER REVIEWED** '
          - 'IR: 2106 (Coblentz Society Spectral Collection)[Lide, D.R., G.W.A. Milne (eds.). Handbook of Data on Organic Compounds. Volume I. 3rd ed. CRC Press, Inc. Boca Raton ,FL. 1994., p. V3: 3026] **PEER REVIEWED** '
          - 'MASS: 63476 (NIST/EPA/MSDC Mass Spectral database, 1990 version); 1677 (National Bureau of Standards)[Lide, D.R., G.W.A. Milne (eds.). Handbook of Data on Organic Compounds. Volume I. 3rd ed. CRC Press, Inc. Boca Raton ,FL. 1994., p. V3: 3026] **PEER REVIEWED** '
          - 'Raman: 614 (Sadtler Research Laboratories Spectral Collection)[Lide, D.R., G.W.A. Milne (eds.). Handbook of Data on Organic Compounds. Volume I. 3rd ed. CRC Press, Inc. Boca Raton ,FL. 1994., p. V3: 3026] **PEER REVIEWED** '
          description: Spectral Properties
        surf:
          type: array
          example:
          - '0.028449 Newtons/m at melting point[Daubert, T.E., R.P. Danner. Physical and Thermodynamic Properties of Pure Chemicals Data Compilation. Washington, D.C.: Taylor and Francis, 1989.] **PEER REVIEWED** '
          description: Surface Tension
        tast:
          type: array
          example:
          - 'BLAND, MILD TASTE[Osol, A. and J.E. Hoover, et al. (eds.). Remington''s Pharmaceutical Sciences. 15th ed. Easton, Pennsylvania: Mack Publishing Co., 1975., p. 1250] **PEER REVIEWED** '
          description: Taste
        vapd:
          type: array
          example:
          - '8.360 (AIR= 1)[Patty, F. (ed.). Industrial Hygiene and Toxicology: Volume II: Toxicology. 2nd ed. New York: Interscience Publishers, 1963., p. 1470] **PEER REVIEWED** '
          description: Vapor Density
        visc:
          type: array
          example:
          - '53 mPa-s (=cP) at 75 deg C[Kirk-Othmer Encyclopedia of Chemical Technology. 4th ed. Volumes 1: New York, NY. John Wiley and Sons, 1991-Present., p. V1: 868 (1991)] **PEER REVIEWED** '
          description: Viscosity
    B016SequenceInfo_BioGeneInfo:
      type: object
      properties:
        name:
          type: string
          example: A1BG
          description: Name
        gene_id:
          type: string
          example: 2838b95ade834c96b17ac8bcd2b68c27
          description: ID
    B016SequenceInfo_BioSequenceInfoResponse:
      type: object
      properties:
        cdrs:
          $ref: '#/components/schemas/B016SequenceInfo_BioSequenceInfoCdrs'
        type:
          type: string
          example: Proteins
          description: sequence type
        drugs:
          type: array
          example: 'Please check the form: BioDrugInfo'
          description: drugs
          items:
            $ref: '#/components/schemas/B016SequenceInfo_BioDrugInfo'
        genes:
          type: array
          example: 'Please check the form: BioGeneInfo'
          description: genes
          items:
            $ref: '#/components/schemas/B016SequenceInfo_BioGeneInfo'
        length:
          type: string
          example: 113 aa
          description: sequence length
        organism:
          type: array
          example:
          - Synthetic construct
          description: organism
        sequence:
          type: string
          example: CDLPQTHSLGSRRTLMLLAQMRKISLFSCLKDRHDFGFPQEEFGNQFQKAETIPVLHEMIQQIFNLFSTKDSSAAWDETLLDKFYTELYQQLNDLEACVIQGVGVTETPLMKEDSILAVRKYFQRITLYLKEKKYSPCAWEVVRAEIMRSFSLSTNLQESLRSKE
          description: sequence
        description:
          type: string
          example: Inteferon alpha-2
          description: sequence description
        is_antibody:
          type: boolean
          example: false
          description: is antibody
        seq_position:
          type: array
          example: 'Please check the form: BioSequenceInfoClaim'
          description: seq position
          items:
            $ref: '#/components/schemas/B016SequenceInfo_BioSequenceInfoClaim'
        sequence_code:
          type: integer
          format: int64
          example: 834879
          description: sequence code
        sequence_name:
          type: array
          example:
          - RNA, (G-G-A-G-A-A-G-U-G-G-U-A-G-A-G-G-C-A-C-A)
          description: sequence name
        sequence_label:
          type: array
          example:
          - artificial Sequence
          - mutation
          - variant
          description: sequence label
        claimed_in_patents:
          type: boolean
          example: true
          description: claimed in patents
        chemically_modified:
          type: boolean
          example: false
          description: chemically modified
    B003MotifJobRequest:
      type: object
      properties:
        database:
          type: array
          example:
          - ALLPATENT
          description: 'Target Sequence Database,ALLPATENT (default) : Sequence published in patent title/abstract/claims/description;CLAIMS : Sequence published in patent claims;NONPATENT : Sequence published in non-patent publications'
        limit:
          type: integer
          format: int32
          example: 1000
          description: Maximum returned results of each query, support maximum 10,000
        motif_sequence:
          type: string
          example: RSMATC[AN]{0,1}
          description: Query Motif Sequence
        params:
          $ref: '#/components/schemas/B003MotifJob_OpenApiMotifParameter'
        query_type:
          type: string
          example: PROTEIN
          description: Target Sequence Type. NUCLEOTIDE,PROTEIN
        sequence_type:
          type: string
          example: PROTEIN
          description: Query Sequence Type. NUCLEOTIDE,PROTEIN
      required:
      - limit
      - motif_sequence
      - params
      - query_type
      - sequence_type
    B071ChemicalGetsingledataRequest:
      type: object
      properties:
        exclude_reagents:
          type: boolean
          example: false
          description: Exclude reagents
        limit:
          type: integer
          format: int32
          example: 10
          description: Number of returned items, default 10.Maximum limit setting 1000
        only_first:
          type: boolean
          example: false
          description: Only show compounds that first appear in this patent
        page:
          type: integer
          format: int32
          example: 1
          description: page, default 1
        patent_id:
          type: string
          example: f5817034-1395-4bc1-b0f2-eb712e66702c
          description: Patent id
        patent_number:
          type: string
          example: US12497460B2
          description: Patent number
        range_max:
          type: number
          format: double
          example: 888
          description: Maximum molecular weight
        range_min:
          type: number
          format: double
          example: 30
          description: Minimum molecular weight
        source:
          type: array
          example:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          description: Source, 1:Manual | 2:Other | 3:Picture | 4:Claims | 5:Abstract | 6:Title | 7:Description
    B072-2ChemicalGettaskresultResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/B072-2ChemicalGettaskresult_ChemicalSearchResultResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    B071ChemicalGetsingledata_PatentChemicalMention:
      type: object
      properties:
        mwt:
          type: number
          format: double
          example: 868.45
          description: Molecular weight
        smiles:
          type: string
          example: CC1(CCC(=C(C1)C2=CC=C(C=C2)Cl)CN3CCN(CC3)C4=CC(=C(C=C4)C(=O)NS(=O)(=O)C5=CC(=C(C=C5)NCC6CCOCC6)[N+](=O)[O-])OC7=CN=C8C(=C7)C=CN8)C
          description: SMILES structure
        inchi_key:
          type: string
          example: LQBVNQSMGBZMKD-UHFFFAOYSA-N
          description: InChI Key
        patent_id:
          type: string
          example: f5817034-1395-4bc1-b0f2-eb712e66702c
          description: Patent id
        ta_mention:
          type: integer
          format: int32
          example: 0
          description: Title and abstract mention count
        pdf_mention:
          type: integer
          format: int32
          example: 0
          description: PDF mention count
        desc_mention:
          type: integer
          format: int32
          example: 8
          description: Description mention count
        pdf_position:
          type: array
          example: Please check the form:PatentChemicalMentionPosition
          description: PDF location
          items:
            $ref: '#/components/schemas/B071ChemicalGetsingledata_PatentChemicalMentionPosition'
        compound_name:
          type: string
          example: VENETOCLAX / 4-[4-[[2-(4-chlorophenyl)-4,4-dimethylcyclohexen-1-yl]methyl]piperazin-1-yl]-N-[3-nitro-4-(oxan-4-ylmethylamino)phenyl]sulfonyl-2-(1H-pyrrolo[2,3-b]pyridin-5-yloxy)benzamide
          description: Compound name
        claims_mention:
          type: integer
          format: int32
          example: 1
          description: Claims mention count
        publication_date:
          type: string
          example: 20230727
          description: public date
    B067-1TaskSubmitResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/B067-1TaskSubmit_OCSR'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    B063ExtractMulti_OpenApiExtractMultiHit:
      type: object
      properties:
        s_len:
          type: integer
          format: int32
          example: 123
          description: Subject sequence length
        seq_id:
          type: string
          example: 834879
          description: Sequence ID
        antibody:
          type: string
          example: 'Yes'
          description: Whether it is an antibody sequence
        location:
          type: object
          example:
            APP:
            - '5'
            FIG:
            - 1A
            PAGE:
            - 55/56
            ANNEX:
            - '2'
            TABLE:
            - A-1
            EXAMPLE:
            - '8'
          description: Sequence location in patent
        s_sequence:
          type: string
          example: MQPDLHSRALAAHTLHQFRTLSPLTHCMTNEVVQSFTANTLLALGASPAMVIEPEEASQFAAIASALLVNVGTLTQERATAMRAAVERAYHAKTPWTLDPVAVGALEFRRRFCLDLLSLQPAA
          description: Subject sequence
        patent_number:
          type: string
          example: WO2004050828A2
          description: Patent publication number
        sequence_type:
          type: string
          example: PROTEIN
          description: Sequence Type, PROTEIN or NUCLEOTIDE
        total_per_patent:
          type: integer
          format: int32
          example: 100
          description: The total number of a single patent sequence
        claimed_in_patent:
          type: string
          example: 1
          description: Whether it is disclosed in the claims
        sequence_id_number:
          type: array
          example:
          - '1'
          description: Sequence ID number in patent
    B001ChemicalOpenapiCompound_OpenCompoundItem:
      type: object
      properties:
        inchi_key:
          type: string
          example: BSYNRYMUTXBXSQ-UHFFFAOYSA-N
          description: InchiKey
        similarity:
          type: number
          format: float
          example: 0.98
          description: 'Similarity. Structure Similarity


            Tanimoto structure similarity score

            For similarity search only'
        paper_count:
          type: integer
          format: int32
          example: 20
          description: Related paper count
        patent_count:
          type: integer
          format: int32
          example: 20
          description: Related patent count
    B068-1ChatPccMoleculeTaskResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/B068-1ChatPccMoleculeTask_PccTaskResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    B068-2DocanalyzerGetextractmaterial_ResultsWrapper:
      type: object
      properties:
        pages_processed:
          type: integer
          format: int32
          example: 10
          description: Number of pages processed
        language_results:
          type: object
          example:
            en:
              spum:
              - unit: °C
                property: Melting Point
                substance: Polyethylene
                measurement: 120-130
                source_sentences:
                - The melting point of polyethylene is typically between 120-130°C
              processes:
                process_1:
                  steps:
                  - action: Heat reactants to 120°C
                    step_id: 1
                    sub_process_name: Heating Reaction
                  valid_steps: 3
                  process_name: Polymerization Process
                  process_type: Solution Polymerization
                  process_domain: Polymer Materials
                  source_section: Experimental Section
                  process_sub_domain: Polymerization Reaction
            zh:
              spum:
              - unit: °C
                property: 熔点
                substance: 聚乙烯
                measurement: 120-130
                source_sentences:
                - 聚乙烯的熔点通常在120-130°C之间
              processes:
                process_1:
                  steps:
                  - action: 将反应物加热至120℃
                    step_id: 1
                    sub_process_name: 加热反应
                  valid_steps: 5
                  process_name: 聚合工艺
                  process_type: 溶液聚合
                  process_domain: 高分子材料
                  source_section: 实验部分
                  process_sub_domain: 聚合反应
          description: Multi-language analysis results mapping
    B016SequenceInfo_CommonName:
      type: object
      properties:
        lang:
          type: string
          example: EN
          description: Language
        name:
          type: string
          example: Ranibizumab (Genentech)
          description: Drug,Target,Organization,Disease,Country/Location,DICT,Mechanism Action Name
    B071ChemicalGetsingledata_PatentChemicalResponse:
      type: object
      properties:
        page:
          type: integer
          format: int32
          example: 1
          description: Current page number
        size:
          type: integer
          format: int32
          example: 10
          description: Number of items per page
        items:
          type: array
          example: Please check the form:PatentChemicalMention
          description: Result items list
          items:
            $ref: '#/components/schemas/B071ChemicalGetsingledata_PatentChemicalMention'
        total:
          type: integer
          format: int32
          example: 8
          description: Total number of records
    B042PaperSearch_ChemicalPaperDetail:
      type: object
[...]
