openapi: 3.2.0
info:
  title: Patsnap Open Platform AI Translation Novelty Check Assistant API
  version: 1.0.0
  description: OpenAPI specification for Patsnap Open Platform APIs, including patent search, analytics, and Eureka AI capabilities.
servers:
- url: https://connect.patsnap.com
  description: Patsnap Open Platform API gateway
tags:
- name: Novelty Check Assistant
  description: Novelty Check Assistant APIs.
paths:
  /ai/novelty-check-agent-creation:
    post:
      operationId: m002-1AiNoveltyCheckAgentCreation
      summary: M002-1 Novelty Check Agent Creation
      description: Based on the input technical solution content, generate a novelty assessment report for that solution
      tags:
      - Novelty Check Assistant
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful m002-1 novelty check agent creation response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/M002-1AiNoveltyCheckAgentCreationResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/ai/novelty-check-agent-creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/M002-1AiNoveltyCheckAgentCreationRequest'
  /ai/novelty-check-agent-query:
    post:
      operationId: m002-2AiNoveltyCheckAgentQuery
      summary: M002-2 Novelty Check Agent Query
      description: Obtain the task results of the Novelty Check Agent through the task_id generated by [M002-1]
      tags:
      - Novelty Check Assistant
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful m002-2 novelty check agent query response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/M002-2AiNoveltyCheckAgentQueryResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/ai/novelty-check-agent-query
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/M002-2AiNoveltyCheckAgentQueryRequest'
components:
  schemas:
    M002-2AiNoveltyCheckAgentQueryResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/M002-2AiNoveltyCheckAgentQuery_NoveltyCheckAgentQueryResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    M002-2AiNoveltyCheckAgentQuery_PriorArtItem:
      type: object
      properties:
        reference:
          $ref: '#/components/schemas/M002-2AiNoveltyCheckAgentQuery_Reference'
    M002-2AiNoveltyCheckAgentQuery_Reference:
      type: object
      properties:
        pn:
          type: string
          example: CN1858096A
          description: Patent number
        apd:
          type: string
          example: 20060101
          description: Application publication date
        pbd:
          type: string
          example: 20061101
          description: Patent publication date
        link:
          type: string
          example: https://patents.google.com/patent/CN1858096A
          description: Link
        title:
          type: string
          example: 防爆轮胎
          description: Title
        content:
          type: string
          example: 提供了一种防爆轮胎，其具有的侧壁加强层能兼顾低发热性和高硬度，并且耐久度得到了改善。一种橡胶组合物，以100重量份的橡胶组分为基准，含有10～100重量份的炭黑，以及2重量份或更多的硫或含硫的化合物。
          description: Content
        org_info:
          type: array
          example:
          - name_cn: 某某科技有限公司
            name_en: XX Technology Co., Ltd.
            entity_id: '12345'
            entity_type: 公司
            country_name: 中国
          description: Organization info
          items:
            $ref: '#/components/schemas/M002-2AiNoveltyCheckAgentQuery_OrgInfo'
        solution_id:
          type: string
          example: 2883fa67-e2af-4699-b755-c0f47346908e
          description: Solution ID
        solution_type:
          type: string
          example: PATENT
          description: Solution type
        similarity_score:
          type: string
          example: 0.85
          description: Similarity score
        simple_legal_status:
          type: string
          example: Active
          description: Simple legal status
    M002-1AiNoveltyCheckAgentCreation_AsyncTaskIdResponse:
      type: object
      properties:
        task_id:
          type: string
          example: 80d440b7-80a5-4233-a75f-ab72b0885c88
          description: Task id
    M002-2AiNoveltyCheckAgentQuery_OrgInfo:
      type: object
      properties:
        id:
          type: string
          example: 12345
          description: ID
        logo:
          type: string
          example: https://www.example.com/logo.png
          description: Logo
        name:
          type: string
          example: 某某科技有限公司
          description: Name
        site:
          type: string
          example: www.example.com
          description: Site
        name_cn:
          type: string
          example: 某某科技有限公司
          description: Chinese name
        name_en:
          type: string
          example: XX Technology Co., Ltd.
          description: English name
        website:
          type: string
          example: https://www.example.com
          description: Website
        state_id:
          type: string
          example: BJ
          description: State ID
        entity_id:
          type: string
          example: 12345
          description: Entity ID
        country_id:
          type: string
          example: CN
          description: Country ID
        state_name:
          type: string
          example: 北京市
          description: State name
        entity_type:
          type: string
          example: 公司
          description: Entity type
        country_name:
          type: string
          example: 中国
          description: Country name
        display_name:
          type: string
          example: 某某科技
          description: Display name
        founded_date:
          type: integer
          format: int64
          example: 1577836800000
          description: Founded date
        employee_number:
          type: integer
          format: int32
          example: 500
          description: Employee number
        normalized_name:
          type: string
          example: XX_TECHNOLOGY_CO_LTD
          description: Normalized name
        employee_number_interval:
          type: string
          example: 100-999
          description: Employee number interval
        normalized_entity_type_en:
          type: string
          example: COMPANY
          description: Normalized entity type English
    M002-1AiNoveltyCheckAgentCreationResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/M002-1AiNoveltyCheckAgentCreation_AsyncTaskIdResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    M002-2AiNoveltyCheckAgentQuery_NoveltyReasoning:
      type: object
      properties:
        title:
          type: string
          example: 新颖性评估原因分析
          description: Title
        content:
          type: string
          example: 该提案与现有参考文献相比，整体新颖性为中低。相似之处主要体现在以下几个方面...
          description: Content
    M002-2AiNoveltyCheckAgentQuery_Recommendations:
      type: object
      properties:
        title:
          type: string
          example: 改进建议
          description: Title
        content:
          type: string
          example: 为显著提升提案的新颖性，建议从以下四个维度进行改进...
          description: Content
    M002-2AiNoveltyCheckAgentQuery_KeyPriorArt:
      type: object
      properties:
        title:
          type: string
          example: Key Prior Art
          description: Title
        content:
          type: array
          example:
          - reference:
              PN: CN1858096A
              TITLE: 防爆轮胎
              CONTENT: 提供了一种防爆轮胎，其具有的侧壁加强层能兼顾低发热性和高硬度...
              ORG_INFO: []
              SOLUTION_ID: 2883fa67-e2af-4699-b755-c0f47346908e
              SOLUTION_TYPE: PATENT
          description: Prior art list
          items:
            $ref: '#/components/schemas/M002-2AiNoveltyCheckAgentQuery_PriorArtItem'
    M002-2AiNoveltyCheckAgentQuery_ProposalSummary:
      type: object
      properties:
        title:
          type: string
          example: 输入想法总结
          description: Title
        content:
          type: string
          example: 该提案提出了一种用于汽车和橡胶工业的防爆轮胎橡胶配方。其技术功效是实现轮胎的防爆性能。技术手段是采用一种包含共聚丁二烯橡胶、炭黑、片状天然矿石、多巴胺改性碳化硅、硫、硅烷偶联剂和硬脂酸的复合材料。该配方旨在应用于防爆轮胎产品。
          description: Content
    M002-2AiNoveltyCheckAgentQuery_NoveltyCheckAgentQueryResponse:
      type: object
      properties:
        status:
          type: integer
          format: int32
          example: 2
          description: 'Task status (1: running, 2: successful, 3: generation exception).'
        key_prior_art:
          $ref: '#/components/schemas/M002-2AiNoveltyCheckAgentQuery_KeyPriorArt'
        recommendations:
          $ref: '#/components/schemas/M002-2AiNoveltyCheckAgentQuery_Recommendations'
        proposal_summary:
          $ref: '#/components/schemas/M002-2AiNoveltyCheckAgentQuery_ProposalSummary'
        novelty_reasoning:
          $ref: '#/components/schemas/M002-2AiNoveltyCheckAgentQuery_NoveltyReasoning'
        novelty_assessment:
          $ref: '#/components/schemas/M002-2AiNoveltyCheckAgentQuery_NoveltyAssessment'
    M002-2AiNoveltyCheckAgentQuery_NoveltyContent:
      type: object
      properties:
        novelty_level:
          type: string
          example: 中低
          description: Novelty level
        novelty_score:
          type: string
          example: 30.9%
          description: Novelty score
    M002-2AiNoveltyCheckAgentQuery_NoveltyAssessment:
      type: object
      properties:
        title:
          type: string
          example: 新颖性评估
          description: Title
        content:
          $ref: '#/components/schemas/M002-2AiNoveltyCheckAgentQuery_NoveltyContent'
    M002-2AiNoveltyCheckAgentQueryRequest:
      type: object
      properties:
        task_id:
          type: string
          example: 80d440b7-80a5-4233-a75f-ab72b0885c88
          description: Task id
      required:
      - task_id
    M002-1AiNoveltyCheckAgentCreationRequest:
      type: object
      properties:
        lang:
          type: string
          example: cn
          description: text language, support cn and en
        text:
          type: string
          example: 该提案提出了一种用于汽车和橡胶工业的防爆轮胎橡胶配方。其技术功效是实现轮胎的防爆性能。技术手段是采用一种包含共聚丁二烯橡胶、炭黑、片状天然矿石、多巴胺改性碳化硅、硫、硅烷偶联剂和硬脂酸的复合材料。该配方旨在应用于防爆轮胎产品。
          description: Input text content
      required:
      - lang
      - text
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
