openapi: 3.1.0
info:
  title: Patsnap Open Platform AI Translation Patent Monitor and Export API
  version: 1.0.0
  description: OpenAPI specification for Patsnap Open Platform APIs, including patent search, analytics, and Eureka AI capabilities.
servers:
- url: https://connect.patsnap.com
  description: Patsnap Open Platform API gateway
tags:
- name: Patent Monitor and Export
  description: Patent Monitor and Export APIs.
paths:
  /patent-search/task:
    get:
      operationId: p055PatentSearchTask
      summary: P055 Get Export Results
      description: Retrieves patent export results based on the specified Task ID. Returns a list of URLs to download files containing search results in the specified file format. Supports up to 100,000 most relevant patents exported.
      tags:
      - Patent Monitor and Export
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p055 get export results response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P055PatentSearchTaskResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/patent-search/task
      parameters:
      - name: task_id
        in: query
        required: true
        description: Task ID
        schema:
          type: string
          example: 264de8bf7e294505a9a000597e25d615
          description: Task ID
  /patent-alert/delete:
    delete:
      operationId: p059PatentAlertDelete
      summary: P059 Delete Patent Monitor Project
      description: Delete patent monitor project.
      tags:
      - Patent Monitor and Export
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p059 delete patent monitor project response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P059PatentAlertDeleteResponse'
        '204':
          description: No Content.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/patent-alert/delete
      parameters:
      - name: alert_id
        in: query
        required: true
        description: monitor project ID
        schema:
          type: string
          example: 7f22ee78764149b481314b1fa60dca0c
          description: monitor project ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P059PatentAlertDeleteRequest'
  /patent-search/export:
    post:
      operationId: p055PatentSearchExport
      summary: P055 Create export task by query
      description: Allows to search our global patent database using the standard PatSnap search query and retrieve the resulting data in bulk. To find more information about PatSnap search syntax, refer to https://analytics.patsnap.com/search_helper. Allows to select what patent fields should be returned in response to the query and, thus, allows control over the size of the response payload to help optimize performance, fields that are allowed to be exported, the fields and field levels that are allowed to be exported (different levels of fields have different calling fees). please link the <a href="/tutorials/exportFields" target="_blank">export instructions</a>.
      tags:
      - Patent Monitor and Export
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p055 create export task by query response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P055PatentSearchExportResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/patent-search/export
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P055PatentSearchExportRequest'
  /patent-alert/check:
    get:
      operationId: p057PatentAlertCheck
      summary: P057 Check Monitor Project Status
      description: Check whether the patent monitoring project has patent updates. Return the name of the monitoring project, the type of the monitoring project, the number of patents, and the list of patent_ids.
      tags:
      - Patent Monitor and Export
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p057 check monitor project status response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P057PatentAlertCheckResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/patent-alert/check
      parameters:
      - name: alert_id
        in: query
        required: true
        description: monitor project ID
        schema:
          type: string
          example: 7f22ee78764149b481314b1fa60dca0c
          description: monitor project ID
  /patent-alert/create:
    get:
      operationId: p056PatentAlertCreate
      summary: P056 Create Patent Monitor Project
      description: Create patent monitor project by the standard PatSnap search query. Returns the monitor project ID, the name of the monitored project, and the number of patents initially included.
      tags:
      - Patent Monitor and Export
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p056 create patent monitor project response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P056PatentAlertCreateResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/patent-alert/create
      parameters:
      - name: alert_name
        in: query
        required: false
        description: monitor name or tag, up to 50 characters
        schema:
          type: string
          example: <cn>智慧芽公司监控</cn><us>Intelligent bud company monitoring</us>
          description: monitor name or tag, up to 50 characters
      - name: content
        in: query
        required: true
        description: '1.New patents(new):Alert when a new patent matching the search query is published

          2.New invention(invention):Alert when a new patent that does not belong to an existing family is published

          3.Legal status(legal):Alert when patent legal status changes

          4.Assignment(transfer):Alert if the current assignee of the patent changes

          5.Upcoming expiry date(expired):Alert when patents are within 30 days of the estimated expiry date

          6.Licensing(license):Alert when licensing information has been updated

          7.Litigation(litigation):Alert when litigation information has been updated

          Please enter the parameter, multiple selections are allowed, and the multiple monitored items are separated by ,.'
        schema:
          type: string
          example: new,invention,legal
          description: '1.New patents(new):Alert when a new patent matching the search query is published

            2.New invention(invention):Alert when a new patent that does not belong to an existing family is published

            3.Legal status(legal):Alert when patent legal status changes

            4.Assignment(transfer):Alert if the current assignee of the patent changes

            5.Upcoming expiry date(expired):Alert when patents are within 30 days of the estimated expiry date

            6.Licensing(license):Alert when licensing information has been updated

            7.Litigation(litigation):Alert when litigation information has been updated

            Please enter the parameter, multiple selections are allowed, and the multiple monitored items are separated by ,.'
      - name: query
        in: query
        required: true
        description: query of the monitor project
        schema:
          type: string
          example: ANC:(智慧芽)
          description: query of the monitor project
  /patent-alert/update:
    get:
      operationId: p058PatentAlertUpdate
      summary: P058 Edit Patent Monitor Project
      description: Edit patent monitor project by query.
      tags:
      - Patent Monitor and Export
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p058 edit patent monitor project response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P058PatentAlertUpdateResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/patent-alert/update
      parameters:
      - name: alert_id
        in: query
        required: true
        description: monitor project ID
        schema:
          type: string
          example: 7f22ee78764149b481314b1fa60dca0c
          description: monitor project ID
      - name: alert_name
        in: query
        required: false
        description: monitor name or tag, up to 50 characters
        schema:
          type: string
          example: <cn>智慧芽公司监控</cn><us>Intelligent bud company monitoring</us>
          description: monitor name or tag, up to 50 characters
      - name: content
        in: query
        required: false
        description: '1.New patents(new):Alert when a new patent matching the search query is published

          2.New invention(invention):Alert when a new patent that does not belong to an existing family is published

          3.Legal status(legal):Alert when patent legal status changes

          4.Assignment(transfer):Alert if the current assignee of the patent changes

          5.Upcoming expiry date(expired):Alert when patents are within 30 days of the estimated expiry date

          6.Licensing(license):Alert when licensing information has been updated

          7.Litigation(litigation):Alert when litigation information has been updated

          Please enter the parameter, multiple selections are allowed, and the multiple monitored items are separated by ,.'
        schema:
          type: string
          example: new,invention,legal
          description: '1.New patents(new):Alert when a new patent matching the search query is published

            2.New invention(invention):Alert when a new patent that does not belong to an existing family is published

            3.Legal status(legal):Alert when patent legal status changes

            4.Assignment(transfer):Alert if the current assignee of the patent changes

            5.Upcoming expiry date(expired):Alert when patents are within 30 days of the estimated expiry date

            6.Licensing(license):Alert when licensing information has been updated

            7.Litigation(litigation):Alert when litigation information has been updated

            Please enter the parameter, multiple selections are allowed, and the multiple monitored items are separated by ,.'
      - name: query
        in: query
        required: false
        description: query of the monitor project
        schema:
          type: string
          example: ANC:(智慧芽)
          description: query of the monitor project
components:
  schemas:
    P057PatentAlertCheck_MonitoringResponse:
      type: object
      properties:
        type:
          type: string
          example: new
          description: monitor project type
        count:
          type: integer
          format: int64
          example: 1
          description: patents
        alert_name:
          type: string
          example: <cn>智慧芽公司监控</cn><us>Intelligent bud company monitoring</us>
          description: Name of Monitoring Project
        patent_ids:
          type: array
          example:
          - f052da16-1d93-46a6-9174-b653c69fd884
          description: patent ID
    P055PatentSearchExportResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/P055PatentSearchExport_ExportTaskResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P059PatentAlertDeleteRequest:
      type: object
    P055PatentSearchTask_TaskResponse:
      type: object
      properties:
        url:
          type: string
          example: http://exportapi.cdn.zhihuiya.com/20180607/1a9649e44d5dac74d5ff95d0455e31b7/20180607020732886.JSON?response-content-disposition=attachment%3B%20filename%3D%2220180607020732886.JSON%22%3B&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20180607T020740Z&X-Amz-SignedHeaders=host&X-Amz-Expires=604800&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20180607%2Fcn-north-1%2Fs3%2Faws4_request&X-Amz-Signature=6983e29dbc4a273742fc6714dc15916957257c1425678e90b7f5f3cd2e8d249e
          description: Download address
        count:
          type: integer
          format: int32
          example: 24
          description: Export number of patents
        export_status:
          type: string
          example: SUCCESS
          description: Export task current status<P>SUCCESS:Exporting  task succeeded</P><P>FAIL:The export task failed. Create the export task again</P><P>PENDING:The export task is in progress. Please try to obtain the download address later</P>
    P056PatentAlertCreateResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/P056PatentAlertCreate_EmailAlertResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P057PatentAlertCheckResponse:
      type: object
      properties:
        data:
          type: array
          example: no sample
          description: response data
          items:
            $ref: '#/components/schemas/P057PatentAlertCheck_MonitoringResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P058PatentAlertUpdateResponse:
      type: object
      properties:
        data:
          type: object
          example: no sample
          description: response data
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P055PatentSearchExport_ExportTaskResponse:
      type: object
      properties:
        count:
          type: integer
          format: int32
          example: 24
          description: Export number of patents
        task_id:
          type: string
          example: b4bdae6b4a65432d91f25b5c52bdfd80
          description: Task ID is valid for 24 hours
    P055PatentSearchTaskResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/P055PatentSearchTask_TaskResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P059PatentAlertDeleteResponse:
      type: object
      properties:
        data:
          type: object
          example: no sample
          description: response data
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P055PatentSearchExportRequest:
      type: object
      properties:
        query_text:
          type: string
          example: TTL:car
          description: Patent search query, detailed syntax reference can be found at https://analytics.patsnap.com/search_helper
        fields:
          type: string
          example: PN,APNO
          description: Fields that are allowed to be exported. See <a href="/tutorials/exportFields" target="_blank">export instructions</a> for details. Separate multiple export fields in English,.
        export_type:
          type: string
          example: csv
          description: File formats that are allowed to be exported. You can choose json, csv, xls, pdf, full_text, xml. Only 1 can be selected.<p>For full_text export type, only the following four fields PN, ABST, CLMS, DESC are supported. The field DESC is only supported by the full_text export type. The field CLMS is only supported by the full_text/pdf export type. Result of the full_text export type is a ZIP file including some xml files named by PN.</p>
        rows:
          type: integer
          format: int32
          example: 100
          description: 'rows >= 1 , Single maximum export (csv/xls/json/xml: 100k , pdf/full_text: 1k)'
        apdt_from:
          type: string
          example: 20110101
          description: 'Application date start. Format: ''yyyyMMdd'', or * means time is unlimited'
        apdt_to:
          type: string
          example: 20180619
          description: 'Application date end. Format: ''yyyyMMdd'', or * means time is unlimited'
        pbdt_from:
          type: string
          example: 20110101
          description: 'Publication date start. Format: ''yyyyMMdd'', or * means time is unlimited'
        pbdt_to:
          type: string
          example: 20180619
          description: 'Publication date end. Format: ''yyyyMMdd'', or * means time is unlimited'
        collapse_type:
          type: string
          example: DOCDB
          description: Sets criterias for choosing representative documents that matching query conditions along with collapse_by and collapse_order. The valid value should be one of ALL indicating results will not be collapsed, APNO indicating only one document will be returned for each application, DOCDB indicating only one representative document will be returned for each simple family, INPADOC indicating only one representative document will be returned for each INPADOC family and EXTEND indicating only one representative document will be returned for each extended family. If provided collapse_type is null, the default value ALL will be used.
        collapse_by:
          type: string
          example: APD
          description: Sets criterias for choosing representative documents that matching query conditions along with collapse_type and collapse_order. Controls the sort field when collapsing documents. The valid value should be one of APD indicating the application date, PBD indicating the publication date, AUTHORITY indicating the jurisdiction, and SCORE indicating the relevance between the query conditions and documents. If the collapse_type is ALL or APNO, the value of collapse_by will be ignored.
        collapse_order:
          type: string
          example: OLDEST
          description: Sets criterias for choosing representative documents that matching query conditions along with collapse_type and collapse_by. Controls the sort order when collapsing documents. If the collapse_type is APNO, or the collapse_by is APD or PBD, the valid value should be one of OLDEST and LATEST. Otherwise, the value of collapse_order will be ignored
        lang:
          type: string
          example: en
          description: Select the language , the default language is en, you can choose cn, en, jp, de, fr, kr.
        trans_lang:
          type: string
          example: en
          description: Select the translation language , the default language is en, you can choose cn, en, jp.
        offset:
          type: integer
          format: int32
          example: 0
          description: '0 <= rows + offset <= 100000, default is 0

            If you want to get patents that are ranked lower than 100, you can set offset=100'
        stemming:
          type: integer
          format: int32
          example: 0
          description: '<p>Whether to turn on the stemming function, 1: turn on; 0: turn off. Off by default</p><p>Note: </p><p>Stemming ON will search for the original word and expand the search to consider singular, plural, and tense variations e.g. a search for "come" will expand to "comes", "came", "coming" and so on.</p><p>Stemming OFF will only search for exact matches of the keywords entered.</p><p>The use of wildcards in keywords within a search query will impact the effect of stemming.</p><p>Stemming ON only supports English words. Stemming does not apply to Assignees, Inventors, or any other person-related fields.</p>'
      required:
      - query_text
      - fields
      - export_type
      - rows
    P056PatentAlertCreate_EmailAlertResponse:
      type: object
      properties:
        number:
          type: integer
          format: int64
          example: 4800
          description: original patent counts in monitor project
        alert_id:
          type: string
          example: 7f22ee78764149b481314b1fa60dca0c
          description: monitor project ID
        alert_name:
          type: string
          example: <cn>智慧芽公司监控</cn><us>Intelligent bud company monitoring</us>
          description: Name of Monitoring Project
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
