openapi: 3.1.0
info:
  title: Patsnap Open Platform AI Translation Custom Aggregate Data API
  version: 1.0.0
  description: OpenAPI specification for Patsnap Open Platform APIs, including patent search, analytics, and Eureka AI capabilities.
servers:
- url: https://connect.patsnap.com
  description: Patsnap Open Platform API gateway
tags:
- name: Custom Aggregate Data
  description: Custom Aggregate Data APIs.
paths:
  /search/patent/query-search-patent/v3:
    post:
      operationId: d005QuerySearchPatentV3
      summary: D005 Patent Search
      description: Search PatSnap's global patent database using standard text queries. Read about the search syntax supported in PatSnap here - https://analytics.patsnap.com/search_helper. This includes patent count, patent number, patent ID, etc
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d005 patent search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D005QuerySearchPatentV3Response'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/patent/query-search-patent/v3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/D005QuerySearchPatentV3Request'
  /shhgy/reportdata/life-cycle:
    post:
      operationId: d101ReportdataLifeCycle
      summary: D101 life cycle data
      description: This interface is a statistical analysis interface that provides the number of patent applications per year over the past 10 years, as well as the number of invention patent applications.
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d101 life cycle data response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D101ReportdataLifeCycleResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/shhgy/reportdata/life-cycle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/D101ReportdataLifeCycleRequest'
  /basic-patent-data/patent-detail:
    get:
      operationId: d007BasicPatentDataPatentDetail
      summary: D007 Patent Detail
      description: Receive patent detail by patent_id or patent_number
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d007 patent detail response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D007BasicPatentDataPatentDetailResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/basic-patent-data/patent-detail
      parameters:
      - name: lang
        in: query
        required: false
        description: translation language, support cn, en, jp
        schema:
          type: string
          example: en
          description: translation language, support cn, en, jp
      - name: patent_id
        in: query
        required: false
        description: patent_id
        schema:
          type: string
          example: 718ead9c-4f3c-4674-8f5a-24e126827269
          description: patent_id
      - name: patent_number
        in: query
        required: false
        description: patent_number
        schema:
          type: string
          example: US11205304B2
          description: patent_number
      - name: replace_by_related
        in: query
        required: false
        description: "When the fulltext of current patent is unavailable, whether to replace it with the fulltext of its family patent？default not to replace: \n<p>1. Yes</p>\n<p>0: No </p>"
        schema:
          type: integer
          format: int32
          example: '0'
          description: "When the fulltext of current patent is unavailable, whether to replace it with the fulltext of its family patent？default not to replace: \n<p>1. Yes</p>\n<p>0: No </p>"
  /shhgy/reportdata/applicant-rank:
    post:
      operationId: d102ReportdataApplicantRank
      summary: D102 Applicant ranking
      description: This interface belongs to the statistical analysis interface, providing the names of the top 10 applicants and the number of patents
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d102 applicant ranking response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D102ReportdataApplicantRankResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/shhgy/reportdata/applicant-rank
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/D102ReportdataApplicantRankRequest'
  /shhgy/reportdata/applicant-technology-analysis:
    post:
      operationId: d103ReportdataApplicantTechnologyAnalysis
      summary: D103 Main applicant technology analysis
      description: This interface belongs to the statistical analysis interface, providing the names of the top 10 applicants and the number of patents corresponding to the top 10 IPC main groups for each applicant
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d103 main applicant technology analysis response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D103ReportdataApplicantTechnologyAnalysisResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/shhgy/reportdata/applicant-technology-analysis
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/D103ReportdataApplicantTechnologyAnalysisRequest'
  /shhgy/reportdata/applicant-trend:
    post:
      operationId: d104ReportdataApplicantTrend
      summary: D104 Main applicant application trend
      description: This interface belongs to the statistical analysis interface, providing the names of the top 10 applicants and the number of patent applications for each year in the past 10 years
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d104 main applicant application trend response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D104ReportdataApplicantTrendResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/shhgy/reportdata/applicant-trend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/D104ReportdataApplicantTrendRequest'
  /shhgy/reportdata/cooperation-applicant-analysis:
    post:
      operationId: d105ReportdataCooperationApplicantAnalysis
      summary: D105 Cooperation applicant analysis
      description: This interface belongs to the statistical analysis interface, providing the names of the top 10 main applicants, the number of patent applications, and their cooperative applicants, the number of patent applications, and the number of cooperative patents
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d105 cooperation applicant analysis response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D105ReportdataCooperationApplicantAnalysisResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/shhgy/reportdata/cooperation-applicant-analysis
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/D105ReportdataCooperationApplicantAnalysisRequest'
  /shhgy/reportdata/patent-trend:
    post:
      operationId: d106ReportdataPatentTrend
      summary: D106 Patent trend
      description: This interface belongs to the statistical analysis interface, providing the number of patent applications, grants and grant rates in the past 10 years
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d106 patent trend response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D106ReportdataPatentTrendResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/shhgy/reportdata/patent-trend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/D106ReportdataPatentTrendRequest'
  /shhgy/reportdata/technology-applicant-distribution:
    post:
      operationId: d107ReportdataTechnologyApplicantDistribution
      summary: D107 Technology applicant distribution
      description: This interface belongs to the statistical analysis interface, providing the top 10 IPC main groups and the number of patents corresponding to the top 10 applicants for each IPC main group
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d107 technology applicant distribution response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D107ReportdataTechnologyApplicantDistributionResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/shhgy/reportdata/technology-applicant-distribution
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/D107ReportdataTechnologyApplicantDistributionRequest'
  /shhgy/reportdata/technology-constitute:
    post:
      operationId: d108ReportdataTechnologyConstitute
      summary: D108 Technology constitute
      description: This interface belongs to the statistical analysis interface, providing the number of patents for the top 100 IPC subclasses
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d108 technology constitute response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D108ReportdataTechnologyConstituteResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/shhgy/reportdata/technology-constitute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/D108ReportdataTechnologyConstituteRequest'
  /shhgy/reportdata/rec-office-year:
    post:
      operationId: d110ReportdataRecOfficeYear
      summary: D110 Receiving office statistics (by year)
      description: This interface belongs to the statistical analysis interface, providing the number of patents for the top 100 receiving offices in the past 10 years
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d110 receiving office statistics (by year) response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D110ReportdataRecOfficeYearResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/shhgy/reportdata/rec-office-year
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/D110ReportdataRecOfficeYearRequest'
  /shhgy/reportdata/refered-rank:
    post:
      operationId: d111ReportdataReferedRank
      summary: D111 Citation ranking
      description: This interface belongs to the statistical analysis interface, providing patent information for the top 20 most cited patents
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d111 citation ranking response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D111ReportdataReferedRankResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/shhgy/reportdata/refered-rank
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/D111ReportdataReferedRankRequest'
  /shhgy/reportdata/rec-office:
    post:
      operationId: d109ReportdataRecOffice
      summary: D109 Receiving office statistics
      description: This interface belongs to the statistical analysis interface, providing the number of patents for the top 100 receiving offices
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d109 receiving office statistics response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D109ReportdataRecOfficeResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/shhgy/reportdata/rec-office
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/D109ReportdataRecOfficeRequest'
  /shhgy/reportdata/famn-rank:
    post:
      operationId: d112ReportdataFamnRank
      summary: D112 Patent family ranking
      description: This interface belongs to the statistical analysis interface, providing patent information for the top 20 patents with the most family members
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d112 patent family ranking response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D112ReportdataFamnRankResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/shhgy/reportdata/famn-rank
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/D112ReportdataFamnRankRequest'
  /shhgy/reportdata/patent-list:
    post:
      operationId: d113ReportdataPatentList
      summary: D113 Patent list
      description: This interface returns a list of patent information, supports paging query, returns up to 100 patent information per page. Up to 20,000 patent information can be returned
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d113 patent list response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D113ReportdataPatentListResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/shhgy/reportdata/patent-list
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/D113ReportdataPatentListRequest'
  /shhgy/reportdata/domain-map:
    post:
      operationId: d115ReportdataDomainMap
      summary: D115 Domain Map
      description: This interface returns the image URL of technical composition
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d115 domain map response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D115ReportdataDomainMapResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/shhgy/reportdata/domain-map
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/D115ReportdataDomainMapRequest'
  /shhgy/reportdata/patent-info:
    post:
      operationId: d114ReportdataPatentInfo
      summary: D114 Patent field details (large text only)
      description: This interface returns patent titles, abstracts, claims, and specifications, including original data sources, Chinese (with translation), and English (with translation). Supports batch queries with a limit of 100 items, request parameters are separated by English commas.
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d114 patent field details (large text only) response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D114ReportdataPatentInfoResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/shhgy/reportdata/patent-info
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/D114ReportdataPatentInfoRequest'
  /shhgy/reportdata/3d-map:
    post:
      operationId: d116Reportdata3dMap
      summary: D116 3D Map Analysis
      description: This interface returns the Top 100 IPC classifications, showing the number of patents and invalid patents for each applicant in each group.
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d116 3d map analysis response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D116Reportdata3dMapResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/shhgy/reportdata/3d-map
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/D116Reportdata3dMapRequest'
  /open-user/statement/v2:
    post:
      operationId: statementV2
      summary: Statement of account V2
      description: Support input time range to get API calls and billing information
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful statement of account v2 response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatementV2Response'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/open-user/statement/v2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatementV2Request'
  /basic-patent-data/patent-detail-aggregation:
    get:
      operationId: d301BasicPatentDataPatentDetailAggregation
      summary: D301 patent details aggregation
      description: Patent details can be batch-queried by entering patent_id or patent_number.
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d301 patent details aggregation response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D301BasicPatentDataPatentDetailAggregationResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/basic-patent-data/patent-detail-aggregation
      parameters:
      - name: patent_id
        in: query
        required: false
        description: patent_id
        schema:
          type: string
          example: 9cf648f8-8283-4767-9a14-f90f68303f3e
          description: patent_id
      - name: patent_number
        in: query
        required: false
        description: patent_number
        schema:
          type: string
          example: CN108977442B
          description: patent_number
  /jdf/patent_detail_text:
    post:
      operationId: d201JdfPatentDetailText
      summary: D201 patent details text
      description: This interface provides patent documentation details, legal status, and patent text, including background art, summary of invention, description of embodiments, first claim, independent claim, and technical elements
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d201 patent details text response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D201JdfPatentDetailTextResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/jdf/patent_detail_text
      parameters:
      - name: patent_id
        in: query
        required: false
        description: patent_id
        schema:
          type: string
          example: 9cf648f8-8283-4767-9a14-f90f68303f3e
          description: patent_id
      - name: patent_number
        in: query
        required: false
        description: patent_number
        schema:
          type: string
          example: CN108977442B
          description: patent_number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/D201JdfPatentDetailTextRequest'
  /search/patent/query-search-patent-facet:
    post:
      operationId: d006PatentQuerySearchPatentFacet
      summary: D006 Patent Search Facet
      description: Search PatSnap's global patent database using standard text queries.
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d006 patent search facet response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D006PatentQuerySearchPatentFacetResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/patent/query-search-patent-facet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/D006PatentQuerySearchPatentFacetRequest'
  /basic-patent-data/patent-pdf:
    get:
      operationId: d008BasicPatentDataPatentPdf
      summary: D008 patent PDF
      description: Receive patent PDF document pathway by patent_id or patent_number.
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d008 patent pdf response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D008BasicPatentDataPatentPdfResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/basic-patent-data/patent-pdf
      parameters:
      - name: patent_id
        in: query
        required: false
        description: patent_id
        schema:
          type: string
          example: 494407c3-459b-4c6b-8503-b5128cf0c07e,94365516-de3c-445b-aa73-dd8370887a2d,ddfc29cf-71c6-4bb3-b35b-10f256767152
          description: patent_id
      - name: patent_number
        in: query
        required: false
        description: patent_number
        schema:
          type: string
          example: EP2458380B1,CN3126351D,US20050262868A1
          description: patent_number
      - name: replace_by_related
        in: query
        required: false
        description: "When the PDF of current patent is unavailable, whether to replace it with the PDF of its family patent？default not to replace: \n   1. Yes\n   0: No"
        schema:
          type: integer
          format: int32
          example: '0'
          description: "When the PDF of current patent is unavailable, whether to replace it with the PDF of its family patent？default not to replace: \n   1. Yes\n   0: No"
  /search/patent/query-search-facet:
    post:
      operationId: d010PatentQuerySearchFacet
      summary: D010 Patent Facet
      description: Search PatSnap's global patent database using standard text queries, and statistics by specified field dimension.
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d010 patent facet response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D010PatentQuerySearchFacetResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/patent/query-search-facet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/D010PatentQuerySearchFacetRequest'
  /search/patent/query-search-patent-detail:
    post:
      operationId: d009PatentQuerySearchPatentDetail
      summary: D009 Patent Search Detail
      description: Search PatSnap's global patent database using standard text queries. Returns the first patent detail and a list of 20 patents one patent forward or backward from the offset location.
      tags:
      - Custom Aggregate Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful d009 patent search detail response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D009PatentQuerySearchPatentDetailResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/patent/query-search-patent-detail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/D009PatentQuerySearchPatentDetailRequest'
components:
  schemas:
    D114ReportdataPatentInfo_PatentInfoResponse:
      type: object
      properties:
        data:
          type: array
          example: []
          description: data
          items:
            $ref: '#/components/schemas/D114ReportdataPatentInfo_PIItemData'
    D007BasicPatentDataPatentDetail_TitleAbstractDescriptionTranslation:
      type: object
      properties:
        lang:
          type: string
          example: EN
          description: language
        text:
          type: string
          example: Systems and methods for rendering user interfaces for augmented or virtual reality
          description: text
        pn_related:
          type: string
          example: CN103106923A
          description: patent number of related patent (provided only if the substitute is made using the text of the same family patent)
    D112ReportdataFamnRankRequest:
      type: object
      properties:
        query_text:
          type: string
          example: 'TACD: virtual reality'
          description: Analytics query, maximum length 1,500 characters
        collapse_type:
          type: string
          example: ALL
          description: Select the collapse type, "ALL" or Null value means no collapse; "APNO" means collapse according to application number; "DOCDB" means collapse according to simple family; "INPADOC" means collapse according to inpadoc family; "EXTEND" means collapse according to patsnap family
        collapse_by:
          type: string
          example: PBD
          description: <p>Select the sort field for patent collapse,</p><p>"APD" means order according to application date;</p><p>"PBD" means order according to publication date;</p><p>"AUTHORITY" means order according to authority;</p><p>"SCORE" means order according to the relevance score</p>
        collapse_order:
          type: string
          example: LATEST
          description: Select the patent collapse ordering rule that is valid only if collapse_by is APD or PBD, setting OLDEST or LATEST to keep the earliest or latest one
        collapse_order_authority:
          type: array
          example:
          - CN
          - US
          - EP
          - JP
          - KR
          description: Sets the order of patent collapse according to the input authorities priority list, valid only if collapse_by is AUTHORITY
        sort:
          type: array
          example:
          - field: SCORE
            order: DESC
          description: '<p>Field order, field can support: PBDT_YEARMONTHDAY, APD_YEARMONTHDAY, ISD,SCORE; order can support: desc, asc. The default ranking is the most relevant by Score</p><p>PBDT_YEARMONTHDAY: Publication date</p><p>APD_YEARMONTHDAY: Application date</p><p>ISD: Issue date</p><p>Score: relevancy</p>'
      required:
      - query_text
    D201JdfPatentDetailText_TechProblemSummary:
      type: object
      properties:
        tech_problem_para:
          type: array
          example: <cn>["现有的TFT-LCD液晶屏生产过程中，针对单元液晶屏进行的检测通常只能比较直观地检测出不良现象，对于产生的不良的原因仍需要进一步分析判断。同时，不同尺寸液晶屏的Cell Test检测设备在产品开发阶段都需要定制购买价格不菲的点屏设备，不同尺寸液晶屏的Cell Test检测设备完全不能共用，且开发阶段针对不同尺寸液晶屏的Cell Test检测设备调试复杂，工作效率较低。"]</cn><us>["The technical problem addressed in this patent text is how to improve the function and performance of electronic devices, particularly mobile terminals, by enhancing their ability to capture and play high-quality video and music files, as well as to provide 5G wireless communication services in various frequency bands. This involves optimizing the design of antenna modules and ensuring signal reception stability, while addressing the challenge of providing multiple-input multiple-output (MIMO) capabilities with only one antenna module."]</us>
          description: Technical Problem Paragraph
        tech_problem_word:
          type: array
          example: <cn>["效率低"]</cn><us>["difficult to dispose"]</us>
          description: Technical Problem Word
    D007BasicPatentDataPatentDetail_PatentDetailResp:
      type: object
      properties:
        pn:
          type: string
          example: CN110650438A
          description: Patent number
        title:
          type: array
          example: title
          description: invention title
          items:
            $ref: '#/components/schemas/D007BasicPatentDataPatentDetail_TitleReplacedModel'
        claims:
          type: array
          example: 'Please check the form: Claims'
          description: claim data
          items:
            $ref: '#/components/schemas/D007BasicPatentDataPatentDetail_ClaimsReplacedModel'
        abstracts:
          type: array
          example: PatentAbstract
          description: patent abstract
          items:
            $ref: '#/components/schemas/D007BasicPatentDataPatentDetail_AbstractReplacedModel'
        patent_id:
          type: string
          example: 1e099a74-4378-4b84-9d13-f1b4ed5cb59b
          description: Patent id
        description:
          type: array
          example: Description
          description: description
          items:
            $ref: '#/components/schemas/D007BasicPatentDataPatentDetail_DescReplacedModel'
        fulltext_image:
          type: array
          example: 'Please check the form: FullTextImage'
          description: fulltext image
          items:
            $ref: '#/components/schemas/D007BasicPatentDataPatentDetail_FullTextImage'
        title_translation:
          type: array
          example: 'Please check the form: TitleAbstractDescriptionTranslation'
          description: translated title
          items:
            $ref: '#/components/schemas/D007BasicPatentDataPatentDetail_TitleAbstractDescriptionTranslation'
        bibliographic_data:
          $ref: '#/components/schemas/D007BasicPatentDataPatentDetail_PDBibliographicData'
        claims_translation:
          type: array
          example: 'Please check the form: TitleAbstractDescriptionTranslation'
          description: translated claims
          items:
            $ref: '#/components/schemas/D007BasicPatentDataPatentDetail_TitleAbstractDescriptionTranslation'
        abstracts_translation:
          type: array
          example: 'Please check the form: TitleAbstractDescriptionTranslation'
          description: translated abstract
          items:
            $ref: '#/components/schemas/D007BasicPatentDataPatentDetail_TitleAbstractDescriptionTranslation'
        description_translation:
          type: array
          example: 'Please check the form: TitleAbstractDescriptionTranslation'
          description: translated description
          items:
            $ref: '#/components/schemas/D007BasicPatentDataPatentDetail_TitleAbstractDescriptionTranslation'
    D102ReportdataApplicantRankResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/D102ReportdataApplicantRank_ApplicantRankResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    D102ReportdataApplicantRank_ApplicantRankResponse:
      type: object
      properties:
        values:
          type: array
          example: []
          description: values
          items:
            $ref: '#/components/schemas/D102ReportdataApplicantRank_ARItemData'
    D007BasicPatentDataPatentDetail_InpadocFamily:
      type: object
      properties:
        apdt:
          type: integer
          format: int32
          example: 20221107
          description: application date
        apno:
          type: string
          example: US17/981970
          description: application number
        kind:
          type: string
          example: A1
          description: kind code
        pbdt:
          type: integer
          format: int32
          example: 20240509
          description: publication date
        country:
          type: string
          example: US
          description: citation authority
        sequence:
          type: integer
          format: int32
          example: 1
          description: sequence
        doc_number:
          type: string
          example: 20240149898
          description: doc number
    D201JdfPatentDetailText_JdfPatentBaseInfo:
      type: object
      properties:
        date:
          type: integer
          format: int32
          example: 20211221
          description: 'dates: publication, applicaton, priority .etc<p>YYYYMMDD format</p>'
        kind:
          type: string
          example: B2
          description: kind code
        year:
          type: integer
          format: int32
          example: 2012
          description: year
        month:
          type: integer
          format: int32
          example: 202112
          description: year and month
        country:
          type: string
          example: US
          description: authority
        doc_number:
          type: string
          example: '11205304'
          description: doc number
    D104ReportdataApplicantTrend_ATItemData:
      type: object
      properties:
        info:
          type: array
          example: []
          description: info
          items:
            $ref: '#/components/schemas/D104ReportdataApplicantTrend_ATInfoData'
        name:
          type: string
          example: 华为技术有限公司
          description: name
    D201JdfPatentDetailText_JdfClassificationData:
      type: object
      properties:
        classification_cpc:
          $ref: '#/components/schemas/D201JdfPatentDetailText_JdfClassificationDoc'
        classification_ipcr:
          $ref: '#/components/schemas/D201JdfPatentDetailText_JdfClassificationDoc'
    StatementV2_StatementResponseV2:
      type: object
      properties:
        usage:
          type: array
          example:
          - fee_times: 1
            used_money: 0
            usage_times: 1
            request_path: /basic-patent-data/fulltext-image
            serial_number: P042
            request_path_name: <cn>[P042]全文附图</cn><us>[P042]Fulltext Image</us>
          description: Details of usage for each billing interface
          items:
            $ref: '#/components/schemas/StatementV2_PathUsage'
        combo_usage:
          type: array
          example:
          - url: /ai/quick-search-report/query
            url_name: <cn>[AI34-3]预研报告查询（Beta）</cn><us>[AI34-3]Quick-search report Query(Beta)</us>
            used_num: 21
          - url: /ai/formulation-agent-query
            url_name: <cn>[M001-2]配方助手-报告查询</cn><us>[M001-2]Formulation agent query</us>
            used_num: 7
          description: Details of usage for each counting interface
          items:
            $ref: '#/components/schemas/StatementV2_ComboUsage'
        usage_money:
          type: number
          example: 100
          description: The amount spent on the billing interface
        combo_use_num:
          type: integer
          format: int32
          example: 100
          description: Count the usage times of the interface
        combo_usage_num:
          type: integer
          format: int32
          example: 100
          description: The number of times the interface counts
    D007BasicPatentDataPatentDetail_ReferenceCitedSimple:
      type: object
      properties:
        cited_others:
          type: array
          example:
          - 鲍则民.杭州创新联合担保模式浅析.《吉林大学学报（信息科学版）》.2012
          description: citation reference text
        cited_patents:
          type: array
          example:
          - CN203027992U
          description: citation patent  number
    D201JdfPatentDetailText_JdfParties:
      type: object
      properties:
        assignees:
          type: array
          example: 'Please check the form: PatentBasePerson'
          description: current assignee
          items:
            $ref: '#/components/schemas/D201JdfPatentDetailText_PatentBasePerson'
    D005QuerySearchPatentV3_PatentSearchSpecialResponse:
      type: object
      properties:
        pn:
          type: string
          example: US11205304B2
          description: patent number
        apdt:
          type: integer
          format: int32
          example: 20211108
          description: Application Date
        apno:
          type: string
          example: US17/521392
          description: Application Number
        pbdt:
          type: integer
          format: int32
          example: 20230815
          description: Publication Date
        title:
          type: string
          example: Techniques for using multiple symbols to provide feedback for a sidelink transmission
          description: Title
        abstract:
          type: string
          example: 718ead9c-4f3c-4674-8f5a-24e126827269
          description: abstract
        inventor:
          type: string
          example: ELSHAFIE, AHMED | YANG, WEI | HOSSEINI, SEYEDKIANOUSH
          description: Inventor
        patent_id:
          type: string
          example: 718ead9c-4f3c-4674-8f5a-24e126827269
          description: patent id
        inpadoc_family:
          type: array
          example: 'Please check the form: InpadocFamily'
          description: inpadoc family
          items:
            $ref: '#/components/schemas/D005QuerySearchPatentV3_InpadocFamily'
        current_assignee:
          type: string
          example: QUALCOMM INCORPORATED
          description: Current Assignee
        original_assignee:
          type: string
          example: QUALCOMM INCORPORATED
          description: Original Assignee (Applicant)
        first_priority_date:
          type: integer
          format: int32
          example: 20211108
          description: First Priority Date
        first_priority_number:
          type: array
          example:
          - US20240149898A1
          description: First Priority Number
    D201JdfPatentDetailText_JdfLangText:
      type: object
      properties:
        lang:
          type: string
          example: CN
          description: lang
        text:
          type: string
          example: \n背景技术\n<b class=\"d_n\">[0002]</b>有机电致发光材料(OLED)作为新一代显示技术，具有超薄、自发光、视角宽、响应快、发光效率高、温度适应性好、生产工艺简单、驱动电压低、能耗低等优点，已广泛应用于平板显示、柔性显示、固态照明和车载显示等行业。\n<b class=\"d_n\">[0003]</b>有机发光现象是指使用有机材料将电能转换成光能的现象。利用有机发光现象的有机发光器件通常具有这样的结构，其包括阳极、阴极和其间的有机材料层。有机材料层通常以由不同材料构成的多层结构形成以提高有机电致发光器件的亮度、效率和寿命，有机材料层可由空穴注入层、空穴传输层、发光层、电子传输层和电子注入层等构成。有机发光器件结构中，当在两个电极之间施加电压时，空穴和电子分别从阳极和阴极注入有机材料层，当注入的空穴与电子相遇时形成激子，并且当这些激子返回基态时发光。现有的有机电致发光器件中，最主要的问题为寿命和效率，随着显示器的大面积化，驱动电压也随之提高，发光效率及电力效率也需要提高，并且要保证一定的使用寿命，因此，有机材料必须要解决这些效率或寿命问题，需要不断地开发高效率，长寿命，适于量产的用于有机发光器件的新材料。\n<b class=\"d_n\">[0004]</b>需要说明的是，在上述背景技术部分公开的信息仅用于加强对本申请的背景的理解，因此可以包括不构成对本领域普通技术人员已知的现有技术的信息。
          description: text
    D201JdfPatentDetailText_PatentBasePerson:
      type: object
      properties:
        num:
          type: string
          example: '0001'
          description: patent sequence
        lang:
          type: string
          example: EN
          description: language
        name:
          type: string
          example: MAGIC LEAP, INC.
          description: name
        text:
          type: string
          example: Systems and methods for rendering user interfaces for augmented or virtual reality
          description: text
        address:
          type: string
          example: Dania Beach,FL,US
          description: address
        rep_type:
          type: string
          example: agency
          description: 'Type:

            <p>agency means patent agency,</p><p>agents means patent agent</p><p>primary means primary examiner</p><p>assistant means assistant examiner</p>'
        sequence:
          type: integer
          format: int32
          example: 1
          description: sequence
        data_format:
          type: string
          example: original
          description: 'Original data: if there are several languages with original data, all will be returned'
    D009PatentQuerySearchPatentDetail_PatentSearchSort:
      type: object
      properties:
        field:
          type: string
          example: APD_YEARMONTHDAY
          description: field
        order:
          type: string
          example: desc
          description: order
    D007BasicPatentDataPatentDetail_FullTextImage:
      type: object
      properties:
        path:
          type: string
          example: https://imagefulltext.cdn.patsnap.com/CN/A/11/64/20/14/1/HDA0004204487520000011.png?Policy=eyJTdGF0ZW1lbnQiOiBbeyJSZXNvdXJjZSI6Imh0dHBzOi8vaW1hZ2VmdWxsdGV4dC5jZG4ucGF0c25hcC5jb20vQ04vQS8xMS82NC8yMC8xNC8xL0hEQTAwMDQyMDQ0ODc1MjAwMDAwMTEucG5nIiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoxNjg5NzU5OTc4fSwiSXBBZGRyZXNzIjp7IkFXUzpTb3VyY2VJcCI6IjAuMC4wLjAvMCJ9fX1dfQ__&Signature=S~Q6SepgmAUeGpWeUABJbC9Kc12URSxbhkY9zBApF5wRmm~cxj~HUgGEtXgtiTEMfgptv~58YE3OaJMvYLCkQAY5cxvNg5Fz~GFunxta5bEEObhX5H9jPb92INmrNkbcyFsCDw8EWs2sYl8o1rYY8VSQEnqsUNtnh2XHS3j7Tzs7~408IICBvcPhEfYq-U-wGs49gdCwEnH3kfgrVorquq1pELnylyoOlSvRX0tBS~n7fnbdA-tqfPVVeH68BRxX5g8sEnn-Sow6V3UnuHv7018LYM5B2QdeNo64JRHAvypjvIY9Q~511oR2TRB6eU4agFIEvz~GDS~XK~Vwxj90Sw__&Key-Pair-Id=APKAI44SYS6CW72N3U2Q
          description: fulltext image path
        image_type:
          type: string
          example: drawings
          description: fulltext image type
    D101ReportdataLifeCycleRequest:
      type: object
      properties:
        collapse_order:
          type: string
          example: LATEST
          description: Select the patent collapse ordering rule that is valid only if collapse_by is APD or PBD, setting OLDEST or LATEST to keep the earliest or latest one
        query_text:
          type: string
          example: TACD_ALL:(patsnap)
          description: Enter the Analytics Query, with a maximum length of 800 characters and cannot contain complex wildcards such as $W  $PRE   $WS  $SEN  $PARA  $FREQ .etc
        sort:
          type: array
          example:
          - field: score
            order: desc
          description: field order
          items:
            $ref: '#/components/schemas/D101ReportdataLifeCycle_LifeCycleSort'
        collapse_type:
          type: string
          example: ALL
          description: Select the collapse type, "ALL" or Null value means no collapse; "APNO" means collapse according to application number; "DOCDB" means collapse according to simple family; "INPADOC" means collapse according to inpadoc family; "EXTEND" means collapse according to patsnap family
        collapse_by:
          type: string
          example: PBD
          description: <p>Select the sort field for patent collapse,</p><p>"APD" means order according to application date;</p><p>"PBD" means order according to publication date;</p><p>"AUTHORITY" means order according to authority;</p><p>"SCORE" means order according to the relevance score</p>
        collapse_order_authority:
          type: array
          example:
          - CN
          - US
          - EP
          - JP
          - KR
          description: Sets the order of patent collapse according to the input authorities priority list, valid only if collapse_by is AUTHORITY
      required:
      - query_text
    D103ReportdataApplicantTechnologyAnalysis_ATAItemData:
      type: object
      properties:
        ipc:
          type: array
          example: []
          description: IPC classification
          items:
            $ref: '#/components/schemas/D103ReportdataApplicantTechnologyAnalysis_ATAIPCData'
        name:
          type: string
          example: 华为技术有限公司
          description: Applicant name
    D106ReportdataPatentTrend_PTItemData:
      type: object
      properties:
        year:
          type: string
          example: 2024
          description: year
        total:
          type: integer
          format: int32
          example: 100000
          description: total
        grant_num:
          type: integer
          format: int32
          example: 900000
          description: grant number
        grant_rate:
          type: number
          format: float
          example: 90
          description: grant rate
    D104ReportdataApplicantTrendResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/D104ReportdataApplicantTrend_ApplicantTrendResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    D201JdfPatentDetailText_JdfClassificationDoc:
      type: object
      properties:
        main_classification:
          $ref: '#/components/schemas/D201JdfPatentDetailText_JdfClassifiationCode'
        further_classification:
          type: array
          example: 'Please check the form: ClassifiationCode'
          description: further classification
          items:
            $ref: '#/components/schemas/D201JdfPatentDetailText_JdfClassifiationCode'
    D007BasicPatentDataPatentDetail_DescReplacedModel:
      type: object
      properties:
        lang:
          type: string
          example: JP
          description: language
        text:
          type: string
          example: <b class="d_n">【0001】</b>【発明の属する技術分野】本発明は圧電発振器回路に関し、特に低電源電圧で動作する圧電発振器回路に関する。\n<b class=\"d_n\">【0002】</b>\n【従来の技術】携帯電話機等バッテリーを電源とする移動体通信機器は、消費電力を極力少なくすることにより、同一容量のバッテリーにて通信可能時間が長時間である機種が従来より強く求められている。この為、従来移動体通信機に使用するバッテリーの性能の向上を図ると共に、水晶発振器を含む使用部品の低電力化等による対応を進めている。即ち、駆動電圧を低く設定できれば同一容量のバッテリーでより多くの電流容量を供給できる。一方、この様な水晶発振器に要求される不可欠な重要特性として、広い温度範囲にわたる高い周波数精度や出力振幅の安定性が挙げられるが、水晶発振器は温度特性を有する数多くの部品を用いて構成している為、前記特性を悪化する要因が複数存在する。  上記の要因の一つとしては発振回路内に使用しているトランジスタの動作電流が周囲の温度変化により大きく変化する為に相互コンダクタンスが変化することが知られており、その結果、出力信号の振幅が変動したり、また、トランジスタの入力容量が変化し出力周波数が変動するという問題が生じる。\n<b class=\"d_n\">【0003】</b>このことを図面を用いて説明すると、図7は従来技術として一般的に知られるコルピッツ型水晶発振回路である。同図中のR1、R2、R3、R4はトランジスタの直流バイアス抵抗であり、C1、C2、C3、C4はコンデンサであり、Q1はトランジスタであり、Y1は水晶振動子である。また、前記直流バイアス抵抗は、前記トランジスタQ1がA級動作するように値を設定することが一般的である。上述したように温度変化に対するトランジスタの動作電流が変化する主要因としては、トランジスタのベースとエミッタ間の電圧(以下V<sub>BE</sub>と称す)が一次関数的な温度特性を有する為である。従来このような問題を解決する為に、前記直流バイアス抵抗R2にベース電流の数倍から数十倍の電流を流すよう設定を行い前記V<sub>BE</sub>の変化に伴うトランジスタのベース電圧の変動を抑えた設定としていた。また、出力信号の振幅の変動に対しては、従来コレクタ電流を十分多く流すことで予め高出力信号振幅に設定しておき、温度変化により出力信号の振幅が減少した場合に於いても要求する特性を満たすようにしていた。また、エミッタ電圧をV<sub>E</sub>、ベース電圧をV<sub>B</sub>、とした場合、V<sub>E</sub>≒V<sub>B</sub>-V<sub>BE</sub>よりベース電圧V<sub>B</sub>を大きく設定することによりV<sub>BE</sub>の変化に対するエミッタ電圧V<sub>E</sub>の変化を小さくし、エミッタ電流及び、コレクタ電流の変動を抑える設定を行っていた。\n<b class=\"d_n\">【0004】</b>\n【本発明が解決しようとする課題】しかしながら、前記図6に示すような従来の発振回路に於いて、上述したようにベース電圧をV<sub>BE</sub>に対し十分大きく設定する為には電源電圧が十分高いことが必要であり、従って、近年要求される低電圧化を図った発振回路への採用は不可能である。  また、温度変化に伴う出力信号の振幅変動分を補う為にコレクタ電流を多く流し予め高振幅の出力信号を得る方法は、低消費電流の要求に反することになり、その解決が望まれていた。本発明は上記の問題を解決する為になされたものであって、低電源電圧駆動を可能とし、しかも低消費電流であり、更に、発振周波数精度と出力信号の振幅の安定性に優れた圧電発振器を提供することを目的としている。\n<b class=\"d_n\">【0005】</b>\n【課題を解決するための手段】従来の発振回路に於ける前記問題の発生の要因は発振回路中のトランジスタのベースとエミッタ間の電圧V<sub>BE</sub>が温度変化に伴い変動するにも関わらず、トランジスタのベース電圧が固定されている為にある。そこで本発明では、上記を解決する為に、本発明に係わる圧電発振回路の請求項1記載の発明は、発振回路中のトランジスタのベースバイアス回路に前記トランジスタのベースとエミッタ間の電圧と同等の温度·電圧特性を有する半導体素子を備えることにより、前記トランジスタの温度変化に伴うコレクタ·エミッタ電流の変化を抑圧するように構成したことを特徴とした前記圧電発振回路。請求項2記載の発明は前記半導体素子をベースとエミッタとを接続したトランジスタをベースバイアス回路に挿入していることを特徴としている。請求項3記載の発明は前記請求項1の発明に加え、前記圧電発振回路がカスコード型増幅回路を備えたコルピッツ発振回路であることを特徴としている。請求項4記載の発明は前記請求項1、請求項2又は請求項3記載の発明に加え、発振用トランジスタをベースバイアス回路中のトランジスタと同一種類とした構成を特徴としている。\n<b class=\"d_n\">【0006】</b>\n【本発明の実施の形態】以下、図示した実施例に基づいて本発明を詳細に説明する。図1は本発明を用いた水晶発振回路の一実施例を示す回路図である。同図に示す発振回路は直流バイアス抵抗素子R1、R2、R3、R4とコンデンサC1、C2、C3、C4とトランジスタQ1、Q2と水晶振動子Y1から構成しており、前記図7に示す従来のコルピッツ型水晶発振回路とは前記トランジスタQ1のベースバイアス回路の以下の点が異なる。即ち、前記ベースバイアス回路の直流バイアス抵抗R2に直列にベースとコレクタを接続したダイオード接続したトランジスタQ2を接続しており、更に、前記トランジスタQ1とQ2を同一種類とすることにより、前記半導体素子V<sub>T</sub>を前記トランジスタQ2により構成している。これにより温度変化による前記トランジスタQ1のV<sub>BE</sub>の電圧変化に追従するようにベース電圧が変化する為、前記トランジスタQ1の温度変化に伴うコレクタ電流とエミッタ電流の変化を抑え、しかも、温度変化に対し安定な信号振幅の出力を可能とした水晶発振回路を実現することができる。\n<b class=\"d_n\">【0007】</b>以下に、このことを数式を用いて詳細に説明する。今、前記図1の発振回路に於いて、コレクタ電流をI<sub>C</sub>、トランジスタQ1のベースとエミッタ間の電圧をV<sub>BE1</sub>、トランジスタQ2のベースとエミッタ間の電圧をV<sub>BE2</sub>、直流バイアス抵抗R2に流れる電流をI<sub>R2</sub>とする。前記コレクタ電流I<sub>C</sub>は一般的に      I<sub>C</sub>=(V<sub>BE2</sub>+I<sub>R2</sub>×R2-V<sub>BE1</sub>)/R4····(1)\nの関係式で示すことができるが、温度変化によりV<sub>BE1</sub>及び、V<sub>BE2</sub>がそれぞれ+△V<sub>BE1</sub>及び、+△V<sub>BE2</sub>変化した場合のコレクタ電流I<sub>C</sub>+△I<sub>C</sub>はI<sub>C</sub>+△I<sub>C</sub>=(V<sub>BE2</sub>+△V<sub>BE2</sub>+I<sub>R2</sub>×R2-(V<sub>BE1</sub>+△V<sub>BE1</sub>))/R4····(2)\nで表すことができる。上述した通りトランジスタQ1とQ2は同一種類の半導体素子を使用している為、V<sub>BE1</sub>とV<sub>BE2</sub>の温度変化による電圧変化量は等しく△V<sub>BE1</sub>=△V<sub>BE2</sub>とすることができる。よって、前記温度変化でのコレクタ電流I<sub>C</sub>+△I<sub>C</sub>は  I<sub>C</sub>+△I<sub>C</sub>=(V<sub>BE2</sub>+I<sub>R2</sub>×R2-V<sub>BE1</sub>)/R4····(3)\nで表され、これは前記式(1)のI<sub>C</sub>と等しい。即ち、温度変化に伴う前記トランジスタQ1のベースとエミッタ間の電圧変化は前記トランジスタQ2のベースとエミッタ間の電圧変化により相殺される為、コレクタ電流I<sub>C</sub>は温度変化に対し、これに影響されず一定の電流値が流れるので安定した発振周波数や出力信号の振幅を得ることができる。\n<b class=\"d_n\">【0008】</b>図3は本発明を採用した他の一実施例を示す水晶発振回路であって、この例に示す回路はカスコード型の増幅回路を用いたコルピッツ発振回路である。同図に於いて、Q1、Q2、Q3はトランジスタでありQ2はダイオード接続構造であり、更に、前記トランジスタQ1、Q2は同一ものを使用している。同図中のR1、R2、R3、R4、R5はトランジスタの直流バイアス抵抗であり、またC1、C2、C3、C4、C5はコンデンサであり、前記C1、C2は発振器特性に応じた容量値を有し、前記C3、C4、C5はバイパスコンデンサである。更に、同図中のY1は水晶振動子であり、実施例中では発振器出力周波数が、f<sub>0</sub>=15.36MHzとなる水晶振動子を使用している。また、同図に示す発振回路の構成は、前記抵抗R1の一方の端子を前記レギュレータU1の出力端子に接続し、他方の端子は前記トランジスタQ3のベース端子と前記コンデンサC4に接続しており、該C4の他方の端子は接地している。前記R2の一方の端子は前記U1の出力端子及び、前記R1に接続しており、他方の端子は前記トランジスタQ1のベース端子と、前記水晶振動子Y1の一方の端子及び、前記コンデンサC1の一方の端子に接続している。また、該C1の他方の端子は前記Q1のエミッタ端子と前記コンデンサC2及び、前記R5に接続しており、前記C2及び、R5の他方の端子は接地している。前記R3は一方の端子は前記Q1のベース端子及び前記R2及び振動子Y1に接続し、他方の端子は前記トランジスタQ3のコレクタ及び、ベース端子と接続しており、前記Q3のエミッタ端子及び、前記振動子Y1の他方の端子は接地している。前記R4の一方の端子は電源と前記U1の入力端子及び、前記コンデンサC3に接続しており、他方の端子は前記Q2のコレクタ端子及び前記コンデンサC5に接続し、該C5の他方の端子は発振器出力端子に接続している。前記C3の他方の端子は接地しており、前記Q1のコレクタ端子と前記Q2のエミッタ端子は接続している。\n<b class=\"d_n\">【0009】</b>また、本発明の効果を分かり易くする為、図8に示す従来技術に基づくカスコード接続型増幅回路を用いたコルピッツ型発振回路についても評価を行い特性の比較を行った。前記図7に示す発振回路は前記図3に示す発振回路に対し、発振用トランジスタQ1’のベースバイアス回路が直流バイアス抵抗R3’のみの接続としている点が異なる。図2と図7に示す発振回路は低電源電圧駆動とする為、電源電圧は+2.7Vとし、前記レギュレータの出力は+1.7Vとしている。更に、前記トランジスタQ1、Q1’のベース電位は約+0.8Vに設定しその殆どがV<sub>BE</sub>が占める設定としている。\n<b class=\"d_n\">【0010】</b>以下に、前記図2に示す発振回路と前記図7に示す発振回路の温度変化に対するコレクタ電流I<sub>C</sub>の変化及び、出力信号の振幅の変化についての評価結果を説明する。図3はそれぞれの発振回路に於いて、周囲温度が-30℃〜+85℃の範囲で変化する場合でのコレクタ電流I<sub>C</sub>の変化を測定した結果を示す。図4は図7に示す発振回路に於ける周囲温度-30℃と+25℃と+85℃での発振器の出力信号の振幅を示す。図5は図2に示す発振回路に於ける周囲温度-30℃と+25℃と+85℃での発振器の出力信号の振幅を示す。\n<b class=\"d_n\">【0011】</b>前記図3に示す通り、前記従来の発振回路ではコレクタ電流I<sub>C</sub>は400μA以上の幅で変化しまた、出力信号の振幅は約0.9V<sub>P-P</sub>の幅で変化する。これに対し、本発明に基づく発振回路ではコレクタ電流I<sub>C</sub>は100μA以内の幅で変化し、前記従来の発振回路に於けるコレクタ電流I<sub>C</sub>の変化幅と比較して変化幅が例えば約1/4と狭い特性となる結果が得られている。\n<b class=\"d_n\">【0012】</b>また、出力振幅は図6に示す通り、本発明に基づく発振回路に於いては約0.2V<sub>P-P</sub>の幅で変化し、前記従来技術に基づく発振回路の出力振幅と比較して変化幅が約1/5と狭い特性となる結果が得られた。\n<b class=\"d_n\">【0013】</b>\n【本発明の効果】前記の結果より、前記図2に示す本発明に基づく発振回路は前記図7に示す従来技術に基づく発振回路と比較して、温度変化に対しトランジスタのコレクタ電流が一定に保たれる為にトランジスタの入力容量が変化せず、発振器の発振周波数が変動し難くなる効果をもたらすことが理解できる。また、温度変化に対し発振器の出力信号の振幅が安定しているので、従来技術と比較して設定時の出力信号の振幅を抑えることが可能である為、発振器の更なる低消費電流化が実現できる効果をもたらすことが理解できる。よって、本発明により低電源電圧駆動でありながら広温度範囲に於いて、低消費電流であり且つ、出力信号の振幅の変動が小さい特性を有する水晶圧電発振器を実現できる。\n<b class=\"d_n\">【0014】</b>また、本発明による一実施例ではカスコード型増幅回路を用いたコルピッツ発振回路について説明したが、本発明はこれに限るものでなく、あらゆる水晶発振器の発振用増幅回路に適用でき、また、実施例と同様の効果が得られることは言うまでもない。\n<b class=\"d_n\">【0015】</b>また、本発明による一実施例では圧電素子として水晶振動子及び、特定の周波数を用いたが、本発明はこれに限るものではなくあらゆる圧電素子及び、周波数に適用でき、また、実施例と同様の効果が得られることは言うまでもない。\n<b class=\"d_n\">【0016】</b>また、本発明による一実施例では発振用トランジスタQ1、Q1’と、ベースバイアス回路内に有するトランジスタQ3、Q3’をそれぞれ同一の種類としているが、本発明はこれに限るものでなく、圧電発振器の出力振幅が安定するようなトランジスタの組み合わせであれば異なる種類のトランジスタの組み合わせであっても構わない。\n<b class=\"d_n\">【0017】</b>\n【図面の簡単な説明】\n【図1】本発明に基づく一実施例を示す\n【図2】本発明に基づく他の一実施例を示す\n【図3】温度変化に対するコレクタ電流の変化を示す\n【図4】従来技術に基づく発振回路の出力波形温度変化を示す\n【図5】本発明に基づく発振回路の出力波形温度変化を示す\n【図6】従来技術に基づくカスコード型増幅回路を用いたコルピッツ型発振回路\n【図7】従来技術に基づくカスコード型増幅回路を用いたコルッピツ型発振回路\n<b class=\"d_n\">【0018】</b>\n【符号の説明】\nU1、U1’···レギュレータ\nR1、R2、R3、R4、R5、R1’、R2’、R3’、R4’、R5’···抵抗素子\nC1、C2、C3、C4、C5、C1’、C2’、C3’、C4’、C5’···コンデンサ\nQ1、Q2、Q3、Q1’、Q2’ 、Q3’···トランジスタ\nY1、Y1’···水晶振動子
          description: text
        pn_related:
          type: string
          example: CN103106923A
          description: patent number of related patent (provided only if the substitute is made using the text of the same family patent)
        data_format:
          type: string
          example: original
          description: 'Original data: if there are several languages with original data, all will be returned'
    D102ReportdataApplicantRank_ARItemData:
      type: object
      properties:
        num:
          type: integer
          format: int32
          example: 79949
          description: patent num
        name:
          type: string
          example: 华为技术有限公司
          description: name
    D010PatentQuerySearchFacet_PatentSearchCollapse:
      type: object
      properties:
        field:
          type: string
          example: AUTHORITY
          description: field
        order:
          type: string
          example: CN,US,EP,WO
          description: order
    D008BasicPatentDataPatentPdf_PdfDocument:
      type: object
      properties:
        path:
          type: string
          example: https://patsnap-pdf.cdn.zhihuiya.com/EP/B1/24/58/38/0/EP_2458380_B1.pdf?response-content-disposition=attachment%3Bfilename%2A%3DUTF-8%27%27EP_2458380_B1.pdf&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20210929T072803Z&X-Amz-SignedHeaders=host&X-Amz-Expires=10800&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20210929%2Fcn-northwest-1%2Fs3%2Faws4_request&X-Amz-Signature=1f6b20f00d4b96ff1836cad9520e47fda64d8f5fe18f0a67c92acc88d9495b0c
          description: pdf path
    D110ReportdataRecOfficeYearResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/D110ReportdataRecOfficeYear_RecOfficeYearResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    D005QuerySearchPatentV3Request:
      type: object
      properties:
        offset:
          type: integer
          format: int32
          example: 0
          description: offset value; offset <= 20000 (A single call returns a list of 20 patents)
        sort:
          type: array
          example:
          - field: SCORE
            order: DESC
          description: '<p>Field order, field can support: PBDT_YEARMONTHDAY, APD_YEARMONTHDAY, ISD,SCORE; order can support: desc, asc. The default ranking is the most relevant by Score</p><p>PBDT_YEARMONTHDAY: Publication date</p><p>APD_YEARMONTHDAY: Application date</p><p>ISD: Issue date</p><p>Score: relevancy</p>'
          items:
            $ref: '#/components/schemas/D005QuerySearchPatentV3_PatentSearchSort'
        collapse_by:
          type: array
          example:
          - field: AUTHORITY
            order: CN,US,EP,WO
          - field: TYPE
            order: GRANTED
          description: Select the patent collapse ordering rule
          items:
            $ref: '#/components/schemas/D005QuerySearchPatentV3_PatentSearchCollapse'
        stemming:
          type: integer
          format: int32
          example: 0
          description: '<p>Whether to turn on the stemming function, 1: turn on; 0: turn off. Off by default</p><p>Note: </p><p>Stemming ON will search for the original word and expand the search to consider singular, plural, and tense variations e.g. a search for "come" will expand to "comes", "came", "coming" and so on.</p><p>Stemming OFF will only search for exact matches of the keywords entered.</p><p>The use of wildcards in keywords within a search query will impact the effect of stemming.</p><p>Stemming ON only supports English words. Stemming does not apply to Assignees, Inventors, or any other person-related fields.</p>'
        query_text:
          type: string
          example: 'TACD: virtual reality'
          description: Analytics query, maximum length 1,500 characters
        collapse_type:
          type: string
          example: ALL
          description: Select the collapse type, "ALL" or Null value means no collapse; "APNO" means collapse according to application number; "DOCDB" means collapse according to simple family; "INPADOC" means collapse according to inpadoc family; "EXTEND" means collapse according to patsnap family
      required:
      - collapse_by
      - query_text
    D009PatentQuerySearchPatentDetail_PatentBasePersonSimple:
      type: object
      properties:
        lang:
          type: string
          example: EN
          description: language
        name:
          type: string
          example: MAGIC LEAP, INC.
          description: name
        address:
          type: string
          example: Dania Beach,FL,US
          description: address
        sequence:
          type: integer
          format: int32
          example: 1
          description: sequence
    D010PatentQuerySearchFacetResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/D010PatentQuerySearchFacet_SearchPatentSpecialFacetResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    D005QuerySearchPatentV3_SearchPatentSpecialResponse:
      type: object
      properties:
        results:
          type: array
          example: PatentBaseV2Response
          description: result
          items:
            $ref: '#/components/schemas/D005QuerySearchPatentV3_PatentSearchSpecialResponse'
        result_count:
          type: integer
          format: int32
          example: 10
          description: Received result count
        total_search_result_count:
          type: integer
          format: int64
          example: 1000
          description: Total search result count
    D005QuerySearchPatentV3_InpadocFamily:
      type: object
      properties:
        apdt:
          type: integer
          format: int32
          example: 20221107
          description: application date
        apno:
          type: string
          example: US17/981970
          description: application number
        kind:
          type: string
          example: A1
          description: kind code
        pbdt:
          type: integer
          format: int32
          example: 20240509
          description: publication date
        country:
          type: string
          example: US
          description: citation authority
        sequence:
          type: integer
          format: int32
          example: 1
          description: sequence
        doc_number:
          type: string
          example: 20240149898
          description: doc number
    D007BasicPatentDataPatentDetail_ApplicationReference:
      type: object
      properties:
        apno:
          type: string
          example: CN201510570472.5
          description: application number
        date:
          type: integer
          format: int32
          example: 20211221
          description: 'dates: publication, applicaton, priority .etc<p>YYYYMMDD format</p>'
    D105ReportdataCooperationApplicantAnalysisResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/D105ReportdataCooperationApplicantAnalysis_CooperationApplicantAnalysisResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    D005QuerySearchPatentV3Response:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/D005QuerySearchPatentV3_SearchPatentSpecialResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    D104ReportdataApplicantTrendRequest:
      type: object
      properties:
        query_text:
          type: string
          example: 'TACD: virtual reality'
          description: Analytics query, maximum length 1,500 characters
        collapse_type:
          type: string
          example: ALL
          description: Select the collapse type, "ALL" or Null value means no collapse; "APNO" means collapse according to application number; "DOCDB" means collapse according to simple family; "INPADOC" means collapse according to inpadoc family; "EXTEND" means collapse according to patsnap family
        collapse_by:
          type: string
          example: PBD
          description: <p>Select the sort field for patent collapse,</p><p>"APD" means order according to application date;</p><p>"PBD" means order according to publication date;</p><p>"AUTHORITY" means order according to authority;</p><p>"SCORE" means order according to the relevance score</p>
        collapse_order:
          type: string
          example: LATEST
          description: Select the patent collapse ordering rule that is valid only if collapse_by is APD or PBD, setting OLDEST or LATEST to keep the earliest or latest one
        collapse_order_authority:
          type: array
          example:
          - CN
          - US
          - EP
          - JP
          - KR
          description: Sets the order of patent collapse according to the input authorities priority list, valid only if collapse_by is AUTHORITY
        sort:
          type: array
          example:
          - field: SCORE
            order: DESC
          description: '<p>Field order, field can support: PBDT_YEARMONTHDAY, APD_YEARMONTHDAY, ISD,SCORE; order can support: desc, asc. The default ranking is the most relevant by Score</p><p>PBDT_YEARMONTHDAY: Publication date</p><p>APD_YEARMONTHDAY: Application date</p><p>ISD: Issue date</p><p>Score: relevancy</p>'
      required:
      - query_text
    D009PatentQuerySearchPatentDetailRequest:
      type: object
      properties:
        collapse_by:
          type: array
          example:
          - field: AUTHORITY
            order: CN,US,EP,WO
          - field: TYPE
            order: GRANTED
          description: Select the patent collapse ordering rule
          items:
            $ref: '#/components/schemas/D009PatentQuerySearchPatentDetail_PatentSearchCollapse'
        query_text:
          type: string
          example: 'TACD: virtual reality'
          description: Analytics query, maximum length 1,500 characters
        collapse_type:
          type: string
          example: ALL
          description: Select the collapse type, "ALL" or Null value means no collapse; "APNO" means collapse according to application number; "DOCDB" means collapse according to simple family; "INPADOC" means collapse according to inpadoc family; "EXTEND" means collapse according to patsnap family
        sort:
          type: array
          example:
          - field: SCORE
            order: DESC
          description: '<p>Field order, field can support: PBDT_YEARMONTHDAY, APD_YEARMONTHDAY, ISD,SCORE; order can support: desc, asc. The default ranking is the most relevant by Score</p><p>PBDT_YEARMONTHDAY: Publication date</p><p>APD_YEARMONTHDAY: Application date</p><p>ISD: Issue date</p><p>Score: relevancy</p>'
          items:
            $ref: '#/components/schemas/D009PatentQuerySearchPatentDetail_PatentSearchSort'
        offset:
          type: integer
          format: int32
          example: 0
          description: offset value; offset <= 20000 (A single call returns a list of 20 patents)
        posiofpat:
          type: string
          example: first
          description: '<p>Select whether the patent to return patent details is the first or the last in the patent list. The default is first.</p>

            <p>first: the first item </p>

            <p>last: the last item</p>'
        stemming:
          type: integer
          format: int32
          example: 0
          description: '<p>Whether to turn on the stemming function, 1: turn on; 0: turn off. Off by default</p><p>Note: </p><p>Stemming ON will search for the original word and expand the search to consider singular, plural, and tense variations e.g. a search for "come" will expand to "comes", "came", "coming" and so on.</p><p>Stemming OFF will only search for exact matches of the keywords entered.</p><p>The use of wildcards in keywords within a search query will impact the effect of stemming.</p><p>Stemming ON only supports English words. Stemming does not apply to Assignees, Inventors, or any other person-related fields.</p>'
        lang:
          type: string
          example: en
          description: translation language, support cn, en, jp
        patent_id:
          type: string
          example: 02515f4b-1506-4c99-8101-9242f916bd99
          description: Patent ID, if the patent_id is passed in, the patent details corresponding to the patent_id are returned, that is, posiofpat is invalid
        pn:
          type: string
          example: CN106534228B
          description: Patent Publication Number, if the patent number is passed in, the patent details corresponding to the patent number are returned, that is, posiofpat is invalid; If both patent_id and pn are passed, the patent details corresponding to patent_id are returned first.
        replace_by_related:
          type: integer
          format: int32
          example: 0
          description: "When the fulltext of current patent is unavailable, whether to replace it with the fulltext of its family patent？default not to replace: \n   1. Yes\n   0: No"
      required:
      - collapse_by
      - query_text
      - lang
    D201JdfPatentDetailText_JdfPatentDetailTextResponse:
      type: object
      properties:
        pn:
          type: string
          example: US11205304B2
          description: patent number
        claims:
          type: array
          example: 'Please check the form: JdfLangText'
          description: claims
          items:
            $ref: '#/components/schemas/D201JdfPatentDetailText_JdfLangText'
        patent_id:
          type: string
          example: 718ead9c-4f3c-4674-8f5a-24e126827269
          description: patent id
        description:
          type: array
          example: 'Please check the form: JdfLangText'
          description: description
          items:
            $ref: '#/components/schemas/D201JdfPatentDetailText_JdfLangText'
        first_claims:
          type: array
          example: 'Please check the form: JdfLangText'
          description: first claims
          items:
            $ref: '#/components/schemas/D201JdfPatentDetailText_JdfLangText'
        indep_claims:
          type: array
          example: 'Please check the form: JdfLangText'
          description: independent claims
          items:
            $ref: '#/components/schemas/D201JdfPatentDetailText_JdfLangText'
        patent_legal:
          $ref: '#/components/schemas/D201JdfPatentDetailText_PatentLegalStatus'
        benefit_summary:
          $ref: '#/components/schemas/D201JdfPatentDetailText_BenefitSummary'
        bibliographic_data:
          $ref: '#/components/schemas/D201JdfPatentDetailText_JdfBibliographicData'
        examples_description:
          type: array
          example: 'Please check the form: JdfLangText'
          description: embodiment_description
          items:
            $ref: '#/components/schemas/D201JdfPatentDetailText_JdfLangText'
        tech_problem_summary:
          $ref: '#/components/schemas/D201JdfPatentDetailText_TechProblemSummary'
        back_tech_description:
          type: array
          example: 'Please check the form: JdfLangText'
          description: back_tech_description
          items:
            $ref: '#/components/schemas/D201JdfPatentDetailText_JdfLangText'
        invent_content_description:
          type: array
          example: 'Please check the form: JdfLangText'
          description: invent_content_description
          items:
            $ref: '#/components/schemas/D201JdfPatentDetailText_JdfLangText'
        technical_approach_summary:
          $ref: '#/components/schemas/D201JdfPatentDetailText_TechnicalApproachSummary'
    D110ReportdataRecOfficeYearRequest:
      type: object
      properties:
        query_text:
          type: string
          example: 'TACD: virtual reality'
          description: Analytics query, maximum length 1,500 characters
        collapse_type:
          type: string
          example: ALL
          description: Select the collapse type, "ALL" or Null value means no collapse; "APNO" means collapse according to application number; "DOCDB" means collapse according to simple family; "INPADOC" means collapse according to inpadoc family; "EXTEND" means collapse according to patsnap family
        collapse_by:
          type: string
          example: PBD
          description: <p>Select the sort field for patent collapse,</p><p>"APD" means order according to application date;</p><p>"PBD" means order according to publication date;</p><p>"AUTHORITY" means order according to authority;</p><p>"SCORE" means order according to the relevance score</p>
        collapse_order:
          type: string
          example: LATEST
          description: Select the patent collapse ordering rule that is valid only if collapse_by is APD or PBD, setting OLDEST or LATEST to keep the earliest or latest one
        collapse_order_authority:
          type: array
          example:
          - CN
          - US
          - EP
          - JP
          - KR
          description: Sets the order of patent collapse according to the input authorities priority list, valid only if collapse_by is AUTHORITY
        sort:
          type: array
          example:
          - field: SCORE
            order: DESC
          description: '<p>Field order, field can support: PBDT_YEARMONTHDAY, APD_YEARMONTHDAY, ISD,SCORE; order can support: desc, asc. The default ranking is the most relevant by Score</p><p>PBDT_YEARMONTHDAY: Publication date</p><p>APD_YEARMONTHDAY: Application date</p><p>ISD: Issue date</p><p>Score: relevancy</p>'
      required:
      - query_text
    D007BasicPatentDataPatentDetail_AbstractReplacedModel:
      type: object
      properties:
        lang:
          type: string
          example: EN
          description: language
        text:
          type: string
          example: An augmented reality display system comprises a passable world model data comprises a set of map points corresponding to one or more objects of the real world. The augmented reality system also comprises......
          description: text
        pn_related:
          type: string
          example: CN103106923A
          description: patent number of related patent (provided only if the substitute is made using the text of the same family patent)
        data_format:
          type: string
          example: original
          description: 'Original data: if there are several languages with original data, all will be returned'
    D113ReportdataPatentList_PatentListResponse:
      type: object
      properties:
        data:
          type: array
          example: []
          description: data
          items:
            $ref: '#/components/schemas/D113ReportdataPatentList_PLItemData'
        data_count:
          type: integer
          format: int32
          example: 10
          description: patent count
        total_search_data_count:
          type: integer
          format: int32
          example: 20000
          description: total search patent count
    D007BasicPatentDataPatentDetail_PDBibliographicData:
      type: object
      properties:
        assignees:
          type: array
          example: 'Please check the form: PatentBasePersonSimple'
          description: current assignee
          items:
            $ref: '#/components/schemas/D007BasicPatentDataPatentDetail_PatentBasePersonSimple'
        inventors:
          type: array
          example: 'Please check the form: PatentBasePersonSimple'
          description: inventor
          items:
            $ref: '#/components/schemas/D007BasicPatentDataPatentDetail_PatentBasePersonSimple'
        applicants:
          type: array
          example: 'Please check the form: PatentBasePersonSimple'
          description: applicant
          items:
            $ref: '#/components/schemas/D007BasicPatentDataPatentDetail_PatentBasePersonSimple'
        patent_type:
          type: string
          example: PATENT
          description: 'patent type:

            <p>APPLICATION (patent application),</p><p>PATENT (granted patent),</p><p>UTILITY (utility model),</p><p>DESIGN (industrial design)</p>'
        inpadoc_family:
          type: array
          example: 'Please check the form: InpadocFamily'
          description: inpadoc family
          items:
            $ref: '#/components/schemas/D007BasicPatentDataPatentDetail_InpadocFamily'
        reference_cited:
          $ref: '#/components/schemas/D007BasicPatentDataPatentDetail_ReferenceCitedSimple'
        application_reference:
          $ref: '#/components/schemas/D007BasicPatentDataPatentDetail_ApplicationReference'
        publication_reference:
          $ref: '#/components/schemas/D007BasicPatentDataPatentDetail_PublicationReference'
    D115ReportdataDomainMap_DomainMapItemData:
      type: object
      properties:
        ipc:
          type: array
          example: []
          description: ipc values
          items:
            $ref: '#/components/schemas/D115ReportdataDomainMap_DMIPCData'
        image:
          type: string
          example: image/jpeg;base64,/9j/4AAQSkZJRgABAQAASABIAAD/4QBARXhpZgAATU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAEqADAAQAAAABAAAAEwAAAAD/wAARCAATABIDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9sAQwACAgICAgIDAgIDBQMDAwUGBQUFBQYIBgYGBgYICggICAgICAoKCgoKCgoKDAwMDAwMDg4ODg4PDw8PDw8PDw8P/9sAQwECAgIEBAQHBAQHEAsJCxAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQ/90ABAAC/9oADAMBAAIRAxEAPwD9/KKKKACiiigD/9D9/KKKKACiiigD/9k=
          description: Image base64 code
    D107ReportdataTechnologyApplicantDistribution_TADIPCDetail:
      type: object
      properties:
        code:
          type: string
          example: H01L23
          description: IPC classification code
        content:
          type: string
          example: 半导体或其他固态器件的零部件（H01L25/00优先）〔2，5〕
          description: IPC classification description
    D005QuerySearchPatentV3_PatentSearchCollapse:
      type: object
      properties:
        field:
          type: string
          example: AUTHORITY
          description: field
        order:
          type: string
          example: CN,US,EP,WO
          description: order
    D009PatentQuerySearchPatentDetail_ApplicationReference:
      type: object
      properties:
        apno:
          type: string
          example: CN201510570472.5
          description: application number
        date:
          type: integer
          format: int32
          example: 20211221
          description: 'dates: publication, applicaton, priority .etc<p>YYYYMMDD format</p>'
    D108ReportdataTechnologyConstitute_TechnologyConstituteResponse:
      type: object
      properties:
        values:
          type: array
          example: []
          description: values
          items:
            $ref: '#/components/schemas/D108ReportdataTechnologyConstitute_TCItemData'
    D112ReportdataFamnRankResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/D112ReportdataFamnRank_FamnRankResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    D106ReportdataPatentTrend_PatentTrendResponse:
      type: object
      properties:
        values:
          type: array
          example: []
          description: values
          items:
            $ref: '#/components/schemas/D106ReportdataPatentTrend_PTItemData'
    D201JdfPatentDetailText_JdfBibliographicData:
      type: object
      properties:
        parties:
          $ref: '#/components/schemas/D201JdfPatentDetailText_JdfParties'
        abstracts:
          type: array
          example: 'Please check the form: PatentAbstract'
          description: patent abstract
          items:
            $ref: '#/components/schemas/D201JdfPatentDetailText_PatentAbstract'
        invention_title:
          type: array
          example: 'Please check the form: PatentTitle'
          description: invention title
          items:
            $ref: '#/components/schemas/D201JdfPatentDetailText_PatentTitle'
        classification_data:
          $ref: '#/components/schemas/D201JdfPatentDetailText_JdfClassificationData'
        application_reference:
          $ref: '#/components/schemas/D201JdfPatentDetailText_JdfPatentBaseInfo'
        publication_reference:
          $ref: '#/components/schemas/D201JdfPatentDetailText_JdfPatentBaseInfo'
        dates_of_public_availability:
          $ref: '#/components/schemas/D201JdfPatentDetailText_DatesOfPublicAvailability'
    D201JdfPatentDetailText_BenefitSummary:
      type: object
      properties:
        benefit_para:
          type: array
          example: <cn>["本发明提供了一种液晶屏检测装置及方法，可以针对母板玻璃进行检测，解决了现有技术中针对单元液晶屏进行的Cell Test检测设备效率不高的问题。该装置包括设置在整张母板玻璃上的至少一组信号端口，每组信号端口负责一列上的单元液晶屏，通过控制信号端口的电压驱动每个单元液晶屏的信号输入端，同时点亮整张母板玻璃上的所有单元液晶屏。该方法可以直观判断液晶屏不良现象的设备依存性，对产线上不良解析的效率有显著提高，同时也实现了不同尺寸液晶屏的共用，降低了设备成本。"]</cn><us>["This patent text describes an electronic device with an antenna module that operates in the millimeter wave band and can control its own operation. The antenna module contains multiple antenna elements with different polarizations, which can reduce interference between them. Additionally, the patent describes how to implement vertical polarization while keeping the antenna module's height low. The technical effect of this patent text is to enhance the performance of millimeter wave antennas in electronic devices."]</us>
          description: Benefit Summary Paragraph
        benefit_word:
          type: array
          example: <cn>[ "参数优化改善", "提高效率", "降低设备成本" ]</cn><us>["reduce noise level"]</us>
          description: Technical Benefit Phrase
    D109ReportdataRecOffice_ROItemData:
      type: object
      properties:
        num:
          type: integer
          format: int32
          example: 10
          description: patent count
        code:
          type: string
          example: CN
          description: Receiving office code
        rec_office:
          type: string
          example: 中国
          description: Receiving office name
    D006PatentQuerySearchPatentFacet_PatentSearchSort:
      type: object
      properties:
        field:
          type: string
          example: APD_YEARMONTHDAY
          description: field
        order:
          type: string
          example: desc
          description: order
    D008BasicPatentDataPatentPdfResponse:
      type: object
      properties:
        data:
          type: array
          example: no sample
          description: response data
          items:
            $ref: '#/components/schemas/D008BasicPatentDataPatentPdf_PatentPdfResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    D105ReportdataCooperationApplicantAnalysisRequest:
      type: object
      properties:
        query_text:
          type: string
          example: 'TACD: virtual reality'
          description: Analytics query, maximum length 1,500 characters
        collapse_type:
          type: string
          example: ALL
          description: Select the collapse type, "ALL" or Null value means no collapse; "APNO" means collapse according to application number; "DOCDB" means collapse according to simple family; "INPADOC" means collapse according to inpadoc family; "EXTEND" means collapse according to patsnap family
        collapse_by:
          type: string
          example: PBD
          description: <p>Select the sort field for patent collapse,</p><p>"APD" means order according to application date;</p><p>"PBD" means order according to publication date;</p><p>"AUTHORITY" means order according to authority;</p><p>"SCORE" means order according to the relevance score</p>
        collapse_order:
          type: string
          example: LATEST
          description: Select the patent collapse ordering rule that is valid only if collapse_by is APD or PBD, setting OLDEST or LATEST to keep the earliest or latest one
        collapse_order_authority:
          type: array
          example:
          - CN
          - US
          - EP
          - JP
          - KR
          description: Sets the order of patent collapse according to the input authorities priority list, valid only if collapse_by is AUTHORITY
        sort:
          type: array
          example:
          - field: SCORE
            order: DESC
          description: '<p>Field order, field can support: PBDT_YEARMONTHDAY, APD_YEARMONTHDAY, ISD,SCORE; order can support: desc, asc. The default ranking is the most relevant by Score</p><p>PBDT_YEARMONTHDAY: Publication date</p><p>APD_YEARMONTHDAY: Application date</p><p>ISD: Issue date</p><p>Score: relevancy</p>'
      required:
      - query_text
    D201JdfPatentDetailTextResponse:
      type: object
      properties:
        data:
          type: array
          example: no sample
          description: response data
          items:
            $ref: '#/components/schemas/D201JdfPatentDetailText_JdfPatentDetailTextResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    D010PatentQuerySearchFacet_InpadocFamily:
      type: object
      properties:
        apdt:
          type: integer
          format: int32
          example: 20221107
          description: application date
        apno:
          type: string
          example: US17/981970
          description: application number
        kind:
          type: string
          example: A1
          description: kind code
        pbdt:
          type: integer
          format: int32
          example: 20240509
          description: publication date
        country:
          type: string
          example: US
          description: citation authority
        sequence:
          type: integer
          format: int32
          example: 1
          description: sequence
        doc_number:
          type: string
          example: 20240149898
          description: doc number
    D005QuerySearchPatentV3_PatentSearchSort:
      type: object
      properties:
        field:
          type: string
          example: APD_YEARMONTHDAY
          description: field
        order:
          type: string
          example: desc
          description: order
    D108ReportdataTechnologyConstituteResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/D108ReportdataTechnologyConstitute_TechnologyConstituteResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    D201JdfPatentDetailText_PatentLegalStatus:
      type: object
      properties:
        event_status:
          type: array
          example:
          - Transfer
          description: 'Event status:

            <p>such as: Transfer,License,Pledge,Trust,Opposition,Re-examination,Customs,Litigation,Preservation,Invalid-procedure,Oral-procedure,Declassification,Double application</p>'
        legal_status:
          type: array
          example:
          - Examining
          description: 'Legal status:<p>such as: Published,Examining,Granted,Double,Abandoned-Undetermined,Abandoned-Voluntarily,Abandoned-Deemed,Withdrawn-Undetermined,Withdrawn-Voluntarily,Withdrawn-Deemed,Rejected,Revoked,Expired,Non-Payment,Restoration,Ceased,P-Revoked,Discontinuation,PCT published,PCT entering(designated period),PCT entering(designated expiration),unentered</p>'
        simple_legal_status:
          type: array
          example:
          - Pending
          description: 'Simple legal status:

            <p>such as: Inactive,Active,Pending,Undetermined,PCT designated period,PCT designated expiration</p>'
    D006PatentQuerySearchPatentFacetRequest:
      type: object
      properties:
        offset:
          type: integer
          format: int32
          example: 0
          description: offset value; offset <= 20000 (A single call returns a list of 20 patents)
        sort:
          type: array
          example:
          - field: SCORE
            order: DESC
          description: '<p>Field order, field can support: PBDT_YEARMONTHDAY, APD_YEARMONTHDAY, ISD,SCORE; order can support: desc, asc. The default ranking is the most relevant by Score</p><p>PBDT_YEARMONTHDAY: Publication date</p><p>APD_YEARMONTHDAY: Application date</p><p>ISD: Issue date</p><p>Score: relevancy</p>'
          items:
            $ref: '#/components/schemas/D006PatentQuerySearchPatentFacet_PatentSearchSort'
        collapse_by:
          type: array
          example:
          - field: AUTHORITY
            order: CN,US,EP,WO
          - field: TYPE
            order: GRANTED
          description: Select the patent collapse ordering rule
          items:
            $ref: '#/components/schemas/D006PatentQuerySearchPatentFacet_PatentSearchCollapse'
        field:
          type: string
          example: ASSIGNEE
          description: 'Filter field dimension, please enter the field code, up to 5 fields are supported, separated by comma.<p>AUTHORITY: Authority (https://analytics.patsnap.com/status)</p><p>PATENT_TYPE: Patent Type（A: Applications B: Patents U: Utility models D: Designs AB: Applications+Patents）</p><p>PUBLICATION_YEAR: Publication Year</p><p>APPLICATION_YEAR: Application Year</p><p>ISSUE_YEAR: Issue Year</p><p>PRIORITY_YEAR: Priority Year</p><p>CURRENT_ASSIGNEE: Current Assignee</p><p>ORIGINAL_ASSIGNEE: Original Assignee (Applicant)</p><p>ASSIGNEE: Std. Current Assignee</p><p>STD_ORIGINAL_ASSIGNEE: Std. Original Assignee (Applicant)</p><p>INVENTOR: Inventor</p><p>AGENCY: Agency</p><p>ANCS_TYPE: Std. Current Assignee Type（ACADEMY, COMPANY, GOVERNMENT, PERSON, HOSPITAL, BANK, OTHER）</p><p>IPC: IPC</p><p>IPC_SECTION: IPC-IPC Section</p><p>IPC_CLASS: IPC-IPC Class</p><p>IPC_SUB_CLASS: IPC-IPC Sub Class</p><p>IPC_MAIN_GROUP: IPC-IPC Group</p><p>CPC: Main CPC</p><p>CPC_SECTION: CPC-CPC Section</p><p>CPC_CLASS: CPC-CPC Class</p><p>CPC_SUB_CLASS: CPC-CPC Sub Class</p><p>CPC_MAIN_GROUP: CPC-CPC Group</p><p>SIMPLE_LEGAL_STATUS: Simple Legal Status (0:Inactive 1:Active 2:Pending 220:PCT designated stage expired 221:PCT designated stage 999:Undetermined)</p><p>LEGAL_STATUS: Legal Status (1:Published 2:Examining 3:Granted 8:Double 11:Withdrawn 13:Rejected 14:Revoked 15:Expired 16:Non-payment 21:Restoration 22:Ceased 23:P-Revoked 24:Discontinuation 30:Abandoned 222:Non-Entry PCT-NP (In time limit)） 223:PCT-NP (In time limit) 224:PCT-NP (Past time limit) 225:Non-Entry PCT-NP (Past time limit))</p><p>LEGAL_EVENT: Legal Events (61:Transfer 62:License 63:Pledge 64:Trust 65:Opposition 66:Re-examination 69:Customs 70:Litigation 71:Preservation 72:Invalid-procedure 73:Oral-procedure 74:Declassification 75:Dual filing（Double application）)</p>'
        limit:
          type: integer
          format: int32
          example: 50
          description: Returns the number of statistical results, 1 <= limit <= 100，default is 50
        stemming:
          type: integer
          format: int32
          example: 0
          description: '<p>Whether to turn on the stemming function, 1: turn on; 0: turn off. Off by default</p><p>Note: </p><p>Stemming ON will search for the original word and expand the search to consider singular, plural, and tense variations e.g. a search for "come" will expand to "comes", "came", "coming" and so on.</p><p>Stemming OFF will only search for exact matches of the keywords entered.</p><p>The use of wildcards in keywords within a search query will impact the effect of stemming.</p><p>Stemming ON only supports English words. Stemming does not apply to Assignees, Inventors, or any other person-related fields.</p>'
        lang:
          type: string
          example: cn
[...]
