openapi: 3.2.0
info:
  title: Patsnap Open Platform AI Translation Enterprise IP Data API
  version: 1.0.0
  description: OpenAPI specification for Patsnap Open Platform APIs, including patent search, analytics, and Eureka AI capabilities.
servers:
- url: https://connect.patsnap.com
  description: Patsnap Open Platform API gateway
tags:
- name: Enterprise IP Data
  description: Enterprise IP Data APIs.
paths:
  /special-ip-data/new-plant-variety/application:
    post:
      operationId: c034NewPlantVarietyApplication
      summary: C034 Plant Variety Protection Application Info
      description: Receive plant variety protection application data by company_name.
      tags:
      - Enterprise IP Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful c034 plant variety protection application info response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/C034NewPlantVarietyApplicationResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/special-ip-data/new-plant-variety/application
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/C034NewPlantVarietyApplicationRequest'
  /special-ip-data/new-plant-variety/issue:
    post:
      operationId: c034NewPlantVarietyIssue
      summary: C034 Plant Variety Protection Issue Info
      description: Receive plant variety protection issue data by company_name.
      tags:
      - Enterprise IP Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful c034 plant variety protection issue info response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/C034NewPlantVarietyIssueResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/special-ip-data/new-plant-variety/issue
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/C034NewPlantVarietyIssueRequest'
  /special-ip-data/ic-design:
    post:
      operationId: c033SpecialIpDataIcDesign
      summary: C033 Science and Technology Innovation Enterprises Integrated Circuit Design
      description: This interface provides integrated circuit layout design data for science and technology innovation enterprises, including registration number, application date, design name, announcement number, and other information
      tags:
      - Enterprise IP Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful c033 science and technology innovation enterprises integrated circuit design response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/C033SpecialIpDataIcDesignResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/special-ip-data/ic-design
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/C033SpecialIpDataIcDesignRequest'
  /special-ip-data/enterprise-trademark:
    post:
      operationId: c031SpecialIpDataEnterpriseTrademark
      summary: C031 Science and Technology Innovation Enterprises Trademark
      description: This interface provides trademark data for science and technology innovation enterprises, including registration number, international classification, trademark name, application date, trademark status, and other information
      tags:
      - Enterprise IP Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful c031 science and technology innovation enterprises trademark response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/C031SpecialIpDataEnterpriseTrademarkResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/special-ip-data/enterprise-trademark
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/C031SpecialIpDataEnterpriseTrademarkRequest'
  /special-ip-data/software-copyright:
    post:
      operationId: c032SpecialIpDataSoftwareCopyright
      summary: C032 Science and Technology Innovation Enterprises Software Copyright
      description: This interface provides software copyright data for science and technology innovation enterprises, including registration number, full name of software copyright, copyright owner and other information
      tags:
      - Enterprise IP Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful c032 science and technology innovation enterprises software copyright response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/C032SpecialIpDataSoftwareCopyrightResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/special-ip-data/software-copyright
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/C032SpecialIpDataSoftwareCopyrightRequest'
  /search/patent/potential-buyer:
    post:
      operationId: c046PatentPotentialBuyer
      summary: C046 search patent potential buyer api
      description: Retrieve a recommended list of potential buyers for the specified patent by entering either the patent_id or patent_number.
      tags:
      - Enterprise IP Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful c046 search patent potential buyer api response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/C046PatentPotentialBuyerResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/search/patent/potential-buyer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/C046PatentPotentialBuyerRequest'
components:
  schemas:
    C046PatentPotentialBuyerRequest:
      type: object
      properties:
        patent_id:
          type: string
          example: 7fbd16c6-d005-4689-85a7-4d5eacef01e1
          description: patent ID
        pn:
          type: string
          example: CN104244439B
          description: patent publication number
    C046PatentPotentialBuyerResponse:
      type: object
      properties:
        data:
          type: array
          example: no sample
          description: response data
          items:
            $ref: '#/components/schemas/C046PatentPotentialBuyer_PatentPotentialBuyerResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    C033SpecialIpDataIcDesign_ICDesign:
      type: object
      properties:
        app_date:
          type: integer
          format: int64
          example: 20220218
          description: Application date
        end_date:
          type: integer
          format: int64
          example: 20220202
          description: Design end date
        reg_number:
          type: string
          example: BS225001322
          description: Registration number
        design_name:
          type: string
          example: 61LC4
          description: Design name
        publish_date:
          type: integer
          format: int64
          example: 20220812
          description: Publication date
        assignee_name:
          type: string
          example: 杭州友旺电子有限公司，华为技术有限公司
          description: Design assignee
        inventor_name:
          type: string
          example: 杭州友旺电子有限公司
          description: Inventor name
        publish_number:
          type: string
          example: 55785
          description: Publication number
        create_completion_date:
          type: integer
          format: int64
          example: 20211228
          description: Design completion date
    C033SpecialIpDataIcDesignResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/C033SpecialIpDataIcDesign_ICDesignResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    C032SpecialIpDataSoftwareCopyright_SoftwareCopyrightResponse:
      type: object
      properties:
        total:
          type: integer
          format: int32
          example: 679
          description: Total count
        software_copyright_data:
          type: array
          example: 'Please check the form: SoftwareCopyright'
          description: software copyright data
          items:
            $ref: '#/components/schemas/C032SpecialIpDataSoftwareCopyright_SoftwareCopyright'
    C034NewPlantVarietyIssueRequest:
      type: object
      properties:
        page_number:
          type: integer
          format: int32
          example: 1
          description: Current page number (default first page)
        company_name:
          type: string
          example: 楚雄彝族自治州农业科学研究推广所
          description: Name of a single enterprise
        page_size:
          type: integer
          format: int32
          example: 20
          description: Number of per page (default 20 entries, maximum 20 entries)
      required:
      - company_name
    C046PatentPotentialBuyer_PatentPotentialBuyerResponse:
      type: object
      properties:
        company_id:
          type: string
          example: 580dadaf4e8990e4937f6326dadefdac
          description: company id
        patent_cnt:
          type: string
          example: 4
          description: number of similar patents
        buy_all_cnt:
          type: string
          example: 101
          description: the number of company's patent purchase records in the past three years
        buy_this_cnt:
          type: string
          example: 2
          description: total number of patents purchased from the target patent's assignee company
        company_name:
          type: string
          example: 中国移动通信集团有限公司
          description: company name
        sim_score_avg:
          type: string
          example: 76.25
          description: average similarity value of patents
    C034NewPlantVarietyApplicationRequest:
      type: object
      properties:
        page_number:
          type: integer
          format: int32
          example: 1
          description: Current page number (default first page)
        company_name:
          type: string
          example: 楚雄彝族自治州农业科学研究推广所
          description: Name of a single enterprise
        page_size:
          type: integer
          format: int32
          example: 20
          description: Number of per page (default 20 entries, maximum 20 entries)
      required:
      - company_name
    C034NewPlantVarietyIssue_PlantVarietyProtectionApplication:
      type: object
      properties:
        breeders:
          type: array
          example:
          - 苏东辉
          - 唐清耀
          description: Breeders
        applicants:
          type: array
          example:
          - 楚雄彝族自治州农业科学研究推广所
          description: Applicants
        species_name:
          type: string
          example: 水稻 Oryza sativa L.
          description: Species name
        application_date:
          type: integer
          format: int32
          example: 20090101
          description: Application date
        publication_date:
          type: integer
          format: int32
          example: 20090101
          description: Publication date
        application_number:
          type: string
          example: 20030288
          description: Application number
        publication_number:
          type: string
          example: CNA001867G
          description: Publication number
        temporary_variety_name:
          type: string
          example: 博优938
          description: Temporary variety name
    C033SpecialIpDataIcDesignRequest:
      type: object
      properties:
        company_name:
          type: string
          example: 杭州友旺电子有限公司
          description: Name of a single enterprise
        credit_code:
          type: string
          example: '914403001922038216'
          description: Unified social credit code of a single enterprise
        org_number:
          type: string
          example: '192203821'
          description: Organization number of a single enterprise
        page_number:
          type: integer
          format: int32
          example: 1
          description: Current page number (default first page)
        page_size:
          type: integer
          format: int32
          example: 20
          description: Number of per page (default 20 entries, maximum 20 entries)
    C034NewPlantVarietyApplicationResponse:
      type: object
      properties:
        total:
          type: integer
          format: int32
          example: 679
          description: Total count
        plant_variety_protection_application_data:
          type: array
          example: 'Please check the form: PlantVarietyProtectionApplication'
          description: plant variety protection application data
          items:
            $ref: '#/components/schemas/C034NewPlantVarietyApplication_PlantVarietyProtectionApplication'
    C033SpecialIpDataIcDesign_ICDesignResponse:
      type: object
      properties:
        total:
          type: integer
          format: int32
          example: 679
          description: Total count
        ic_design_data:
          type: array
          example: 'Please check the form: ICDesign'
          description: ic design data
          items:
            $ref: '#/components/schemas/C033SpecialIpDataIcDesign_ICDesign'
    C032SpecialIpDataSoftwareCopyrightResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/C032SpecialIpDataSoftwareCopyright_SoftwareCopyrightResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    C031SpecialIpDataEnterpriseTrademarkRequest:
      type: object
      properties:
        app_year:
          type: string
          example: '2020'
          description: Application year
        company_name:
          type: string
          example: 华为技术有限公司
          description: Name of a single enterprise
        credit_code:
          type: string
          example: '914403001922038216'
          description: Unified social credit code of a single enterprise
        org_number:
          type: string
          example: '192203821'
          description: Organization number of a single enterprise
        page_number:
          type: integer
          format: int32
          example: 1
          description: Current page number (default first page)
        page_size:
          type: integer
          format: int32
          example: 20
          description: Number of per page (default 20 entries, maximum 20 entries)
        status:
          type: string
          example: '1'
          description: Trademark status:1-registered 2-invalid 3-preliminary review announcement 4-waiting for substantive review 5-application 6-objection 7-rejection review 8-other situations 9-waiting for rejection review 10-ancellation/invalidation declaration application review
        tm_class:
          type: string
          example: '29'
          description: International classification
    C034NewPlantVarietyIssueResponse:
      type: object
      properties:
        total:
          type: integer
          format: int32
          example: 679
          description: Total count
        plant_variety_protection_application_data:
          type: array
          example: 'Please check the form: PlantVarietyProtectionApplication'
          description: plant variety protection application data
          items:
            $ref: '#/components/schemas/C034NewPlantVarietyIssue_PlantVarietyProtectionApplication'
    C034NewPlantVarietyApplication_PlantVarietyProtectionApplication:
      type: object
      properties:
        breeders:
          type: array
          example:
          - 苏东辉
          - 唐清耀
          description: Breeders
        applicants:
          type: array
          example:
          - 楚雄彝族自治州农业科学研究推广所
          description: Applicants
        species_name:
          type: string
          example: 水稻 Oryza sativa L.
          description: Species name
        application_date:
          type: integer
          format: int32
          example: 20090101
          description: Application date
        publication_date:
          type: integer
          format: int32
          example: 20090101
          description: Publication date
        application_number:
          type: string
          example: 20030288
          description: Application number
        publication_number:
          type: string
          example: CNA001867G
          description: Publication number
        temporary_variety_name:
          type: string
          example: 博优938
          description: Temporary variety name
    C032SpecialIpDataSoftwareCopyright_SoftwareCopyright:
      type: object
      properties:
        cat_num:
          type: string
          example: 66000-0000
          description: Category Number
        reg_num:
          type: string
          example: 2022SR0575595
          description: Registration Number
        version:
          type: string
          example: V1.0
          description: Version
        reg_time:
          type: integer
          format: int64
          example: 20221023
          description: Registration and approval date
        full_name:
          type: string
          example: 华为HiSecEngine Probe网络流量威胁检测探针软件
          description: Full name
        simple_name:
          type: string
          example: Probe探针
          description: Abbreviation
        publish_time:
          type: integer
          format: int64
          example: 20201023
          description: First publication date
        author_nationality:
          type: string
          example: 华为技术有限公司
          description: Copyright owner
    C031SpecialIpDataEnterpriseTrademarkResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/C031SpecialIpDataEnterpriseTrademark_TrademarkResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    C032SpecialIpDataSoftwareCopyrightRequest:
      type: object
      properties:
        company_name:
          type: string
          example: 华为技术有限公司
          description: Name of a single enterprise
        credit_code:
          type: string
          example: '914403001922038216'
          description: Unified social credit code of a single enterprise
        org_number:
          type: string
          example: '192203821'
          description: Organization number of a single enterprise
        page_number:
          type: integer
          format: int32
          example: 1
          description: Current page number (default first page)
        page_size:
          type: integer
          format: int32
          example: 20
          description: Number of per page (default 20 entries, maximum 20 entries)
    C031SpecialIpDataEnterpriseTrademark_TrademarkResponse:
      type: object
      properties:
        total:
          type: integer
          format: int32
          example: 679
          description: Total count
        enterprise_trademark_data:
          type: array
          example: 'Please check the form: Trademark'
          description: enterprise trademark data
          items:
            $ref: '#/components/schemas/C031SpecialIpDataEnterpriseTrademark_Trademark'
    C031SpecialIpDataEnterpriseTrademark_Trademark:
      type: object
      properties:
        id:
          type: string
          example: 234554350
          description: Trade id
        reg_no:
          type: string
          example: 63607346
          description: Registration number
        status:
          type: string
          example: 商标已注册
          description: Trademark status
        int_cls:
          type: string
          example: 42-网站服务
          description: International classification
        tm_name:
          type: string
          example: 工业矿鸿
          description: Trade name
        app_date:
          type: integer
          format: int64
          example: 20221023
          description: Application date
        category:
          type: string
          example: 商标注册申请---申请收文
          description: Process category
        tm_class:
          type: string
          example: 42
          description: International classification code
        applicant_cn:
          type: string
          example: 华为技术有限公司
          description: applicant
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
