openapi: 3.1.0
info:
  title: Patsnap Open Platform AI Translation Patent Basic Data API
  version: 1.0.0
  description: OpenAPI specification for Patsnap Open Platform APIs, including patent search, analytics, and Eureka AI capabilities.
servers:
- url: https://connect.patsnap.com
  description: Patsnap Open Platform API gateway
tags:
- name: Patent Basic Data
  description: Patent Basic Data APIs.
paths:
  /basic-patent-data/abstract-image:
    get:
      operationId: p021BasicPatentDataAbstractImage
      summary: P021 Abstract Image
      description: Receive patent abstract image data (the image from front page) by patent_id or patent_number. Patent abstract data includes abstract image number and abstract image URL path.
      tags:
      - Patent Basic Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p021 abstract image response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P021BasicPatentDataAbstractImageResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/basic-patent-data/abstract-image
      parameters:
      - name: patent_id
        in: query
        required: false
        description: patent_id
        schema:
          type: string
          example: 077f4978-092c-4522-bc98-e8257a5c99f9,6e5c550d-28d6-4cf1-a265-b5488996b641,52ee4f52-3edc-4e41-854e-c76dd8b7d14f
          description: patent_id
      - name: patent_number
        in: query
        required: false
        description: patent_number
        schema:
          type: string
          example: CN3307359D,CN303649457S,CN104169186A
          description: patent_number
  /basic-patent-data/pdf-data:
    get:
      operationId: p020BasicPatentDataPdfData
      summary: P020 PDF
      description: Receive patent PDF document pathway by patent_id or patent_number.
      tags:
      - Patent Basic Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p020 pdf response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P020BasicPatentDataPdfDataResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/basic-patent-data/pdf-data
      parameters:
      - name: patent_id
        in: query
        required: false
        description: patent_id
        schema:
          type: string
          example: 494407c3-459b-4c6b-8503-b5128cf0c07e,94365516-de3c-445b-aa73-dd8370887a2d,ddfc29cf-71c6-4bb3-b35b-10f256767152
          description: patent_id
      - name: patent_number
        in: query
        required: false
        description: patent_number
        schema:
          type: string
          example: EP2458380B1,CN3126351D,US20050262868A1
          description: patent_number
      - name: replace_by_related
        in: query
        required: false
        description: "When the PDF of current patent is unavailable, whether to replace it with the PDF of its family patent？default not to replace: \n   1. Yes\n   0: No"
        schema:
          type: integer
          format: int32
          example: '0'
          description: "When the PDF of current patent is unavailable, whether to replace it with the PDF of its family patent？default not to replace: \n   1. Yes\n   0: No"
  /basic-patent-data/backward-citation:
    get:
      operationId: p015BasicPatentDataBackwardCitation
      summary: P015 Cited By Patents
      description: Receive patent backward citation data by patent_id or patent_number. Patent backward citation data includes backward citation number, backward citation count for simple family, INPADOC family and PatSnap family.
      tags:
      - Patent Basic Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p015 cited by patents response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P015BasicPatentDataBackwardCitationResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/basic-patent-data/backward-citation
      parameters:
      - name: patent_id
        in: query
        required: false
        description: patent_id
        schema:
          type: string
          example: 000d6583-2f77-42e0-999d-9aa9ecc5b94e
          description: patent_id
      - name: patent_number
        in: query
        required: false
        description: patent_number
        schema:
          type: string
          example: DE3106419A1
          description: patent_number
  /basic-patent-data/simple-legal-status:
    get:
      operationId: p041BasicPatentDataSimpleLegalStatus
      summary: P041 Simple Legal Status
      description: Receive simple legal status data by patent_id or patent_number. Simple Legal Status data includes Active, Pending, Inactive, Undetermined, PCT designated period, PCT designated expiration. For more details please view the full list of fields in the developer document.
      tags:
      - Patent Basic Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p041 simple legal status response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P041BasicPatentDataSimpleLegalStatusResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/basic-patent-data/simple-legal-status
      parameters:
      - name: patent_id
        in: query
        required: false
        description: patent_id
        schema:
          type: string
          example: 718ead9c-4f3c-4674-8f5a-24e126827269
          description: patent_id
      - name: patent_number
        in: query
        required: false
        description: patent_number
        schema:
          type: string
          example: US11205304B2
          description: patent_number
  /basic-patent-data/fulltext-image:
    post:
      operationId: p042BasicPatentDataFulltextImage
      summary: P042 Fulltext Image
      description: Receive patent fulltext image data by patent_id or patent_number. Patent fulltext data includes fulltext image type and fulltext image URL path.
      tags:
      - Patent Basic Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p042 fulltext image response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P042BasicPatentDataFulltextImageResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/basic-patent-data/fulltext-image
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P042BasicPatentDataFulltextImageRequest'
  /advanced-patent-data/forward-citation:
    get:
      operationId: p016AdvancedPatentDataForwardCitation
      summary: P016 Patent Citation
      description: Receive detailed forward citation data patent_id or patent_number. This includes citation type, citation source, citation category, reference DOI, title, author, and publication.
      tags:
      - Patent Basic Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p016 patent citation response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P016AdvancedPatentDataForwardCitationResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/advanced-patent-data/forward-citation
      parameters:
      - name: patent_id
        in: query
        required: false
        description: patent_id
        schema:
          type: string
          example: 4ad45196-06ed-4bef-b5d5-ac2ff2b6032c,314b8a88-3877-4bf4-9461-f501f94876bd
          description: patent_id
      - name: patent_number
        in: query
        required: false
        description: patent_number
        schema:
          type: string
          example: US10071304B2
          description: patent_number
  /basic-patent-data/legal-status:
    get:
      operationId: p013BasicPatentDataLegalStatus
      summary: P013 Patent Legal Status
      description: Receive legal status data by patent_id or patent_number. Legal status data includes simple legal status, legal status and event status. For more details please view the fields description in the developer document.
      tags:
      - Patent Basic Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p013 patent legal status response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P013BasicPatentDataLegalStatusResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/basic-patent-data/legal-status
      parameters:
      - name: patent_id
        in: query
        required: false
        description: patent_id
        schema:
          type: string
          example: b54b4e0c-c0f5-4cf6-9ede-36394a7e2f0b
          description: patent_id
      - name: patent_number
        in: query
        required: false
        description: patent_number
        schema:
          type: string
          example: US20220119699A9
          description: patent_number
  /basic-patent-data/claim-data:
    get:
      operationId: p018BasicPatentDataClaimData
      summary: P018 Claim
      description: Receive patent claim data by patent_id or patent_number. Patent claim data includes claim text, number of claims and independent claims.
      tags:
      - Patent Basic Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p018 claim response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P018BasicPatentDataClaimDataResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/basic-patent-data/claim-data
      parameters:
      - name: patent_id
        in: query
        required: false
        description: patent_id
        schema:
          type: string
          example: 9cf648f8-8283-4767-9a14-f90f68303f3e,7353c607-0594-4592-b99e-aea9f517de17
          description: patent_id
      - name: patent_number
        in: query
        required: false
        description: patent_number
        schema:
          type: string
          example: CN108977442B
          description: patent_number
      - name: replace_by_related
        in: query
        required: false
        description: "When the claims of current patent is unavailable, whether to replace it with the claims of its family patent？default not to replace: \n   1. Yes\n   0: No"
        schema:
          type: integer
          format: int32
          example: '0'
          description: "When the claims of current patent is unavailable, whether to replace it with the claims of its family patent？default not to replace: \n   1. Yes\n   0: No"
  /basic-patent-data/bibliography:
    get:
      operationId: p012BasicPatentDataBibliography
      summary: P012 Biblio
      description: Receive patent bibliography data by patent_id or patent_number. Patent bibliography data includes a total of 100+ fields, including application information, applicant information and agency information. For more details please view the full list of fields in the developer document.
      tags:
      - Patent Basic Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p012 biblio response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P012BasicPatentDataBibliographyResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/basic-patent-data/bibliography
      parameters:
      - name: patent_id
        in: query
        required: false
        description: patent_id
        schema:
          type: string
          example: 718ead9c-4f3c-4674-8f5a-24e126827269
          description: patent_id
      - name: patent_number
        in: query
        required: false
        description: patent_number
        schema:
          type: string
          example: US11205304B2
          description: patent_number
  /basic-patent-data/patent-family:
    get:
      operationId: p014BasicPatentDataPatentFamily
      summary: P014 Patent Family
      description: Receive patent family data by patent_id or patent_number. Patent family data includes simple, INPADOC, and PatSnap family authority, family members and count.
      tags:
      - Patent Basic Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p014 patent family response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P014BasicPatentDataPatentFamilyResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/basic-patent-data/patent-family
      parameters:
      - name: patent_id
        in: query
        required: false
        description: patent_id
        schema:
          type: string
          example: 1a47a70d-6b54-4709-a72a-ed552781fcac
          description: patent_id
      - name: patent_number
        in: query
        required: false
        description: patent_number
        schema:
          type: string
          example: JP1999068462A
          description: patent_number
  /basic-patent-data/simple-bibliography:
    get:
      operationId: p011BasicPatentDataSimpleBibliography
      summary: P011 Simple Biblio
      description: Receive patent basic bibliography data by patent_id or patent_number. For more details please view the full list of fields in the developer document.
      tags:
      - Patent Basic Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p011 simple biblio response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P011BasicPatentDataSimpleBibliographyResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/basic-patent-data/simple-bibliography
      parameters:
      - name: patent_id
        in: query
        required: false
        description: patent_id
        schema:
          type: string
          example: 718ead9c-4f3c-4674-8f5a-24e126827269
          description: patent_id
      - name: patent_number
        in: query
        required: false
        description: patent_number
        schema:
          type: string
          example: US11205304B2
          description: patent_number
  /basic-patent-data/abstract-data-translated:
    get:
      operationId: p043BasicPatentDataAbstractDataTranslated
      summary: P043 Abstract (Translated)
      description: Receive patent translated title and abstract by patent_id or patent_number (support Chinese, English, Japanese).
      tags:
      - Patent Basic Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p043 abstract (translated) response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P043BasicPatentDataAbstractDataTranslatedResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/basic-patent-data/abstract-data-translated
      parameters:
      - name: lang
        in: query
        required: false
        description: translation language, support cn, en, jp
        schema:
          type: string
          example: en
          description: translation language, support cn, en, jp
      - name: patent_id
        in: query
        required: false
        description: patent_id
        schema:
          type: string
          example: 1a47a70d-6b54-4709-a72a-ed552781fcac,7353c607-0594-4592-b99e-aea9f517de17
          description: patent_id
      - name: patent_number
        in: query
        required: false
        description: patent_number
        schema:
          type: string
          example: CN101595528B
          description: patent_number
      - name: replace_by_related
        in: query
        required: false
        description: 'When the abstract of current patent is unavailable, whether to replace it with the abstract of its family patent？default not to replace: 1. Yes 0: No'
        schema:
          type: integer
          format: int32
          example: '0'
          description: 'When the abstract of current patent is unavailable, whether to replace it with the abstract of its family patent？default not to replace: 1. Yes 0: No'
  /basic-patent-data/description-data:
    get:
      operationId: p019BasicPatentDataDescriptionData
      summary: P019 Description
      description: Receive patent description data by patent_id or patent_number. Patent description data includes the Technical field, Background Art, Summary of Invention, Brief Description of Drawings and Description of Embodiments.
      tags:
      - Patent Basic Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p019 description response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P019BasicPatentDataDescriptionDataResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/basic-patent-data/description-data
      parameters:
      - name: patent_id
        in: query
        required: false
        description: patent_id
        schema:
          type: string
          example: 1a47a70d-6b54-4709-a72a-ed552781fcac,7353c607-0594-4592-b99e-aea9f517de17
          description: patent_id
      - name: patent_number
        in: query
        required: false
        description: patent_number
        schema:
          type: string
          example: JP1999068462A
          description: patent_number
      - name: replace_by_related
        in: query
        required: false
        description: "When the description of current patent is unavailable, whether to replace it with the description of its family patent？default not to replace: \n   1. Yes\n   0: No"
        schema:
          type: integer
          format: int32
          example: '0'
          description: "When the description of current patent is unavailable, whether to replace it with the description of its family patent？default not to replace: \n   1. Yes\n   0: No"
  /basic-patent-data/claim-data-translated:
    get:
      operationId: p044BasicPatentDataClaimDataTranslated
      summary: P044 Claim (Translated)
      description: Receive patent translated claims by patent_id or patent_number (support Chinese, English, Japanese)
      tags:
      - Patent Basic Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p044 claim (translated) response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P044BasicPatentDataClaimDataTranslatedResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/basic-patent-data/claim-data-translated
      parameters:
      - name: lang
        in: query
        required: false
        description: translation language, support cn, en, jp
        schema:
          type: string
          example: en
          description: translation language, support cn, en, jp
      - name: patent_id
        in: query
        required: false
        description: patent_id
        schema:
          type: string
          example: 1a47a70d-6b54-4709-a72a-ed552781fcac,7353c607-0594-4592-b99e-aea9f517de17
          description: patent_id
      - name: patent_number
        in: query
        required: false
        description: patent_number
        schema:
          type: string
          example: CN101595528B
          description: patent_number
      - name: replace_by_related
        in: query
        required: false
        description: 'When the claims of current patent is unavailable, whether to replace it with the claims of its family patent？default not to replace: 1. Yes 0: No'
        schema:
          type: integer
          format: int32
          example: '0'
          description: 'When the claims of current patent is unavailable, whether to replace it with the claims of its family patent？default not to replace: 1. Yes 0: No'
  /basic-patent-data/description-data-translated:
    get:
      operationId: p045BasicPatentDataDescriptionDataTranslated
      summary: P045 Description (Translated)
      description: Receive patent translated description by patent_id or patent_number (support Chinese, English, Japanese)
      tags:
      - Patent Basic Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p045 description (translated) response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P045BasicPatentDataDescriptionDataTranslatedResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/basic-patent-data/description-data-translated
      parameters:
      - name: lang
        in: query
        required: false
        description: translation language, support cn, en, jp
        schema:
          type: string
          example: en
          description: translation language, support cn, en, jp
      - name: patent_id
        in: query
        required: false
        description: patent_id
        schema:
          type: string
          example: 1a47a70d-6b54-4709-a72a-ed552781fcac,7353c607-0594-4592-b99e-aea9f517de17
          description: patent_id
      - name: patent_number
        in: query
        required: false
        description: patent_number
        schema:
          type: string
          example: CN101595528B
          description: patent_number
      - name: replace_by_related
        in: query
        required: false
        description: 'When the description of current patent is unavailable, whether to replace it with the description of its family patent？default not to replace: 1. Yes 0: No'
        schema:
          type: integer
          format: int32
          example: '0'
          description: 'When the description of current patent is unavailable, whether to replace it with the description of its family patent？default not to replace: 1. Yes 0: No'
  /basic-patent-data/fulltext-inline-image:
    get:
      operationId: p042BasicPatentDataFulltextInlineImage
      summary: P042 Fulltext Inline Image
      description: Receive patent fulltext image data by patent_id or patent_number. Patent fulltext data includes fulltext image type and fulltext image URL path.
      tags:
      - Patent Basic Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p042 fulltext inline image response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P042BasicPatentDataFulltextInlineImageResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/basic-patent-data/fulltext-inline-image
      parameters:
      - name: patent_id
        in: query
        required: false
        description: patent_id
        schema:
          type: string
          example: fdbca633-63df-4c0b-8597-3f6c5e3a2748
          description: patent_id
      - name: patent_number
        in: query
        required: false
        description: patent_number
        schema:
          type: string
          example: CN116420141A
          description: patent_number
  /basic-patent-data/description-offset:
    get:
      operationId: p073BasicPatentDataDescriptionOffset
      summary: P073 Fulltext navigation location information
      description: 'The text paragraph location information of a specific patent can be queried by entering "patent_id" or "patent_number". The paragraph includes: technical field, background technology, invention content, attached drawing description, specific implementation plan, etc.'
      tags:
      - Patent Basic Data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful p073 fulltext navigation location information response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P073BasicPatentDataDescriptionOffsetResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/basic-patent-data/description-offset
      parameters:
      - name: lang
        in: query
        required: false
        description: text language，Only EN, CN, JP, KR, and TW are supported.default EN
        schema:
          type: string
          example: EN
          description: text language，Only EN, CN, JP, KR, and TW are supported.default EN
      - name: patent_id
        in: query
        required: false
        description: patent_id
        schema:
          type: string
          example: f3deb1dd-fd57-4bbb-85c4-6820be90b853
          description: patent_id
      - name: patent_number
        in: query
        required: false
        description: patent_number
        schema:
          type: string
          example: US9800501B2
          description: patent_number
components:
  schemas:
    P012BasicPatentDataBibliography_PatentTitle:
      type: object
      properties:
        lang:
          type: string
          example: EN
          description: language
        text:
          type: string
          example: Systems and methods for rendering user interfaces for augmented or virtual reality
          description: text
        data_format:
          type: string
          example: original
          description: 'Original data: if there are several languages with original data, all will be returned'
    P012BasicPatentDataBibliography_PriorityClaims:
      type: object
      properties:
        date:
          type: integer
          format: int32
          example: 20211221
          description: 'dates: publication, applicaton, priority .etc<p>YYYYMMDD format</p>'
        country:
          type: string
          example: US
          description: authority
        doc_number:
          type: string
          example: 62/012273
          description: doc number
    P073BasicPatentDataDescriptionOffset_PatentDescOffsetSection:
      type: object
      properties:
        section_name:
          $ref: '#/components/schemas/P073BasicPatentDataDescriptionOffset_PatentDescOffsetSectionName'
        section_content:
          $ref: '#/components/schemas/P073BasicPatentDataDescriptionOffset_PatentDescOffsetSectionContent'
    P019BasicPatentDataDescriptionData_PatentDescriptionResponse:
      type: object
      properties:
        pn:
          type: string
          example: JP1999068462A
          description: patent number
        patent_id:
          type: string
          example: 1a47a70d-6b54-4709-a72a-ed552781fcac
          description: patent id
        pn_related:
          type: string
          example: JP2004266582A
          description: patent number of related patent (provided only if the substitute is made using the text of the same family patent)
        description:
          type: array
          example: 'Please check the form: Description'
          description: description
          items:
            $ref: '#/components/schemas/P019BasicPatentDataDescriptionData_PatentDescriptionNew'
    P015BasicPatentDataBackwardCitation_PatentCited:
      type: object
      properties:
        cited_by_3y:
          type: integer
          format: int32
          example: 0
          description: Count of cited by patents within 3 years
        cited_by_5y:
          type: integer
          format: int32
          example: 2
          description: Count of cited by patents within 5 years
        cited_by_patents:
          type: array
          example: 'Please check the form: CitedByPatents'
          description: cited by patents
          items:
            $ref: '#/components/schemas/P015BasicPatentDataBackwardCitation_CitedByPatents'
        cited_by_simple_family:
          type: integer
          format: int32
          example: 2
          description: Simple family backward citation count
        cited_by_inpadoc_family:
          type: integer
          format: int32
          example: 2
          description: INPADOC family backward citation count
        cited_by_patsnap_family:
          type: integer
          format: int32
          example: 2
          description: PATSNAP family backward citation count
    P042BasicPatentDataFulltextInlineImage_FulltextInlineImage:
      type: object
      properties:
        path:
          type: string
          example: https://open.patsnap.com/fulltext-image/CN/A/11/64/20/14/1/HDA0004204487520000011.png?sign=q-sign-algorithm%3Dsha1%26q-ak%3DAKIDz31lFbrtH8mIbFyaxA70x49IRP7lLiCT%26q-sign-time%3D1729566601%3B1730171401%26q-key-time%3D1729566601%3B1730171401%26q-header-list%3Dhost%26q-url-param-list%3Dresponse-expires%26q-signature%3D23338ffd2c057497912d1d5e09f5570902136b6a&response-expires=Tue%2C%2029%20Oct%202024%2003%3A10%3A01%20GMT
          description: fulltext image path
        image_id:
          type: string
          example: HDA0004204487520000011
          description: fulltext image id
        image_type:
          type: string
          example: drawings
          description: fulltext image type
    P012BasicPatentDataBibliography_PatentBaseInfo:
      type: object
      properties:
        date:
          type: integer
          format: int32
          example: 20211221
          description: 'dates: publication, applicaton, priority .etc<p>YYYYMMDD format</p>'
        kind:
          type: string
          example: B2
          description: kind code
        year:
          type: integer
          format: int32
          example: 2012
          description: year
        month:
          type: integer
          format: int32
          example: 202112
          description: year and month
        country:
          type: string
          example: US
          description: authority
        doc_number:
          type: string
          example: '11205304'
          description: doc number
    P012BasicPatentDataBibliography_CitedOthers:
      type: object
      properties:
        num:
          type: string
          example: '0001'
          description: patents sequence
        lang:
          type: string
          example: JP
          description: Language
        text:
          type: string
          example: 'LEI ZHANG ET AL,Potential interventions for novel coronavirus in China: A systematic review,JOURNAL OF MEDICAL VIROLOGY,vol.92,no.5,ISSN0146-6615,XP055744877,479-490'
          description: Citation reference text
    P014BasicPatentDataPatentFamily_CitedByPatents:
      type: object
      properties:
        kind:
          type: string
          example: A1
          description: kind code
        country:
          type: string
          example: US
          description: citation authority
        sequence:
          type: integer
          format: int32
          example: 1
          description: sequence
        doc_number:
          type: string
          example: '20130033085'
          description: doc number
    P042BasicPatentDataFulltextImage_FullTextImageResponse:
      type: object
      properties:
        pn:
          type: string
          example: CN116420141A
          description: patent number
        patent_id:
          type: string
          example: fdbca633-63df-4c0b-8597-3f6c5e3a2748
          description: patent id
        result_count:
          type: integer
          format: int32
          example: 9
          description: Received result count
        fulltext_image:
          type: array
          example: 'Please check the form: FullTextImage'
          description: fulltext image
          items:
            $ref: '#/components/schemas/P042BasicPatentDataFulltextImage_FullTextImage'
        total_search_result_count:
          type: integer
          format: int32
          example: 9
          description: Total search result count
    P013BasicPatentDataLegalStatusResponse:
      type: object
      properties:
        data:
          type: array
          example: no sample
          description: response data
          items:
            $ref: '#/components/schemas/P013BasicPatentDataLegalStatus_PatentLegalStatusResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P012BasicPatentDataBibliographyResponse:
      type: object
      properties:
        data:
          type: array
          example: no sample
          description: response data
          items:
            $ref: '#/components/schemas/P012BasicPatentDataBibliography_PatentBibliographicResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P011BasicPatentDataSimpleBibliography_PctOrRegionalPublishingData:
      type: object
      properties:
        date:
          type: integer
          format: int32
          example: 20211221
          description: 'dates: publication, applicaton, priority .etc<p>YYYYMMDD format</p>'
        number:
          type: string
          example: '11205304'
          description: doc number
    P044BasicPatentDataClaimDataTranslated_PatentBasicClaimTranslateResponse:
      type: object
      properties:
        pn:
          type: string
          example: US11205304B2
          description: patent number
        claims:
          type: string
          example: 1. A memory device (100, 610), which include:an array (104, 300) of non-volatile memory cells (208, 308) organized into a plurality of erasable physical blocks (340); andcircuitry (108, 110, 116) for controlling and/or accessing the array (104, 300) of non-volatile memory cells (208, 308);wherein said circuitry (108, 110, 116) for controlling and/or accessing is adapted to define a first logical erase block having a predetermined number of one or more physical blocks (340) and a predetermined number of two or the second logical erase block of more than two physical blocks (340);wherein the second logical erase block has a different number of physical blocks than the first logical erase block (340);andWherein the circuit is adapted to simultaneously select the two or more physical blocks of a second logical erase block during an erase operation.2. The memory device (100, 610) of claim 1, further include:wherein said circuitry (108, 110, 116) for controlling and/or accessing is further adapted to define a third logical erase block having a predetermined number of three or more physical blocks (340); andWherein the third logical erase block has a different number of physical blocks than both the first logical erase block and the second logical erase block (340).3. The memory device (100, 610) of claim 1, wherein one or more physical blocks (340) of the second logical erase block are selectable in response to more than one address signal.
          description: translated claims
        patent_id:
          type: string
          example: 718ead9c-4f3c-4674-8f5a-24e126827269
          description: patent id
        pn_related:
          type: string
          example: CN103106923A
          description: patent number of related patent (provided only if the substitute is made using the text of the same family patent)
    P021BasicPatentDataAbstractImage_AbstractDrawing:
      type: object
      properties:
        num:
          type: string
          example: '0001'
          description: abstract drawing sequence
        path:
          type: string
          example: https://open.patsnap.com/abstract-image/CN/A/10/41/69/18/6/00000001_0001.png?sign=q-sign-algorithm%3Dsha1%26q-ak%3DAKIDz31lFbrtH8mIbFyaxA70x49IRP7lLiCT%26q-sign-time%3D1729565881%3B1729569481%26q-key-time%3D1729565881%3B1729569481%26q-header-list%3Dhost%26q-url-param-list%3Dresponse-expires%26q-signature%3D2bce1e7f5aaaa0a4204ec97b851b44a93c37ca40&response-expires=Tue%2C%2022%20Oct%202024%2003%3A58%3A01%20GMT
          description: abstract drawing path
    P016AdvancedPatentDataForwardCitation_PatentForwardCitationResponse:
      type: object
      properties:
        pn:
          type: string
          example: US11205304B2
          description: patent number
        patent_id:
          type: string
          example: 718ead9c-4f3c-4674-8f5a-24e126827269
          description: patent id
        patsnap_reference_cited:
          $ref: '#/components/schemas/P016AdvancedPatentDataForwardCitation_ReferenceCitedIncrem'
    P041BasicPatentDataSimpleLegalStatusResponse:
      type: object
      properties:
        data:
          type: array
          example: no sample
          description: response data
          items:
            $ref: '#/components/schemas/P041BasicPatentDataSimpleLegalStatus_SimpleLegalStatusResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P073BasicPatentDataDescriptionOffset_PatentDescOffsetSectionContent:
      type: object
      properties:
        idx_end:
          type: integer
          format: int32
          example: 31
          description: End position, the ending character index in the original text
        idx_start:
          type: integer
          format: int32
          example: 0
          description: Start position, the starting character index in the original text
    P042BasicPatentDataFulltextImageRequest:
      type: object
      properties:
        limit:
          type: integer
          format: int32
          example: 100
          description: limit of returned response, maximum value 100, default value 100
        offset:
          type: integer
          format: int32
          example: 0
          description: offset value, default value 0
        patent_id:
          type: string
          example: fdbca633-63df-4c0b-8597-3f6c5e3a2748
          description: patent id
        patent_number:
          type: string
          example: CN116420141A
          description: patent number
      required:
      - limit
      - offset
    P042BasicPatentDataFulltextImageResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/P042BasicPatentDataFulltextImage_FullTextImageResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P013BasicPatentDataLegalStatus_PatentLegalStatusResponse:
      type: object
      properties:
        pn:
          type: string
          example: US11205304B2
          description: patent number
        patent_id:
          type: string
          example: 718ead9c-4f3c-4674-8f5a-24e126827269
          description: patent id
        legal_date:
          type: integer
          format: int32
          example: 20151027
          description: LegalStatus update time
        patent_legal:
          $ref: '#/components/schemas/P013BasicPatentDataLegalStatus_PatentLegalStatus'
    P011BasicPatentDataSimpleBibliography_PatentAbstractSimple:
      type: object
      properties:
        lang:
          type: string
          example: EN
          description: language
        text:
          type: string
          example: An augmented reality display system comprises a passable world model data comprises a set of map points corresponding to one or more objects of the real world. The augmented reality system also comprises......
          description: text
    P012BasicPatentDataBibliography_PatentBasePerson:
      type: object
      properties:
        lang:
          type: string
          example: EN
          description: language
        name:
          type: string
          example: MAGIC LEAP, INC.
          description: name
        address:
          type: string
          example: Dania Beach,FL,US
          description: address
        rep_type:
          type: string
          example: agency
          description: 'Type:

            <p>agency means patent agency,</p><p>agents means patent agent</p><p>primary means primary examiner</p><p>assistant means assistant examiner</p>'
        sequence:
          type: integer
          format: int32
          example: 1
          description: sequence
        data_format:
          type: string
          example: original
          description: 'Original data: if there are several languages with original data, all will be returned'
    P018BasicPatentDataClaimData_PatentClaimResponse:
      type: object
      properties:
        pn:
          type: string
          example: CN108977442B
          description: patent number
        claims:
          type: array
          example: 'Please check the form: Claims'
          description: claim data
          items:
            $ref: '#/components/schemas/P018BasicPatentDataClaimData_Claims'
        patent_id:
          type: string
          example: 9cf648f8-8283-4767-9a14-f90f68303f3e
          description: patent id
        pn_related:
          type: string
          example: CN103106923A
          description: patent number of related patent (provided only if the substitute is made using the text of the same family patent)
        claim_count:
          type: integer
          format: int32
          example: 3
          description: claim count
    P011BasicPatentDataSimpleBibliography_DatesOfPublicAvailabilitySimple:
      type: object
      properties:
        printed_with_granted:
          type: integer
          format: int32
          example: 20101022
          description: Issue date
    P019BasicPatentDataDescriptionData_PatentDescriptionNew:
      type: object
      properties:
        lang:
          type: string
          example: JP
          description: language
        text:
          type: string
          example: <b class="d_n">【0001】</b>【発明の属する技術分野】本発明は圧電発振器回路に関し、特に低電源電圧で動作する圧電発振器回路に関する。\n<b class=\"d_n\">【0002】</b>\n【従来の技術】携帯電話機等バッテリーを電源とする移動体通信機器は、消費電力を極力少なくすることにより、同一容量のバッテリーにて通信可能時間が長時間である機種が従来より強く求められている。この為、従来移動体通信機に使用するバッテリーの性能の向上を図ると共に、水晶発振器を含む使用部品の低電力化等による対応を進めている。即ち、駆動電圧を低く設定できれば同一容量のバッテリーでより多くの電流容量を供給できる。一方、この様な水晶発振器に要求される不可欠な重要特性として、広い温度範囲にわたる高い周波数精度や出力振幅の安定性が挙げられるが、水晶発振器は温度特性を有する数多くの部品を用いて構成している為、前記特性を悪化する要因が複数存在する。  上記の要因の一つとしては発振回路内に使用しているトランジスタの動作電流が周囲の温度変化により大きく変化する為に相互コンダクタンスが変化�ることが知られており、その結果、出力信号の振幅が変動したり、また、トランジスタの入力容量が変化し出力周波数が変動するという問題が生じる。\n<b class=\"d_n\">【0003】</b>このことを図面を用いて説明すると、図7は従来技術として一般的に知られるコルピッツ型水晶発振回路である。同図中のR1、R2、R3、R4はトランジスタの直流バイアス抵抗であり、C1、C2、C3、C4はコンデンサであり、Q1はトランジスタであり、Y1は水晶振動子である。また、前記直流バイアス抵抗は、前記トランジスタQ1がA級動作するように値を設定することが一般的である。上述したように温度変化に対するトランジスタの動作電流が変化する主要因としては、トランジスタのベースとエミッタ間の電圧(以下V<sub>BE</sub>と称す)が一次関数的な温度特性を有する為である。従来このような問題を解決する為に、前記直流バイアス抵抗R2にベース電流の数倍から数十倍の電流を流すよう設定を行い前記V<sub>BE</sub>の変化に伴うトランジスタのベース電圧の変動を抑えた設定としていた。また、出力信号の振幅の変動に対しては、従来コレクタ電流を十分多く流すことで予め高出力信号振幅に設定しておき、温度変化により出力信号の振幅が減少した場合に於いても要求する特性を満たすようにしていた。また、エミッタ電圧をV<sub>E</sub>、ベース電圧をV<sub>B</sub>、とした場合、V<sub>E</sub>≒V<sub>B</sub>-V<sub>BE</sub>よりベース電圧V<sub>B</sub>を大きく設定することによりV<sub>BE</sub>の変化に対するエミッタ電圧V<sub>E</sub>の変化を小さくし、エミッタ電流及び、コレクタ電流の変動を抑える設定を行っていた。\n<b class=\"d_n\">【0004】</b>\n【本発明が解決しようとする課題】しかしながら、前記図6に示すような従来の発振回路に於いて、上述したようにベース電圧をV<sub>BE</sub>に対し十分大きく設定する為には電源電圧が十分高いことが必要であり、従って、近年要求される低電圧化を図った発振回路への採用は不可能である。  また、温度変化に伴う出力信号の振幅変動分を補う為にコレクタ電流を多く流し予め高振幅の出力信号を得る方法は、低消費電流の要求に反することになり、その解決が望まれていた。本発明は上記の問題を解決する為になされたものであって、低電源電圧駆動を可能とし、しかも低消費電流であり、更に、発振周波数精度と出力信号の振幅の安定性に優れた圧電発振器を提供することを目的としている。\n<b class=\"d_n\">【0005】</b>\n【課題を解決するための手段】従来の発振回路に於ける前記問題の発生の要因は発振回路中のトランジスタのベースとエミッタ間の電圧V<sub>BE</sub>が温度変化に伴い変動するにも関わらず、トランジスタのベース電圧が固定されている為にある。そこで本発明では、上記を解決する為に、本発明に係わる圧電発振回路の請求項1記載の発明は、発振回路中のトランジスタのベースバイアス回路に前記トランジスタのベースとエミッタ間の電圧と同等の温度·電圧特性を有する半導体素子を備えることにより、前記トランジスタの温度変化に伴うコレクタ·エミッタ電流の変化を抑圧するように構成したことを特徴とした前記圧電発振回路。請求項2記載の発明は前記半導体素子をベースとエミッタとを接続したトランジスタをベースバイアス回路に挿入していることを特徴としている。請求項3記載の発明は前記請求項1の発明に加え、前記圧電発振回路がカスコード型増幅回路を備えたコルピッツ発振回路であることを特徴としている。請求項4記載の発明は前記請求項1、請求項2又は請求項3記載の発明に加え、発振用トランジスタをベースバイアス回路中のトランジスタと同一種類とした構成を特徴としている。\n<b class=\"d_n\">【0006】</b>\n【本発明の実施の形態】以下、図示した実施例に基づいて本発明を詳細に説明する。図1は本発明を用いた水晶発振回路の一実施例を示す回路図である。同図に示す発振回路は直流バイアス抵抗素子R1、R2、R3、R4とコンデンサC1、C2、C3、C4とトランジスタQ1、Q2と水晶振動子Y1から構成しており、前記図7に示す従来のコルピッツ型水晶発振回路とは前記トランジスタQ1のベースバイアス回路の以下の点が異なる。即ち、前記ベースバイアス回路の直流バイアス抵抗R2に直列にベースとコレクタを接続したダイオード接続したトランジスタQ2を接続しており、更に、前記トランジスタQ1とQ2を同一種類とすることにより、前記半導体素子V<sub>T</sub>を前記トランジスタQ2により構成している。これにより温度変化による前記トランジスタQ1のV<sub>BE</sub>の電圧変化に追従するようにベース電圧が変化する為、前記トランジスタQ1の温度変化に伴うコレクタ電流とエミッタ電流の変化を抑え、しかも、温度変化に対し安定な信号振幅の出力を可能とした水晶発振回路を実現することができる。\n<b class=\"d_n\">【0007】</b>以下に、このことを数式を用いて詳細に説明する。今、前記図1の発振回路に於いて、コレクタ電流をI<sub>C</sub>、トランジスタQ1のベースとエミッタ間の電圧をV<sub>BE1</sub>、トランジスタQ2のベースとエミッタ間の電圧をV<sub>BE2</sub>、直流バイアス抵抗R2に流れる電流をI<sub>R2</sub>とする。前記コレクタ電流I<sub>C</sub>は一般的に      I<sub>C</sub>=(V<sub>BE2</sub>+I<sub>R2</sub>×R2-V<sub>BE1</sub>)/R4····(1)\nの関係式で示すことができるが、温度変化によりV<sub>BE1</sub>及び、V<sub>BE2</sub>がそれぞれ+△V<sub>BE1</sub>及び、+△V<sub>BE2</sub>変化した場合のコレクタ電流I<sub>C</sub>+△I<sub>C</sub>はI<sub>C</sub>+△I<sub>C</sub>=(V<sub>BE2</sub>+△V<sub>BE2</sub>+I<sub>R2</sub>×R2-(V<sub>BE1</sub>+△V<sub>BE1</sub>))/R4····(2)\nで表すことができる。上述した通りトランジスタQ1とQ2は同一種類の半導体素子を使用している為、V<sub>BE1</sub>とV<sub>BE2</sub>の温度変化による電圧変化量は等しく△V<sub>BE1</sub>=△V<sub>BE2</sub>とすることができる。よって、前記温度変化でのコレクタ電流I<sub>C</sub>+△I<sub>C</sub>は  I<sub>C</sub>+△I<sub>C</sub>=(V<sub>BE2</sub>+I<sub>R2</sub>×R2-V<sub>BE1</sub>)/R4····(3)\nで表され、これは前記式(1)のI<sub>C</sub>と等しい。即ち、温度変化に伴う前記トランジスタQ1のベースとエミッタ間の電圧変化は前記トランジスタQ2のベースとエミッタ間の電圧変化により相殺される為、コレクタ電流I<sub>C</sub>は温度変化に対し、これに影響されず一定の電流値が流れるので安定した発振周波数や出力信号の振幅を得ることができる。\n<b class=\"d_n\">【0008】</b>図3は本発明を採用した他の一実施例を示す水晶発振回路であって、この例に示す回路はカスコード型の増幅回路を用いたコルピッツ発振回路である。同図に於いて、Q1、Q2、Q3はトランジスタでありQ2はダイオード接続構造であり、更に、前記トランジスタQ1、Q2は同一ものを使用している。同�中のR1、R2、R3、R4、R5はトランジスタの直流バイアス抵抗であり、またC1、C2、C3、C4、C5はコンデンサであり、前記C1、C2は発振器特性に応じた容量値を有し、前記C3、C4、C5はバイパスコンデンサである。更に、同図中のY1は水晶振動子であり、実施例中では発振器出力周波数が、f<sub>0</sub>=15.36MHzとなる水晶振動子を使用している。また、同図に示す発振回路の構成は、前記抵抗R1の一方の端子を前記レギュレータU1の出力端子に接続し、他方の端子は前記トランジスタQ3のベース端子と前記コンデンサC4に接続しており、該C4の他方の端子は接地している。前記R2の一方の端子は前記U1の出力端子及び、前記R1に接続しており、他方の端子は前記トランジスタQ1のベース端子と、前記水晶振動子Y1の一方の端子及び、前記コンデンサC1の一方の端子に接続している。また、該C1の他方の端子は前記Q1のエミッタ端子と前記コンデンサC2及び、前記R5に接続しており、前記C2及び、R5の他方の端子は接地している。前記R3は一方の端子は前記Q1のベース端子及び前記R2及び振動子Y1に接続し、他方の端子は前記トランジスタQ3のコレクタ及び、ベース端子と接続しており、前記Q3のエミッタ端子及び、前記振動子Y1の他方の端子は接地している。前記R4の一方の端子は電源と前記U1の入力端子及び、前記コンデンサC3に接続しており、他方の端子は前記Q2のコレクタ端子及び前記コンデンサC5に接続し、該C5の他方の端子は発振器出力端子に接続している。前記C3の他方の端子は接地しており、前記Q1のコレクタ端子と前記Q2のエミッタ端子は接続している。\n<b class=\"d_n\">【0009】</b>また、本発明の効果を分かり易くする為、図8に示す従来技術に基づくカスコード接続型増幅回路を用いたコルピッツ型発振回路についても評価を行い特性の比較を行った。前記図7に示す発振回路は前記図3に示す発振回路に対し、発振用トランジスタQ1’のベースバイアス回路が直流バイアス抵抗R3’のみの接続としている点が異なる。図2と図7に示す発振回路は低電源電圧駆動とする為、電源電圧は+2.7Vとし、前記レギュレータの出力は+1.7Vとしている。更に、前記トランジスタQ1、Q1’のベース電位は約+0.8Vに設定しその殆どがV<sub>BE</sub>が占める設定としている。\n<b class=\"d_n\">【0010】</b>以下に、前記図2に示す発振回路と前記図7に示す発振回路の温度変化に対するコレクタ電流I<sub>C</sub>の変化及び、出力信号の振幅の変化についての評価結果を説明する。図3はそれぞれの発振回路に於いて、周囲温度が-30℃〜+85℃の範囲で変化する場合でのコレクタ電流I<sub>C</sub>の変化を測定した結果を示す。図4は図7に示す発振回路に於ける周囲温度-30℃と+25℃と+85℃での発振器の出力信号の振幅を示す。図5は図2に示す発振回路に於ける周囲温度-30℃と+25℃と+85℃での発振器の出力信号の振幅を示す。\n<b class=\"d_n\">【0011】</b>前記図3に示す通り、前記従来の発振回路ではコレクタ電流I<sub>C</sub>は400μA以上の幅で変化しまた、出力信号の振幅は約0.9V<sub>P-P</sub>の幅で変化する。これに対し、本発明に基づく発振回路ではコレクタ電流I<sub>C</sub>は100μA以内の幅で変化し、前記従来の発振回路に於けるコレクタ電流I<sub>C</sub>の変化幅と比較して変化幅が例えば約1/4と狭い特性となる結果が得られている。\n<b class=\"d_n\">【0012】</b>また、出力振幅は図6に示す通り、本発明に基づ�発振回路に於いては約0.2V<sub>P-P</sub>の幅で変化し、前記従来技術に基づく発振回路の出力振幅と比較して変化幅が約1/5と狭い特性となる結果が得られた。\n<b class=\"d_n\">【0013】</b>\n【本発明の効果】前記の結果より、前記図2に示す本発明に基づく発振回路は前記図7に示す従来技術に基づく発振回路と比較して、温度変化に対しトランジスタのコレクタ電流が一定に保たれる為にトランジスタの入力容量が変化せず、発振器の発振周波数が変動し難くなる効果をもたらすことが理解できる。また、温度変化に対し発振器の出力信号の振幅が安定しているので、従来技術と比較して設定時の出力信号の振幅を抑えることが可能である為、発振器の更なる低消費電流化が実現できる効果をもたらすことが理解できる。よって、本発明により低電源電圧駆動でありながら広温度範囲に於いて、低消費電流であり且つ、出力信号の振幅の変動が小さい特性を有する水晶圧電発振器を実現できる。\n<b class=\"d_n\">【0014】</b>また、本発明による一実施例ではカスコード型増幅回路を用いたコルピッツ発振回路について説明したが、本発明はこれに限るものでなく、あらゆる水晶発振器の発振用増幅回路に適用でき、また、実施例と同様の効果が得られることは言うまでもない。\n<b class=\"d_n\">【0015】</b>また、本発明による一実施例では圧電素子として水晶振動子及び、特定の周波数を用いたが、本発明はこれに限るものではなくあらゆる圧電素子及び、周波数に適用でき、また、実施例と同様の効果が得られることは言うまでもない。\n<b class=\"d_n\">【0016】</b>また、本発明による一実施例では発振用トランジスタQ1、Q1’と、ベースバイアス回路内に有するトランジスタQ3、Q3’をそれぞれ同一の種類としているが、本発明はこれに限るものでなく、圧電発振器の出力振幅が安定するようなトランジスタの組み合わせであれば異なる種類のトランジスタの組み合わせであっても構わない。\n<b class=\"d_n\">【0017】</b>\n【図面の簡単な説明】\n【図1】本発明に基づく一実施例を示す\n【図2】本発明に基づく他の一実施例を示す\n【図3】温度変化に対するコレクタ電流の変化を示す\n【図4】従来技術に基づく発振回路の出力波形温度変化を示す\n【図5】本発明に基づく発振回路の出力波形温度変化を示す\n【図6】従来技術に基づくカスコード型増幅回路を用いたコルピッツ型発振回路\n【図7】従来技術に基づくカスコード型増幅回路を用いたコルッピツ型発振回路\n<b class=\"d_n\">【0018】</b>\n【符号の説明】\nU1、U1’···レギュレータ\nR1、R2、R3、R4、R5、R1’、R2’、R3’、R4’、R5’···抵抗素子\nC1、C2、C3、C4、C5、C1’、C2’、C3’、C4’、C5’···コンデンサ\nQ1、Q2、Q3、Q1’、Q2’ 、Q3’···トランジスタ\nY1、Y1’···水晶振動子
          description: text
        data_format:
          type: string
          example: original
          description: 'Original data: if there are several languages with original data, all will be returned'
    P043BasicPatentDataAbstractDataTranslatedResponse:
      type: object
      properties:
        data:
          type: array
          example: no sample
          description: response data
          items:
            $ref: '#/components/schemas/P043BasicPatentDataAbstractDataTranslated_PatentBasicAbsTranslateResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P014BasicPatentDataPatentFamilyResponse:
      type: object
      properties:
        data:
          type: array
          example: no sample
          description: response data
          items:
            $ref: '#/components/schemas/P014BasicPatentDataPatentFamily_PatentFamilyResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P012BasicPatentDataBibliography_PctOrRegionalFilingData:
      type: object
      properties:
        date:
          type: integer
          format: int32
          example: 20150507
          description: 'dates: publication, applicaton, priority .etc<p>YYYYMMDD format</p>'
        doc_number:
          type: string
          example: 14/706838
          description: doc number
        entry_date:
          type: integer
          format: int32
          example: 20170812
          description: entry date
    P015BasicPatentDataBackwardCitation_PatentCitedResponse:
      type: object
      properties:
        pn:
          type: string
          example: US11205304B2
          description: patent number
        patent_id:
          type: string
          example: 718ead9c-4f3c-4674-8f5a-24e126827269
          description: patent id
        patent_cited:
          $ref: '#/components/schemas/P015BasicPatentDataBackwardCitation_PatentCited'
    P011BasicPatentDataSimpleBibliography_PublicationReference:
      type: object
      properties:
        date:
          type: integer
          format: int32
          example: 20211221
          description: 'dates: publication, applicaton, priority .etc<p>YYYYMMDD format</p>'
        kind:
          type: string
          example: B2
          description: kind code
        country:
          type: string
          example: US
          description: authority
        doc_number:
          type: string
          example: '106534228'
          description: doc number
    P073BasicPatentDataDescriptionOffsetResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/P073BasicPatentDataDescriptionOffset_PatentDescriptionOffsetResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P012BasicPatentDataBibliography_DatesOfPublicAvailability:
      type: object
      properties:
        year:
          type: integer
          format: int32
          example: 2011
          description: year
        month:
          type: integer
          format: int32
          example: 201101
          description: year and month
        printed_with_granted:
          type: integer
          format: int32
          example: 20101022
          description: Issue date
    P014BasicPatentDataPatentFamily_PatentFamily:
      type: object
      properties:
        simple_family:
          type: array
          example: 'Please check the form: CitedByPatents'
          description: simple family
          items:
            $ref: '#/components/schemas/P014BasicPatentDataPatentFamily_CitedByPatents'
        inpadoc_family:
          type: array
          example: 'Please check the form: CitedByPatents'
          description: inpadoc family
          items:
            $ref: '#/components/schemas/P014BasicPatentDataPatentFamily_CitedByPatents'
        patsnap_family:
          type: array
          example: 'Please check the form: CitedByPatents'
          description: patsnap family
          items:
            $ref: '#/components/schemas/P014BasicPatentDataPatentFamily_CitedByPatents'
        simple_family_id:
          type: integer
          format: int32
          example: 331537782
          description: simple family id
        inpadoc_family_id:
          type: integer
          format: int32
          example: 459115956
          description: inpadoc family id
        patsnap_family_id:
          type: integer
          format: int32
          example: 459115956
          description: patsnap family id
    P012BasicPatentDataBibliography_Parties:
      type: object
      properties:
        agency:
          type: array
          example: 'Please check the form: PatentBasePerson'
          description: agency
          items:
            $ref: '#/components/schemas/P012BasicPatentDataBibliography_PatentBasePerson'
        agents:
          type: array
          example: 'Please check the form: PatentBasePerson'
          description: agents
          items:
            $ref: '#/components/schemas/P012BasicPatentDataBibliography_PatentBasePerson'
        assignees:
          type: array
          example: 'Please check the form: PatentBasePerson'
          description: current assignee
          items:
            $ref: '#/components/schemas/P012BasicPatentDataBibliography_PatentBasePerson'
        examiners:
          type: array
          example: 'Please check the form: PatentBasePerson'
          description: examiner
          items:
            $ref: '#/components/schemas/P012BasicPatentDataBibliography_PatentBasePerson'
        inventors:
          type: array
          example: 'Please check the form: PatentBasePerson'
          description: inventor
          items:
            $ref: '#/components/schemas/P012BasicPatentDataBibliography_PatentBasePerson'
        applicants:
          type: array
          example: 'Please check the form: PatentBasePerson'
          description: applicant
          items:
            $ref: '#/components/schemas/P012BasicPatentDataBibliography_PatentBasePerson'
    P012BasicPatentDataBibliography_ClassifiationUpc:
      type: object
      properties:
        classification_symbol:
          type: array
          example: 'Please check the form: ClassifiationCode'
          description: classification symbol
          items:
            $ref: '#/components/schemas/P012BasicPatentDataBibliography_ClassifiationCode'
    P012BasicPatentDataBibliography_ReferenceCited:
      type: object
      properties:
        cited_others:
          type: array
          example: 'Please check the form: CitedOthers'
          description: citation reference
          items:
            $ref: '#/components/schemas/P012BasicPatentDataBibliography_CitedOthers'
        cited_patents:
          type: array
          example: 'Please check the form: CitedPatents'
          description: citation patents
          items:
            $ref: '#/components/schemas/P012BasicPatentDataBibliography_CitedPatents'
    P016AdvancedPatentDataForwardCitation_CitedPatents:
      type: object
      properties:
        num:
          type: string
          example: '0001'
          description: patents sequence
        kind:
          type: string
          example: A1
          description: kind code
        country:
          type: string
          example: US
          description: citation authority
        category:
          type: array
          example:
          - A
          description: Citation category of examiners
        cite_type:
          type: array
          example:
          - EXA
          description: Citation type:<p>APP - applicant，EXA - examiner，OPP - opposition，TPO - third party observation，OTHER - others</p>
        doc_number:
          type: string
          example: '20130033085'
          description: doc number
    P011BasicPatentDataSimpleBibliography_PatentBasePersonSimple:
      type: object
      properties:
        lang:
          type: string
          example: EN
          description: language
        name:
          type: string
          example: MAGIC LEAP, INC.
          description: name
        address:
          type: string
          example: Dania Beach,FL,US
          description: address
        sequence:
          type: integer
          format: int32
          example: 1
          description: sequence
    P073BasicPatentDataDescriptionOffset_PatentDescOffsetSectionName:
      type: object
      properties:
        text:
          type: string
          example: 技术领域
          description: text
        idx_end:
          type: integer
          format: int32
          example: 31
          description: End position, the ending character index in the original text
        idx_start:
          type: integer
          format: int32
          example: 0
          description: Start position, the starting character index in the original text
        category_id:
          type: array
          example:
          - '1'
          description: Category id
        category_name:
          type: array
          example:
          - 技术领域
          description: Category name
    P012BasicPatentDataBibliography_ApplicationData:
      type: object
      properties:
        date:
          type: integer
          format: int32
          example: 20150507
          description: 'dates: publication, applicaton, priority .etc<p>YYYYMMDD format</p>'
        kind:
          type: string
          example: '-'
          description: kind code
        year:
          type: integer
          format: int32
          example: 2015
          description: year
        month:
          type: integer
          format: int32
          example: 201505
          description: year and month
        country:
          type: string
          example: US
          description: authority
        doc_number:
          type: string
          example: 14/706838
          description: doc number
    P043BasicPatentDataAbstractDataTranslated_PatentBasicAbsTranslateResponse:
      type: object
      properties:
        pn:
          type: string
          example: US11205304B2
          description: patent number
        title:
          type: string
          example: Memory device architectures and operation
          description: translated title
        abstract:
          type: string
          example: Non- volatile memory devices (100, 610) logically organized to have erase blocks of at least two different sizes provide for concurrent erasure of multiple physical blocks (340) of memory cells (208, 308), while providing for individual selection of those physical blocks (340) for read and program operations, hi this manner, data expected to require frequent updating can be stored in locations corresponding to first erase blocks having a first size while data expected to require relatively infrequent updating can be stored in locations corresponding to second erase blocks larger than the first erase blocks.
          description: translated abstract
        patent_id:
          type: string
          example: 718ead9c-4f3c-4674-8f5a-24e126827269
          description: patent id
        pn_related:
          type: string
          example: CN103106923A
          description: patent number of related patent (provided only if the substitute is made using the text of the same family patent)
    P045BasicPatentDataDescriptionDataTranslated_PatentBasicDescTranslateResponse:
      type: object
      properties:
        pn:
          type: string
          example: US11205304B2
          description: patent number
        patent_id:
          type: string
          example: 718ead9c-4f3c-4674-8f5a-24e126827269
          description: patent id
        pn_related:
          type: string
          example: CN103106923A
          description: patent number of related patent (provided only if the substitute is made using the text of the same family patent)
        description:
          type: string
          example: technical field[0001] The present invention relates generally to semiconductor memory devices, and more particularly, to non-volatile memory device architectures having various block sizes.Background technique[0002] Memory devices are typically provided as internal, semiconductor, integrated circuits in computers or other electronic devices. There are many different types of memory, including random access memory (RAM), read only memory (ROM), dynamic random access memory (DRAM), synchronous dynamic random access memory (SDRAM), and flash memory.[0003] Flash memory devices have developed into a popular source of non-volatile memory for a wide range of electronic applications. Flash memory devices typically use one-transistor memory cells that allow for high memory density, high reliability, and low power consumption. A change in the threshold voltage of a cell, caused by programming of the charge storage device or trapping layer, or other physical phenomenon, determines the data value of each cell. Common uses for flash memory and other nonvolatile memory include personal computers, personal digital assistants (PDAs), digital cameras, digital media players, digital recorders, games, appliances, vehicles, wireless devices, cellular phones, and Removable memory modules, and the use of non-volatile memory continues to expand.[0004] Flash memory generally utilizes two basic architectures known as NOR flash and NAND flash. The design is derived from the logic used to read the device. In a NOR flash architecture, a column of memory cells is coupled in parallel with each memory cell coupled to a bit line. In a NAND flash architecture, a column of memory cells is coupled in series with only the first memory cell of the column coupled to a bit line.[0005] Flash memory and other non-volatile memory are often grouped into sectors called \"erase blocks.\" Each cell within an erase block can be selectively electrically programmed by altering the threshold voltage of individual cells from an initial state. However, the cells of an erase block are generally erased or restored to their original state in a single operation over the entire block. Any data in the erase block that needs to be held by the memory device must first be copied to another location or buffer before performing the erase operation...
          description: translated description
    P021BasicPatentDataAbstractImage_PatentAbstractImageResponse:
      type: object
      properties:
        pn:
          type: string
          example: CN104169186A
          description: patent number
        patent_id:
          type: string
          example: 52ee4f52-3edc-4e41-854e-c76dd8b7d14f
          description: patent id
        abstract_drawing:
          $ref: '#/components/schemas/P021BasicPatentDataAbstractImage_AbstractDrawing'
    P012BasicPatentDataBibliography_ClassificationGbc:
      type: object
      properties:
        classification_symbol:
          type: array
          example: 'Please check the form: ClassifiationSymbolCode'
          description: classification
          items:
            $ref: '#/components/schemas/P012BasicPatentDataBibliography_ClassifiationSymbolCode'
    P020BasicPatentDataPdfDataResponse:
      type: object
      properties:
        data:
          type: array
          example: no sample
          description: response data
          items:
            $ref: '#/components/schemas/P020BasicPatentDataPdfData_PatentPdfResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P012BasicPatentDataBibliography_PatentAbstract:
      type: object
      properties:
        lang:
          type: string
          example: EN
          description: language
        text:
          type: string
          example: An augmented reality display system comprises a passable world model data comprises a set of map points corresponding to one or more objects of the real world. The augmented reality system also comprises......
          description: text
        data_format:
          type: string
          example: original
          description: 'Original data: if there are several languages with original data, all will be returned'
    P011BasicPatentDataSimpleBibliography_ReferenceCitedSimple:
      type: object
      properties:
        cited_others:
          type: array
          example:
          - 鲍则民.杭州创新联合担保模式浅析.《吉林大学学报（信息科学版）》.2012
          description: citation reference text
        cited_patents:
          type: array
          example:
          - CN203027992U
          description: citation patent  number
    P016AdvancedPatentDataForwardCitation_ReferenceCitedIncrem:
      type: object
      properties:
        cited_others:
          type: array
          example: 'Please check the form: CitedOthers'
          description: citation reference
          items:
            $ref: '#/components/schemas/P016AdvancedPatentDataForwardCitation_CitedOthers'
        cited_patents:
          type: array
          example: 'Please check the form: CitedPatents'
          description: citation patents
          items:
            $ref: '#/components/schemas/P016AdvancedPatentDataForwardCitation_CitedPatents'
    P011BasicPatentDataSimpleBibliography_SimplePatentBibliographicResponse:
      type: object
      properties:
        pn:
          type: string
          example: US11205304B2
          description: patent number
        patent_id:
          type: string
          example: 718ead9c-4f3c-4674-8f5a-24e126827269
          description: patent id
        bibliographic_data:
          $ref: '#/components/schemas/P011BasicPatentDataSimpleBibliography_BibliographicDataSimple'
    P042BasicPatentDataFulltextInlineImageResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/P042BasicPatentDataFulltextInlineImage_PatentFulltextInlineImageResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P015BasicPatentDataBackwardCitation_CitedByPatents:
      type: object
      properties:
        kind:
          type: string
          example: A1
          description: kind code
        country:
          type: string
          example: US
          description: citation authority
        sequence:
          type: integer
          format: int32
          example: 1
          description: sequence
        doc_number:
          type: string
          example: '20130033085'
          description: doc number
    P012BasicPatentDataBibliography_RelatedDocuments:
      type: object
      properties:
        date:
          type: integer
          format: int32
          example: 20150418
          description: 'dates: publication, applicaton, priority .etc<p>YYYYMMDD format</p>'
        country:
          type: string
          example: US
          description: authority
        doc_number:
          type: string
          example: 14/690401
          description: doc number
        relation_type:
          type: string
          example: continuation
          description: 'related patents:

            <p>divisional means divisional application,</p><p>continuation means continuation application</p>'
    P012BasicPatentDataBibliography_PCTInfo:
      type: object
      properties:
        date:
          type: integer
          format: int32
          example: 20210506
          description: 'dates: publication, applicaton, priority .etc<p>YYYYMMDD format</p>'
        kind:
          type: string
          example: A1
          description: kind code
        doc_number:
          type: string
          example: WO2021083454
          description: doc number
    P012BasicPatentDataBibliography_PatentBibliographicResponse:
      type: object
      properties:
        pn:
          type: string
          example: US11205304B2
          description: patent number
        patent_id:
          type: string
          example: 718ead9c-4f3c-4674-8f5a-24e126827269
          description: patent id
        bibliographic_data:
          $ref: '#/components/schemas/P012BasicPatentDataBibliography_BibliographicData'
    P012BasicPatentDataBibliography_BibliographicData:
      type: object
      properties:
        exdt:
          type: integer
          format: int32
          example: 20350909
          description: Patsnap estimated expiry date
        parties:
          $ref: '#/components/schemas/P012BasicPatentDataBibliography_Parties'
        abstracts:
          type: array
          example: 'Please check the form: PatentAbstract'
          description: patent abstract
          items:
            $ref: '#/components/schemas/P012BasicPatentDataBibliography_PatentAbstract'
        patent_type:
          type: string
          example: PATENT
          description: 'patent type:

            <p>APPLICATION (patent application),</p><p>PATENT (granted patent),</p><p>UTILITY (utility model),</p><p>DESIGN (industrial design)</p>'
        invention_title:
          type: array
          example: 'Please check the form: PatentTitle'
          description: invention title
          items:
            $ref: '#/components/schemas/P012BasicPatentDataBibliography_PatentTitle'
        priority_claims:
          type: array
          example: 'Please check the form: PriorityClaims'
          description: claimed priority data
          items:
            $ref: '#/components/schemas/P012BasicPatentDataBibliography_PriorityClaims'
        reference_cited:
          $ref: '#/components/schemas/P012BasicPatentDataBibliography_ReferenceCited'
        related_documents:
          type: array
          example: 'Please check the form: RelatedDocuments'
          description: divisional and continuation application
          items:
            $ref: '#/components/schemas/P012BasicPatentDataBibliography_RelatedDocuments'
        classification_data:
          $ref: '#/components/schemas/P012BasicPatentDataBibliography_ClassificationData'
        application_reference:
          $ref: '#/components/schemas/P012BasicPatentDataBibliography_ApplicationData'
        publication_reference:
          $ref: '#/components/schemas/P012BasicPatentDataBibliography_PatentBaseInfo'
        pct_or_regional_filing_data:
          $ref: '#/components/schemas/P012BasicPatentDataBibliography_PctOrRegionalFilingData'
        dates_of_public_availability:
          $ref: '#/components/schemas/P012BasicPatentDataBibliography_DatesOfPublicAvailability'
        pct_or_regional_publishing_data:
          $ref: '#/components/schemas/P012BasicPatentDataBibliography_PCTInfo'
    P011BasicPatentDataSimpleBibliography_PctOrRegionalFilingDataSimple:
      type: object
      properties:
        date:
          type: integer
          format: int32
          example: 20150507
          description: PCT publication date
        doc_number:
          type: string
          example: 14/706838
          description: PCT publication number
        entry_date:
          type: integer
          format: int32
          example: 20170812
          description: PCT entry date
    P011BasicPatentDataSimpleBibliography_ClassificationDataSimple:
      type: object
      properties:
        classification_cpc:
          $ref: '#/components/schemas/P011BasicPatentDataSimpleBibliography_ClassificationDocSimple'
        classification_gbc:
          type: array
          example:
          - C3962
          description: GBC
        classification_loc:
          type: array
          example:
          - 12-10
          description: LOC classification
        classification_ipcr:
          $ref: '#/components/schemas/P011BasicPatentDataSimpleBibliography_ClassificationDocSimple'
    P012BasicPatentDataBibliography_ClassificationDoc:
      type: object
      properties:
        main_classification:
          $ref: '#/components/schemas/P012BasicPatentDataBibliography_ClassifiationCode'
        further_classification:
          type: array
          example: 'Please check the form: ClassifiationCode'
          description: further classification
          items:
            $ref: '#/components/schemas/P012BasicPatentDataBibliography_ClassifiationCode'
    P019BasicPatentDataDescriptionDataResponse:
      type: object
      properties:
        data:
          type: array
          example: no sample
          description: response data
          items:
            $ref: '#/components/schemas/P019BasicPatentDataDescriptionData_PatentDescriptionResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P011BasicPatentDataSimpleBibliography_ClassificationDocSimple:
      type: object
      properties:
        main:
          type: string
          example: G06Q40/025
          description: main classification
        further:
          type: array
          example:
          - H04L67/12
          description: further classification
    P044BasicPatentDataClaimDataTranslatedResponse:
      type: object
      properties:
        data:
          type: array
          example: no sample
          description: response data
          items:
            $ref: '#/components/schemas/P044BasicPatentDataClaimDataTranslated_PatentBasicClaimTranslateResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P042BasicPatentDataFulltextImage_FullTextImage:
      type: object
      properties:
        path:
          type: string
          example: https://open.patsnap.com/fulltext-image/CN/A/11/64/20/14/1/HDA0004204487520000011.png?sign=q-sign-algorithm%3Dsha1%26q-ak%3DAKIDz31lFbrtH8mIbFyaxA70x49IRP7lLiCT%26q-sign-time%3D1729566601%3B1730171401%26q-key-time%3D1729566601%3B1730171401%26q-header-list%3Dhost%26q-url-param-list%3Dresponse-expires%26q-signature%3D23338ffd2c057497912d1d5e09f5570902136b6a&response-expires=Tue%2C%2029%20Oct%202024%2003%3A10%3A01%20GMT
          description: fulltext image path
        image_type:
          type: string
          example: drawings
          description: fulltext image type
    P012BasicPatentDataBibliography_ClassifiationCode:
      type: object
      properties:
        class:
          type: string
          example: 60
          description: class
        section:
          type: string
          example: B
          description: section
        sub_class:
          type: string
          example: R
          description: sub class
        sub_group:
          type: string
          example: '00'
          description: sub group
        main_group:
          type: string
          example: 21
          description: main group
    P045BasicPatentDataDescriptionDataTranslatedResponse:
      type: object
      properties:
        data:
          type: array
          example: no sample
          description: response data
          items:
            $ref: '#/components/schemas/P045BasicPatentDataDescriptionDataTranslated_PatentBasicDescTranslateResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P011BasicPatentDataSimpleBibliographyResponse:
      type: object
      properties:
        data:
          type: array
          example: no sample
          description: response data
          items:
            $ref: '#/components/schemas/P011BasicPatentDataSimpleBibliography_SimplePatentBibliographicResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P012BasicPatentDataBibliography_ClassifiationSymbolCode:
      type: object
      properties:
        class:
          type: string
          example: 60
          description: class
        category:
          type: string
          example: C
          description: category
        mid_class:
          type: string
          example: 397
          description: mid class
        sub_class:
          type: string
          example: R
          description: sub class
    P014BasicPatentDataPatentFamily_PatentFamilyResponse:
      type: object
      properties:
        pn:
          type: string
          example: US11205304B2
          description: patent number
        patent_id:
          type: string
          example: 718ead9c-4f3c-4674-8f5a-24e126827269
          description: patent id
        patent_family:
          $ref: '#/components/schemas/P014BasicPatentDataPatentFamily_PatentFamily'
    P041BasicPatentDataSimpleLegalStatus_SimpleLegalStatusResponse:
      type: object
      properties:
        pn:
          type: string
          example: US11205304B2
          description: patent number
        patent_id:
          type: string
          example: 718ead9c-4f3c-4674-8f5a-24e126827269
          description: patent id
        simple_legal_status:
          type: array
          example:
          - 审中
          description: 'Simple legal status:

            <p>such as: Active, Pending, Inactive, Undetermined, PCT designated period, PCT designated expiration</p>'
    P016AdvancedPatentDataForwardCitationResponse:
      type: object
      properties:
        data:
          type: array
          example: no sample
          description: response data
          items:
            $ref: '#/components/schemas/P016AdvancedPatentDataForwardCitation_PatentForwardCitationResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P042BasicPatentDataFulltextInlineImage_PatentFulltextInlineImageResponse:
      type: object
      properties:
        pn:
          type: string
          example: CN116420141A
          description: patent number
        patent_id:
          type: string
          example: fdbca633-63df-4c0b-8597-3f6c5e3a2748
          description: patent id
        result_count:
          type: integer
          format: int32
          example: 9
          description: fulltext image count
        fulltext_inline_image:
          type: array
          example: 'Please check the form: FulltextInlineImage'
          description: fulltext inline images
          items:
            $ref: '#/components/schemas/P042BasicPatentDataFulltextInlineImage_FulltextInlineImage'
    P016AdvancedPatentDataForwardCitation_Author:
      type: object
      properties:
        lang:
          type: string
          example: JP
          description: Language
        name:
          type: string
          example: トヨタ自動車株式会社
          description: name
        sequence:
          type: integer
          format: int32
          example: 1
          description: sequence
    P021BasicPatentDataAbstractImageResponse:
      type: object
      properties:
        data:
          type: array
          example: no sample
          description: response data
          items:
            $ref: '#/components/schemas/P021BasicPatentDataAbstractImage_PatentAbstractImageResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P011BasicPatentDataSimpleBibliography_BibliographicDataSimple:
      type: object
      properties:
        parties:
          $ref: '#/components/schemas/P011BasicPatentDataSimpleBibliography_PartiesSimple'
        abstracts:
          type: array
          example: 'Please check the form: PatentAbstract'
          description: patent abstract
          items:
            $ref: '#/components/schemas/P011BasicPatentDataSimpleBibliography_PatentAbstractSimple'
        patent_type:
          type: string
          example: PATENT
          description: 'patent type:

            <p>APPLICATION (patent application),</p><p>PATENT (granted patent),</p><p>UTILITY (utility model),</p><p>DESIGN (industrial design)</p>'
        invention_title:
          type: array
          example: 'Please check the form: PatentTitleSimple'
          description: invention title
          items:
            $ref: '#/components/schemas/P011BasicPatentDataSimpleBibliography_PatentTitleSimple'
        priority_claims:
          type: array
          example: 'Please check the form: PatentBaseInfoSimple'
          description: claimed priority data
          items:
            $ref: '#/components/schemas/P011BasicPatentDataSimpleBibliography_PatentBaseInfoSimple'
        reference_cited:
          $ref: '#/components/schemas/P011BasicPatentDataSimpleBibliography_ReferenceCitedSimple'
        classification_data:
          $ref: '#/components/schemas/P011BasicPatentDataSimpleBibliography_ClassificationDataSimple'
        application_reference:
          $ref: '#/components/schemas/P011BasicPatentDataSimpleBibliography_ApplicationReference'
        publication_reference:
          $ref: '#/components/schemas/P011BasicPatentDataSimpleBibliography_PublicationReference'
        pct_or_regional_filing_data:
          $ref: '#/components/schemas/P011BasicPatentDataSimpleBibliography_PctOrRegionalFilingDataSimple'
        dates_of_public_availability:
          $ref: '#/components/schemas/P011BasicPatentDataSimpleBibliography_DatesOfPublicAvailabilitySimple'
        pct_or_regional_publishing_data:
          $ref: '#/components/schemas/P011BasicPatentDataSimpleBibliography_PctOrRegionalPublishingData'
    P018BasicPatentDataClaimDataResponse:
      type: object
      properties:
        data:
          type: array
          example: no sample
          description: response data
          items:
            $ref: '#/components/schemas/P018BasicPatentDataClaimData_PatentClaimResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    P073BasicPatentDataDescriptionOffset_PatentDescriptionOffsetResponse:
      type: object
      properties:
        pn:
          type: string
          example: CN116420141A
          description: Patent number
        lang:
          type: string
          example: CN
          description: language
        sections:
          type: array
          example: 'Please check the form: PatentDescOffsetSection'
          description: patent description location index info
          items:
            $ref: '#/components/schemas/P073BasicPatentDataDescriptionOffset_PatentDescOffsetSection'
        patent_id:
          type: string
          example: fdbca633-63df-4c0b-8597-3f6c5e3a2748
          description: Patent id
    P012BasicPatentDataBibliography_ClassificationData:
      type: object
      properties:
        classification_fi:
          type: array
          example:
          - B62D131/00
          - B60W10/00.134
          - B60K41/00.350
          - B60R1/00.AZY.W
          - B60R21/00.628.D
          - B60R99/00.322
          - B60K41/00.301.G
          - B60R21/00.621.J
          - B60R21/00.624.G
          - B60R21/00.624.D
          - B60R21/00.626.C
          - B60R21/00.624.E
          - B60R99/00.340
          - B60R21/00.624.B
          - B60R21/00.624.C
          - B60W30/06
          - B62D119/00
          - B60R21/00.621.C
          - B60R21/00.992
          - B62D109/00
          - G08G1/16.C
          - B62D113/00
          - B60K41/00.382
          - B60R99/00.330
          - B62D6/00
          - B60W10/20
          description: FI
        classification_cpc:
          $ref: '#/components/schemas/P012BasicPatentDataBibliography_ClassificationDoc'
        classification_gbc:
          $ref: '#/components/schemas/P012BasicPatentDataBibliography_ClassificationGbc'
        classification_loc:
          type: array
          example:
          - 12-10
          description: LOC
        classification_upc:
          $ref: '#/components/schemas/P012BasicPatentDataBibliography_ClassifiationUpc'
        classification_ipcr:
          $ref: '#/components/schemas/P012BasicPatentDataBibliography_ClassificationDoc'
        classification_fterm:
          type: array
          example:
          - 5H181/LL09
          - 3D241/DB03Z
          - 5H181/CC14
          - 3D241/DA58Z
          - 3D241/AA40
          - 3D041/AD51
          - 3D241/AA00
          - 5H180/LL04
          - 3D241/AC00
          - 5H180/CC14
          - 3D241/AE00
          - 5H180/LL01
          - 5H180/LL02
          - 3D241/CD07
          - 3D041/AF09
          - 3D232/EB11
          - 3D232/DA23
          - 3D232/DA24
          - 3D232/EC34
          - 5H181/LL17
          - 3D232/DA15
          - 3D232/EB04
          - 3D241/DB12Z
          - 3D241/DC33Z
          - 5H181/BB13
          - 3D041/AC00
          - 3D041/AE00
          - 3D041/AA00
          - 5H180/LL09
          - 3D241/AD51
          - 3D041/AA40
          - 3D241/BC01
          - 5H180/LL17
          - 3D241/BC02
          - 3D232/DA92
          - 3D241/CC17
          - 3D232/DA50
          - 3D232/EC22
          - 5H180/AA01
          - 3D241/DA52Z
          - 3D232/FF07
          - 3D241/CC02
          - 3D241/AB01
          - 3D241/AD00
          - 3D241/CC03
          - 3D241/AF01
          - 3D241/CE05
          - 3D232/DA88
          - 3D232/DA03
          - 3D241/AF09
          - 3D232/CC20
          - 3D241/DB10Z
          - 3D041/AF01
          - 5H181/AA01
          - 3D241/DD12Z
          - 3D041/AB01
          - 3D241/BA60
          - 3D041/AD00
          - 3D241/BA22
          - 5H180/BB13
          - 3D241/CD15
          - 5H181/LL01
          - 3D232/DA76
          - 5H181/LL02
          - 3D232/DA33
          - 5H181/LL04
          description: F_term
    P013BasicPatentDataLegalStatus_PatentLegalStatus:
      type: object
      properties:
        event_status:
          type: array
          example:
          - Transfer
          description: 'Event status:

            <p>such as: Transfer,License,Pledge,Trust,Opposition,Re-examination,Customs,Litigation,Preservation,Invalid-procedure,Oral-procedure,Declassification,Double application</p>'
        legal_status:
          type: array
          example:
          - Examining
          description: 'Legal status:<p>such as: Published,Examining,Granted,Double,Abandoned-Undetermined,Abandoned-Voluntarily,Abandoned-Deemed,Withdrawn-Undetermined,Withdrawn-Voluntarily,Withdrawn-Deemed,Rejected,Revoked,Expired,Non-Payment,Restoration,Ceased,P-Revoked,Discontinuation,PCT published,PCT entering(designated period),PCT entering(designated expiration),unentered</p>'
        simple_legal_status:
          type: array
          example:
          - Pending
          description: 'Simple legal status:

            <p>such as: Inactive,Active,Pending,Undetermined,PCT designated period,PCT designated expiration</p>'
    P016AdvancedPatentDataForwardCitation_CitedOthers:
      type: object
      properties:
        doi:
          type: string
          example: 10.1016/J.JMGM.2011.06.008
          description: Citation reference DOI
        num:
          type: string
          example: '0001'
          description: patents sequence
        lang:
          type: string
          example: JP
          description: Language
        text:
          type: string
          example: Systems and methods for rendering user interfaces for augmented or virtual reality
          description: text
        title:
          type: string
          example: Discrimination of agonists versus antagonists of nicotinic ligands based on docking onto AChBP structures
          description: Citation reference title
        author:
          type: array
          example: 'Please check the form: Author'
          description: Citation reference author
          items:
            $ref: '#/components/schemas/P016AdvancedPatentDataForwardCitation_Author'
        copyright:
          type: string
          example: Nature
          description: Citation reference publication
    P011BasicPatentDataSimpleBibliography_PatentBaseInfoSimple:
      type: object
      properties:
        date:
          type: integer
          format: int32
          example: 20211221
          description: 'dates: publication, applicaton, priority .etc<p>YYYYMMDD format</p>'
        country:
          type: string
          example: US
          description: Authority
        doc_number:
          type: string
          example: '11205304'
          description: doc number
    P020BasicPatentDataPdfData_PdfDocument:
      type: object
      properties:
        path:
          type: string
          example: https://open.patsnap.com/pdf/watermark/US/A1/20/05/02/62/86/8/808dd980/US_20050262868_A1.pdf?sign=q-sign-algorithm%3Dsha1%26q-ak%3DAKIDz31lFbrtH8mIbFyaxA70x49IRP7lLiCT%26q-sign-time%3D1729564854%3B1729568454%26q-key-time%3D1729564854%3B1729568454%26q-header-list%3Dhost%26q-url-param-list%3Dresponse-expires%26q-signature%3De55460f27058958901d4c0887f4875a9c697044a&response-expires=Tue%2C%2022%20Oct%202024%2003%3A40%3A54%20GMT
          description: pdf path
    P018BasicPatentDataClaimData_Claims:
      type: object
      properties:
        lang:
          type: string
          example: EN
          description: language
        claim_text:
          type: string
          example: '<div class="indep-clm" num="1">1.用于VEGFA基因编辑的系统，包括下述N1）和N2）：</div>

            <div class="indep-clm" num="1">N1）名称为RNA-2的RNA；所述RNA-2为SEQ ID NO.9-12、SEQ ID NO.28和SEQ ID NO.29中至少一条序列所示的RNA；</div>

            <div class="indep-clm" num="1">N2）名称为RNA-1的RNA；所述RNA-1为SEQ ID NO.6所示的RNA。</div>

            <div class="dep-clm" num="2" parent="1"><seg-con>2.根据权利要求1所述的系统，</seg-con><seg-trans>其特征在于：</seg-trans><seg-comp>所述系统还包括Cas9核酸酶或与Cas9核酸酶相关的生物材料；</seg-comp></div>

            <div class="dep-clm" num="2" parent="1"><seg-comp>所述与Cas9核酸酶相关的生物材料为下述C1）至C7）中的任一种：</seg-comp></div>

            <div class="dep-clm" num="2" parent="1"><seg-comp>C1）编码Cas9核酸酶的核酸分子；</seg-comp></div>

            <div class="dep-clm" num="2" parent="1"><seg-comp>C2）含有C1）所述核酸分子的表达盒；</seg-comp></div>

            <div class="dep-clm" num="2" parent="1"><seg-comp>C3）含有C1）所述核酸分子的重组载体、或含有C2）所述表达盒的重组载体；</seg-comp></div>

            <div class="dep-clm" num="2" parent="1"><seg-comp>C4）含有C1）所述核酸分子的重组微生物、或含有C2）所述表达盒的重组微生物、或含有C3）所述重组载体的重组微生物；</seg-comp></div>

            <div class="dep-clm" num="2" parent="1"><seg-comp>C5）含有C1）所述核酸分子的细胞系、或含有C2）所述表达盒的细胞系。</seg-comp></div>

            <div class="dep-clm" num="3" parent="2"><seg-con>3.根据权利要求2所述的系统，</seg-con><seg-trans>其特征在于：</seg-trans><seg-refi>所述Cas9核酸酶来源于细菌。</seg-refi></div>

            <div class="dep-clm" num="4" parent="2"><seg-con>4.根据权利要求2所述的系统，</seg-con><seg-trans>其特征在于：</seg-trans><seg-refi>所述Cas9核酸酶来源于链球菌属、葡萄球菌属、罗氏菌属、奈瑟菌属、细小棒菌属或乳杆菌属。</seg-refi></div>

[...]
