openapi: 3.1.0
info:
  title: Patsnap Open Platform AI Translation Formulation Assistant API
  version: 1.0.0
  description: OpenAPI specification for Patsnap Open Platform APIs, including patent search, analytics, and Eureka AI capabilities.
servers:
- url: https://connect.patsnap.com
  description: Patsnap Open Platform API gateway
tags:
- name: Formulation Assistant
  description: Formulation Assistant APIs.
paths:
  /ai/formulation-agent-creation:
    post:
      operationId: m001-1AiFormulationAgentCreation
      summary: M001-1 Formulation agent creation
      description: Based on the input of a technical requirement, generate an assistant assessment report for the formulation analysis of that requirement
      tags:
      - Formulation Assistant
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful m001-1 formulation agent creation response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/M001-1AiFormulationAgentCreationResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/ai/formulation-agent-creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/M001-1AiFormulationAgentCreationRequest'
  /ai/formulation-agent-query:
    post:
      operationId: m001-2AiFormulationAgentQuery
      summary: M001-2 Formulation agent query
      description: Obtain the task results of the Formulation Agent through the task_id generated by [M001-1]
      tags:
      - Formulation Assistant
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful m001-2 formulation agent query response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/M001-2AiFormulationAgentQueryResponse'
        '201':
          description: Created.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not Found.
      externalDocs:
        description: API Reference documentation
        url: https://open.patsnap.com/devportal/api-reference/ai/formulation-agent-query
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/M001-2AiFormulationAgentQueryRequest'
components:
  schemas:
    M001-2AiFormulationAgentQuery_FormulationAgentQueryResponse:
      type: object
      properties:
        status:
          type: integer
          format: int32
          example: 2
          description: 'Task status (1: running, 2: successful, 3: generation exception).'
        formulations:
          type: array
          example:
          - dimension: Mechanical Reinforcement and Energy Dissipation
            formulation_1:
              source: https://patents.google.com/patent/CN101792545B/zh
              status: success
              solution_id: d739436a-6ff9-458a-b7c4-8e6518862a11
              solution_type: WEBSITE
              ingredient_list:
              - content:
                - 6
                - 40
                function: Reinforcing filler
                ingredient: Carbon black
              - content:
                - 45
                - 80
                function: Reinforcing filler
                ingredient: Silica (white carbon black)
              - content:
                - 3
                - 6
                function: Filler dispersion/compatibilizer
                ingredient: Silane coupling agent
              - content:
                - 20
                - 45
                function: Plasticizer
                ingredient: Aromatic oil
              - content:
                - 1
                - 5
                function: Tackifier
                ingredient: Tackifying resin
              - content:
                - 1
                - 4.5
                function: Activator
                ingredient: Zinc oxide
              - content:
                - 0.5
                - 2.5
                function: Activator
                ingredient: Stearic acid
              - content:
                - 1.5
                - 3.5
                function: Crosslinker (vulcanizing agent)
                ingredient: Sulfur
              - content:
                - 2
                - 5
                function: Vulcanization accelerator
                ingredient: Accelerator
            formulation_2:
              source: https://www.hsxjw.com/tianranjiaobaike_2115.html
              status: success
              solution_id: 6a83f9bd-0506-43a6-aae1-d78bb6a8cc53
              solution_type: WEBSITE
              ingredient_list:
              - content:
                - 50.9
                - 50.9
                function: Polymer matrix
                ingredient: Natural rubber
              - content:
                - 2.04
                - 2.04
                function: Activator
                ingredient: Zinc oxide
              - content:
                - 1.78
                - 1.78
                function: Activator
                ingredient: Stearic acid
              - content:
                - 0.76
                - 0.76
                function: Antioxidant
                ingredient: Antioxidant 4010
              - content:
                - 0.51
                - 0.51
                function: Antioxidant
                ingredient: Antioxidant D
              - content:
                - 30.54
                - 30.54
                function: Reinforcing filler
                ingredient: Carbon black N330
              - content:
                - 10.18
                - 10.18
                function: Reinforcing filler
                ingredient: Channel black
              - content:
                - 1.53
                - 1.53
                function: Plasticizer
                ingredient: Pine tar
              - content:
                - 0.31
                - 0.31
                function: Vulcanization accelerator
                ingredient: Accelerator NOBS
              - content:
                - 1.43
                - 1.43
                function: Crosslinker (vulcanizing agent)
                ingredient: Sulfur
            strategy_index: 0
          description: Formulation list
          items:
            $ref: '#/components/schemas/M001-2AiFormulationAgentQuery_Formulation'
    M001-2AiFormulationAgentQueryRequest:
      type: object
      properties:
        task_id:
          type: string
          example: 80d440b7-80a5-4233-a75f-ab72b0885c88
          description: Task id
      required:
      - task_id
    M001-2AiFormulationAgentQuery_FormulationDetail:
      type: object
      properties:
        source:
          type: string
          example: https://patents.google.com/patent/CN101792545B/zh
          description: Source
        status:
          type: string
          example: success
          description: Status
        name_cn:
          type: string
          example: name
          description: Chinese name
        solution_id:
          type: string
          example: d739436a-6ff9-458a-b7c4-8e6518862a11
          description: Solution ID
        country_name:
          type: string
          example: 中国
          description: Country name
        solution_type:
          type: string
          example: WEBSITE
          description: Solution type
        ingredient_list:
          type: array
          example:
          - content:
            - 6
            - 40
            function: Reinforcing filler
            ingredient: Carbon black
          - content:
            - 45
            - 80
            function: Reinforcing filler
            ingredient: Silica (white carbon black)
          - content:
            - 3
            - 6
            function: Filler dispersion/compatibilizer
            ingredient: Silane coupling agent
          - content:
            - 20
            - 45
            function: Plasticizer
            ingredient: Aromatic oil
          - content:
            - 1
            - 5
            function: Tackifier
            ingredient: Tackifying resin
          - content:
            - 1
            - 4.5
            function: Activator
            ingredient: Zinc oxide
          - content:
            - 0.5
            - 2.5
            function: Activator
            ingredient: Stearic acid
          - content:
            - 1.5
            - 3.5
            function: Crosslinker (vulcanizing agent)
            ingredient: Sulfur
          - content:
            - 2
            - 5
            function: Vulcanization accelerator
            ingredient: Accelerator
          description: Ingredient list
          items:
            $ref: '#/components/schemas/M001-2AiFormulationAgentQuery_Ingredient'
    M001-1AiFormulationAgentCreationResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/M001-1AiFormulationAgentCreation_AsyncTaskIdResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    M001-2AiFormulationAgentQueryResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/M001-2AiFormulationAgentQuery_FormulationAgentQueryResponse'
        status:
          type: boolean
          example: 'false'
          description: Status
        error_msg:
          type: string
          example: The request parameter format is incorrect！
          description: Error Message
        error_code:
          type: integer
          example: '0'
          description: Error Code
      required:
      - status
      - error_code
    M001-1AiFormulationAgentCreationRequest:
      type: object
      properties:
        lang:
          type: string
          example: cn
          description: text language, support cn and en
        text:
          type: string
          example: 我想开发一款防晒系数SPF 50且具有防水性能的防晒霜。我希望在其中添加氧化锌和甘油。
          description: Input
      required:
      - lang
      - text
    M001-2AiFormulationAgentQuery_Formulation:
      type: object
      properties:
        dimension:
          type: string
          example: Mechanical Reinforcement and Energy Dissipation
          description: Dimension
        formulation_1:
          $ref: '#/components/schemas/M001-2AiFormulationAgentQuery_FormulationDetail'
        formulation_2:
          $ref: '#/components/schemas/M001-2AiFormulationAgentQuery_FormulationDetail'
        strategy_index:
          type: integer
          format: int32
          example: 0
          description: Strategy index
    M001-2AiFormulationAgentQuery_Ingredient:
      type: object
      properties:
        content:
          type: array
          example:
          - 6
          - 40
          description: Content range
        function:
          type: string
          example: Reinforcing filler
          description: Function
        ingredient:
          type: string
          example: Carbon black
          description: Ingredient name
    M001-1AiFormulationAgentCreation_AsyncTaskIdResponse:
      type: object
      properties:
        task_id:
          type: string
          example: 80d440b7-80a5-4233-a75f-ab72b0885c88
          description: Task id
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
