{
  "openapi": "3.1.0",
  "info": {
    "title": "Patsnap Open Platform API",
    "version": "1.0.0",
    "description": "OpenAPI specification for Patsnap Open Platform APIs, including patent search, analytics, and Eureka AI capabilities."
  },
  "servers": [
    {
      "url": "https://connect.patsnap.com",
      "description": "Patsnap Open Platform API gateway"
    }
  ],
  "tags": [
    {
      "name": "Patsnap LLM",
      "description": "Patsnap LLM APIs."
    },
    {
      "name": "Bio-Pharma Encyclopedia Q&A",
      "description": "Bio-Pharma Encyclopedia Q&A APIs."
    },
    {
      "name": "Technical Disclosure",
      "description": "Technical Disclosure APIs."
    },
    {
      "name": "Tech Solution Exploration",
      "description": "Tech Solution Exploration APIs."
    },
    {
      "name": "Tech Solution Exploration(Materials)",
      "description": "Tech Solution Exploration(Materials) APIs."
    },
    {
      "name": "Tech Pre-research Report",
      "description": "Tech Pre-research Report APIs."
    },
    {
      "name": "Novelty Search",
      "description": "Novelty Search APIs."
    },
    {
      "name": "Technical Q&A",
      "description": "Technical Q&A APIs."
    },
    {
      "name": "Specification Drafting",
      "description": "Specification Drafting APIs."
    },
    {
      "name": "Design Infringement Search",
      "description": "Design Infringement Search APIs."
    },
    {
      "name": "Design Infringement 1v1",
      "description": "Design Infringement 1v1 APIs."
    },
    {
      "name": "Feasibility Analysis Assistant",
      "description": "Feasibility Analysis Assistant APIs."
    },
    {
      "name": "AI Translation",
      "description": "AI Translation APIs."
    },
    {
      "name": "FTO Search",
      "description": "FTO Search APIs."
    },
    {
      "name": "Formulation Assistant",
      "description": "Formulation Assistant APIs."
    },
    {
      "name": "Novelty Check Assistant",
      "description": "Novelty Check Assistant APIs."
    },
    {
      "name": "Chemical SAR Extract",
      "description": "Chemical SAR Extract APIs."
    },
    {
      "name": "Others",
      "description": "Others APIs."
    },
    {
      "name": "Telecom",
      "description": "Telecom APIs."
    },
    {
      "name": "R&D solution search",
      "description": "R&D solution search APIs."
    },
    {
      "name": "Patent Data Search",
      "description": "Patent Data Search APIs."
    },
    {
      "name": "Patent Basic Data",
      "description": "Patent Basic Data APIs."
    },
    {
      "name": "Patent Mining Data",
      "description": "Patent Mining Data APIs."
    },
    {
      "name": "Patent Legal Data",
      "description": "Patent Legal Data APIs."
    },
    {
      "name": "Patent Valuation Data",
      "description": "Patent Valuation Data APIs."
    },
    {
      "name": "Patent Monitor and Export",
      "description": "Patent Monitor and Export APIs."
    },
    {
      "name": "Technology Key Report",
      "description": "Technology Key Report APIs."
    },
    {
      "name": "Literature Data",
      "description": "Literature Data APIs."
    },
    {
      "name": "Patsnap Academy Course",
      "description": "Patsnap Academy Course APIs."
    },
    {
      "name": "Custom Aggregate Data",
      "description": "Custom Aggregate Data APIs."
    },
    {
      "name": "Trademark Data",
      "description": "Trademark Data APIs."
    },
    {
      "name": "Enterprise Tech Evaluation",
      "description": "Enterprise Tech Evaluation APIs."
    },
    {
      "name": "Enterprise Basic Data",
      "description": "Enterprise Basic Data APIs."
    },
    {
      "name": "Enterprise Persona Data",
      "description": "Enterprise Persona Data APIs."
    },
    {
      "name": "Enterprise IP Data",
      "description": "Enterprise IP Data APIs."
    },
    {
      "name": "Enterprise Tech Analysis",
      "description": "Enterprise Tech Analysis APIs."
    },
    {
      "name": "LS Search",
      "description": "LS Search APIs."
    },
    {
      "name": "Chemical and Bio Data",
      "description": "Chemical and Bio Data APIs."
    },
    {
      "name": "Drug Basic Data",
      "description": "Drug Basic Data APIs."
    },
    {
      "name": "Drug Clinical Trial Data",
      "description": "Drug Clinical Trial Data APIs."
    },
    {
      "name": "Drug Mining Data",
      "description": "Drug Mining Data APIs."
    },
    {
      "name": "Drug R&D Orgnization",
      "description": "Drug R&D Orgnization APIs."
    },
    {
      "name": "Drug Visual Analysis ",
      "description": "Drug Visual Analysis  APIs."
    },
    {
      "name": "Patsnap Analysis Report",
      "description": "Patsnap Analysis Report APIs."
    },
    {
      "name": "Insights Company Report",
      "description": "Insights Company Report APIs."
    },
    {
      "name": "TFFI Enterprise Evaluation (Level5)",
      "description": "TFFI Enterprise Evaluation (Level5) APIs."
    },
    {
      "name": "Biopharmaceutical Dictionary Data",
      "description": "Biopharmaceutical Dictionary Data APIs."
    }
  ],
  "paths": {
    "/chat/cc-gpt-stream": {
      "post": {
        "operationId": "ai07ChatCcGptStream",
        "summary": "AI07 Model(CC GPT)",
        "description": "-",
        "tags": [
          "Patsnap LLM"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai07 model(cc gpt) response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI07ChatCcGptStreamResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/chat/cc-gpt-stream"
        },
        "requestBody": {
          "required": true,
          "content": {
            "text/event-stream": {
              "schema": {
                "$ref": "#/components/schemas/AI07ChatCcGptStreamRequest"
              }
            }
          }
        }
      }
    },
    "/ai/find-solution/step1/v3": {
      "post": {
        "operationId": "ai33-1Step1V3",
        "summary": "AI33-1 Find-solution - Create Task",
        "description": "Create a find-solution task and get recommendation options, used as the first step in multi-step technical solution generation process",
        "tags": [
          "Tech Solution Exploration"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai33-1 find-solution - create task response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI33-1Step1V3Response"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/find-solution/step1/v3"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI33-1Step1V3Request"
              }
            }
          }
        }
      }
    },
    "/chat/pat-gpt-stream": {
      "post": {
        "operationId": "ai50ChatPatGptStream",
        "summary": "AI50 Patent Large Model(Pat GPT)",
        "description": "It supports inputting technical questions or questions related to patents. The Patent Large Model (Pat GPT) aims to intelligently retrieve, analyze, and mine data in response to the posed questions, providing relevant patent information, trend analysis, and technical evaluations.",
        "tags": [
          "Patsnap LLM"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai50 patent large model(pat gpt) response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI50ChatPatGptStreamResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/chat/pat-gpt-stream"
        },
        "requestBody": {
          "required": true,
          "content": {
            "text/event-stream": {
              "schema": {
                "$ref": "#/components/schemas/AI50ChatPatGptStreamRequest"
              }
            }
          }
        }
      }
    },
    "/chat/ai-ls-chat": {
      "post": {
        "operationId": "ai68-1ChatAiLsChat",
        "summary": "AI68-1 Hiro LS Researcher-Create",
        "description": "This interface is used to initialize an Biomedical Encyclopedia Q&A chat session, obtain chat ID and chat item ID, as well as related reference document information. Usage flow: first call this interface to get chatId and chatItemId, then use these IDs to call the streaming interface to get AI responses.",
        "tags": [
          "Bio-Pharma Encyclopedia Q&A"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai68-1 hiro ls researcher-create response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI68-1ChatAiLsChatResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/chat/ai-ls-chat"
        },
        "requestBody": {
          "required": true,
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/AI68-1ChatAiLsChatRequest"
              }
            }
          }
        }
      }
    },
    "/search/patent/patent-disclosure/download": {
      "post": {
        "operationId": "ai32-3PatentDisclosureDownload",
        "summary": "AI32-3 Download technical disclosure document",
        "description": "This interface provides a download link to the Technical Submission document based on the Task ID of the generated Technical Submission.",
        "tags": [
          "Technical Disclosure"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai32-3 download technical disclosure document response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI32-3PatentDisclosureDownloadResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/search/patent/patent-disclosure/download"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI32-3PatentDisclosureDownloadRequest"
              }
            }
          }
        }
      }
    },
    "/ai/find-solution/step2/v3": {
      "post": {
        "operationId": "ai33-2Step2V3",
        "summary": "AI33-2 Find-solution - Get Recommendation",
        "description": "Get recommendation options based on the task_id returned from step 1",
        "tags": [
          "Tech Solution Exploration"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai33-2 find-solution - get recommendation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI33-2Step2V3Response"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/find-solution/step2/v3"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI33-2Step2V3Request"
              }
            }
          }
        }
      }
    },
    "/chat/ai-ls-stream": {
      "post": {
        "operationId": "ai68-2ChatAiLsStream",
        "summary": "AI68-2 Hiro LS Researcher-Obtain Result",
        "description": "This interface supports inputting questions related to biomedicine. The Biomedical Encyclopedia Q&A aims to intelligently retrieve, analyze, and mine data in response to the posed questions, providing relevant biomedical knowledge, concept explanations, and encyclopedia information.",
        "tags": [
          "Bio-Pharma Encyclopedia Q&A"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai68-2 hiro ls researcher-obtain result response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI68-2ChatAiLsStreamResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/chat/ai-ls-stream"
        },
        "requestBody": {
          "required": true,
          "content": {
            "text/event-stream": {
              "schema": {
                "$ref": "#/components/schemas/AI68-2ChatAiLsStreamRequest"
              }
            }
          }
        }
      }
    },
    "/search/patent/patent-disclosure/generate": {
      "post": {
        "operationId": "ai32-2PatentDisclosureGenerate",
        "summary": "AI32-2 Generate technical disclosure task",
        "description": "Extract the information obtained in the technical interface based on the「AI32-1」highlights and have AI assist in writing a technical submission.",
        "tags": [
          "Technical Disclosure"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai32-2 generate technical disclosure task response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI32-2PatentDisclosureGenerateResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/search/patent/patent-disclosure/generate"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI32-2PatentDisclosureGenerateRequest"
              }
            }
          }
        }
      }
    },
    "/chat/pharm-gpt-stream": {
      "post": {
        "operationId": "ai20ChatPharmGptStream",
        "summary": "AI20 Life Science Large Model",
        "description": "Hiro-LS API supports inquiries related to the pharmaceutical competitive landscape, clinical trials and evidence-based medicine, sequence/compound patents, as well as policies and regulartions issues. The biopharmaceutical large model (Hiro-LS) aims to perform intelligent retrieval, analysis, and data mining in response to these questions, providing continuously evolving biopharmaceutical information to create limitless opportunities for exploration in life sciences.",
        "tags": [
          "Patsnap LLM"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai20 life science large model response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI20ChatPharmGptStreamResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/chat/pharm-gpt-stream"
        },
        "requestBody": {
          "required": true,
          "content": {
            "text/event-stream": {
              "schema": {
                "$ref": "#/components/schemas/AI20ChatPharmGptStreamRequest"
              }
            }
          }
        }
      }
    },
    "/search/patent/patent-disclosure/tech-means": {
      "post": {
        "operationId": "ai32-1PatentDisclosureTechMeans",
        "summary": "AI32-1 Key content extraction",
        "description": "Based on the input of technical ideas or program information, the key elements such as technical means are extracted and used to provide input for the subsequent writing of technical submissions.",
        "tags": [
          "Technical Disclosure"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai32-1 key content extraction response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI32-1PatentDisclosureTechMeansResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/search/patent/patent-disclosure/tech-means"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI32-1PatentDisclosureTechMeansRequest"
              }
            }
          }
        }
      }
    },
    "/ai/find-solution/step4/v3": {
      "post": {
        "operationId": "ai33-5Step4V3",
        "summary": "AI33-5 Find-solution - Select Direction",
        "description": "Submit user-selected direction options and start the final solution generation process",
        "tags": [
          "Tech Solution Exploration"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai33-5 find-solution - select direction response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI33-5Step4V3Response"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/find-solution/step4/v3"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI33-5Step4V3Request"
              }
            }
          }
        }
      }
    },
    "/ai/find-solution/step3-query/v3": {
      "post": {
        "operationId": "ai33-4Step3QueryV3",
        "summary": "AI33-4 Find-solution - Get Direction",
        "description": "Get the direction option results for technical solutions",
        "tags": [
          "Tech Solution Exploration"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai33-4 find-solution - get direction response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI33-4Step3QueryV3Response"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/find-solution/step3-query/v3"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI33-4Step3QueryV3Request"
              }
            }
          }
        }
      }
    },
    "/ai/find-solution/step3-submit/v3": {
      "post": {
        "operationId": "ai33-3Step3SubmitV3",
        "summary": "AI33-3 Find-solution - Select Recommendation",
        "description": "Submit user-selected recommendation options and start the direction generation process",
        "tags": [
          "Tech Solution Exploration"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai33-3 find-solution - select recommendation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI33-3Step3SubmitV3Response"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/find-solution/step3-submit/v3"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI33-3Step3SubmitV3Request"
              }
            }
          }
        }
      }
    },
    "/ai/material/find-solution/recommend": {
      "post": {
        "operationId": "ai73-2FindSolutionRecommend",
        "summary": "AI73-2 Find Solutions (Materials)-Get Recommend Solution",
        "description": "Get recommended technical solutions by task ID.",
        "tags": [
          "Tech Solution Exploration(Materials)"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai73-2 find solutions (materials)-get recommend solution response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI73-2FindSolutionRecommendResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/material/find-solution/recommend"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI73-2FindSolutionRecommendRequest"
              }
            }
          }
        }
      }
    },
    "/ai/find-solution/step5/v3": {
      "post": {
        "operationId": "ai33-6Step5V3",
        "summary": "AI33-6 Find-solution - Get Final Solution and Details",
        "description": "Get the final results of technical solution exploration, including complete solution data",
        "tags": [
          "Tech Solution Exploration"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai33-6 find-solution - get final solution and details response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI33-6Step5V3Response"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/find-solution/step5/v3"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI33-6Step5V3Request"
              }
            }
          }
        }
      }
    },
    "/ai/material/find-solution/confirm-recommend": {
      "post": {
        "operationId": "ai73-3FindSolutionConfirmRecommend",
        "summary": "AI73-3 Find Solutions (Materials)-Confirm Recommend Solution",
        "description": "Confirm selected recommended solutions and start generating technical mind map.",
        "tags": [
          "Tech Solution Exploration(Materials)"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai73-3 find solutions (materials)-confirm recommend solution response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI73-3FindSolutionConfirmRecommendResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/material/find-solution/confirm-recommend"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI73-3FindSolutionConfirmRecommendRequest"
              }
            }
          }
        }
      }
    },
    "/ai/material/find-solution/submit": {
      "post": {
        "operationId": "ai73-1FindSolutionSubmit",
        "summary": "AI73-1 Find Solutions (Materials)-Submit Task",
        "description": "Submit a material find solution task and return the task ID.",
        "tags": [
          "Tech Solution Exploration(Materials)"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai73-1 find solutions (materials)-submit task response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI73-1FindSolutionSubmitResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/material/find-solution/submit"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI73-1FindSolutionSubmitRequest"
              }
            }
          }
        }
      }
    },
    "/ai/material/find-solution/citation-reference-list": {
      "post": {
        "operationId": "ai73-6FindSolutionCitationReferenceList",
        "summary": "AI73-6 Find Solutions (Materials)-Get Citation Reference List",
        "description": "Get citation reference list of mind map node with pagination support.",
        "tags": [
          "Tech Solution Exploration(Materials)"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai73-6 find solutions (materials)-get citation reference list response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI73-6FindSolutionCitationReferenceListResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/material/find-solution/citation-reference-list"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI73-6FindSolutionCitationReferenceListRequest"
              }
            }
          }
        }
      }
    },
    "/ai/material/find-solution/node-reference": {
      "post": {
        "operationId": "ai73-7FindSolutionNodeReference",
        "summary": "AI73-7 Find Solutions (Materials)-Get Node Reference",
        "description": "Get reference information of mind map node, including technical principle, engineering reliability, expected challenges, etc.",
        "tags": [
          "Tech Solution Exploration(Materials)"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai73-7 find solutions (materials)-get node reference response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI73-7FindSolutionNodeReferenceResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/material/find-solution/node-reference"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI73-7FindSolutionNodeReferenceRequest"
              }
            }
          }
        }
      }
    },
    "/ai/material/find-solution/thinking": {
      "post": {
        "operationId": "ai73-4FindSolutionThinking",
        "summary": "AI73-4 Find Solutions (Materials)-Get Thinking Response",
        "description": "Get AI thinking process, including problem analysis, direction decomposition, literature search, etc.",
        "tags": [
          "Tech Solution Exploration(Materials)"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai73-4 find solutions (materials)-get thinking response response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI73-4FindSolutionThinkingResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/material/find-solution/thinking"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI73-4FindSolutionThinkingRequest"
              }
            }
          }
        }
      }
    },
    "/ai/material/find-solution/implementation-response": {
      "post": {
        "operationId": "ai73-9FindSolutionImplementationResponse",
        "summary": "AI73-9 Find Solutions (Materials)-Get Solution",
        "description": "Get generated implementation plan content.",
        "tags": [
          "Tech Solution Exploration(Materials)"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai73-9 find solutions (materials)-get solution response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI73-9FindSolutionImplementationResponseResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/material/find-solution/implementation-response"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI73-9FindSolutionImplementationResponseRequest"
              }
            }
          }
        }
      }
    },
    "/ai/material/find-solution/mind": {
      "post": {
        "operationId": "ai73-5FindSolutionMind",
        "summary": "AI73-5 Find Solutions (Materials)-Get Mind Map",
        "description": "Get generated material technical mind map data.",
        "tags": [
          "Tech Solution Exploration(Materials)"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai73-5 find solutions (materials)-get mind map response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI73-5FindSolutionMindResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/material/find-solution/mind"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI73-5FindSolutionMindRequest"
              }
            }
          }
        }
      }
    },
    "/ai/material/find-solution/implementation": {
      "post": {
        "operationId": "ai73-8FindSolutionImplementation",
        "summary": "AI73-8 Find Solutions (Materials)-Generate Solution",
        "description": "Generate detailed implementation plan for specified node.",
        "tags": [
          "Tech Solution Exploration(Materials)"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai73-8 find solutions (materials)-generate solution response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI73-8FindSolutionImplementationResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/material/find-solution/implementation"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI73-8FindSolutionImplementationRequest"
              }
            }
          }
        }
      }
    },
    "/ai/quick-search-report/creation/custom-dir": {
      "post": {
        "operationId": "ai34-2CreationCustomDir",
        "summary": "AI34-2 Quick-search report creation - custom directory(Beta)",
        "description": "Based on the input directory related to a certain technology, generate the pre-research report of that technology.",
        "tags": [
          "Tech Pre-research Report"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai34-2 quick-search report creation - custom directory(beta) response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI34-2CreationCustomDirResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/quick-search-report/creation/custom-dir"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI34-2CreationCustomDirRequest"
              }
            }
          }
        }
      }
    },
    "/ai/quick-search-report/query": {
      "get": {
        "operationId": "ai34-3QuickSearchReportQuery",
        "summary": "AI34-3 Quick-search report Query(Beta)",
        "description": "Query the status of report generation by using the report ID generated through the creation of the pre-research report interface.",
        "tags": [
          "Tech Pre-research Report"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai34-3 quick-search report query(beta) response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI34-3QuickSearchReportQueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/quick-search-report/query"
        },
        "parameters": [
          {
            "name": "report_id",
            "in": "query",
            "required": true,
            "description": "report_id",
            "schema": {
              "type": "string",
              "example": "f70a279b-c000-4a6d-8319-61672debd623",
              "description": "report_id"
            }
          }
        ]
      }
    },
    "/ai/novelty-search/submit": {
      "post": {
        "operationId": "ai35-1NoveltySearchSubmit",
        "summary": "AI35-1 Novelty Check - Create Task",
        "description": "Submit the technical solution content to initiate a novelty search task. The system will analyze the input technical solution and generate a task ID for subsequent steps.",
        "tags": [
          "Novelty Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai35-1 novelty check - create task response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI35-1NoveltySearchSubmitResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/novelty-search/submit"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI35-1NoveltySearchSubmitRequest"
              }
            }
          }
        }
      }
    },
    "/ai/quick-search-report/creation": {
      "post": {
        "operationId": "ai34-1QuickSearchReportCreation",
        "summary": "AI34-1 Quick-search report creation(Beta)",
        "description": "Based on the input question related to a certain technology, generate the pre-research report of that technology.",
        "tags": [
          "Tech Pre-research Report"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai34-1 quick-search report creation(beta) response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI34-1QuickSearchReportCreationResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/quick-search-report/creation"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI34-1QuickSearchReportCreationRequest"
              }
            }
          }
        }
      }
    },
    "/ai/novelty-search/tech-solution/get": {
      "post": {
        "operationId": "ai35-2TechSolutionGet",
        "summary": "AI35-2 Novelty Check - Technical Solution Summary",
        "description": "Based on the task_id from [AI35-1] and the initial technical solution content, use large model capabilities to obtain the summarized technical solution content and key points.",
        "tags": [
          "Novelty Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai35-2 novelty check - technical solution summary response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI35-2TechSolutionGetResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/novelty-search/tech-solution/get"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI35-2TechSolutionGetRequest"
              }
            }
          }
        }
      }
    },
    "/ai/novelty-search/tech-solution/update": {
      "post": {
        "operationId": "ai35-3TechSolutionUpdate",
        "summary": "AI35-3 Novelty Check - Confirm Technical Solution",
        "description": "Confirm the summarized technical solution from [AI35-2].",
        "tags": [
          "Novelty Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai35-3 novelty check - confirm technical solution response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI35-3TechSolutionUpdateResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/novelty-search/tech-solution/update"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI35-3TechSolutionUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/ai/novelty-search/feature/confirm": {
      "post": {
        "operationId": "ai35-5FeatureConfirm",
        "summary": "AI35-5 Novelty Check - Confirm Technical Features",
        "description": "After the user modifies or adds/reduces technical features from [AI35-4], submit the confirmation to proceed with subsequent retrieval.",
        "tags": [
          "Novelty Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai35-5 novelty check - confirm technical features response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI35-5FeatureConfirmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/novelty-search/feature/confirm"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI35-5FeatureConfirmRequest"
              }
            }
          }
        }
      }
    },
    "/ai/novelty-search/agent-search": {
      "post": {
        "operationId": "ai35-7NoveltySearchAgentSearch",
        "summary": "AI35-7 Novelty Check - Confirm Search Elements",
        "description": "After the user modifies or adds/reduces search elements from [AI35-6], submit the confirmation to proceed with subsequent retrieval.",
        "tags": [
          "Novelty Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai35-7 novelty check - confirm search elements response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI35-7NoveltySearchAgentSearchResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/novelty-search/agent-search"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI35-7NoveltySearchAgentSearchRequest"
              }
            }
          }
        }
      }
    },
    "/ai/novelty-search/feature/extract": {
      "post": {
        "operationId": "ai35-4FeatureExtract",
        "summary": "AI35-4 Novelty Check - Extract Technical Features",
        "description": "Extract technical features based on the task_id.",
        "tags": [
          "Novelty Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai35-4 novelty check - extract technical features response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI35-4FeatureExtractResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/novelty-search/feature/extract"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI35-4FeatureExtractRequest"
              }
            }
          }
        }
      }
    },
    "/ai/novelty-search/retrieval/elements": {
      "post": {
        "operationId": "ai35-6RetrievalElements",
        "summary": "AI35-6 Novelty Check - Extract Search Elements",
        "description": "Based on the technical features confirmed in [AI35-5], generate search elements (keywords, classification numbers, etc.).",
        "tags": [
          "Novelty Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai35-6 novelty check - extract search elements response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI35-6RetrievalElementsResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/novelty-search/retrieval/elements"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI35-6RetrievalElementsRequest"
              }
            }
          }
        }
      }
    },
    "/ai/novelty-search/export": {
      "post": {
        "operationId": "ai35-10NoveltySearchExport",
        "summary": "AI35-10 Novelty Check - Create Report",
        "description": "Create a complete novelty search report based on the task_id, including all analysis results.",
        "tags": [
          "Novelty Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai35-10 novelty check - create report response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI35-10NoveltySearchExportResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/novelty-search/export"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI35-10NoveltySearchExportRequest"
              }
            }
          }
        }
      }
    },
    "/ai/novelty-search/agent-result": {
      "post": {
        "operationId": "ai35-8NoveltySearchAgentResult",
        "summary": "AI35-8 Novelty Check - Obtain Search Strategy and Reference List and Feature Comparison",
        "description": "Obtain the retrieval strategy, filter list, and feature comparison content based on the task_id.",
        "tags": [
          "Novelty Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai35-8 novelty check - obtain search strategy and reference list and feature comparison response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI35-8NoveltySearchAgentResultResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/novelty-search/agent-result"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI35-8NoveltySearchAgentResultRequest"
              }
            }
          }
        }
      }
    },
    "/ai/novelty-search/report/get": {
      "post": {
        "operationId": "ai35-11ReportGet",
        "summary": "AI35-11 Novelty Check - Download Report",
        "description": "Obtain the download link for the generated novelty search report based on the task_id.",
        "tags": [
          "Novelty Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai35-11 novelty check - download report response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI35-11ReportGetResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/novelty-search/report/get"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI35-11ReportGetRequest"
              }
            }
          }
        }
      }
    },
    "/ai/novelty-search/feature/comparison/confirm": {
      "post": {
        "operationId": "ai35-9ComparisonConfirm",
        "summary": "AI35-9 Novelty Check - Confirm Reference List and Feature Comparison",
        "description": "After the user modifies or adds/reduces the filter list and feature comparison from [AI35-8], submit the confirmation to proceed with subsequent retrieval. Additionally, if the user needs to manually add comparison documents or patents, the output parameters of the '[AI35-12] Novelty Search - Add Comparison Document or Patent' interface can be used as part of the input parameters for the 'final_result' in this interface.",
        "tags": [
          "Novelty Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai35-9 novelty check - confirm reference list and feature comparison response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI35-9ComparisonConfirmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/novelty-search/feature/comparison/confirm"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI35-9ComparisonConfirmRequest"
              }
            }
          }
        }
      }
    },
    "/ai/technical-qa/submit": {
      "post": {
        "operationId": "ai36-1TechnicalQaSubmit",
        "summary": "AI36-1 Technical Q&A - Submit Task",
        "description": "Submit AI Q&A task based on technical question. The system will automatically perform question analysis, knowledge retrieval and answer generation. Task is executed asynchronously, returns task_id for subsequent polling to get results.",
        "tags": [
          "Technical Q&A"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai36-1 technical q&a - submit task response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI36-1TechnicalQaSubmitResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/technical-qa/submit"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI36-1TechnicalQaSubmitRequest"
              }
            }
          }
        }
      }
    },
    "/ai/specification/init-result/cnipa": {
      "post": {
        "operationId": "ai37-2InitResultCnipa",
        "summary": "AI37-2 Patent Drafting (CNIPA) - Initialization Summary Result",
        "description": "Based on the input task_id, get initialization result",
        "tags": [
          "Specification Drafting"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai37-2 patent drafting (cnipa) - initialization summary result response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI37-2InitResultCnipaResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/specification/init-result/cnipa"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI37-2InitResultCnipaRequest"
              }
            }
          }
        }
      }
    },
    "/ai/novelty-search/feature/comparison/generate": {
      "post": {
        "operationId": "ai35-12ComparisonGenerate",
        "summary": "AI35-12 Novelty Check - Add Comparison Document or Patent",
        "description": "For cases where the user needs to manually add comparison documents or patents, the output parameters of this interface can be used as part of the input parameters for the 'final_result' in '[AI35-9] Novelty Search - Confirm Filter List and Feature Comparison'.",
        "tags": [
          "Novelty Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai35-12 novelty check - add comparison document or patent response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI35-12ComparisonGenerateResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/novelty-search/feature/comparison/generate"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI35-12ComparisonGenerateRequest"
              }
            }
          }
        }
      }
    },
    "/ai/technical-qa/report": {
      "post": {
        "operationId": "ai36-2TechnicalQaReport",
        "summary": "AI36-2 Technical Q&A - Query Task",
        "description": "Based on the task_id returned by [AI36-1] submit task API, poll to get the execution result of technical Q&A task. Returns: task status, question analysis results, references and complete answer content.",
        "tags": [
          "Technical Q&A"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai36-2 technical q&a - query task response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI36-2TechnicalQaReportResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/technical-qa/report"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI36-2TechnicalQaReportRequest"
              }
            }
          }
        }
      }
    },
    "/ai/specification/extract-feature/cnipa": {
      "post": {
        "operationId": "ai37-3ExtractFeatureCnipa",
        "summary": "AI37-3 Patent Specification Drafting (CNIPA) - Technical Feature Extraction",
        "description": "Based on the task_id and technology category returned by the specification initialization interface, extract the technical feature information of the specification, including feature tree (containing claim features and concept words) and term lists, providing basic data for subsequent report generation.",
        "tags": [
          "Specification Drafting"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai37-3 patent specification drafting (cnipa) - technical feature extraction response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI37-3ExtractFeatureCnipaResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/specification/extract-feature/cnipa"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI37-3ExtractFeatureCnipaRequest"
              }
            }
          }
        }
      }
    },
    "/ai/image-search/submit": {
      "post": {
        "operationId": "ai39-1ImageSearchSubmit",
        "summary": "AI39-1 Appearance Anti-Infringement Search - Submit Task",
        "description": "Submit design patent search task based on product image and search criteria. The system will automatically perform image similarity search, AI reranking and risk analysis to generate design patent FTO report. Task is executed asynchronously, returns task_id for subsequent polling to get results.",
        "tags": [
          "Design Infringement Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai39-1 appearance anti-infringement search - submit task response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI39-1ImageSearchSubmitResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/image-search/submit"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI39-1ImageSearchSubmitRequest"
              }
            }
          }
        }
      }
    },
    "/ai/specification/init/cnipa": {
      "post": {
        "operationId": "ai37-1InitCnipa",
        "summary": "AI37-1 Patent Drafting (CNIPA) - Initialization Summary",
        "description": "Based on the input disclosure content and claims content, perform specification initialization processing, including sensitive word detection, language detection, obtaining classification numbers, technology type recognition, technical problem/technical methods/technical benefits extraction, embodiment outline generation, etc., and return task_id for subsequent processes.",
        "tags": [
          "Specification Drafting"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai37-1 patent drafting (cnipa) - initialization summary response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI37-1InitCnipaResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/specification/init/cnipa"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI37-1InitCnipaRequest"
              }
            }
          }
        }
      }
    },
    "/ai/specification/generate-report/cnipa": {
      "post": {
        "operationId": "ai37-4GenerateReportCnipa",
        "summary": "AI37-4 Patent Specification Drafting (CNIPA) - Report Generation",
        "description": "Based on the technical features obtained from previous interfaces and complete information input by users (including invention title, classification numbers, technical problems/methods/benefits, feature tree, term lists, embodiments, images, etc.), generate a complete patent specification report, support asynchronous processing, and return task_id for querying generation status.",
        "tags": [
          "Specification Drafting"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai37-4 patent specification drafting (cnipa) - report generation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI37-4GenerateReportCnipaResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/specification/generate-report/cnipa"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI37-4GenerateReportCnipaRequest"
              }
            }
          }
        }
      }
    },
    "/ai/specification/download-report": {
      "post": {
        "operationId": "ai37-5SpecificationDownloadReport",
        "summary": "AI37-5 Patent Specification Drafting (CNIPA) - Report Download",
        "description": "Based on the task_id returned by the generate specification report interface, query the report generation status and obtain the download link. After the report generation is completed, the complete patent specification document can be obtained through the returned download link.",
        "tags": [
          "Specification Drafting"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai37-5 patent specification drafting (cnipa) - report download response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI37-5SpecificationDownloadReportResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/specification/download-report"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI37-5SpecificationDownloadReportRequest"
              }
            }
          }
        }
      }
    },
    "/ai/infringement-detection-1v1-creation": {
      "post": {
        "operationId": "ai67-1AiInfringementDetection1v1Creation",
        "summary": "AI67-1 Infringement Detection 1V1 - Search Creation",
        "description": "Based on the provided product drawings and patent pn numbers, conduct an infringement search for design patents. Generate task_id with a validity period of 8 hours. It becomes invalid upon expiration.",
        "tags": [
          "Design Infringement 1v1"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai67-1 infringement detection 1v1 - search creation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI67-1AiInfringementDetection1v1CreationResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/infringement-detection-1v1-creation"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI67-1AiInfringementDetection1v1CreationRequest"
              }
            }
          }
        }
      }
    },
    "/ai/infringement-detection-1v1-query": {
      "post": {
        "operationId": "ai67-2AiInfringementDetection1v1Query",
        "summary": "AI67-2 Infringement Detection 1V1 - Search Query",
        "description": "According to the task_id generated by [AI67-1] Appearance Infringement Prevention Search - Task creation, query and export the appearance infringement prevention search results",
        "tags": [
          "Design Infringement 1v1"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai67-2 infringement detection 1v1 - search query response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI67-2AiInfringementDetection1v1QueryResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/infringement-detection-1v1-query"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI67-2AiInfringementDetection1v1QueryRequest"
              }
            }
          }
        }
      }
    },
    "/ai/feasibility-analysis-creation": {
      "post": {
        "operationId": "ai40-1AiFeasibilityAnalysisCreation",
        "summary": "AI40-1 Solution feasibility analysis creation",
        "description": "Based on the input of a technical solution, generate an assistant assessment report for the feasibility analysis of that technical solution",
        "tags": [
          "Feasibility Analysis Assistant"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai40-1 solution feasibility analysis creation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI40-1AiFeasibilityAnalysisCreationResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/feasibility-analysis-creation"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI40-1AiFeasibilityAnalysisCreationRequest"
              }
            }
          }
        }
      }
    },
    "/ai/feasibility-analysis-query": {
      "post": {
        "operationId": "ai40-2AiFeasibilityAnalysisQuery",
        "summary": "AI40-2 Solution feasibility analysis query",
        "description": "Obtain the task results of the Feasibility Analysis Assistant through the task_id generated by [AI40-1]",
        "tags": [
          "Feasibility Analysis Assistant"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai40-2 solution feasibility analysis query response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI40-2AiFeasibilityAnalysisQueryResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/feasibility-analysis-query"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI40-2AiFeasibilityAnalysisQueryRequest"
              }
            }
          }
        }
      }
    },
    "/hiro_translation/translate": {
      "post": {
        "operationId": "t010HiroTranslationTranslate",
        "summary": "T010 Translate Text",
        "description": "Translate source text from source language to target language and return a single JSON result.",
        "tags": [
          "AI Translation"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful t010 translate text response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/T010HiroTranslationTranslateResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/hiro_translation/translate"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/T010HiroTranslationTranslateRequest"
              }
            }
          }
        }
      }
    },
    "/ai/image-search/report": {
      "post": {
        "operationId": "ai39-2ImageSearchReport",
        "summary": "AI39-2 Appearance Anti-Infringement Search - Get Result",
        "description": "Based on the task_id returned by [AI39-1] submit task API, poll to get the execution result of design patent search task. Returns: task status, line drawing (Base64), traditional image search results, RRF fusion search results and complete analysis report.",
        "tags": [
          "Design Infringement Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai39-2 appearance anti-infringement search - get result response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI39-2ImageSearchReportResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/image-search/report"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI39-2ImageSearchReportRequest"
              }
            }
          }
        }
      }
    },
    "/ai/fto/submit": {
      "post": {
        "operationId": "ai66-1FtoSubmit",
        "summary": "AI66-1 FTO Search - Create Task",
        "description": "Submit technical solution content to initiate an FTO search task. The system will analyze the input technical solution and generate a task ID for subsequent steps.",
        "tags": [
          "FTO Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai66-1 fto search - create task response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI66-1FtoSubmitResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/fto/submit"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI66-1FtoSubmitRequest"
              }
            }
          }
        }
      }
    },
    "/ai/translation": {
      "post": {
        "operationId": "ai61AiTranslation",
        "summary": "AI61 AI Translation",
        "description": "The AI Translation API leverages advanced large language model (LLM) to deliver real-time multilingual translation services worldwide. It enables accurate and seamless conversion of source text into target languages. Developers can easily integrate the API to achieve efficient and precise text translation, fully catering to multilingual application scenarios and enhancing user experience and cross-language communication efficiency.",
        "tags": [
          "AI Translation"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai61 ai translation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI61AiTranslationResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/translation"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI61AiTranslationRequest"
              }
            }
          }
        }
      }
    },
    "/ai/fto/feature/extract": {
      "post": {
        "operationId": "ai66-2FeatureExtract",
        "summary": "AI66-2 FTO Search - Extract Technical Features",
        "description": "Extract technical features based on the task_id.",
        "tags": [
          "FTO Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai66-2 fto search - extract technical features response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI66-2FeatureExtractResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/fto/feature/extract"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI66-2FeatureExtractRequest"
              }
            }
          }
        }
      }
    },
    "/ai/fto/feature/confirm": {
      "post": {
        "operationId": "ai66-3FeatureConfirm",
        "summary": "AI66-3 FTO Search - Confirm Technical Features",
        "description": "After the user modifies or adds/reduces technical features from [AI66-2], submit the confirmation to proceed with subsequent retrieval.",
        "tags": [
          "FTO Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai66-3 fto search - confirm technical features response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI66-3FeatureConfirmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/fto/feature/confirm"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI66-3FeatureConfirmRequest"
              }
            }
          }
        }
      }
    },
    "/ai/fto/search/agent": {
      "post": {
        "operationId": "ai66-4SearchAgent",
        "summary": "AI66-4 FTO Search - Start FTO Search",
        "description": "Based on the technical features confirmed in [AI66-3], start the FTO search agent to perform patent search.",
        "tags": [
          "FTO Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai66-4 fto search - start fto search response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI66-4SearchAgentResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/fto/search/agent"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AI66-4SearchAgentRequest"
              }
            }
          }
        }
      }
    },
    "/ai/fto/report/create": {
      "post": {
        "operationId": "ai66-6ReportCreate",
        "summary": "AI66-6 FTO Search - Create Report",
        "description": "After the user modifies or adds/reduces the search results from [AI66-5], submit the confirmation and create a complete FTO search report, including all analysis results. Additionally, if the user needs to manually add comparison documents or patents, the output parameters of the [AI66-8] FTO Search - Add Comparison Document or Patent  interface can be used as the corresponding part of the input parameters in this interface.",
        "tags": [
          "FTO Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ai66-6 fto search - create report response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AI66-6ReportCreateResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "externalDocs": {
          "description": "API Reference documentation",
          "url": "https://open.patsnap.com/devportal/api-reference/ai/fto/report/create"
        },
        "requestBody": {
          "required": true,
[...]
